<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: The Revenge of Montezuma	</title>
	<atom:link href="http://localhost/2010/01/20/the-revenge-of-montezuma/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/01/20/the-revenge-of-montezuma/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Fri, 22 Jan 2010 20:55:33 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: RJohn		</title>
		<link>/2010/01/20/the-revenge-of-montezuma/#comment-13</link>

		<dc:creator><![CDATA[RJohn]]></dc:creator>
		<pubDate>Fri, 22 Jan 2010 20:55:33 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=77#comment-13</guid>

					<description><![CDATA[Hope no one mistook you for an exibit at the Gallery, RSafe. Tracy Emin&#039;s reputation may have travelled. If Annie is going to take photos like that I dread to think what Montezuma&#039;s Revenge revenge will be! By the way can you find out what Mexican&#039;s do on their hat? PS. Annie not speaking? That&#039;s scary.]]></description>
			<content:encoded><![CDATA[<p>Hope no one mistook you for an exibit at the Gallery, RSafe. Tracy Emin&#8217;s reputation may have travelled. If Annie is going to take photos like that I dread to think what Montezuma&#8217;s Revenge revenge will be! By the way can you find out what Mexican&#8217;s do on their hat? PS. Annie not speaking? That&#8217;s scary.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Patti		</title>
		<link>/2010/01/20/the-revenge-of-montezuma/#comment-12</link>

		<dc:creator><![CDATA[Patti]]></dc:creator>
		<pubDate>Fri, 22 Jan 2010 16:46:12 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=77#comment-12</guid>

					<description><![CDATA[Hi  there  hair free people!

I can&#039;t believe you ordered mole this early in the trip. Was it served warm or cold?? Looks like the one we had except ours came with rice!

We&#039;ve saved some roast beef for when you get back......


Love Patti]]></description>
			<content:encoded><![CDATA[<p>Hi  there  hair free people!</p>
<p>I can&#8217;t believe you ordered mole this early in the trip. Was it served warm or cold?? Looks like the one we had except ours came with rice!</p>
<p>We&#8217;ve saved some roast beef for when you get back&#8230;&#8230;</p>
<p>Love Patti</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Aseema		</title>
		<link>/2010/01/20/the-revenge-of-montezuma/#comment-11</link>

		<dc:creator><![CDATA[Aseema]]></dc:creator>
		<pubDate>Thu, 21 Jan 2010 16:57:50 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=77#comment-11</guid>

					<description><![CDATA[Hi Annie and Safe
Thanks for the birthday text - you did great to remember with all the adventures you&#039;re having. Can&#039;t believe &#039;Delhi-Belly&#039; (or Mexican-Belly) struck so soon and then you mananged to stomach &#039;The Mole&#039;. Hope yo have recovered....
Look forward to reading the next installment
Lots of love
Tony and Aseema]]></description>
			<content:encoded><![CDATA[<p>Hi Annie and Safe<br />
Thanks for the birthday text &#8211; you did great to remember with all the adventures you&#8217;re having. Can&#8217;t believe &#8216;Delhi-Belly&#8217; (or Mexican-Belly) struck so soon and then you mananged to stomach &#8216;The Mole&#8217;. Hope yo have recovered&#8230;.<br />
Look forward to reading the next installment<br />
Lots of love<br />
Tony and Aseema</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Didi Hammad		</title>
		<link>/2010/01/20/the-revenge-of-montezuma/#comment-10</link>

		<dc:creator><![CDATA[Didi Hammad]]></dc:creator>
		<pubDate>Thu, 21 Jan 2010 12:06:45 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=77#comment-10</guid>

					<description><![CDATA[Hi Annie &#038; Safe
I am glade you are having fun. As far as the food is concerned rather you than me!!!. thanks Annie for Zaki&#039;s Present but I am sure you said you are travelling light, I don&#039;t think Zaki will be disappointed if you can&#039;t carry it back, but I will be disappointed if you do. Have a lovely time
Love 
Didi]]></description>
			<content:encoded><![CDATA[<p>Hi Annie &amp; Safe<br />
I am glade you are having fun. As far as the food is concerned rather you than me!!!. thanks Annie for Zaki&#8217;s Present but I am sure you said you are travelling light, I don&#8217;t think Zaki will be disappointed if you can&#8217;t carry it back, but I will be disappointed if you do. Have a lovely time<br />
Love<br />
Didi</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
