<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Bahia Concha	</title>
	<atom:link href="http://localhost/2010/03/15/bahia-concha/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/03/15/bahia-concha/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Fri, 26 Mar 2010 13:54:30 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: James D		</title>
		<link>/2010/03/15/bahia-concha/#comment-81</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Fri, 26 Mar 2010 13:54:30 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=597#comment-81</guid>

					<description><![CDATA[looks really beautiful - I&#039;m amazed it&#039;s not more touristy]]></description>
			<content:encoded><![CDATA[<p>looks really beautiful &#8211; I&#8217;m amazed it&#8217;s not more touristy</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Annie &#38; Safe		</title>
		<link>/2010/03/15/bahia-concha/#comment-80</link>

		<dc:creator><![CDATA[Annie &#38; Safe]]></dc:creator>
		<pubDate>Fri, 19 Mar 2010 23:26:43 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=597#comment-80</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/03/15/bahia-concha/#comment-79&quot;&gt;Jodie&lt;/a&gt;.

Hi Jodie,

Very observant!  Flip flops bought in the Central Market in San Jose.  Hat bought in Cartagena.  We did a ceremonial throwing away of Safe&#039;s stinky sandals and Annie&#039;s favourite trousers which got split at the bum!

Hope you&#039;re well!  Look forward to seeing you back in Londres ... :)

Annie &amp; Safe]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/03/15/bahia-concha/#comment-79">Jodie</a>.</p>
<p>Hi Jodie,</p>
<p>Very observant!  Flip flops bought in the Central Market in San Jose.  Hat bought in Cartagena.  We did a ceremonial throwing away of Safe&#8217;s stinky sandals and Annie&#8217;s favourite trousers which got split at the bum!</p>
<p>Hope you&#8217;re well!  Look forward to seeing you back in Londres &#8230; 🙂</p>
<p>Annie &#038; Safe</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Jodie		</title>
		<link>/2010/03/15/bahia-concha/#comment-79</link>

		<dc:creator><![CDATA[Jodie]]></dc:creator>
		<pubDate>Fri, 19 Mar 2010 03:21:27 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=597#comment-79</guid>

					<description><![CDATA[You have a new hat! Very nice. And are those new flip-flops I see? Someone&#039;s gone on quite the spending spree. :-)

Glad to read that you&#039;re both still enjoying yourselves, and finding more spectacular places in the world to visit. 

Loving the blog updates! Keep them coming.]]></description>
			<content:encoded><![CDATA[<p>You have a new hat! Very nice. And are those new flip-flops I see? Someone&#8217;s gone on quite the spending spree. 🙂</p>
<p>Glad to read that you&#8217;re both still enjoying yourselves, and finding more spectacular places in the world to visit. </p>
<p>Loving the blog updates! Keep them coming.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: aseema		</title>
		<link>/2010/03/15/bahia-concha/#comment-78</link>

		<dc:creator><![CDATA[aseema]]></dc:creator>
		<pubDate>Wed, 17 Mar 2010 12:49:52 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=597#comment-78</guid>

					<description><![CDATA[looks picture postcard beautiful

ps andy glenn was asking about you and wanted to have a look at your blog, if that&#039;s ok]]></description>
			<content:encoded><![CDATA[<p>looks picture postcard beautiful</p>
<p>ps andy glenn was asking about you and wanted to have a look at your blog, if that&#8217;s ok</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
