<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Bogota	</title>
	<atom:link href="http://localhost/2010/03/16/bogota/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/03/16/bogota/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Fri, 26 Mar 2010 13:52:42 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: James D		</title>
		<link>/2010/03/16/bogota/#comment-82</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Fri, 26 Mar 2010 13:52:42 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=609#comment-82</guid>

					<description><![CDATA[Awesome plaza!
I thought that was Safe in the hat for a moment :-)]]></description>
			<content:encoded><![CDATA[<p>Awesome plaza!<br />
I thought that was Safe in the hat for a moment 🙂</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
