<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Piha	</title>
	<atom:link href="http://localhost/2010/03/26/piha/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/03/26/piha/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Mon, 05 Apr 2010 10:58:53 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: James Haile		</title>
		<link>/2010/03/26/piha/#comment-91</link>

		<dc:creator><![CDATA[James Haile]]></dc:creator>
		<pubDate>Mon, 05 Apr 2010 10:58:53 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=712#comment-91</guid>

					<description><![CDATA[Seems like you are having a crazy, amazing adventure! Had no idea that you had even left England, and it seems that you almost overlapped with me in South America, and Ruth in New Zealand! Hope the rest of your travels are as picture-perfect!!]]></description>
			<content:encoded><![CDATA[<p>Seems like you are having a crazy, amazing adventure! Had no idea that you had even left England, and it seems that you almost overlapped with me in South America, and Ruth in New Zealand! Hope the rest of your travels are as picture-perfect!!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: BODAD		</title>
		<link>/2010/03/26/piha/#comment-90</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Tue, 30 Mar 2010 11:10:52 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=712#comment-90</guid>

					<description><![CDATA[We&#039;re delighted to know you&#039;re back in Fodland again. Go to the Bay of Islands if you have time. Give Raewyn a phone call. She&#039;ll be really pleased. &#039;Glad you&#039;re having a great time!   BOD &#038; Aunty Audrey]]></description>
			<content:encoded><![CDATA[<p>We&#8217;re delighted to know you&#8217;re back in Fodland again. Go to the Bay of Islands if you have time. Give Raewyn a phone call. She&#8217;ll be really pleased. &#8216;Glad you&#8217;re having a great time!   BOD &amp; Aunty Audrey</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: James D		</title>
		<link>/2010/03/26/piha/#comment-89</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Mon, 29 Mar 2010 12:41:58 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=712#comment-89</guid>

					<description><![CDATA[Really fantastic photos! Love the man of war and the other beach shots.]]></description>
			<content:encoded><![CDATA[<p>Really fantastic photos! Love the man of war and the other beach shots.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
