<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Colombia &#8211; Annie &amp; Safe Go West</title>
	<atom:link href="http://localhost/category/colombia/feed/" rel="self" type="application/rss+xml" />
	<link></link>
	<description>The Grand Tour</description>
	<lastBuildDate>Thu, 18 Mar 2010 22:28:32 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>Santiago de Chile</title>
		<link>/2010/03/18/santiago-de-chile/</link>
					<comments>/2010/03/18/santiago-de-chile/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Thu, 18 Mar 2010 22:28:32 +0000</pubDate>
				<category><![CDATA[Chile]]></category>
		<category><![CDATA[Colombia]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=642</guid>

					<description><![CDATA[Day 59.  We had an early flight to Santiago, Chile&#8217;s capital this morning.  There was a small panic before we caught our taxi as the person with the key to the safe with our passports in it hadn&#8217;t turned up.  A quick phone call to her and she arrived 30 minutes later.  We were happy [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 59.  We had an early flight to Santiago, Chile&#8217;s capital this morning.  There was a small panic before we caught our taxi as the person with the key to the safe with our passports in it hadn&#8217;t turned up.  A quick phone call to her and she arrived 30 minutes later.  We were happy that the taxi driver to the airport was much friendlier than our last taxi driver to Santa Marta airport.</p>
<p>We didn&#8217;t have to pay a departure tax (it was waived for UK nationals for some reason) but we did have to pay a &#8220;tourist tax&#8221; to the check-in lady.  She asked us for 40,000 pesos which had to be paid in cash.  We only had 32,600 pesos left on us.  We&#8217;d hoped she might waive the shortfall for us (we managed to do this in Costa Rica) but no such luck.  We were duly directed to the money exchange booth where Safe once again had to give his profession, his favourite colour, football team and fingerprints to change £10 into pesos.</p>
<div id="attachment_643" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/fingerprint-1.jpg"><img aria-describedby="caption-attachment-643" decoding="async" class="size-full wp-image-643 " src="/wp-content/uploads/2010/03/fingerprint-1.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/fingerprint-1.jpg 657w, /wp-content/uploads/2010/03/fingerprint-1-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-643" class="wp-caption-text">1. Place right thumb on messy inkpad</p></div>
<div id="attachment_644" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/fingerprint-2.jpg"><img aria-describedby="caption-attachment-644" decoding="async" loading="lazy" class="size-full wp-image-644 " src="/wp-content/uploads/2010/03/fingerprint-2.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/fingerprint-2.jpg 657w, /wp-content/uploads/2010/03/fingerprint-2-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-644" class="wp-caption-text">2. Place thumb on scrap of paper agreeing to the exchange of pounds for pesos </p></div>
<div id="attachment_645" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/fingerprint-3.jpg"><img aria-describedby="caption-attachment-645" decoding="async" loading="lazy" class="size-full wp-image-645 " src="/wp-content/uploads/2010/03/fingerprint-3.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/fingerprint-3.jpg 657w, /wp-content/uploads/2010/03/fingerprint-3-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-645" class="wp-caption-text">3. Remove thumb from paper, smile, comment on how well the fingerprint turned out, then act as if this is all normal! </p></div>
<p>We handed over the 40,000 pesos and insisted on a receipt which oddly was for 38,200 pesos.  The shortfall of 1,800 pesos is more than enough for several cups of coffee!  We became belligerant about receiving our change because (a) she didn&#8217;t let us off to begin with and (b) this smacked of Superman III where they were creaming off pennies from everyone&#8217;s paycheck!  They hunted around for our change everywhere and eventually had to dip into their own pockets to find it (which is where the tax probably goes anyway).</p>
<div id="attachment_646" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/leaving-bogota.jpg"><img aria-describedby="caption-attachment-646" decoding="async" loading="lazy" class="size-full wp-image-646 " src="/wp-content/uploads/2010/03/leaving-bogota.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/leaving-bogota.jpg 657w, /wp-content/uploads/2010/03/leaving-bogota-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-646" class="wp-caption-text">Goodbye, Colombia!</p></div>
<div id="attachment_647" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/arriving-santiago.jpg"><img aria-describedby="caption-attachment-647" decoding="async" loading="lazy" class="size-full wp-image-647 " src="/wp-content/uploads/2010/03/arriving-santiago.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/arriving-santiago.jpg 492w, /wp-content/uploads/2010/03/arriving-santiago-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-647" class="wp-caption-text">Hello, Chile!</p></div>
<p>The plane journey was a breeze and we arrived to the virtually passenger-free airport of Santiago.  Flights are still experiencing a slightly altered service and we saw makeshift tents outside the airport acting as departure lounges.</p>
<blockquote><p><strong>Factoid:</strong> You may be aware that Santiago experienced an earthquake on 27th Feb 2010 which caused a roof in the airport to collapse and some damage to other buildings in and around the city.  The epicentre was South of Santiago.</p></blockquote>
<div id="attachment_648" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/santiago-airport-collapse.jpg"><img aria-describedby="caption-attachment-648" decoding="async" loading="lazy" class="size-full wp-image-648 " src="/wp-content/uploads/2010/03/santiago-airport-collapse.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/santiago-airport-collapse.jpg 657w, /wp-content/uploads/2010/03/santiago-airport-collapse-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-648" class="wp-caption-text">Collapsed structure at Santiago Airport</p></div>
<p>We were slightly more disorganised than usual and hadn&#8217;t been able to arrange somewhere to stay yet.  A kindly tourist information lady sorted us out in an ApartHotel which were somewhat sceptical about.  The apartment turned out to be in a great location and is the most luxurious place we&#8217;ve stayed in since we left Palais de Armstrong in Sunningdale exactly two months ago to the day.  It even included its our own luxury kitchenette.  Our plans for a late orientation walk around the neighbourhood were foiled when we found a local supermarket selling juicy fillet steaks for the price of Tesco Value chicken.  Along with the steaks, we bought a bottle of Chilean Cabernet Sauvignon and had a night in with steak sandwiches and a movie.</p>
<div id="attachment_649" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/steak-dinner.jpg"><img aria-describedby="caption-attachment-649" decoding="async" loading="lazy" class="size-full wp-image-649 " title="Mmmm ... juicy steak!" src="/wp-content/uploads/2010/03/steak-dinner.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/steak-dinner.jpg 492w, /wp-content/uploads/2010/03/steak-dinner-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-649" class="wp-caption-text">Annie cooks steak</p></div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/03/18/santiago-de-chile/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>Biking In Bogota</title>
		<link>/2010/03/17/biking-in-bogota/</link>
					<comments>/2010/03/17/biking-in-bogota/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Wed, 17 Mar 2010 20:40:33 +0000</pubDate>
				<category><![CDATA[Colombia]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=613</guid>

					<description><![CDATA[Day 58.  With only one full day in Bogota, we got up bright and early to see the sights.  Bogota is situated on a mountain plateau with the Andes mountain range to the East.  At 7:45am we took a funicular up to the top of one of the mountains to the church of montserrate overlooking [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 58.  With only one full day in Bogota, we got up bright and early to see the sights.  Bogota is situated on a mountain plateau with the Andes mountain range to the East.  At 7:45am we took a funicular up to the top of one of the mountains to the church of montserrate overlooking the city with spectacular views.</p>
<div id="attachment_619" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/montserrate.jpg"><img aria-describedby="caption-attachment-619" decoding="async" loading="lazy" class="size-full wp-image-619 " src="/wp-content/uploads/2010/03/montserrate.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/montserrate.jpg 657w, /wp-content/uploads/2010/03/montserrate-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-619" class="wp-caption-text">Montserrate</p></div>
<p>After a traditional and tasty emapanda (deep fried breaded Cornish pasty which everyone in Colombia eats for breakfast) from a student cafe on the university grounds, we took a bike tour of the city with Mike Cesar, an ex-journalist, ex-geneticist, ex-law student from California who has lived in South America for years and settled in Columbia in the last four years.</p>
<p>Here are some of the highlights:</p>
<div id="attachment_621" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/peace-memorial-bogota.jpg"><img aria-describedby="caption-attachment-621" decoding="async" loading="lazy" class="size-full wp-image-621 " src="/wp-content/uploads/2010/03/peace-memorial-bogota.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/peace-memorial-bogota.jpg 492w, /wp-content/uploads/2010/03/peace-memorial-bogota-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-621" class="wp-caption-text">Peace memorial made from melted weaponry </p></div>
<p>A stop for some Borojo juice with liquidised river crab, thought to be a potent aphrodisiac.</p>
<div id="attachment_622" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/borojo-bogota.jpg"><img aria-describedby="caption-attachment-622" decoding="async" loading="lazy" class="size-full wp-image-622 " src="/wp-content/uploads/2010/03/borojo-bogota.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/borojo-bogota.jpg 492w, /wp-content/uploads/2010/03/borojo-bogota-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-622" class="wp-caption-text">Borojo with liquidised river crabs</p></div>
<div id="attachment_623" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/borojo-crabs.jpg"><img aria-describedby="caption-attachment-623" decoding="async" loading="lazy" class="size-full wp-image-623 " src="/wp-content/uploads/2010/03/borojo-crabs.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/borojo-crabs.jpg 657w, /wp-content/uploads/2010/03/borojo-crabs-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-623" class="wp-caption-text">Live river crabs pre-liquidisation</p></div>
<p>Next stop, the central fruit market &#8230;</p>
<div id="attachment_624" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/fruit-market-bogota.jpg"><img aria-describedby="caption-attachment-624" decoding="async" loading="lazy" class="size-full wp-image-624 " src="/wp-content/uploads/2010/03/fruit-market-bogota.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/fruit-market-bogota.jpg 657w, /wp-content/uploads/2010/03/fruit-market-bogota-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-624" class="wp-caption-text">Bogota fruit market</p></div>
<p>Bogota is called the Athens of South America on account of its multitude of universities.  We visited the main public university.  Like most universities in Bogota, it hires its own private security, and interestingly, it is illegal for the national police to set foot in this university as a concession following past altercations between students and police.</p>
<div id="attachment_625" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/camilo-torres.jpg"><img aria-describedby="caption-attachment-625" decoding="async" loading="lazy" class="size-full wp-image-625 " src="/wp-content/uploads/2010/03/camilo-torres.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/camilo-torres.jpg 657w, /wp-content/uploads/2010/03/camilo-torres-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-625" class="wp-caption-text">Camilo Torres University Library, possibly the only university library in the world with machine gun holes painted on it.</p></div>
<div id="attachment_627" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/che-square.jpg"><img aria-describedby="caption-attachment-627" decoding="async" loading="lazy" class="size-full wp-image-627 " src="/wp-content/uploads/2010/03/che-square.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/che-square.jpg 657w, /wp-content/uploads/2010/03/che-square-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-627" class="wp-caption-text">Every self respecting university in South America (or otherwise) needs a picture of Che.  Note the anti American propaganda to the left!</p></div>
<p>Finally, we bribed the guard to let us into the bull ring.  Bull fighting is a popular sport with Bogota&#8217;s wealthy set.  A front row ticket can cost up to US$300.  The season is very short from January to March, mainly because the sport is dominated by Spanish stars who visit Colombia when it is off-season for them.</p>
<div id="attachment_628" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/bull-ring-bogota.jpg"><img aria-describedby="caption-attachment-628" decoding="async" loading="lazy" class="size-full wp-image-628 " src="/wp-content/uploads/2010/03/bull-ring-bogota.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/bull-ring-bogota.jpg 657w, /wp-content/uploads/2010/03/bull-ring-bogota-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-628" class="wp-caption-text">Bull ring</p></div>
<div id="attachment_631" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/bull-court.jpg"><img aria-describedby="caption-attachment-631" decoding="async" loading="lazy" class="size-full wp-image-631 " src="/wp-content/uploads/2010/03/bull-court.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/bull-court.jpg 657w, /wp-content/uploads/2010/03/bull-court-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-631" class="wp-caption-text">Where the grim action happens</p></div>
<p>En route we saw an interesting statue by one of Colombia&#8217;s most celebrated  artists.  His style is to draw and sculpt figures with &#8220;generous proportions&#8221;.</p>
<div id="attachment_633" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/botero-horse-statue.jpg"><img aria-describedby="caption-attachment-633" decoding="async" loading="lazy" class="size-full wp-image-633 " src="/wp-content/uploads/2010/03/botero-horse-statue.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/botero-horse-statue.jpg 492w, /wp-content/uploads/2010/03/botero-horse-statue-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-633" class="wp-caption-text">Statue of horse and horseman by Botero</p></div>
<p>Later on, we visited Botero&#8217;s art gallery which not only contains his own works, but also works donated by him from his private collection which includes many Picassos and works by French impressionists.</p>
<div id="attachment_634" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/botero-mona-lisa.jpg"><img aria-describedby="caption-attachment-634" decoding="async" loading="lazy" class="size-full wp-image-634 " src="/wp-content/uploads/2010/03/botero-mona-lisa.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/botero-mona-lisa.jpg 492w, /wp-content/uploads/2010/03/botero-mona-lisa-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-634" class="wp-caption-text">Fat Mona Lisa </p></div>
<p>Finally, no visit to Bogota is complete without a visit to the Gold Museum.</p>
<div id="attachment_635" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/gold-museum-angel.jpg"><img aria-describedby="caption-attachment-635" decoding="async" loading="lazy" class="size-full wp-image-635 " src="/wp-content/uploads/2010/03/gold-museum-angel.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/gold-museum-angel.jpg 492w, /wp-content/uploads/2010/03/gold-museum-angel-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-635" class="wp-caption-text">Golden angel</p></div>
<div id="attachment_636" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/gold-museum-mask.jpg"><img aria-describedby="caption-attachment-636" decoding="async" loading="lazy" class="size-full wp-image-636 " src="/wp-content/uploads/2010/03/gold-museum-mask.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/gold-museum-mask.jpg 492w, /wp-content/uploads/2010/03/gold-museum-mask-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-636" class="wp-caption-text">Golden mask</p></div>
<p>Here&#8217;s a sample of some of the plentiful graffiti we&#8217;ve seen in Bogota.  This one is a take on Colombia&#8217;s reputation as an illegal cocaine exporter.  It&#8217;s use wasn&#8217;t particularly evident to us, though we&#8217;re sure we mostly stuck to the more sanitised areas of the city, however Colombia is apparently responsible for exporting 90% of the world&#8217;s cocaine.  (Only 50% is actually grown here, but it refines the raw material from surrounding countries).</p>
<div id="attachment_638" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/enjoy-cocaine1.jpg"><img aria-describedby="caption-attachment-638" decoding="async" loading="lazy" class="size-full wp-image-638 " src="/wp-content/uploads/2010/03/enjoy-cocaine1.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/enjoy-cocaine1.jpg 492w, /wp-content/uploads/2010/03/enjoy-cocaine1-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-638" class="wp-caption-text">Graffitisement</p></div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/03/17/biking-in-bogota/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>Bogota</title>
		<link>/2010/03/16/bogota/</link>
					<comments>/2010/03/16/bogota/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Tue, 16 Mar 2010 22:18:38 +0000</pubDate>
				<category><![CDATA[Colombia]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=609</guid>

					<description><![CDATA[Day 57.  As a fairwell gesture, the driver of our taxi to the airport tried to fleece us but we were far too long in the tooth to fall for that shennanigans at this stage of our trip.  Our flight to Bogota was turbulent but otherwise uneventful and arrived in Bogota to a really pleasant [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 57.  As a fairwell gesture, the driver of our taxi to the airport tried to fleece us but we were far too long in the tooth to fall for that shennanigans at this stage of our trip.  Our flight to Bogota was turbulent but otherwise uneventful and arrived in Bogota to a really pleasant surprise.  Our preconceptions have once again been blown away.  Bogota is a wonderful city and we wish we were staying here more than the planned two nights.  To be fair, our preconceptions were based partly on news reports from the 1980s about its squalour and danger (not all of which have disappeard), but it certainly seems to have markedly improved since then and it is truly an attractive international city to be reckoned with.</p>
<p>With only one full day in Bogota, we spent the afternoon and evening wandering around town taking in the sights and planning our itinerary for tomorrow.  For the last three weeks we have broiled, broasted and slimed in the heat and humidity of the Caribbean coast of Colombia.  It was a refreshing change to arrive at the third highest capital city at over 2600m where the temperature was a cool 20 C.  Not bad for a town just 4 degrees north of the equator!</p>
<div id="attachment_610" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/plaza-bolivar-bogota.jpg"><img aria-describedby="caption-attachment-610" decoding="async" loading="lazy" class="size-full wp-image-610 " src="/wp-content/uploads/2010/03/plaza-bolivar-bogota.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/plaza-bolivar-bogota.jpg 657w, /wp-content/uploads/2010/03/plaza-bolivar-bogota-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-610" class="wp-caption-text">Plaza Bolivar</p></div>
<p>The government building in Plaza Bolivar, the main square in Bogota, kindly allowed an artist to place ants figurines over the face of the building as a strong derogatory message to injustices on the population.  The body and the head of the ants were moulded from a human skull, each representing the displaced masses and the politicians responsible.  Colombia has the highest number of displaced persons second only to Sudan.  It is estimated that millions have been driven from their homes by guerrillas and paramilitary groups to become refugees in their own country.</p>
<p>In the evening, we were welcomed to Bogota by a friendly street vendor.  We sampled the local &#8220;aromatica&#8221;, a herbal tea with honey and lime, a very soothing drink after a fish meal which turned out &#8230; urm &#8230; somewhat difficult to digest.</p>
<div id="attachment_614" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/aromatica-bogota.jpg"><img aria-describedby="caption-attachment-614" decoding="async" loading="lazy" class="size-full wp-image-614 " src="/wp-content/uploads/2010/03/aromatica-bogota.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/aromatica-bogota.jpg 657w, /wp-content/uploads/2010/03/aromatica-bogota-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-614" class="wp-caption-text">Aromatica</p></div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/03/16/bogota/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>Bahia Concha</title>
		<link>/2010/03/15/bahia-concha/</link>
					<comments>/2010/03/15/bahia-concha/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Mon, 15 Mar 2010 22:00:07 +0000</pubDate>
				<category><![CDATA[Colombia]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=597</guid>

					<description><![CDATA[Day 56.  We weren&#8217;t sure what to do when we woke up this morning but got some great advice from our Irish guesthouse owner, Patrick, who has lived in the area for over nine years.  One minibus ride and one MotoTaxi ride later and we arrived at Bahia Concha, a deserted beach with golden sand [&#8230;]]]></description>
										<content:encoded><![CDATA[<div id="_mcePaste">Day 56.  We weren&#8217;t sure what to do when we woke up this morning but got some great advice from our Irish guesthouse owner, Patrick, who has lived in the area for over nine years.  One minibus ride and one MotoTaxi ride later and we arrived at Bahia Concha, a deserted beach with golden sand and azure blue water with no danger of being swept away!  We had a very relaxing day doing very little and recovering after yesterday&#8217;s hike.</div>
<div id="attachment_598" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/bahia-concha.jpg"><img aria-describedby="caption-attachment-598" decoding="async" loading="lazy" class="size-full wp-image-598 " src="/wp-content/uploads/2010/03/bahia-concha.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/bahia-concha.jpg 657w, /wp-content/uploads/2010/03/bahia-concha-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-598" class="wp-caption-text">Bahia Concha</p></div>
<div id="attachment_599" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/safe-bahia-concha.jpg"><img aria-describedby="caption-attachment-599" decoding="async" loading="lazy" class="size-full wp-image-599 " src="/wp-content/uploads/2010/03/safe-bahia-concha.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/safe-bahia-concha.jpg 657w, /wp-content/uploads/2010/03/safe-bahia-concha-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-599" class="wp-caption-text">Safe at Bahia Concha</p></div>
<div id="attachment_600" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/annie-moto-taxi.jpg"><img aria-describedby="caption-attachment-600" decoding="async" loading="lazy" class="size-full wp-image-600 " src="/wp-content/uploads/2010/03/annie-moto-taxi.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/annie-moto-taxi.jpg 492w, /wp-content/uploads/2010/03/annie-moto-taxi-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-600" class="wp-caption-text">Annie poses on a MotoTaxi</p></div>
<p>In the evening, we took a five mile journey on a local bus to the backpacker dropout zone called Taganga, a pleasant fishing village with some of the cheapest diving in the world.  We strolled along the promenade lined with backpacker friendly eateries.  We pitched ourselved at one of the beach bars and watched the sun set while drinking rum and coke with lime (or a Cuba Libre if you&#8217;re posh).</p>
<div id="attachment_601" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/safe-taganga.jpg"><img aria-describedby="caption-attachment-601" decoding="async" loading="lazy" class="size-full wp-image-601 " src="/wp-content/uploads/2010/03/safe-taganga.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/safe-taganga.jpg 657w, /wp-content/uploads/2010/03/safe-taganga-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-601" class="wp-caption-text">Safe guards his beer at Taganga</p></div>
<div id="attachment_603" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/fishermen-taganga.jpg"><img aria-describedby="caption-attachment-603" decoding="async" loading="lazy" class="size-full wp-image-603 " src="/wp-content/uploads/2010/03/fishermen-taganga.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/fishermen-taganga.jpg 492w, /wp-content/uploads/2010/03/fishermen-taganga-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-603" class="wp-caption-text">Fishermen at Taganga</p></div>
<div id="attachment_602" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/sunset-taganga.jpg"><img aria-describedby="caption-attachment-602" decoding="async" loading="lazy" class="size-full wp-image-602 " src="/wp-content/uploads/2010/03/sunset-taganga.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/sunset-taganga.jpg 492w, /wp-content/uploads/2010/03/sunset-taganga-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-602" class="wp-caption-text">Sunset at Taganga</p></div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/03/15/bahia-concha/feed/</wfw:commentRss>
			<slash:comments>4</slash:comments>
		
		
			</item>
		<item>
		<title>A Walk In The Park</title>
		<link>/2010/03/14/a-walk-in-the-park/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sun, 14 Mar 2010 20:50:10 +0000</pubDate>
				<category><![CDATA[Colombia]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=592</guid>

					<description><![CDATA[Day 55.  Seven hours walking for just two hours on the beach!  Admittedly we were walking through unspoilt rainforest and the beaches were beautiful, especially if you ignore the fact that the current is too strong for swimming in most of the beaches.  (Some 200 people have been lost to the undertow at Arecifes, the [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 55.  Seven hours walking for just two hours on the beach!  Admittedly we were walking through unspoilt rainforest and the beaches were beautiful, especially if you ignore the fact that the current is too strong for swimming in most of the beaches.  (Some 200 people have been lost to the undertow at Arecifes, the first beach we reached).  What we should have done is hiked in, spent the night in a hammock (one of the most expensive hammock rentals in the world) then hiked out again.  Parque Tayrona is mainly privately owned protected coastal area of natural beauty.  You&#8217;re charged a fortune to enter and you&#8217;re made to wear a bracelet to prove it.  The park is picturesque but is slightly contrived as the only other souls you see are tourists.  We almost didn&#8217;t make it home as we missed the last minibus out of the park and as the evening light dwindled, we thought we might be sleeping in the park after all.  Luckily a passing MotoTaxi picked us up and we bunked to the nearest town.</p>
<div id="attachment_593" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/tayrona.jpg"><img aria-describedby="caption-attachment-593" decoding="async" loading="lazy" class="size-full wp-image-593 " src="/wp-content/uploads/2010/03/tayrona.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/tayrona.jpg 492w, /wp-content/uploads/2010/03/tayrona-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-593" class="wp-caption-text">A beach at Parque Tayrona</p></div>
<div id="attachment_595" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/ants-tayrona1.jpg"><img aria-describedby="caption-attachment-595" decoding="async" loading="lazy" class="size-full wp-image-595 " src="/wp-content/uploads/2010/03/ants-tayrona1.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/ants-tayrona1.jpg 657w, /wp-content/uploads/2010/03/ants-tayrona1-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-595" class="wp-caption-text">Ants cross the road with leaves at Tayrona</p></div>
<p>P.S. Happy Birthday to Aunty Audrey.  You might get a postcard.  Then again, you might not!</p>
<p>P.P.S. Happy Mothers&#8217; Day to Didi and Aunty Audrey!</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Adios Cartagena</title>
		<link>/2010/03/13/adios-cartagena/</link>
					<comments>/2010/03/13/adios-cartagena/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sat, 13 Mar 2010 20:22:52 +0000</pubDate>
				<category><![CDATA[Colombia]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=582</guid>

					<description><![CDATA[Day 54.  Today we say goodbye to Cartagena and headed for Santa Marta Eastwaard along the coast.  Here are some goodbyes we said to people and places we&#8217;ve seen every day and grown attached to while we were here: And no blog mentioning Cartagena would be complete without mentioning Catalina, the iconic statue of a [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 54.  Today we say goodbye to Cartagena and headed for Santa Marta Eastwaard along the coast.  Here are some goodbyes we said to people and places we&#8217;ve seen every day and grown attached to while we were here:</p>
<div id="attachment_583" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/amaury.jpg"><img aria-describedby="caption-attachment-583" decoding="async" loading="lazy" class="size-full wp-image-583 " src="/wp-content/uploads/2010/03/amaury.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/amaury.jpg 657w, /wp-content/uploads/2010/03/amaury-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-583" class="wp-caption-text">Spanish lessons with Amaury</p></div>
<div id="attachment_584" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/bye-bye-casa-mara.jpg"><img aria-describedby="caption-attachment-584" decoding="async" loading="lazy" class="size-full wp-image-584 " src="/wp-content/uploads/2010/03/bye-bye-casa-mara.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/bye-bye-casa-mara.jpg 657w, /wp-content/uploads/2010/03/bye-bye-casa-mara-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-584" class="wp-caption-text">The residents at Casa Mara</p></div>
<div id="attachment_585" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/pool-casa-mara.jpg"><img aria-describedby="caption-attachment-585" decoding="async" loading="lazy" class="size-full wp-image-585 " src="/wp-content/uploads/2010/03/pool-casa-mara.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/pool-casa-mara.jpg 492w, /wp-content/uploads/2010/03/pool-casa-mara-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-585" class="wp-caption-text">Bird bath at Casa Mara</p></div>
<div id="attachment_586" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/school-area-casa-mara.jpg"><img aria-describedby="caption-attachment-586" decoding="async" loading="lazy" class="size-full wp-image-586 " src="/wp-content/uploads/2010/03/school-area-casa-mara.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/school-area-casa-mara.jpg 657w, /wp-content/uploads/2010/03/school-area-casa-mara-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-586" class="wp-caption-text">We had our Spanish lessons here</p></div>
<div id="attachment_587" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/tinto-lady.jpg"><img aria-describedby="caption-attachment-587" decoding="async" loading="lazy" class="size-full wp-image-587 " src="/wp-content/uploads/2010/03/tinto-lady.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/tinto-lady.jpg 492w, /wp-content/uploads/2010/03/tinto-lady-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-587" class="wp-caption-text">Our tinto lady</p></div>
<p>And no blog mentioning Cartagena would be complete without mentioning <a href="http://en.wikipedia.org/wiki/India_Catalina" target="_blank" rel="noopener">Catalina</a>, the iconic statue of a indigenous girl watching over the entrance to the walled city.</p>
<div id="attachment_588" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/catalina.jpg"><img aria-describedby="caption-attachment-588" decoding="async" loading="lazy" class="size-full wp-image-588 " src="/wp-content/uploads/2010/03/catalina.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/catalina.jpg 492w, /wp-content/uploads/2010/03/catalina-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-588" class="wp-caption-text">Catalina</p></div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/03/13/adios-cartagena/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>Kittens</title>
		<link>/2010/03/12/kittens/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Fri, 12 Mar 2010 20:40:19 +0000</pubDate>
				<category><![CDATA[Colombia]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=574</guid>

					<description><![CDATA[Day 53. We&#8217;ve been looking forward to visiting Helene all day. We headed out of town in the evening rush hour as crowded buses sped out of town and pelicans sat calmly above the hubub watching the world go by. Helena&#8217;s house is a lovely colonial style building off the main street.  We were warmly [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 53.  We&#8217;ve been looking forward to visiting Helene all day.  We headed out of town in the evening rush hour as crowded buses sped out of town and pelicans sat calmly above the hubub watching the world go by.</p>
<div id="attachment_575" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/pelicans-cartagena.jpg"><img aria-describedby="caption-attachment-575" decoding="async" loading="lazy" class="size-full wp-image-575 " src="/wp-content/uploads/2010/03/pelicans-cartagena.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/pelicans-cartagena.jpg 492w, /wp-content/uploads/2010/03/pelicans-cartagena-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-575" class="wp-caption-text">Pelicans</p></div>
<p>Helena&#8217;s house is a lovely colonial style building off the main street.  We were warmly welcomed by her and all her pets.  (Their names are already fading away, but one of the cats is definitely called Adolf on account of a dark patch under its nose).  We were also introduced to a couple of one week old additions to the family:</p>
<div id="attachment_576" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/kittens-cartagena.jpg"><img aria-describedby="caption-attachment-576" decoding="async" loading="lazy" class="size-full wp-image-576 " src="/wp-content/uploads/2010/03/kittens-cartagena.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/kittens-cartagena.jpg 657w, /wp-content/uploads/2010/03/kittens-cartagena-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-576" class="wp-caption-text">Kittens!</p></div>
<p>We sat down to a meal of chicharon (pork crackling), patacon (squashed fried plantain) and papitas (breaded egg, meat and potato balls) washed down with a glass of guava juice.  We chatted about life in Europe versus Columbia (her children still live in Europe), how Columbia had changed over the years (for better and for worse), and what the elections taking place this Sunday might mean for the country.  We also exchanged recipes and agreed that a kebab shop, non-existent in Cartagena, would do very well here!</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Creatures Of Habit</title>
		<link>/2010/03/11/creatures-of-habit/</link>
					<comments>/2010/03/11/creatures-of-habit/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Thu, 11 Mar 2010 20:39:01 +0000</pubDate>
				<category><![CDATA[Colombia]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=567</guid>

					<description><![CDATA[Day 52.  We&#8217;ve lived in Cartegena for the best part of two weeks and have developed a bit of a morning routine.  At 8am we have our Spanish lesson then from 10am-12am we &#8220;do the rounds&#8221;.  First, we head to our juice shop for a couple of fresh juices (a different juice every day).  Then [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 52.  We&#8217;ve lived in Cartegena for the best part of two weeks and have developed a bit of a morning routine.  At 8am we have our Spanish lesson then from 10am-12am we &#8220;do the rounds&#8221;.  First, we head to our juice shop for a couple of fresh juices (a different juice every day).  Then we head to our coconut man for a couple of fresh coconuts.  Finally we head to the Torre del Reloj for a couple of tintos, always from the same lady, and have a natter with her using the Spanish we learnt earlier that day.  She seems to &#8220;know a man who can&#8221; in town and helped Safe find someone to fix his glasses.</p>
<p>This morning while sipping on our juices (today&#8217;s offerings were Guanabana and Borojó) we happened to sit next to a smiley old Columbian lady called Helene who&#8217;d lived in Germany for 30 years but now lives alone in a district of Cartagena just outside the centre.  We talked about life and politics in an interesting spaghetti of German and Spanish words in the same sentence.  It turns out that she doesn&#8217;t quite live alone &#8230; she has 18 cats and three dogs to keep her company!  We&#8217;re invited round for dinner tomorrow to say hello to them!</p>
<p>Here are some interesting items we saw for sale today whilst doing the rounds:</p>
<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="425" height="344" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="src" value="https://www.youtube.com/v/oz9ip2XXiT4&amp;hl=en&amp;fs=1" /><param name="allowfullscreen" value="true" /><embed type="application/x-shockwave-flash" width="425" height="344" src="https://www.youtube.com/v/oz9ip2XXiT4&amp;hl=en&amp;fs=1" allowscriptaccess="always" allowfullscreen="true"></embed></object></p>
<div id="attachment_568" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/popcorn-balls.jpg"><img aria-describedby="caption-attachment-568" decoding="async" loading="lazy" class="size-full wp-image-568 " src="/wp-content/uploads/2010/03/popcorn-balls.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/popcorn-balls.jpg 492w, /wp-content/uploads/2010/03/popcorn-balls-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-568" class="wp-caption-text">Why buy popcorn loose when you can have it in balls?</p></div>
<div id="attachment_569" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/rat-cartagena.jpg"><img aria-describedby="caption-attachment-569" decoding="async" loading="lazy" class="size-full wp-image-569 " src="/wp-content/uploads/2010/03/rat-cartagena.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/rat-cartagena.jpg 492w, /wp-content/uploads/2010/03/rat-cartagena-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-569" class="wp-caption-text">Rat poison seller - direct and to the point</p></div>
<p>Sometimes you need a letter typing or a form filling in.  These guys are happy to oblige:</p>
<div id="attachment_570" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/typewriters.jpg"><img aria-describedby="caption-attachment-570" decoding="async" loading="lazy" class="size-full wp-image-570 " src="/wp-content/uploads/2010/03/typewriters.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/typewriters.jpg 657w, /wp-content/uploads/2010/03/typewriters-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-570" class="wp-caption-text">Professional form fillers</p></div>
<p>And the fruit of the day is &#8230; Caimito!  A strange fruit which looks like a large passion fruit from the outside but on the inside has a squidgy blancmange like purple flesh which oozes pearls of white liquid when you press on it.  If you scrape your spoon too close to the skin, however, you end up eating a mouthful of glue!</p>
<div id="attachment_571" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/caimito.jpg"><img aria-describedby="caption-attachment-571" decoding="async" loading="lazy" class="size-full wp-image-571 " src="/wp-content/uploads/2010/03/caimito.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/caimito.jpg 657w, /wp-content/uploads/2010/03/caimito-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-571" class="wp-caption-text">Caimito</p></div>
<p>P.S. Isn&#8217;t it strange how you learn a new word in a foreign language then all of a sudden everyone you speak to uses that very word in every other sentence?</p>
]]></content:encoded>
					
					<wfw:commentRss>/2010/03/11/creatures-of-habit/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>Adios Gafas! (Bye, Bye, Glasses!)</title>
		<link>/2010/03/10/adios-gafas-bye-bye-glasses/</link>
					<comments>/2010/03/10/adios-gafas-bye-bye-glasses/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Wed, 10 Mar 2010 20:58:38 +0000</pubDate>
				<category><![CDATA[Colombia]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=558</guid>

					<description><![CDATA[Day 51.  Sometimes you wish you&#8217;d listened to other people&#8217;s advice.  Especially when they&#8217;re right.  Before we left, we poo-pooed RJohn&#8217;s (Annie&#8217;s eldest bro&#8217;) suggestion that Safe might consider taking along a spare pair of glasses.  Once we had decided this wasn&#8217;t necessary, it was only a matter of time before one of the lenses [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 51.  Sometimes you wish you&#8217;d listened to other people&#8217;s advice.  Especially when they&#8217;re right.  Before we left, we poo-pooed RJohn&#8217;s (Annie&#8217;s eldest bro&#8217;) suggestion that Safe might consider taking along a spare pair of glasses.  Once we had decided this wasn&#8217;t necessary, it was only a matter of time before one of the lenses fell out of Safe&#8217;s glasses on a beach in Nicaragua.  We&#8217;ve now managed to lose or break most items of value that we were carrying, including:</p>
<ul>
<li>Two pairs of sunglasses</li>
<li>One hat</li>
<li>One salty camera</li>
<li>One designer pair of specs that Safe is (was) very attached to</li>
</ul>
<p>We&#8217;ve tried several times to find someone who&#8217;ll fix the glasses and it&#8217;s only in Cartagena that someone has been willing to give it a shot.  We&#8217;ve now learnt that titanium cannot be soldered with iron!  Here is the evidence:</p>
<div id="attachment_559" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/glasses-old.jpg"><img aria-describedby="caption-attachment-559" decoding="async" loading="lazy" class="size-full wp-image-559 " src="/wp-content/uploads/2010/03/glasses-old.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/glasses-old.jpg 657w, /wp-content/uploads/2010/03/glasses-old-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-559" class="wp-caption-text">Attempted soldering followed by attempted wiring!</p></div>
<p>After several attempts at resuscitation, our friendly mender of glasses threw in the towel and suggested we try an alternative remedy of the old lenses in a new frame.  This required a bit of jiggery pokery, namely lens-filing and some double-sided sticky tape, but the result was worth it.  Safe said farewell to his faithful old pair and said hello to his new pair.</p>
<div id="attachment_560" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/glasses-new.jpg"><img aria-describedby="caption-attachment-560" decoding="async" loading="lazy" class="size-full wp-image-560 " src="/wp-content/uploads/2010/03/glasses-new.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/glasses-new.jpg 657w, /wp-content/uploads/2010/03/glasses-new-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-560" class="wp-caption-text">Suddenly I see!</p></div>
<p>We tried to be semi-prepared for Aunty Audrey&#8217;s Birthday by sending her a postcard a week in advance, not that we expect her to get it soon, if at all!  We were a bit shocked by our encounter with the Post Office, though we should have been prepared for this as Safe had to give his fingerprint, occupation and what he had for dinner last week just to change money at the airport!  We had to give our names to buy a stamp and send a postcard, and we received a formal proof of purchase just to show that we really did try to send a card!</p>
<div id="attachment_561" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/stamp-cartagena.jpg"><img aria-describedby="caption-attachment-561" decoding="async" loading="lazy" class="size-full wp-image-561 " src="/wp-content/uploads/2010/03/stamp-cartagena.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/stamp-cartagena.jpg 657w, /wp-content/uploads/2010/03/stamp-cartagena-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-561" class="wp-caption-text">Stamp and proof of stamp</p></div>
<p>In the evening we visited <a href="http://es.wikipedia.org/wiki/Castillo_San_Felipe_de_Barajas" target="_blank" rel="noopener">San Felipe Fort</a> just outside the city walls.  We turned up at sunset just as it was closing but miraculously the guards decided it wasn&#8217;t quite ready for closing once we&#8217;d paid them directly.  We had the entire fort all to ourselves and got some great views of the city at sunset.</p>
<div id="attachment_562" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/san-felipe-fort.jpg"><img aria-describedby="caption-attachment-562" decoding="async" loading="lazy" class="size-full wp-image-562 " src="/wp-content/uploads/2010/03/san-felipe-fort.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/san-felipe-fort.jpg 657w, /wp-content/uploads/2010/03/san-felipe-fort-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-562" class="wp-caption-text">San Felipe Fort</p></div>
<div id="attachment_563" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/boca-grande-from-san-felipe.jpg"><img aria-describedby="caption-attachment-563" decoding="async" loading="lazy" class="size-full wp-image-563 " src="/wp-content/uploads/2010/03/boca-grande-from-san-felipe.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/boca-grande-from-san-felipe.jpg 657w, /wp-content/uploads/2010/03/boca-grande-from-san-felipe-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-563" class="wp-caption-text">Boca Grande from a distance</p></div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/03/10/adios-gafas-bye-bye-glasses/feed/</wfw:commentRss>
			<slash:comments>5</slash:comments>
		
		
			</item>
		<item>
		<title>Mission Impossible</title>
		<link>/2010/03/09/mission-impossible/</link>
					<comments>/2010/03/09/mission-impossible/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Tue, 09 Mar 2010 21:45:58 +0000</pubDate>
				<category><![CDATA[Colombia]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=537</guid>

					<description><![CDATA[Day 50.  Last night it rained cats and dogs.  A tropical storm hit Cartagena and flooded the roads.  Our teacher arrived late because the transport had come to a standstill.  It&#8217;s good to know that it&#8217;s not just the UK which comes to a halt when the weather changes. After class we tried to find [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 50.  Last night it rained cats and dogs.  A tropical storm hit Cartagena and flooded the roads.  Our teacher arrived late because the transport had come to a standstill.  It&#8217;s good to know that it&#8217;s not just the UK which comes to a halt when the weather changes.</p>
<p>After class we tried to find a launderette.  We were convinced that the laundry was expensive at our casa (it seemed expensive for the three items of clothing we possess between us) so we went in search of a cheaper option.  This wasn&#8217;t as easy as it sounds.  We stopped to ask directions every 100m or so, and although we found a dry cleaners, we wandered for the best part of two hours through a maze of backstreet markets looking for a common or garden launderette.  We eventually found the tourist trap laundry only to find that it charged more than our casa!  Annie was not happy with all this walking.  Even though we&#8217;d left when it was cool, the rain had cleared the air so that the sun was bright and strong such that both Annie and her nylon top started to melt.  Our clothing is being washed back at the casa as we write.</p>
<p>Restaurants here are either cheap or expensive with not much in between.  We decided to go upmarket for lunch today because we felt we&#8217;d eaten enough chicken and rice for the time being.  Annie ordered the Hawaiian Special and ended up with chicken and rice with ham and pineapple.  We might go back to the cheaper option tomorrow!</p>
<p>Safe has been on the lookout for Michael Douglas in Romancing the Stone since he got here.  We think we&#8217;re getting close at this emerald jewellers:</p>
<div id="attachment_535" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/romance-in-the-stone.jpg"><img aria-describedby="caption-attachment-535" decoding="async" loading="lazy" class="size-full wp-image-535 " title="romance-in-the-stone" src="/wp-content/uploads/2010/03/romance-in-the-stone.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/romance-in-the-stone.jpg 657w, /wp-content/uploads/2010/03/romance-in-the-stone-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-535" class="wp-caption-text">Emerald Jeweller</p></div>
<p>On the way home from our evening jaunt, we checked out the main park, Parque Centenario, and found a girls speed roller-blading team practising in a purpose-built outdoor venue.  They must have been going pretty fast because our camera struggled to keep with them.  We tried to take a picture of the girls racing towards us but all we got was a picture of some ghostly bums!</p>
<div id="attachment_556" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/roller-blade.jpg"><img aria-describedby="caption-attachment-556" decoding="async" loading="lazy" class="size-full wp-image-556 " src="/wp-content/uploads/2010/03/roller-blade.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/roller-blade.jpg 657w, /wp-content/uploads/2010/03/roller-blade-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-556" class="wp-caption-text">Faster than the speed of light!</p></div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/03/09/mission-impossible/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
	</channel>
</rss>
