<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Queenstown	</title>
	<atom:link href="http://localhost/2010/03/29/queenstown/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/03/29/queenstown/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Sun, 11 Apr 2010 01:59:34 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Annie &#38; Safe		</title>
		<link>/2010/03/29/queenstown/#comment-95</link>

		<dc:creator><![CDATA[Annie &#38; Safe]]></dc:creator>
		<pubDate>Sun, 11 Apr 2010 01:59:34 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=736#comment-95</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/03/29/queenstown/#comment-93&quot;&gt;Aseema misra&lt;/a&gt;.

Yeah 
It is strange being back in the Western World.  It took us a while to adjust to being in a country where they speak English. It&#039;s a surprise when we can understand what is going on!]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/03/29/queenstown/#comment-93">Aseema misra</a>.</p>
<p>Yeah<br />
It is strange being back in the Western World.  It took us a while to adjust to being in a country where they speak English. It&#8217;s a surprise when we can understand what is going on!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Annie &#38; Safe		</title>
		<link>/2010/03/29/queenstown/#comment-94</link>

		<dc:creator><![CDATA[Annie &#38; Safe]]></dc:creator>
		<pubDate>Sun, 11 Apr 2010 01:54:55 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=736#comment-94</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/03/29/queenstown/#comment-92&quot;&gt;BODAD&lt;/a&gt;.

It was really wet but we had a great day.  We just needed a big plastic mac and then we would have been fine!]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/03/29/queenstown/#comment-92">BODAD</a>.</p>
<p>It was really wet but we had a great day.  We just needed a big plastic mac and then we would have been fine!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Aseema misra		</title>
		<link>/2010/03/29/queenstown/#comment-93</link>

		<dc:creator><![CDATA[Aseema misra]]></dc:creator>
		<pubDate>Fri, 09 Apr 2010 20:11:07 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=736#comment-93</guid>

					<description><![CDATA[Hi, really enjoying the tour of  new Zealand so far. Seems calmer and more relaxed. And the food must be less exotic, right?]]></description>
			<content:encoded><![CDATA[<p>Hi, really enjoying the tour of  new Zealand so far. Seems calmer and more relaxed. And the food must be less exotic, right?</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: BODAD		</title>
		<link>/2010/03/29/queenstown/#comment-92</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Fri, 09 Apr 2010 16:12:55 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=736#comment-92</guid>

					<description><![CDATA[Snap!  Aunty Audrey and I spent 2 days in Queenstown and also went thro&#039; the amazing tunnel and waterfall zone to get to Milford Sound for a wee voyage....really enjoyable.  A.A has had sciatica for 3 weeks. Now a little better after acupuncture.  Cheers!  A &#038; B]]></description>
			<content:encoded><![CDATA[<p>Snap!  Aunty Audrey and I spent 2 days in Queenstown and also went thro&#8217; the amazing tunnel and waterfall zone to get to Milford Sound for a wee voyage&#8230;.really enjoyable.  A.A has had sciatica for 3 weeks. Now a little better after acupuncture.  Cheers!  A &amp; B</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
