<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>refried beans &#8211; Annie &amp; Safe Go West</title>
	<atom:link href="http://localhost/tag/refried-beans/feed/" rel="self" type="application/rss+xml" />
	<link></link>
	<description>The Grand Tour</description>
	<lastBuildDate>Tue, 19 Jan 2010 02:58:30 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>Kick-Off</title>
		<link>/2010/01/19/kick-off/</link>
					<comments>/2010/01/19/kick-off/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Tue, 19 Jan 2010 02:58:30 +0000</pubDate>
				<category><![CDATA[Mexico]]></category>
		<category><![CDATA[refried beans]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=59</guid>

					<description><![CDATA[Day 1.  We had a long leisurely lie in till 6am.  And breakfast was fun!  Along with our spicy huevos rancheros with a generous helping of refried beans, we had a side order of American missionary who encouraged us to take Jesus with us in our hearts.  We weren&#8217;t sure if this was for the [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 1.  We had a long leisurely lie in till 6am.  And breakfast was fun!  Along with our spicy huevos rancheros with a generous helping of refried beans, we had a side order of American missionary who encouraged us to take Jesus with us in our hearts.  We weren&#8217;t sure if this was for the rest of our holiday or just for breakfast.  We appreciated the sentiment and wished him the same but decided that we would travel light.</p>
<p>We headed out into the city for the bosques (parks) and museos (urm &#8230; museums) and spent the morning and some of the afternoon looking at our first &#8220;piles of old rocks&#8221; (as Dave calls them).  The Museum of History which sits on top of a hill is extremely swanky and has the most amazing views over the entire city.</p>
<div id="attachment_60" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/01/view_from_museum_of_history.jpg"><img aria-describedby="caption-attachment-60" decoding="async" class="size-full wp-image-60" title="My, what a view!" src="/wp-content/uploads/2010/01/view_from_museum_of_history.jpg" alt="My, what a view!" width="365" height="274" srcset="/wp-content/uploads/2010/01/view_from_museum_of_history.jpg 365w, /wp-content/uploads/2010/01/view_from_museum_of_history-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-60" class="wp-caption-text">View from Museum of History</p></div>
<p>The Museum of Contemporary Art was full of &#8220;unmade&#8221; broken doors and &#8220;unmade&#8221; car tyres, but that&#8217;s to be expected.  The Museum of Anthropology was stunning but we were flailing slightly, so after having taken the best photo of the holiday yet with Safe in his Quetzal headdress, we scoffed our first street nacho served with a bed of frijoles (refried beans) and spicy salsa and took the rest of the afternoon off to have lunch, drink Coronas and soak up some Latino atmosphere.</p>
<div id="attachment_851" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/01/moctezuma.jpg"><img aria-describedby="caption-attachment-851" decoding="async" loading="lazy" class="size-full wp-image-851 " src="/wp-content/uploads/2010/01/moctezuma.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/01/moctezuma.jpg 657w, /wp-content/uploads/2010/01/moctezuma-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-851" class="wp-caption-text">The quetzal headdress of Moctezuma</p></div>
<div id="attachment_63" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/01/nacho1.jpg"><img aria-describedby="caption-attachment-63" decoding="async" loading="lazy" class="size-full wp-image-63" title="Nacho Libre" src="/wp-content/uploads/2010/01/nacho1.jpg" alt="Nacho Libre" width="365" height="274" srcset="/wp-content/uploads/2010/01/nacho1.jpg 365w, /wp-content/uploads/2010/01/nacho1-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-63" class="wp-caption-text">Nacho ... with refried beans</p></div>
<p>On the way home in the dark, we were accosted by a man with a moustache crawling on his hands and knees in the street.  By day he cuts hair at the Sheraton Hotel.  By night he has a fetish for touching shoes.  Annie&#8217;s manky hiking boots must have really taken his fancy.  Regardless of any protest on our part, he proceeded to buff and fluff them to within an inch of their life.  They weren&#8217;t this shiny out of the box!</p>
<div id="attachment_75" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/01/shoes.jpg"><img aria-describedby="caption-attachment-75" decoding="async" loading="lazy" class="size-full wp-image-75" title="Buffed and fluffed" src="/wp-content/uploads/2010/01/shoes.jpg" alt="Buffed and fluffed" width="365" height="274" srcset="/wp-content/uploads/2010/01/shoes.jpg 365w, /wp-content/uploads/2010/01/shoes-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-75" class="wp-caption-text">Shiny shoes</p></div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/01/19/kick-off/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>Bye-bye Manc</title>
		<link>/2010/01/17/bye-bye-manc/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sun, 17 Jan 2010 23:49:53 +0000</pubDate>
				<category><![CDATA[UK]]></category>
		<category><![CDATA[refried beans]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=42</guid>

					<description><![CDATA[We left &#8220;63&#8221; and Aunty Audrey waved us off.  For those who aren&#8217;t in the know, Aunty Audrey is Annie&#8217;s Mum (and many other people&#8217;s Mum for that matter). Arrived down South to a champagne send-off courtesy of the Armstrongery complete with a compulsory Sunday dinner with a perfectly cooked uber-helping of roast beef.  It [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>We left &#8220;63&#8221; and Aunty Audrey waved us off.  For those who aren&#8217;t in the know, Aunty Audrey is Annie&#8217;s Mum (and many other people&#8217;s Mum for that matter).</p>
<div id="attachment_51" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/01/audrey_wave-1.jpg"><img aria-describedby="caption-attachment-51" decoding="async" loading="lazy" class="size-full wp-image-51" title="Bye bye!" src="/wp-content/uploads/2010/01/audrey_wave-1.jpg" alt="Bye bye!" width="365" height="274" srcset="/wp-content/uploads/2010/01/audrey_wave-1.jpg 365w, /wp-content/uploads/2010/01/audrey_wave-1-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-51" class="wp-caption-text">Aunty Audrey waves us off</p></div>
<p>Arrived down South to a champagne send-off courtesy of the Armstrongery complete with a compulsory Sunday dinner with a perfectly cooked uber-helping of roast beef.  It turns out that the copious quantity of meat we were happily subjected to was no coincidence.  Dave warned us that we would be eating nothing but refried beans for the next 35 days so we feasted on a &#8220;last supper&#8221; of red meat, roasted, not fried &#8230; and cooked only once.</p>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
