<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Peruvian Kitchen	</title>
	<atom:link href="http://localhost/2010/03/21/peruvian-kitchen/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/03/21/peruvian-kitchen/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Fri, 26 Mar 2010 18:47:22 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Didi Hammad		</title>
		<link>/2010/03/21/peruvian-kitchen/#comment-86</link>

		<dc:creator><![CDATA[Didi Hammad]]></dc:creator>
		<pubDate>Fri, 26 Mar 2010 18:47:22 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=672#comment-86</guid>

					<description><![CDATA[Mr. and Mrs (Ph. Fogg..!!) Hammad

We were waiting to receive your impressions from the land of the &quot;Samba&quot; after you left central America. When we knew you were in Peru we thought we will hear about the land of &quot;Tango&quot;.. but suddenly we discover you have landed in New Zeeland !! Never mind perhaps you are saving Brazil for another day, and can assure you I will not cry for Argentina..!!! The PHOTOS once again are magic fit for a Grand Album..!! 
Best Wishes
  
Zak]]></description>
			<content:encoded><![CDATA[<p>Mr. and Mrs (Ph. Fogg..!!) Hammad</p>
<p>We were waiting to receive your impressions from the land of the &#8220;Samba&#8221; after you left central America. When we knew you were in Peru we thought we will hear about the land of &#8220;Tango&#8221;.. but suddenly we discover you have landed in New Zeeland !! Never mind perhaps you are saving Brazil for another day, and can assure you I will not cry for Argentina..!!! The PHOTOS once again are magic fit for a Grand Album..!!<br />
Best Wishes</p>
<p>Zak</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: James D		</title>
		<link>/2010/03/21/peruvian-kitchen/#comment-85</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Fri, 26 Mar 2010 13:46:50 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=672#comment-85</guid>

					<description><![CDATA[Interesting cucumber - if you bring any seeds of anything back I&#039;ll try to cultivate - especially chilis!]]></description>
			<content:encoded><![CDATA[<p>Interesting cucumber &#8211; if you bring any seeds of anything back I&#8217;ll try to cultivate &#8211; especially chilis!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
