<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Guatemala &#8211; Annie &amp; Safe Go West</title>
	<atom:link href="http://localhost/category/guatemala/feed/" rel="self" type="application/rss+xml" />
	<link></link>
	<description>The Grand Tour</description>
	<lastBuildDate>Sat, 13 Feb 2010 20:13:05 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>Marlboro Man</title>
		<link>/2010/02/13/marlboro-man/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sat, 13 Feb 2010 20:13:05 +0000</pubDate>
				<category><![CDATA[Guatemala]]></category>
		<category><![CDATA[Honduras]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=314</guid>

					<description><![CDATA[Day 26.  An uneventful border crossing took us from Guatemala into Honduras.  We arrived in Copan where half the men look like they&#8217;ve stepped out of an advert for Marlboro, complete with signature hat, cowboy boots, 2ft long machete, and some with (un)discretely hidden firearms. The town looks like it belongs in a film set [&#8230;]]]></description>
										<content:encoded><![CDATA[<div id="_mcePaste">Day 26.  An uneventful border crossing took us from Guatemala into Honduras.  We arrived in Copan where half the men look like they&#8217;ve stepped out of an advert for Marlboro, complete with signature hat, cowboy boots, 2ft long machete, and some with (un)discretely hidden firearms.</div>
<div></div>
<div>The town looks like it belongs in a film set with a main square where everything happens and everyone hangs out.  Dusty roads leading away from it into the hills.  From time to time a motorcade of fancy American pickups with tinted widows and &#8220;muscle&#8221; sitting in the back escorts the Head Honcho in and out of town.  Young men stand alone on street corners &#8220;minding their own business&#8221;.  Occasionally one of them would kindly enquire whether we wanted a soft drink &#8230; unfortunately they only seemed to sell Coke.</div>
<div>
<div id="attachment_315" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/marlboro-man.jpg"><img aria-describedby="caption-attachment-315" decoding="async" class="size-full wp-image-315" src="/wp-content/uploads/2010/02/marlboro-man.jpg" alt="" width="365" height="274" srcset="/wp-content/uploads/2010/02/marlboro-man.jpg 365w, /wp-content/uploads/2010/02/marlboro-man-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-315" class="wp-caption-text">Hoduran Marlboro Man </p></div>
<div id="attachment_316" style="width: 284px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/marlboro-man-2.jpg"><img aria-describedby="caption-attachment-316" decoding="async" loading="lazy" class="size-full wp-image-316" src="/wp-content/uploads/2010/02/marlboro-man-2.jpg" alt="" width="274" height="365" srcset="/wp-content/uploads/2010/02/marlboro-man-2.jpg 274w, /wp-content/uploads/2010/02/marlboro-man-2-225x300.jpg 225w" sizes="(max-width: 274px) 100vw, 274px" /></a><p id="caption-attachment-316" class="wp-caption-text">Another Hoduran Marlboro Man</p></div>
<div id="attachment_317" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/marlboro-men.jpg"><img aria-describedby="caption-attachment-317" decoding="async" loading="lazy" class="size-full wp-image-317" src="/wp-content/uploads/2010/02/marlboro-men.jpg" alt="" width="365" height="274" srcset="/wp-content/uploads/2010/02/marlboro-men.jpg 365w, /wp-content/uploads/2010/02/marlboro-men-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-317" class="wp-caption-text">More Hoduran Marlboro Men</p></div>
<div id="attachment_318" style="width: 335px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/the-real-marlboro-man.jpg"><img aria-describedby="caption-attachment-318" decoding="async" loading="lazy" class="size-full wp-image-318" src="/wp-content/uploads/2010/02/the-real-marlboro-man.jpg" alt="" width="325" height="439" srcset="/wp-content/uploads/2010/02/the-real-marlboro-man.jpg 325w, /wp-content/uploads/2010/02/the-real-marlboro-man-222x300.jpg 222w" sizes="(max-width: 325px) 100vw, 325px" /></a><p id="caption-attachment-318" class="wp-caption-text">The Real McCoy</p></div>
<p>In the late afternoon we were driven by &#8220;Eric&#8221; to the local Aguas Calientes (hot springs) for a relaxing and therapeutic soak in the hot sulphurus water, the perfect remedy for a tiring volcano hike.</p>
<div id="attachment_355" style="width: 437px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/aguas-calientes-copan.jpg"><img aria-describedby="caption-attachment-355" decoding="async" loading="lazy" class="size-full wp-image-355" title="Stinky!" src="/wp-content/uploads/2010/02/aguas-calientes-copan.jpg" alt="" width="427" height="285" srcset="/wp-content/uploads/2010/02/aguas-calientes-copan.jpg 427w, /wp-content/uploads/2010/02/aguas-calientes-copan-300x200.jpg 300w" sizes="(max-width: 427px) 100vw, 427px" /></a><p id="caption-attachment-355" class="wp-caption-text">Stinky steamy sulphurous Safe!</p></div>
<p>We came back in time for a fiesta.  The square was lined with people having impromptu barbeques.  Our evening&#8217;s meal was barbequed meat in tortillas served in a plastic basket followed by a local drink known as &#8220;Ponche&#8221;, piping hot milk with a drop of some sort of alcohol topped with some herbs and cinnamon.  Safe asked what alcohol went into the drink &#8230; the helpful reply was simply &#8220;alcohol&#8221; as though the details were irrelevant.</p>
<div id="attachment_329" style="width: 410px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/bbq-copan.jpg"><img aria-describedby="caption-attachment-329" decoding="async" loading="lazy" class="size-full wp-image-329" title="Even the tortillas are barbequed!" src="/wp-content/uploads/2010/02/bbq-copan.jpg" alt="" width="400" height="300" srcset="/wp-content/uploads/2010/02/bbq-copan.jpg 400w, /wp-content/uploads/2010/02/bbq-copan-300x225.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></a><p id="caption-attachment-329" class="wp-caption-text">BBQ in Copan</p></div>
<div id="attachment_330" style="width: 410px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/ponche.jpg"><img aria-describedby="caption-attachment-330" decoding="async" loading="lazy" class="size-full wp-image-330" title="Strong stuff" src="/wp-content/uploads/2010/02/ponche.jpg" alt="" width="400" height="300" srcset="/wp-content/uploads/2010/02/ponche.jpg 400w, /wp-content/uploads/2010/02/ponche-300x225.jpg 300w" sizes="(max-width: 400px) 100vw, 400px" /></a><p id="caption-attachment-330" class="wp-caption-text">Ponche - Honduras&#39; answer to Horlicks</p></div>
</div>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Coffee, Chocolate and Jade</title>
		<link>/2010/02/12/coffee-chocolate-and-jade/</link>
					<comments>/2010/02/12/coffee-chocolate-and-jade/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Fri, 12 Feb 2010 19:10:12 +0000</pubDate>
				<category><![CDATA[Guatemala]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=303</guid>

					<description><![CDATA[Day 25.  Kaffee Fernando&#8217;s speciality is an own recipe white chocolate.  Ordinary white chocolate contains no cocoa solids and consists only of cocoa butter, milk powder and sugar (and is derided by true chocolate enthusiasts) whereas Fernando&#8217;s white chocolate uses &#8220;white cocoa solids&#8221; to give it a chocolatey taste.  Fab!  In addition, the cocoa beans [&#8230;]]]></description>
										<content:encoded><![CDATA[<div id="_mcePaste">Day 25.  Kaffee Fernando&#8217;s speciality is an own recipe white chocolate.  Ordinary white chocolate contains no cocoa solids and consists only of cocoa butter, milk powder and sugar (and is derided by true chocolate enthusiasts) whereas Fernando&#8217;s white chocolate uses &#8220;white cocoa solids&#8221; to give it a chocolatey taste.  Fab!  In addition, the cocoa beans they use aren&#8217;t bitter (apparently only 2% of the world&#8217;s production is not bitter) and can be eaten raw and unroasted and are a great antioxidant.  However be warned &#8230; a couple of beans sent us flying out of the coffee shop!</div>
<div id="attachment_305" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/cocao-beans-fernando.jpg"><img aria-describedby="caption-attachment-305" decoding="async" loading="lazy" class="size-full wp-image-305" title="Chocoholics' Anonymous" src="/wp-content/uploads/2010/02/cocao-beans-fernando.jpg" alt="" width="365" height="274" srcset="/wp-content/uploads/2010/02/cocao-beans-fernando.jpg 365w, /wp-content/uploads/2010/02/cocao-beans-fernando-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-305" class="wp-caption-text">Beans means chocolate</p></div>
<div id="attachment_306" style="width: 420px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/fernando-antigua1.jpg"><img aria-describedby="caption-attachment-306" decoding="async" loading="lazy" class="size-full wp-image-306" title="I love my chocolate!" src="/wp-content/uploads/2010/02/fernando-antigua1.jpg" alt="" width="410" height="307" srcset="/wp-content/uploads/2010/02/fernando-antigua1.jpg 410w, /wp-content/uploads/2010/02/fernando-antigua1-300x225.jpg 300w" sizes="(max-width: 410px) 100vw, 410px" /></a><p id="caption-attachment-306" class="wp-caption-text">Fernando, the man himself</p></div>
<p>The local markets are famous for embroidery, handicrafts and Jade.  We were struggling to find any embroidery to buy because they were a bit too heavy to carry and the colours a bit loud for modern furnishings in the UK, and then by chance, we came across a lady selling magnets.  Safe was instantly mesmerised and swapped a couple for some pretzels.  We were amused to find around the corner that every male tourist had also bought the same magnets and hadn&#8217;t managed to purchase any local embroidery either.  It was a male magnetic bonding moment!  We did manage to purchase a jade necklace after some heavy bartering.  The seller&#8217;s wife wore an &#8220;antique Mayan artifact&#8221; jade necklace for which he wanted 800 US Dollars (you know you&#8217;re in trouble when a price is quoted in US Dollars)!  We decided to go for a more recently manufactured article for a fraction of the price (quoted in Guatemalan Pretzels).  You can see the ancient relic around the vendor&#8217;s neck in the photo.</p>
<div>
<div id="attachment_307" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/jade.jpg"><img aria-describedby="caption-attachment-307" decoding="async" loading="lazy" class="size-full wp-image-307" src="/wp-content/uploads/2010/02/jade.jpg" alt="" width="365" height="274" srcset="/wp-content/uploads/2010/02/jade.jpg 365w, /wp-content/uploads/2010/02/jade-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-307" class="wp-caption-text">Jade seller</p></div>
<div><strong><em>Camera Experiment (continued &#8230;)</em></strong></div>
</div>
<div>
<div><strong>Objective:</strong> To assess the effects of salt water on a digital camera.</div>
<div><strong>Design:</strong> Throw camera into the sea in Belize.</div>
<div><strong>Method:</strong> Wash camera in fresh water then dry out for four days using silica gel and rice.  Switch camera on.</div>
<div><strong>Results:</strong></div>
<div>
<ul>
<li>Photos were intact on the the SD card, but only after it eventually dried out.</li>
<li>The camera can be switched on and makes a brave attempt to take photos, but our expert assessment is that the camera is knackered!</li>
</ul>
</div>
<div><strong>Conclusion: </strong> Camera and salt water don&#8217;t mix.  Replacement bought from a shop in the main square in Antigua!</div>
</div>
<div>
<dl id="attachment_308" class="wp-caption alignnone" style="width: 375px;">
<dt class="wp-caption-dt"><a href="/wp-content/uploads/2010/02/dodgy-camera.jpg"><img decoding="async" loading="lazy" class="size-full wp-image-308" title="Is that you, Annie?" src="/wp-content/uploads/2010/02/dodgy-camera.jpg" alt="" width="365" height="274" srcset="/wp-content/uploads/2010/02/dodgy-camera.jpg 365w, /wp-content/uploads/2010/02/dodgy-camera-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a></dt>
<dd class="wp-caption-dd">Picture taken by salted camera</dd>
</dl>
</div>
<div>Tonight we said goodbye to Willy, our team mascot.  At just short of 70 years, he might have been the oldest member of our group, but certainly was the youngest at heart.  We will remember him fondly for giving his money and food away to stray children and dogs, and for keeping an eye out for all of us.  He was a pleasure to travel with and we shall miss him!  We wish him well for the future.  Wrap up warm in Antwerp, Willy!</div>
<div>
<div id="attachment_309" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/farewell-willy.jpg"><img aria-describedby="caption-attachment-309" decoding="async" loading="lazy" class="size-full wp-image-309" title="You can kiss me for a smorfee" src="/wp-content/uploads/2010/02/farewell-willy.jpg" alt="" width="365" height="274" srcset="/wp-content/uploads/2010/02/farewell-willy.jpg 365w, /wp-content/uploads/2010/02/farewell-willy-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-309" class="wp-caption-text">Willy (who was definitely not drunk)</p></div>
</div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/02/12/coffee-chocolate-and-jade/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>Volcano!</title>
		<link>/2010/02/11/volcano/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Thu, 11 Feb 2010 19:07:26 +0000</pubDate>
				<category><![CDATA[Guatemala]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=301</guid>

					<description><![CDATA[Day 24.  Antigua, Guatemala! Factoid:  Antigua is an old colonial town with cobbled streets surrounded by active volcanoes.  It has a plethora of cafe&#8217;s and restaurants serving fantastic coffee and chocolate. This afternoon&#8217;s excursion was a hike up Volcan Pacaya to see rivers of molten rock, to roast bananas on molten rock, and to melt [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 24.  Antigua, Guatemala!</p>
<blockquote><p>Factoid:  Antigua is an old colonial town with cobbled streets surrounded by active volcanoes.  It has a plethora of cafe&#8217;s and restaurants serving fantastic coffee and chocolate.</p></blockquote>
<p>This afternoon&#8217;s excursion was a hike up Volcan Pacaya to see rivers of molten rock, to roast bananas on molten rock, and to melt the soles of our shoes on molten rock.  Unfortunately our bus on the way to the volcano had a blow out.  We initially thought that banditos were shooting at us, however the hour&#8217;s stop to change a tyre was a giveaway.  After a total delay of two hours we finally arrived at the volcano and reached the lava flows just as the sun was setting.  It was great to see the bright red lava at night under the stars, but walking downhill on the cooled pumice lava flows whilst dodging the fire pits in the pitch black was &#8230; urm &#8230; entertaining.</p>
<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="425" height="344" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="src" value="https://www.youtube.com/v/fJbp8JZaNkI&amp;hl=en&amp;fs=1" /><param name="allowfullscreen" value="true" /><embed type="application/x-shockwave-flash" width="425" height="344" src="https://www.youtube.com/v/fJbp8JZaNkI&amp;hl=en&amp;fs=1" allowscriptaccess="always" allowfullscreen="true"></embed></object></p>
<p>By the way, here are some further items lent to us by Jodie:</p>
<ul>
<li>Mexican Pesos</li>
<li>American Dollars</li>
<li>Paw-paw cream for Annie&#8217;s finger</li>
<li>A torch to light our way down the volcano</li>
</ul>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Isle of Kevin</title>
		<link>/2010/02/10/isle-of-kevin/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Wed, 10 Feb 2010 18:56:45 +0000</pubDate>
				<category><![CDATA[Guatemala]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=296</guid>

					<description><![CDATA[Day 23. We left the island of Flores all too soon to spend a long ride in a minibus. Our driver wanted to put our bags on the roof in the pouring rain (they get 2000mm per year here) so we decided to sit on our bags instead. By the time our bums were well [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 23.  We left the island of Flores all too soon to spend a long ride in a minibus.  Our driver wanted to put our bags on the roof in the pouring rain (they get 2000mm per year here) so we decided to sit on our bags instead.  By the time our bums were well and truly numb, we reached Rio Dulce where we were met by a smiley-faced Hidalgo who took us by speed boat to &#8220;Kevin Island&#8221;.  (We wondered if there was an Isle of Annie round the corner &#8230;)</p>
<blockquote><p>Factoid: Kevin Island (more usually known as Catamaran Island) is a small lump of rock in the middle of the lake containing one hotel bought and run by an American called Kevin. The island has its own currency called Kevin Dollars which is the only currency accepted when buying drinks at the bar.</p></blockquote>
<div id="attachment_297" style="width: 420px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/kevin-island.jpg"><img aria-describedby="caption-attachment-297" decoding="async" loading="lazy" class="size-full wp-image-297" title="Do you have to be called Kevin to stay here?" src="/wp-content/uploads/2010/02/kevin-island.jpg" alt="" width="410" height="307" srcset="/wp-content/uploads/2010/02/kevin-island.jpg 410w, /wp-content/uploads/2010/02/kevin-island-300x225.jpg 300w" sizes="(max-width: 410px) 100vw, 410px" /></a><p id="caption-attachment-297" class="wp-caption-text">Kevin Island</p></div>
<p>A group of us hired the services of Hidalgo to take us on a tour of the beautiful Rio Dulce down to the isolated Caribbean town of Livingston.  We had already set a precendent for drinking rum and coke on boat trips so we picked up some 8 year old aged Guatemalan rum (and some American Coke) from the supermercado on the way to Rio Dulce.  As it happens, we found a few other interesting products for sale at the supermercado:</p>
<div id="attachment_298" style="width: 467px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/supermercado-flores.jpg"><img aria-describedby="caption-attachment-298" decoding="async" loading="lazy" class="size-full wp-image-298" title="It's good to clean your colon before delivery" src="/wp-content/uploads/2010/02/supermercado-flores.jpg" alt="" width="457" height="308" srcset="/wp-content/uploads/2010/02/supermercado-flores.jpg 457w, /wp-content/uploads/2010/02/supermercado-flores-300x202.jpg 300w" sizes="(max-width: 457px) 100vw, 457px" /></a><p id="caption-attachment-298" class="wp-caption-text">This supermarket will home deliver your placenta</p></div>
<p>The trip to Livingston was as interesting as Livingston itself, a one hour trip through mostly uninhabited rainforest with a few wooden huts at the river&#8217;s edge where the only mode of transport was a dugout canoe.  We passed plenty of wildlife on the small islets en route.  (We&#8217;re still not sure how the iguanas got onto these islets and whether they&#8217;ll ever leave).  It was idyllic and would be an amazing tourist destination if marketed properly.  Livingston has a good fish restaurant which, like the inhabitants of the town, has a mix of Latino and Black Caribbean cultures.</p>
<div id="attachment_353" style="width: 437px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/girl-in-boat-rio-dulce.jpg"><img aria-describedby="caption-attachment-353" decoding="async" loading="lazy" class="size-full wp-image-353" src="/wp-content/uploads/2010/02/girl-in-boat-rio-dulce.jpg" alt="" width="427" height="285" srcset="/wp-content/uploads/2010/02/girl-in-boat-rio-dulce.jpg 427w, /wp-content/uploads/2010/02/girl-in-boat-rio-dulce-300x200.jpg 300w" sizes="(max-width: 427px) 100vw, 427px" /></a><p id="caption-attachment-353" class="wp-caption-text">Girl in a boat on the way to Livingston</p></div>
<div id="attachment_352" style="width: 437px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/pelicans-rio-dulce.jpg"><img aria-describedby="caption-attachment-352" decoding="async" loading="lazy" class="size-full wp-image-352" title="Smellicans!" src="/wp-content/uploads/2010/02/pelicans-rio-dulce.jpg" alt="" width="427" height="285" srcset="/wp-content/uploads/2010/02/pelicans-rio-dulce.jpg 427w, /wp-content/uploads/2010/02/pelicans-rio-dulce-300x200.jpg 300w" sizes="(max-width: 427px) 100vw, 427px" /></a><p id="caption-attachment-352" class="wp-caption-text">Pelicans at Livingston</p></div>
<div id="_mcePaste">Back to Kevin island to spend some Kevin dollars on Kevin drinks and a bit of Kevin black bean soup for tea.</div>
<div>
<div id="attachment_335" style="width: 437px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/kevin-dollar.jpg"><img aria-describedby="caption-attachment-335" decoding="async" loading="lazy" class="size-full wp-image-335" src="/wp-content/uploads/2010/02/kevin-dollar.jpg" alt="" width="427" height="285" srcset="/wp-content/uploads/2010/02/kevin-dollar.jpg 427w, /wp-content/uploads/2010/02/kevin-dollar-300x200.jpg 300w" sizes="(max-width: 427px) 100vw, 427px" /></a><p id="caption-attachment-335" class="wp-caption-text">Kevin Dollar</p></div>
</div>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>May The Force Be With You, Mr Tickle</title>
		<link>/2010/02/09/may-the-force-be-with-you-mr-tickle/</link>
					<comments>/2010/02/09/may-the-force-be-with-you-mr-tickle/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Tue, 09 Feb 2010 22:07:13 +0000</pubDate>
				<category><![CDATA[Belize]]></category>
		<category><![CDATA[Guatemala]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=281</guid>

					<description><![CDATA[Day 22. Another day, another country, with a pre 6am start. We reached the border with Guatemala and walked the 50 metres of No Man&#8217;s Land to meet Hugo, our new driver. No Man&#8217;s Land is inhabited by hoards of money changers eager to give you a outrageous exchange rate for your spare Belizean Dollars. [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 22.  Another day, another country, with a pre 6am start.  We reached the border with Guatemala and walked the 50 metres of No Man&#8217;s Land to meet Hugo, our new driver.  No Man&#8217;s Land is inhabited by hoards of money changers eager to give you a outrageous exchange rate for your spare Belizean Dollars.</p>
<blockquote><p>Factoid: The Guatemalan currency is called the Quetzal, which is named after the national bird, a tiny creature with unfeasibly long green tail feathers.  Quetzals were shamelessly slaughtered in their thousands to make Moctezuma&#8217;s famous head-dress as worn by Safe in the Anthropological Museum in Mexico City.  The Guatemalan Quetzal is affectionately and childishly known as the Guatemalan Pretzel &#8230; by us alone!</p></blockquote>
<p>Our bags were loaded onto the roof of our van after which some dodgy character smiled at us as he took pictures of the bags with his mobile phone.  Evil stares from us just encouraged him to take more pictures and smile even more.  We presume he was trying to find the highest price for our belongings at the standard tourist ambush spot down the road.  Thankfully, we&#8217;ve not been ambushed yet.  Perhaps he has yet to be offered enough pretzels.</p>
<p>The pile of old rocks at Tikal was our next port of call.  Our guide for the day was Miguel Antonio Marin Constanza (you&#8217;re nobody if you have less than four names in Central America).  After about an hour, we managed to stop giggling and tickling each other every time he said the word &#8220;Tikal&#8221;, and it turned out he was an ornithologist / monkey caller / all-round animal enthusiast.  We saw where the Ewoks used to live.  <a href="http://www.imdb.com/title/tt0086190/" target="_blank" rel="noopener">Return of the Jedi</a> was filmed here (the scenes in the jungle rather than on the Death Star &#8230; recognise it?).</p>
<div id="attachment_283" style="width: 382px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/ewoks-home1.jpg"><img aria-describedby="caption-attachment-283" decoding="async" loading="lazy" class="size-full wp-image-283" title="Where's Yoda?" src="/wp-content/uploads/2010/02/ewoks-home1.jpg" alt="" width="372" height="279" srcset="/wp-content/uploads/2010/02/ewoks-home1.jpg 372w, /wp-content/uploads/2010/02/ewoks-home1-300x225.jpg 300w" sizes="(max-width: 372px) 100vw, 372px" /></a><p id="caption-attachment-283" class="wp-caption-text">Ewoks live here</p></div>
<p>Then Migual got over-excited and made us stalk every little rustle in the bushes.  The animal shots look stolen, but we did take them &#8230; we used a particularly long zoom for the crocodile &#8230;</p>
<div id="attachment_284" style="width: 394px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/tikal-animals.jpg"><img aria-describedby="caption-attachment-284" decoding="async" loading="lazy" class="size-full wp-image-284" src="/wp-content/uploads/2010/02/tikal-animals.jpg" alt="" width="384" height="256" srcset="/wp-content/uploads/2010/02/tikal-animals.jpg 384w, /wp-content/uploads/2010/02/tikal-animals-300x200.jpg 300w" sizes="(max-width: 384px) 100vw, 384px" /></a><p id="caption-attachment-284" class="wp-caption-text">Some jungle creatures of Guatemala</p></div>
<div id="attachment_285" style="width: 470px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/tikal-animals-2.jpg"><img aria-describedby="caption-attachment-285" decoding="async" loading="lazy" class="size-full wp-image-285" src="/wp-content/uploads/2010/02/tikal-animals-2.jpg" alt="" width="460" height="315" srcset="/wp-content/uploads/2010/02/tikal-animals-2.jpg 460w, /wp-content/uploads/2010/02/tikal-animals-2-300x205.jpg 300w" sizes="(max-width: 460px) 100vw, 460px" /></a><p id="caption-attachment-285" class="wp-caption-text">Some more jungle creatures of Guatemala</p></div>
<p>We learnt several interesting factoids from our guide:</p>
<blockquote><p>Factoid: According to the Mayan calendar, on 21st December 2012 (Lizzy&#8217;s Birthday) we will be entering &#8220;<a href="http://www.2012planetalignment.net/tag/sixth-cycle-of-the-sun/" target="_blank" rel="noopener">The 6th Cycle of the Sun</a>&#8221; a galactic event that occurs every 5,125 years.  There have have been predictions of huge changes in global climate and even the end of the world.  These predictions inspired the film &#8220;2012&#8221; which we&#8217;re told is complete rubbish and not to be watched.</p></blockquote>
<blockquote><p>Factoid: It is believed that indigenous Meso-Americans came from the Far East via a land bridge over the Bering Strait around the time of the last ice age around 13,000 BC.  They share a genetically common heritage and are phenotypically similar to Far Easter populations.  They also share the &#8220;<a href="http://en.wikipedia.org/wiki/Mongolian_spot" target="_blank" rel="noopener">Mongolian Spot</a>&#8220;.</p></blockquote>
<p>As if we hadn&#8217;t travelled enough today, we took an hour&#8217;s journey to the star-island Flores where we ate freshly caught lake fish in the monsoon rain.</p>
<div id="attachment_286" style="width: 310px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/flores.jpg"><img aria-describedby="caption-attachment-286" decoding="async" loading="lazy" class="size-full wp-image-286" title="Flores" src="/wp-content/uploads/2010/02/flores.jpg" alt="" width="300" height="400" srcset="/wp-content/uploads/2010/02/flores.jpg 300w, /wp-content/uploads/2010/02/flores-225x300.jpg 225w" sizes="(max-width: 300px) 100vw, 300px" /></a><p id="caption-attachment-286" class="wp-caption-text">Flores</p></div>
<p>By the way, here&#8217;s another animal we saw at Tikal, this time a moth climbing up a tree.  We really liked the picture so here it is:</p>
<div id="attachment_345" style="width: 295px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/moth-tikal.jpg"><img aria-describedby="caption-attachment-345" decoding="async" loading="lazy" class="size-full wp-image-345" src="/wp-content/uploads/2010/02/moth-tikal.jpg" alt="" width="285" height="427" srcset="/wp-content/uploads/2010/02/moth-tikal.jpg 285w, /wp-content/uploads/2010/02/moth-tikal-200x300.jpg 200w" sizes="(max-width: 285px) 100vw, 285px" /></a><p id="caption-attachment-345" class="wp-caption-text">Moth</p></div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/02/09/may-the-force-be-with-you-mr-tickle/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
	</channel>
</rss>
