<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Tokyo	</title>
	<atom:link href="http://localhost/2010/04/06/tokyo/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/04/06/tokyo/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Mon, 12 Apr 2010 14:26:30 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: aseema misra		</title>
		<link>/2010/04/06/tokyo/#comment-96</link>

		<dc:creator><![CDATA[aseema misra]]></dc:creator>
		<pubDate>Mon, 12 Apr 2010 14:26:30 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=780#comment-96</guid>

					<description><![CDATA[wow! can&#039;t believe you&#039;re in tokyo! isn&#039;t it fabulous!!

have you spotted all the restaurants with plastic food yet?]]></description>
			<content:encoded><![CDATA[<p>wow! can&#8217;t believe you&#8217;re in tokyo! isn&#8217;t it fabulous!!</p>
<p>have you spotted all the restaurants with plastic food yet?</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
