<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Annie &amp; Safe Go West	</title>
	<atom:link href="http://localhost/comments/feed/" rel="self" type="application/rss+xml" />
	<link></link>
	<description>The Grand Tour</description>
	<lastBuildDate>Tue, 27 Apr 2010 20:36:00 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		Comment on We&#8217;re Back! by BODAD		</title>
		<link>/2010/04/22/were-back/#comment-113</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Tue, 27 Apr 2010 20:36:00 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=1001#comment-113</guid>

					<description><![CDATA[I got a good price for your car, Safe.  I know you&#039;ll enjoy cycling.
Agreat adventure and a fascinating diary of events, Many thanks!]]></description>
			<content:encoded><![CDATA[<p>I got a good price for your car, Safe.  I know you&#8217;ll enjoy cycling.<br />
Agreat adventure and a fascinating diary of events, Many thanks!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on We&#8217;re Back! by Dan		</title>
		<link>/2010/04/22/were-back/#comment-112</link>

		<dc:creator><![CDATA[Dan]]></dc:creator>
		<pubDate>Mon, 26 Apr 2010 19:44:35 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=1001#comment-112</guid>

					<description><![CDATA[It&#039;s good to have you both back. It all sounds amazing.]]></description>
			<content:encoded><![CDATA[<p>It&#8217;s good to have you both back. It all sounds amazing.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Forces Of Nature by Tony O'Donnell		</title>
		<link>/2010/04/18/forces-of-nature/#comment-110</link>

		<dc:creator><![CDATA[Tony O'Donnell]]></dc:creator>
		<pubDate>Fri, 23 Apr 2010 00:51:16 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=962#comment-110</guid>

					<description><![CDATA[Good luck with your travels back home... We&#039;ll now have to live vicariously through some other couple traveling the world!]]></description>
			<content:encoded><![CDATA[<p>Good luck with your travels back home&#8230; We&#8217;ll now have to live vicariously through some other couple traveling the world!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Forces Of Nature by James D		</title>
		<link>/2010/04/18/forces-of-nature/#comment-109</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Mon, 19 Apr 2010 19:40:58 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=962#comment-109</guid>

					<description><![CDATA[The Odyssey continues!
The Royal Navy are on standby to bring Brits home from Dunkirk....again.]]></description>
			<content:encoded><![CDATA[<p>The Odyssey continues!<br />
The Royal Navy are on standby to bring Brits home from Dunkirk&#8230;.again.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on The Perfect Blossom by James D		</title>
		<link>/2010/04/10/the-perfect-blossom/#comment-104</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Mon, 19 Apr 2010 19:37:59 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=862#comment-104</guid>

					<description><![CDATA[Love the sign and the hound. Pachinko is great fun. You should have a go at Mah Jong if you come across a parlor.]]></description>
			<content:encoded><![CDATA[<p>Love the sign and the hound. Pachinko is great fun. You should have a go at Mah Jong if you come across a parlor.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Hot Springs by James D		</title>
		<link>/2010/04/13/hot-springs/#comment-105</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Mon, 19 Apr 2010 19:34:55 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=911#comment-105</guid>

					<description><![CDATA[Delighted you found the Namezake!
I hope it lived up to expectations!]]></description>
			<content:encoded><![CDATA[<p>Delighted you found the Namezake!<br />
I hope it lived up to expectations!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Forces Of Nature by BODAD		</title>
		<link>/2010/04/18/forces-of-nature/#comment-108</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Mon, 19 Apr 2010 16:26:47 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=962#comment-108</guid>

					<description><![CDATA[&#039;Sorry we missed your &#039;phone call, Annie. We were at the doctors. More acupuncture tomorrow (Weds). Enjoy Egypt!]]></description>
			<content:encoded><![CDATA[<p>&#8216;Sorry we missed your &#8216;phone call, Annie. We were at the doctors. More acupuncture tomorrow (Weds). Enjoy Egypt!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Forces Of Nature by Aseema		</title>
		<link>/2010/04/18/forces-of-nature/#comment-107</link>

		<dc:creator><![CDATA[Aseema]]></dc:creator>
		<pubDate>Sun, 18 Apr 2010 19:22:39 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=962#comment-107</guid>

					<description><![CDATA[OMG! i can&#039;t believe that your adevnture is still going on.... you guys really don&#039;t do things by halves. 
hope all goes well
xx]]></description>
			<content:encoded><![CDATA[<p>OMG! i can&#8217;t believe that your adevnture is still going on&#8230;. you guys really don&#8217;t do things by halves.<br />
hope all goes well<br />
xx</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Forces Of Nature by BODAD		</title>
		<link>/2010/04/18/forces-of-nature/#comment-106</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Sun, 18 Apr 2010 14:51:45 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=962#comment-106</guid>

					<description><![CDATA[At least you will be able to visit your family in Egypt,Safe. I wonder if there any old plans for Arks lying around that part of the world? I think you&#039;d not be required to have all the animals two by two.
Aunty Audrey still not well.  Good Luck !!!]]></description>
			<content:encoded><![CDATA[<p>At least you will be able to visit your family in Egypt,Safe. I wonder if there any old plans for Arks lying around that part of the world? I think you&#8217;d not be required to have all the animals two by two.<br />
Aunty Audrey still not well.  Good Luck !!!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Kyoto by Annie &#38; Safe		</title>
		<link>/2010/04/09/kyoto/#comment-101</link>

		<dc:creator><![CDATA[Annie &#38; Safe]]></dc:creator>
		<pubDate>Fri, 16 Apr 2010 07:33:39 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=853#comment-101</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/04/09/kyoto/#comment-100&quot;&gt;aseema misra&lt;/a&gt;.

Really enjoyed the baths.. We even took the outside communal naked bathing option..!]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/04/09/kyoto/#comment-100">aseema misra</a>.</p>
<p>Really enjoyed the baths.. We even took the outside communal naked bathing option..!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
