<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Mission Impossible	</title>
	<atom:link href="http://localhost/2010/03/09/mission-impossible/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/03/09/mission-impossible/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Wed, 10 Mar 2010 03:47:07 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Annie &#38; Safe		</title>
		<link>/2010/03/09/mission-impossible/#comment-68</link>

		<dc:creator><![CDATA[Annie &#38; Safe]]></dc:creator>
		<pubDate>Wed, 10 Mar 2010 03:47:07 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=537#comment-68</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/03/09/mission-impossible/#comment-67&quot;&gt;James D&lt;/a&gt;.

Neither can we!  In two weeks exactly we leave Latin America.  It feels like we&#039;re on the home strait.]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/03/09/mission-impossible/#comment-67">James D</a>.</p>
<p>Neither can we!  In two weeks exactly we leave Latin America.  It feels like we&#8217;re on the home strait.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: James D		</title>
		<link>/2010/03/09/mission-impossible/#comment-67</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Tue, 09 Mar 2010 22:11:17 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=537#comment-67</guid>

					<description><![CDATA[Can&#039;t believe it&#039;s been 50 days!]]></description>
			<content:encoded><![CDATA[<p>Can&#8217;t believe it&#8217;s been 50 days!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
