<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Kyoto	</title>
	<atom:link href="http://localhost/2010/04/09/kyoto/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/04/09/kyoto/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Fri, 16 Apr 2010 07:33:39 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Annie &#38; Safe		</title>
		<link>/2010/04/09/kyoto/#comment-101</link>

		<dc:creator><![CDATA[Annie &#38; Safe]]></dc:creator>
		<pubDate>Fri, 16 Apr 2010 07:33:39 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=853#comment-101</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/04/09/kyoto/#comment-100&quot;&gt;aseema misra&lt;/a&gt;.

Really enjoyed the baths.. We even took the outside communal naked bathing option..!]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/04/09/kyoto/#comment-100">aseema misra</a>.</p>
<p>Really enjoyed the baths.. We even took the outside communal naked bathing option..!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: aseema misra		</title>
		<link>/2010/04/09/kyoto/#comment-100</link>

		<dc:creator><![CDATA[aseema misra]]></dc:creator>
		<pubDate>Thu, 15 Apr 2010 13:28:43 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=853#comment-100</guid>

					<description><![CDATA[how did you enjoy the hot baths??
i quite enjoyed it - Tony chickened out !!]]></description>
			<content:encoded><![CDATA[<p>how did you enjoy the hot baths??<br />
i quite enjoyed it &#8211; Tony chickened out !!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
