<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Too Juicy	</title>
	<atom:link href="http://localhost/2010/02/18/too-juicy/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/02/18/too-juicy/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Sun, 21 Feb 2010 21:39:24 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: BODAD		</title>
		<link>/2010/02/18/too-juicy/#comment-40</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Sun, 21 Feb 2010 21:39:24 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=372#comment-40</guid>

					<description><![CDATA[&#039;Much like Curry Mile!]]></description>
			<content:encoded><![CDATA[<p>&#8216;Much like Curry Mile!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
