<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Sharks, Rays and Barracudas &#8230; Oh My!	</title>
	<atom:link href="http://localhost/2010/02/06/sharks-rays-and-barracudas-oh-my/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/02/06/sharks-rays-and-barracudas-oh-my/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Tue, 09 Feb 2010 23:28:19 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: safe		</title>
		<link>/2010/02/06/sharks-rays-and-barracudas-oh-my/#comment-35</link>

		<dc:creator><![CDATA[safe]]></dc:creator>
		<pubDate>Tue, 09 Feb 2010 23:28:19 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=250#comment-35</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/02/06/sharks-rays-and-barracudas-oh-my/#comment-34&quot;&gt;BODAD&lt;/a&gt;.

It hasn&#039;t come to that yet, but the Rum and Coke&#039;s we have planned for tonight might tip the balance ... :)]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/02/06/sharks-rays-and-barracudas-oh-my/#comment-34">BODAD</a>.</p>
<p>It hasn&#8217;t come to that yet, but the Rum and Coke&#8217;s we have planned for tonight might tip the balance &#8230; 🙂</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: BODAD		</title>
		<link>/2010/02/06/sharks-rays-and-barracudas-oh-my/#comment-34</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Tue, 09 Feb 2010 11:28:50 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=250#comment-34</guid>

					<description><![CDATA[We&#039;ve made an appointment for you with A.A. for when you get back, Safe.]]></description>
			<content:encoded><![CDATA[<p>We&#8217;ve made an appointment for you with A.A. for when you get back, Safe.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
