<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Toyota-Hair-Can	</title>
	<atom:link href="http://localhost/2010/01/23/toyota-hair-can/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/01/23/toyota-hair-can/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Mon, 25 Jan 2010 13:44:30 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: James D		</title>
		<link>/2010/01/23/toyota-hair-can/#comment-17</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Mon, 25 Jan 2010 13:44:30 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=122#comment-17</guid>

					<description><![CDATA[Sounds like the foods interesting and architecture homely!]]></description>
			<content:encoded><![CDATA[<p>Sounds like the foods interesting and architecture homely!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Tony O'Donnell		</title>
		<link>/2010/01/23/toyota-hair-can/#comment-16</link>

		<dc:creator><![CDATA[Tony O'Donnell]]></dc:creator>
		<pubDate>Sun, 24 Jan 2010 19:12:38 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=122#comment-16</guid>

					<description><![CDATA[Greetings from Massachusetts. Some great photos and interesting stories. We&#039;ll be following you from the frozen tundra of the Northeast USA]]></description>
			<content:encoded><![CDATA[<p>Greetings from Massachusetts. Some great photos and interesting stories. We&#8217;ll be following you from the frozen tundra of the Northeast USA</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
