<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Proverbs	</title>
	<atom:link href="http://localhost/2010/03/07/proverbs/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/03/07/proverbs/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Wed, 10 Mar 2010 11:49:39 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Matt		</title>
		<link>/2010/03/07/proverbs/#comment-66</link>

		<dc:creator><![CDATA[Matt]]></dc:creator>
		<pubDate>Wed, 10 Mar 2010 11:49:39 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=526#comment-66</guid>

					<description><![CDATA[Patacons look like they should be an addition to my 5 a day!]]></description>
			<content:encoded><![CDATA[<p>Patacons look like they should be an addition to my 5 a day!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
