<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: The Perfect Blossom	</title>
	<atom:link href="http://localhost/2010/04/10/the-perfect-blossom/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/04/10/the-perfect-blossom/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Mon, 19 Apr 2010 19:37:59 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: James D		</title>
		<link>/2010/04/10/the-perfect-blossom/#comment-104</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Mon, 19 Apr 2010 19:37:59 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=862#comment-104</guid>

					<description><![CDATA[Love the sign and the hound. Pachinko is great fun. You should have a go at Mah Jong if you come across a parlor.]]></description>
			<content:encoded><![CDATA[<p>Love the sign and the hound. Pachinko is great fun. You should have a go at Mah Jong if you come across a parlor.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: aseema misra		</title>
		<link>/2010/04/10/the-perfect-blossom/#comment-103</link>

		<dc:creator><![CDATA[aseema misra]]></dc:creator>
		<pubDate>Thu, 15 Apr 2010 13:30:34 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=862#comment-103</guid>

					<description><![CDATA[Wow!! love the cherry blossom - truly beautiful
xx]]></description>
			<content:encoded><![CDATA[<p>Wow!! love the cherry blossom &#8211; truly beautiful<br />
xx</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: BODAD		</title>
		<link>/2010/04/10/the-perfect-blossom/#comment-102</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Wed, 14 Apr 2010 11:04:31 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=862#comment-102</guid>

					<description><![CDATA[Wonderful! We must visit these amazing places when Aunty Audrey is up and running again! You have an amazing record of your travels to warm you on a Winters evening.  We&#039;ll have lots of cherry blossom on Hall Lane when you return.]]></description>
			<content:encoded><![CDATA[<p>Wonderful! We must visit these amazing places when Aunty Audrey is up and running again! You have an amazing record of your travels to warm you on a Winters evening.  We&#8217;ll have lots of cherry blossom on Hall Lane when you return.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
