<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Hit Me With Your Rhythm Stick!	</title>
	<atom:link href="http://localhost/2010/01/31/hit-me-with-your-rhythm-stick/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/01/31/hit-me-with-your-rhythm-stick/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Fri, 05 Feb 2010 21:36:56 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: BODAD		</title>
		<link>/2010/01/31/hit-me-with-your-rhythm-stick/#comment-29</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Fri, 05 Feb 2010 21:36:56 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=204#comment-29</guid>

					<description><![CDATA[My memories of colon are linked with sigmoid and colectomy. 
Teach your teacher how to Belly Dance, Annie!]]></description>
			<content:encoded><![CDATA[<p>My memories of colon are linked with sigmoid and colectomy.<br />
Teach your teacher how to Belly Dance, Annie!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
