<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: First Post!	</title>
	<atom:link href="http://localhost/2010/01/01/first-post/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/01/01/first-post/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Mon, 18 Jan 2010 12:38:53 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Zaki		</title>
		<link>/2010/01/01/first-post/#comment-3</link>

		<dc:creator><![CDATA[Zaki]]></dc:creator>
		<pubDate>Mon, 18 Jan 2010 12:38:53 +0000</pubDate>
		<guid isPermaLink="false">http://www.sandacre.com/grandtour/?p=1#comment-3</guid>

					<description><![CDATA[Annie &#038; Safe

Just to wish you both a Happy and comfortable Travel, No doubt it will be a Fantastic Journey. Keep us up dated, even if I am not a computer literate !!]]></description>
			<content:encoded><![CDATA[<p>Annie &amp; Safe</p>
<p>Just to wish you both a Happy and comfortable Travel, No doubt it will be a Fantastic Journey. Keep us up dated, even if I am not a computer literate !!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Rachel &#38; Levent		</title>
		<link>/2010/01/01/first-post/#comment-2</link>

		<dc:creator><![CDATA[Rachel &#38; Levent]]></dc:creator>
		<pubDate>Tue, 05 Jan 2010 20:55:38 +0000</pubDate>
		<guid isPermaLink="false">http://www.sandacre.com/grandtour/?p=1#comment-2</guid>

					<description><![CDATA[Please update this regularly with pictures of everywhere that you see and make sure that you use lots of detail. Thankyou x]]></description>
			<content:encoded><![CDATA[<p>Please update this regularly with pictures of everywhere that you see and make sure that you use lots of detail. Thankyou x</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
