<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Chilli and Lime	</title>
	<atom:link href="http://localhost/2010/01/25/chilli-and-lime/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/01/25/chilli-and-lime/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Wed, 27 Jan 2010 17:19:36 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: James D		</title>
		<link>/2010/01/25/chilli-and-lime/#comment-20</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Wed, 27 Jan 2010 17:19:36 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/2010/01/25/chilli-and-lime/#comment-20</guid>

					<description><![CDATA[Seeds gratefully received, cultivated, propogated and hopefully returned as juicy chilis!]]></description>
			<content:encoded><![CDATA[<p>Seeds gratefully received, cultivated, propogated and hopefully returned as juicy chilis!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: RPatti		</title>
		<link>/2010/01/25/chilli-and-lime/#comment-19</link>

		<dc:creator><![CDATA[RPatti]]></dc:creator>
		<pubDate>Wed, 27 Jan 2010 16:36:16 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/2010/01/25/chilli-and-lime/#comment-19</guid>

					<description><![CDATA[Love the shawl on the Monte Alban photo

RPatz]]></description>
			<content:encoded><![CDATA[<p>Love the shawl on the Monte Alban photo</p>
<p>RPatz</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: BODAD		</title>
		<link>/2010/01/25/chilli-and-lime/#comment-18</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Tue, 26 Jan 2010 19:59:13 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/2010/01/25/chilli-and-lime/#comment-18</guid>

					<description><![CDATA[We&#039;re enjoying your not-so=gullible travels,,
Can&#039;t you find a decent Chinese Chippy?
Cheers!  Mum &#038; Dad aka A &#038; B]]></description>
			<content:encoded><![CDATA[<p>We&#8217;re enjoying your not-so=gullible travels,,<br />
Can&#8217;t you find a decent Chinese Chippy?<br />
Cheers!  Mum &amp; Dad aka A &amp; B</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
