<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Nicaragua &#8211; Annie &amp; Safe Go West</title>
	<atom:link href="http://localhost/category/nicaragua/feed/" rel="self" type="application/rss+xml" />
	<link></link>
	<description>The Grand Tour</description>
	<lastBuildDate>Thu, 25 Feb 2010 20:35:21 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>Costa Rica</title>
		<link>/2010/02/25/costa-rica/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Thu, 25 Feb 2010 20:35:21 +0000</pubDate>
				<category><![CDATA[Costa Rica]]></category>
		<category><![CDATA[Nicaragua]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=451</guid>

					<description><![CDATA[Day 38.  Another long day&#8217;s travelling.  We were up before dawn to catch the first ferry from Ometepe back to the mainland.  A beautiful ferry ride in the open air on a calm lake as the sun rose turned into an exercise in wafting and escaping swarms of fruitflies which stuck to our clothes and [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 38.  Another long day&#8217;s travelling.  We were up before dawn to catch the first ferry from Ometepe back to the mainland.  A beautiful ferry ride in the open air on a calm lake as the sun rose turned into an exercise in wafting and escaping swarms of fruitflies which stuck to our clothes and bags like dust.  We assumed they were brought on board by the large truck carrying bananas (many trucks carry bananas in this part of the world) but the flies continued to follow us after we were ashore.</p>
<p>We caught a smart bus to the border with Costa Rica.  The Nicaraguan border control was relatively straightforward (the bus staff handled it all for us) whereas the Costa Rican border control was a hot and sticky three-and-a-half hour wait outdoors.  The queue moved at a snail&#8217;s pace and it was too late when we realised that people had been getting off buses and pushing in front of us.  No matter, some of us took the opportunity to braid each other&#8217;s hair while others decided to take a nap as we queued.</p>
<div id="attachment_453" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/braiding-at-the-border.jpg"><img aria-describedby="caption-attachment-453" decoding="async" class="size-full wp-image-453 " src="/wp-content/uploads/2010/02/braiding-at-the-border.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/02/braiding-at-the-border.jpg 492w, /wp-content/uploads/2010/02/braiding-at-the-border-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-453" class="wp-caption-text">Jodie provides &quot;border braiding&quot; services to Val</p></div>
<div id="attachment_454" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/asleep-at-the-border.jpg"><img aria-describedby="caption-attachment-454" decoding="async" loading="lazy" class="size-full wp-image-454 " src="/wp-content/uploads/2010/02/asleep-at-the-border.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/02/asleep-at-the-border.jpg 492w, /wp-content/uploads/2010/02/asleep-at-the-border-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-454" class="wp-caption-text">Justine naps vertically so as not to ruin her new braids</p></div>
<p>After an interesting random search of our bags (where we had to neatly line up our bags on a long bench for someone to smile at them but decide not open any) we re-boarded our bus and headed for the capital, San Jose.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Volcano! (Take 2)</title>
		<link>/2010/02/24/volcano-take-2/</link>
					<comments>/2010/02/24/volcano-take-2/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Wed, 24 Feb 2010 20:42:24 +0000</pubDate>
				<category><![CDATA[Nicaragua]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=445</guid>

					<description><![CDATA[Day 37.  For some strange reason we decided that it would be a good idea to climb one of Ometepe&#8217;s two volcanoes.  The tallest volcano is called Concepcion (we didn&#8217;t question the Nicaraguan choice of name).  Concepcion looks and smells like a volcano, is still very active, and last caused trouble in 2006 by causing [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 37.  For some strange reason we decided that it would be a good idea to climb one of Ometepe&#8217;s two volcanoes.  The tallest volcano is called Concepcion (we didn&#8217;t question the Nicaraguan choice of name).  Concepcion looks and smells like a volcano, is still very active, and last caused trouble in 2006 by causing a major earthquake due to a build-up of pressure.  We chose to climb the other volcano instead.</p>
<p>Volcan Maderas is believed to be extinct and is lined with forest all the way to the top.  A 6:30am start ensured that we would reach the crater and return before sunset.  The view as we climbed was a little hazy but none-the-less stunning.</p>
<div id="attachment_446" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/naughty-cow.jpg"><img aria-describedby="caption-attachment-446" decoding="async" loading="lazy" class="size-full wp-image-446 " src="/wp-content/uploads/2010/03/naughty-cow.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/naughty-cow.jpg 492w, /wp-content/uploads/2010/03/naughty-cow-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-446" class="wp-caption-text">Extreme measures to prevent cow on side of volcano escaping through fence</p></div>
<div id="attachment_447" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/cloud-forest-maderas.jpg"><img aria-describedby="caption-attachment-447" decoding="async" loading="lazy" class="size-full wp-image-447 " src="/wp-content/uploads/2010/03/cloud-forest-maderas.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/cloud-forest-maderas.jpg 657w, /wp-content/uploads/2010/03/cloud-forest-maderas-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-447" class="wp-caption-text">Lucy, Mikey, Celine, Safe and Annie in the cloud forest</p></div>
<p>As we climbed, we passed through dry farmland followed by woods then squelched through wet and muddy cloud forest until we reached the summit.  We decended into the misty crater to reach our prize &#8211; a lake lined with lush forest.  Naturally at the first sign of water (and after a hot four hour climb) we went for a dip.</p>
<p>What we didn&#8217;t quite appreciate about the lake was that it was filled with volcanic mud, a fine silty mud which is thick but doesn&#8217;t actually support your weight.  The first 10 or 20 metres were spent doing an impression of Frankenstein moonwalking through cottage cheese until the water was deep enough to float in.</p>
<div id="attachment_448" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/crater-lake.jpg"><img aria-describedby="caption-attachment-448" decoding="async" loading="lazy" class="size-full wp-image-448 " src="/wp-content/uploads/2010/03/crater-lake.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/crater-lake.jpg 657w, /wp-content/uploads/2010/03/crater-lake-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-448" class="wp-caption-text">Frankensteins wade into the crater lake</p></div>
<div id="_mcePaste">The downhill trek was tough but we arrived back at base safe and sound for a well earned round of rum and cokes and a slap up veggie curry in preparation for a 4am start to head for the border with Costa Rica &#8230;</div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/02/24/volcano-take-2/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>Omelette</title>
		<link>/2010/02/23/omelette/</link>
					<comments>/2010/02/23/omelette/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Tue, 23 Feb 2010 20:31:11 +0000</pubDate>
				<category><![CDATA[Nicaragua]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=434</guid>

					<description><![CDATA[Day 36.  Today we travelled to the volcanic island of Ometepe, also known to us as Omelette, not only because it sounds similar, but also because the island&#8217;s double volcanoes make it look like two fried eggs from the air. [SGM lat=&#8221;11.500884&#8243; lng=&#8221;-85.567017&#8243; zoom=&#8221;10&#8243; type=&#8221;HYBRID&#8221; content=&#8221;OmetepeA volcanic island in Lake Nicaragua&#8221;] A customarily hot, sweaty [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 36.  Today we travelled to the volcanic island of <a href="http://en.wikipedia.org/wiki/Ometepe" target="_blank" rel="noopener">Ometepe</a>, also known to us as Omelette, not only because it sounds similar, but also because the island&#8217;s double volcanoes make it look like two fried eggs from the air.</p>
<p>[SGM lat=&#8221;11.500884&#8243; lng=&#8221;-85.567017&#8243; zoom=&#8221;10&#8243; type=&#8221;HYBRID&#8221; content=&#8221;<strong>Ometepe</strong>A volcanic island in Lake Nicaragua&#8221;]</p>
<p>A customarily hot, sweaty and noisy chicken bus took us to the port of Rivas from where we caught the ferry to Ometepe.</p>
<div id="attachment_435" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/approaching-ometepe.jpg"><img aria-describedby="caption-attachment-435" decoding="async" loading="lazy" class="size-full wp-image-435 " title="I hope this thing doesn't pop!" src="/wp-content/uploads/2010/02/approaching-ometepe.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/02/approaching-ometepe.jpg 657w, /wp-content/uploads/2010/02/approaching-ometepe-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-435" class="wp-caption-text">Approaching Ometepe where volcanoes really look like volcanoes!</p></div>
<p>After a rest and a swim in the lake, we rounded off the evening with a meal of fish and plantain at Restaurante Julia.</p>
<div id="attachment_436" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/view-from-hotel-ometepe.jpg"><img aria-describedby="caption-attachment-436" decoding="async" loading="lazy" class="size-full wp-image-436 " src="/wp-content/uploads/2010/02/view-from-hotel-ometepe.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/02/view-from-hotel-ometepe.jpg 492w, /wp-content/uploads/2010/02/view-from-hotel-ometepe-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-436" class="wp-caption-text">Sunset at Ometepe</p></div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/02/23/omelette/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>Kayaking And Dinner</title>
		<link>/2010/02/22/kayaking-and-dinner/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Mon, 22 Feb 2010 20:18:31 +0000</pubDate>
				<category><![CDATA[Nicaragua]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=419</guid>

					<description><![CDATA[Day 35.  Granada is situated beside a huge freshwater lake.  Jodie, Val, Annie and Safe took a Kayak tour of the mangroves and islets off Granada guided by Carlos, kayaker extraordinaire. We found the mangroves quite shallow for our two-man canoes as it wasn&#8217;t the rainy season, and our kayaks ran aground on a few [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 35.  Granada is situated beside a huge freshwater lake.  Jodie, Val, Annie and Safe took a Kayak tour of the mangroves and islets off Granada guided by Carlos, kayaker extraordinaire.</p>
<p>We found the mangroves quite shallow for our two-man canoes as it wasn&#8217;t the rainy season, and our kayaks ran aground on a few fallen trees, but we managed to squeeze through with some gentle persuasion.  We were shown the abundant flora and fauna including the amusing chicken flower.</p>
<div id="attachment_420" style="width: 448px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/jodie-val-flail-canoe.jpg"><img aria-describedby="caption-attachment-420" decoding="async" loading="lazy" class="size-full wp-image-420 " title="How not to paddle a canoe" src="/wp-content/uploads/2010/02/jodie-val-flail-canoe.jpg" alt="" width="438" height="328" srcset="/wp-content/uploads/2010/02/jodie-val-flail-canoe.jpg 730w, /wp-content/uploads/2010/02/jodie-val-flail-canoe-300x225.jpg 300w" sizes="(max-width: 438px) 100vw, 438px" /></a><p id="caption-attachment-420" class="wp-caption-text">Jodie and Val gracefully navigate the mangroves</p></div>
<div id="attachment_421" style="width: 448px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/canoe-granada.jpg"><img aria-describedby="caption-attachment-421" decoding="async" loading="lazy" class="size-full wp-image-421 " title="One, two, one, two ..." src="/wp-content/uploads/2010/02/canoe-granada.jpg" alt="" width="438" height="328" srcset="/wp-content/uploads/2010/02/canoe-granada.jpg 730w, /wp-content/uploads/2010/02/canoe-granada-300x225.jpg 300w" sizes="(max-width: 438px) 100vw, 438px" /></a><p id="caption-attachment-421" class="wp-caption-text">Annie and Safe show them how it&#39;s done!</p></div>
<div id="attachment_422" style="width: 448px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/carlos-chicken-flower.jpg"><img aria-describedby="caption-attachment-422" decoding="async" loading="lazy" class="size-full wp-image-422 " title="&quot;This flower doesn't taste like chicken&quot;" src="/wp-content/uploads/2010/02/carlos-chicken-flower.jpg" alt="" width="438" height="328" srcset="/wp-content/uploads/2010/02/carlos-chicken-flower.jpg 730w, /wp-content/uploads/2010/02/carlos-chicken-flower-300x225.jpg 300w" sizes="(max-width: 438px) 100vw, 438px" /></a><p id="caption-attachment-422" class="wp-caption-text">Carlos shows us a chicken flower</p></div>
<p>Eventually we headed out of the mangroves and back out into open water where we explored some of the 365 islets, several of which were for sale, including one approximately 30m in diameter on offer for a cool US$100,000 (in case anyone is interested in a pile of rocks in the middle of a lake in Nicaragua).</p>
<p>The final part of the tour was a visit to an old Spanish fortress to pet a cute puppy then go for a refreshing swim.</p>
<div id="attachment_423" style="width: 448px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/cute-puppy-granada.jpg"><img aria-describedby="caption-attachment-423" decoding="async" loading="lazy" class="size-full wp-image-423 " title="Ahhhh" src="/wp-content/uploads/2010/02/cute-puppy-granada.jpg" alt="" width="438" height="328" srcset="/wp-content/uploads/2010/02/cute-puppy-granada.jpg 730w, /wp-content/uploads/2010/02/cute-puppy-granada-300x225.jpg 300w" sizes="(max-width: 438px) 100vw, 438px" /></a><p id="caption-attachment-423" class="wp-caption-text">Cute puppy</p></div>
<div id="attachment_424" style="width: 338px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/cute-puppy-granada-2.jpg"><img aria-describedby="caption-attachment-424" decoding="async" loading="lazy" class="size-full wp-image-424  " title="Yes, I washed my hands afterwards!" src="/wp-content/uploads/2010/02/cute-puppy-granada-2.jpg" alt="" width="328" height="438" srcset="/wp-content/uploads/2010/02/cute-puppy-granada-2.jpg 547w, /wp-content/uploads/2010/02/cute-puppy-granada-2-225x300.jpg 225w" sizes="(max-width: 328px) 100vw, 328px" /></a><p id="caption-attachment-424" class="wp-caption-text">Same cute puppy</p></div>
<p>Somehow we managed to invite ourselves for an evening meal with Carlos and his family at his home.  We canoed past several fishermen and tried to buy enough large Wapote (Rainbow Bass) for all of us (including Carlos, his wife, his mother-in-law and his three children).  Unfortunately the fishermen only had the smaller Mojara so we planned to go to the market later.</p>
<div id="attachment_425" style="width: 448px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/fisherman-granada.jpg"><img aria-describedby="caption-attachment-425" decoding="async" loading="lazy" class="size-full wp-image-425 " src="/wp-content/uploads/2010/02/fisherman-granada.jpg" alt="" width="438" height="328" srcset="/wp-content/uploads/2010/02/fisherman-granada.jpg 730w, /wp-content/uploads/2010/02/fisherman-granada-300x225.jpg 300w" sizes="(max-width: 438px) 100vw, 438px" /></a><p id="caption-attachment-425" class="wp-caption-text">Fisherman</p></div>
<div id="attachment_426" style="width: 448px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/mojara.jpg"><img aria-describedby="caption-attachment-426" decoding="async" loading="lazy" class="size-full wp-image-426 " src="/wp-content/uploads/2010/02/mojara.jpg" alt="" width="438" height="328" srcset="/wp-content/uploads/2010/02/mojara.jpg 730w, /wp-content/uploads/2010/02/mojara-300x225.jpg 300w" sizes="(max-width: 438px) 100vw, 438px" /></a><p id="caption-attachment-426" class="wp-caption-text">Good catch of Mojara but no Wapote</p></div>
<p>We didn&#8217;t find our Wapote at the market as it had already sold out so we settled for 13 Mojara instead.  After buying a selection of vegetables, we sat down to a bit of lunch (which of course included Gallo Pinto).</p>
<p>Carlos appeared at our hotel to take us to his home.  We realised how small Granada was when he greeted the receptionist who was his wife&#8217;s cousin.  (The receptionist was bizarrely called Yasser Vladimir &#8211; he was neither Arab nor Russion but his parents liked the names).  We walked into the suburbs of Granada where the locals live and where the colonial houses end and the cobbled streets turn into mud tracks.</p>
<p>Carlos&#8217;s home was basic and comprised three small rooms and an outside cooking area to house his six family members.  We prepared the vegetables outside but cooking took a while (understatement) as he had one small electric pan device.  The twin girls Elena and Amanda (aged 6) ran amock and played football and barbie, and Christian (aged 10) practised his English.  The twins might have looked the same but couldn&#8217;t have been more different.  Elena is sporty whereas Amanda likes her jewellery and cleaning up.  Val kept the kids entertained and even volunteered to be a life-size barbie whilst we attempted to cook the fish.  The first few attempts ended in disaster as frying fish fell to pieces until the mother-in-law took over and the fish came out perfect, complete with Nicaraguan style tomato salsa.</p>
<div id="attachment_427" style="width: 338px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/jodiie-chops-onions.jpg"><img aria-describedby="caption-attachment-427" decoding="async" loading="lazy" class="size-full wp-image-427 " src="/wp-content/uploads/2010/02/jodiie-chops-onions.jpg" alt="" width="328" height="438" srcset="/wp-content/uploads/2010/02/jodiie-chops-onions.jpg 547w, /wp-content/uploads/2010/02/jodiie-chops-onions-225x300.jpg 225w" sizes="(max-width: 328px) 100vw, 328px" /></a><p id="caption-attachment-427" class="wp-caption-text">Jodie chops onions</p></div>
<div id="attachment_428" style="width: 448px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/barbie-and-sporty.jpg"><img aria-describedby="caption-attachment-428" decoding="async" loading="lazy" class="size-full wp-image-428 " title="Hard to tell who's sporty and who's barbie!" src="/wp-content/uploads/2010/02/barbie-and-sporty.jpg" alt="" width="438" height="328" srcset="/wp-content/uploads/2010/02/barbie-and-sporty.jpg 730w, /wp-content/uploads/2010/02/barbie-and-sporty-300x225.jpg 300w" sizes="(max-width: 438px) 100vw, 438px" /></a><p id="caption-attachment-428" class="wp-caption-text">Elena and Amanda with Val</p></div>
<div id="attachment_429" style="width: 338px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/mashed-mojara.jpg"><img aria-describedby="caption-attachment-429" decoding="async" loading="lazy" class="size-full wp-image-429  " title="Here's one I prepared earlier" src="/wp-content/uploads/2010/02/mashed-mojara.jpg" alt="" width="328" height="438" srcset="/wp-content/uploads/2010/02/mashed-mojara.jpg 547w, /wp-content/uploads/2010/02/mashed-mojara-225x300.jpg 225w" sizes="(max-width: 328px) 100vw, 328px" /></a><p id="caption-attachment-429" class="wp-caption-text">First attempt at frying Mojara</p></div>
<div id="attachment_430" style="width: 448px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/mojara-for-tea.jpg"><img aria-describedby="caption-attachment-430" decoding="async" loading="lazy" class="size-full wp-image-430 " src="/wp-content/uploads/2010/02/mojara-for-tea.jpg" alt="" width="438" height="328" srcset="/wp-content/uploads/2010/02/mojara-for-tea.jpg 730w, /wp-content/uploads/2010/02/mojara-for-tea-300x225.jpg 300w" sizes="(max-width: 438px) 100vw, 438px" /></a><p id="caption-attachment-430" class="wp-caption-text">The finished article</p></div>
<div id="_mcePaste">Carlos&#8217;s family couldn&#8217;t have been more welcoming and it was a priviledge and a pleasure to spend such a memorable evening with them.</div>
<div>
<div id="attachment_431" style="width: 448px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/carlos-familiy.jpg"><img aria-describedby="caption-attachment-431" decoding="async" loading="lazy" class="size-full wp-image-431 " src="/wp-content/uploads/2010/02/carlos-familiy.jpg" alt="" width="438" height="328" srcset="/wp-content/uploads/2010/02/carlos-familiy.jpg 730w, /wp-content/uploads/2010/02/carlos-familiy-300x225.jpg 300w" sizes="(max-width: 438px) 100vw, 438px" /></a><p id="caption-attachment-431" class="wp-caption-text">Grandma, Christian, Christina and Carlos</p></div>
</div>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Granada</title>
		<link>/2010/02/21/granada/</link>
					<comments>/2010/02/21/granada/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sun, 21 Feb 2010 20:14:22 +0000</pubDate>
				<category><![CDATA[Nicaragua]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=413</guid>

					<description><![CDATA[Day 34.  Today we left Leon.  We were sad to do so as it was a interesting and friendly town with a great market, and we feel we didn&#8217;t quite get to explore enough of it.  Around noon we arrived in Granada, a surprisingly attractive and colourful colonial town which wouldn&#8217;t look out of place [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 34.  Today we left Leon.  We were sad to do so as it was a interesting and friendly town with a great market, and we feel we didn&#8217;t quite get to explore enough of it.  Around noon we arrived in Granada, a surprisingly attractive and colourful colonial town which wouldn&#8217;t look out of place in the South of France (or perhaps Granada in Spain?!?), an unexpected hidden gem in Nicaragua.</p>
<div id="attachment_414" style="width: 338px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/granada.jpg"><img aria-describedby="caption-attachment-414" decoding="async" loading="lazy" class="size-full wp-image-414 " src="/wp-content/uploads/2010/02/granada.jpg" alt="" width="328" height="438" srcset="/wp-content/uploads/2010/02/granada.jpg 547w, /wp-content/uploads/2010/02/granada-225x300.jpg 225w" sizes="(max-width: 328px) 100vw, 328px" /></a><p id="caption-attachment-414" class="wp-caption-text">Granada</p></div>
<p>Safe had his hair cut by a man who used a razor blade and a pair of large kitchen scissors.  There seems to be some misunderstanding with barbers because Central Americans are practically hairless and Safe most definitely isn&#8217;t.  One day we&#8217;ll learn the Spanish for &#8220;scraping the blunt razor over it again and again will remove more skin but not more hair!&#8221;.</p>
<div id="_mcePaste">We caught up on some calories at Tercer Ojo (Third Eye), one of Granada&#8217;s fancy restaurants, and caught up on some sleep afterwards.</div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/02/21/granada/feed/</wfw:commentRss>
			<slash:comments>4</slash:comments>
		
		
			</item>
		<item>
		<title>Soup, Sand and Sea</title>
		<link>/2010/02/20/soup-sand-and-sea/</link>
					<comments>/2010/02/20/soup-sand-and-sea/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sat, 20 Feb 2010 20:38:17 +0000</pubDate>
				<category><![CDATA[Nicaragua]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=390</guid>

					<description><![CDATA[Day 33.  Today was the highlight of our tour so far, a Nicaraguan culinary experience at a famliy home out of town.  Our mission (which we chose to accept) was to decipher a recipe encrypted in colloquial Nicaraguan Spanish then scour the main market for them.  Amongst the most interesting ingredients were: A red powder [&#8230;]]]></description>
										<content:encoded><![CDATA[<div id="_mcePaste">Day 33.  Today was the highlight of our tour so far, a Nicaraguan culinary experience at a famliy home out of town.  Our mission (which we chose to accept) was to decipher a recipe encrypted in colloquial Nicaraguan Spanish then scour the main market for them.  Amongst the most interesting ingredients were:</div>
<div>
<div>
<ul>
<li>A red powder &#8211; very smelly</li>
<li>A chiltome &#8211; as the name suggests, a bizarre cross between a chilli and a tomato</li>
<li>A deformed carrot &#8211; a carrot, but a bit deformed</li>
<li>Yuca &#8211; sounds and looks like the stem of a yucca plant and probably is</li>
<li>Sour oranges &#8211; just like oranges, but sour</li>
<li>Three live iguanas &#8211; main ingredient of the national dish</li>
</ul>
</div>
<div id="attachment_392" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/carrot-leon.jpg"><img aria-describedby="caption-attachment-392" decoding="async" loading="lazy" class="size-full wp-image-392 " title="We are not amused!" src="/wp-content/uploads/2010/02/carrot-leon.jpg" alt="" width="365" height="273" srcset="/wp-content/uploads/2010/02/carrot-leon.jpg 730w, /wp-content/uploads/2010/02/carrot-leon-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-392" class="wp-caption-text">Safe chooses the most amusing carrot</p></div>
<p>Whilst in the market, we were treated to a cheese tasting whose delights included young, old, salty, smoked, fried and combinations thereof.  (The bread roll-shaped and coloured objects in the photo are actually hunks of smoked cheese!)</p>
<div id="attachment_393" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/cheese-leon.jpg"><img aria-describedby="caption-attachment-393" decoding="async" loading="lazy" class="size-full wp-image-393 " src="/wp-content/uploads/2010/02/cheese-leon.jpg" alt="" width="365" height="273" srcset="/wp-content/uploads/2010/02/cheese-leon.jpg 730w, /wp-content/uploads/2010/02/cheese-leon-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-393" class="wp-caption-text">Cheese!</p></div>
<div>We caught a public mini-truck and headed West out of town wedged into the back of it.  The journey was reminiscent of a tube journey, excpet on the tube there&#8217;s at least a centimetre between your face and the next person&#8217;s armpit.  Our destination was a family home in the suburbs of Leon inhabited by the local indigenous population which by day is a cookery school, and by night, the local cock-fighting centre.</div>
<div>
<div id="attachment_394" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/truck-leon.jpg"><img aria-describedby="caption-attachment-394" decoding="async" loading="lazy" class="size-full wp-image-394 " src="/wp-content/uploads/2010/02/truck-leon.jpg" alt="" width="365" height="273" srcset="/wp-content/uploads/2010/02/truck-leon.jpg 730w, /wp-content/uploads/2010/02/truck-leon-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-394" class="wp-caption-text">Public transport in Leon</p></div>
<div>We were introduced to our host and chef, Doña Ana, and her daughter, Emily who explained that we were to cook two dishes, iguana soup and indio viejo (old-Indian Soup made of Maize).</div>
<div>
<div id="attachment_404" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/dona-anna.jpg"><img aria-describedby="caption-attachment-404" decoding="async" loading="lazy" class="size-full wp-image-404 " src="/wp-content/uploads/2010/02/dona-anna.jpg" alt="" width="365" height="273" srcset="/wp-content/uploads/2010/02/dona-anna.jpg 730w, /wp-content/uploads/2010/02/dona-anna-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-404" class="wp-caption-text">Emily, Annie and Doña Ana</p></div>
</div>
<div>Our first job was to kill, skin and prepare our iguanas (we&#8217;ll spare you the details here but ask us if you&#8217;re interested).  Our next culinary task was to chop the mystery ingredients for our magic potion.  Everything was prepared to Doña Ana&#8217;s specifications, plantain cubed, carrots quarted, yuca pealed.  The most useful tool in the kitchen was a perfectly smooth hand-sized rock which we used for crushing garlic, tenderising meat, smashing ice and juicing oranges.</div>
</div>
<div>
<div id="attachment_397" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/garlic1.jpg"><img aria-describedby="caption-attachment-397" decoding="async" loading="lazy" class="size-full wp-image-397 " src="/wp-content/uploads/2010/02/garlic1.jpg" alt="" width="365" height="273" srcset="/wp-content/uploads/2010/02/garlic1.jpg 730w, /wp-content/uploads/2010/02/garlic1-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-397" class="wp-caption-text">Safe crushes garlic with a multi-purpose kitchen gadget</p></div>
<div>While the two dishes were simmering on the brand new Aga (a 44-gallon drum filled with timber) we ventured over to the neighbours&#8217; house &#8211; who happenned to be the local tortilla experts &#8211; to collect some tortillas. Jodie was distracted by the giant pot of simmering frijoles while Annie was busy positioning herself for a job with the 3 ladies who work from 4am to 4pm to produce 4000 tortillas a day (almost the same hours as with the NHS). That&#8217;s more than 100 tortillas per lady, per hour, without breaks! After we all took 10 minutes each to make some very torn, rather square looking tortilla, we took some of their far better products and returned to our simmering feast.</div>
<div>
<div id="attachment_398" style="width: 283px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/annie-tortilla.jpg"><img aria-describedby="caption-attachment-398" decoding="async" loading="lazy" class="size-full wp-image-398 " src="/wp-content/uploads/2010/02/annie-tortilla.jpg" alt="" width="273" height="365" srcset="/wp-content/uploads/2010/02/annie-tortilla.jpg 547w, /wp-content/uploads/2010/02/annie-tortilla-225x300.jpg 225w" sizes="(max-width: 273px) 100vw, 273px" /></a><p id="caption-attachment-398" class="wp-caption-text">Annie shows them how it&#39;s done</p></div>
<div>Before we could eat we had to take lots of photos of the chickens with their broods of chicks, and the rather handsome, but absolutely gargantuan cockerel Miguel.</div>
<div>
<div id="attachment_399" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/chicks-leon.jpg"><img aria-describedby="caption-attachment-399" decoding="async" loading="lazy" class="size-full wp-image-399 " title="Ahhhhhh" src="/wp-content/uploads/2010/02/chicks-leon.jpg" alt="" width="365" height="273" srcset="/wp-content/uploads/2010/02/chicks-leon.jpg 730w, /wp-content/uploads/2010/02/chicks-leon-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-399" class="wp-caption-text">We didn&#39;t eat these</p></div>
</div>
</div>
</div>
<div id="attachment_395" style="width: 283px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/miguel-rooster.jpg"><br />
<img aria-describedby="caption-attachment-395" decoding="async" loading="lazy" class="size-full wp-image-395  " style="padding: 0px; margin: 0px; border: 0px none initial;" src="/wp-content/uploads/2010/02/miguel-rooster.jpg" alt="" width="273" height="365" srcset="/wp-content/uploads/2010/02/miguel-rooster.jpg 547w, /wp-content/uploads/2010/02/miguel-rooster-225x300.jpg 225w" sizes="(max-width: 273px) 100vw, 273px" /></a><p id="caption-attachment-395" class="wp-caption-text">Miguel the Magnificent</p></div>
<div>
<div>The final product of our morning&#8217;s labour were easily some of the best food we have eaten since arriving in Central America (if we do say so ourselves).</div>
</div>
<div>
<dl id="attachment_400" class="wp-caption alignnone" style="width: 375px;">
<dt class="wp-caption-dt"><a href="/wp-content/uploads/2010/02/indio-viejo.jpg"><img decoding="async" loading="lazy" class="size-full wp-image-400 " src="/wp-content/uploads/2010/02/indio-viejo.jpg" alt="" width="365" height="273" srcset="/wp-content/uploads/2010/02/indio-viejo.jpg 730w, /wp-content/uploads/2010/02/indio-viejo-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a></dt>
<dd class="wp-caption-dd">Indio Viejo (Old Indian)</dd>
</dl>
</div>
<div>
<dl id="attachment_401" class="wp-caption alignnone" style="width: 375px;">
<dt class="wp-caption-dt"><a href="/wp-content/uploads/2010/02/iguana-soup.jpg"><img decoding="async" loading="lazy" class="size-full wp-image-401 " src="/wp-content/uploads/2010/02/iguana-soup.jpg" alt="" width="365" height="273" srcset="/wp-content/uploads/2010/02/iguana-soup.jpg 730w, /wp-content/uploads/2010/02/iguana-soup-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a></dt>
<dd class="wp-caption-dd">Iguana Soup</dd>
</dl>
</div>
<div>After bidding farwell to Doña Ana we endevoured to make our way (with some rather vague instructions) to the black sand beach of the Pacific. Although our 15 minute journey took us an hour and a half we finally managed to find paradise &#8211; sand, sun, and waves. We washed away the stress, sweat, and dirt of the past 2 days in the crashing waters of the Pacific, then watched the spectacular sunset from a swinging hammock with a cold Nicaraguan Toña beer in hand.</div>
<div>
<dl id="attachment_402" class="wp-caption alignnone" style="width: 283px;">
<dt class="wp-caption-dt"><a href="/wp-content/uploads/2010/02/safe-hammock.jpg"><img decoding="async" loading="lazy" class="size-full wp-image-402 " src="/wp-content/uploads/2010/02/safe-hammock.jpg" alt="" width="273" height="365" srcset="/wp-content/uploads/2010/02/safe-hammock.jpg 547w, /wp-content/uploads/2010/02/safe-hammock-225x300.jpg 225w" sizes="(max-width: 273px) 100vw, 273px" /></a></dt>
<dd class="wp-caption-dd">Safe Hammock</dd>
</dl>
</div>
<div>
<div id="attachment_403" style="width: 283px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/pacific-sunset-leon.jpg"><img aria-describedby="caption-attachment-403" decoding="async" loading="lazy" class="size-full wp-image-403 " src="/wp-content/uploads/2010/02/pacific-sunset-leon.jpg" alt="" width="273" height="365" srcset="/wp-content/uploads/2010/02/pacific-sunset-leon.jpg 547w, /wp-content/uploads/2010/02/pacific-sunset-leon-225x300.jpg 225w" sizes="(max-width: 273px) 100vw, 273px" /></a><p id="caption-attachment-403" class="wp-caption-text">Perfect Day</p></div>
<p><strong> <em>Today&#8217;s entry was courtesy of Jodie as Annie and Safe couldn&#8217;t move their arms because they were squished on the bus.</em> </strong></p>
</div>
</div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/02/20/soup-sand-and-sea/feed/</wfw:commentRss>
			<slash:comments>3</slash:comments>
		
		
			</item>
		<item>
		<title>Leon</title>
		<link>/2010/02/19/leon/</link>
					<comments>/2010/02/19/leon/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Fri, 19 Feb 2010 22:15:44 +0000</pubDate>
				<category><![CDATA[Honduras]]></category>
		<category><![CDATA[Nicaragua]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=377</guid>

					<description><![CDATA[Day 32.  Early start again for a five hour coach journey to the Nicaraguan border.  We assumed that the coach belonged to a national company however you could be forgiven for thinking it actually belonged to the driver, the conductor and the conductor&#8217;s friend.  Every time the bus picked up passengers (which felt like every few [&#8230;]]]></description>
										<content:encoded><![CDATA[<div id="_mcePaste">Day 32.  Early start again for a five hour coach journey to the Nicaraguan border.  We assumed that the coach belonged to a national company however you could be forgiven for thinking it actually belonged to the driver, the conductor and the conductor&#8217;s friend.  Every time the bus picked up passengers (which felt like every few hundred yards) the following sequence of events occurred:</div>
<div>
<ol>
<li>The conductor collected money from passengers and handed it all to the driver.</li>
<li>The driver then removed a huge wod of cash from the back pocket of his jeans and meticulously organised and counted it along with the newly received stack of money, never taking his eyes of the road.</li>
<li>Once the driver had counted the money, he handed a few notes to the conductor who in turn handed even less to his friend.</li>
</ol>
</div>
<p>As we approached the border with Nicaragua, the coach turned into an impromptu school bus as herds of polite and smartly dressed kids jumped on and off.  Eventually the kids disappeared as we approached the border.  After the customary dance with our passports and a random dollar fee, we marched across a river bridge in the blazing sun and entered into Nicaragua.</p>
<div id="attachment_378" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/welcome-to-nicaragua.jpg"><img aria-describedby="caption-attachment-378" decoding="async" loading="lazy" class="size-full wp-image-378 " src="/wp-content/uploads/2010/02/welcome-to-nicaragua.jpg" alt="" width="365" height="273" srcset="/wp-content/uploads/2010/02/welcome-to-nicaragua.jpg 730w, /wp-content/uploads/2010/02/welcome-to-nicaragua-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-378" class="wp-caption-text">A worn welcome to Nicaragua</p></div>
<p>A private bus took as to our final destination, the colonial university town of Leon.  Our hotel is called Hotel Balcones, but as you can see in the picture of the hotel plans, it&#8217;s former name was more amusing:</p>
<div id="attachment_379" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/hotel-fanny.jpg"><img aria-describedby="caption-attachment-379" decoding="async" loading="lazy" class="size-full wp-image-379 " src="/wp-content/uploads/2010/02/hotel-fanny.jpg" alt="" width="365" height="273" srcset="/wp-content/uploads/2010/02/hotel-fanny.jpg 730w, /wp-content/uploads/2010/02/hotel-fanny-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-379" class="wp-caption-text">Hotels aren&#39;t what they used to be</p></div>
<p>The evening&#8217;s meal was a (now customary) barbeque feast served by a couple of enterprising Nicaraguan Mamas in the square behind the cathedral.  We were interested in the rice and red beans on offer and asked for &#8220;arroz&#8221;.  One of the ladies corrected us with a stern look and told us it was &#8220;Gallo Pinto&#8221; which is the name of the bean itself.</p>
<blockquote><p><strong>Factoid:</strong> (written several days later) &#8211; several kilograms of Gallo Pinto will be ingested by us (and especially by Jodie) over the coming days, particularly at breakfast.</p></blockquote>
<p>By the way, a very Happy Birthday to Aunty Betty, 91 today!!! Annie &amp; Safe.</p>
]]></content:encoded>
					
					<wfw:commentRss>/2010/02/19/leon/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
	</channel>
</rss>
