<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: First Day Of School	</title>
	<atom:link href="http://localhost/2010/03/01/first-day-of-school/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/03/01/first-day-of-school/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Fri, 05 Mar 2010 20:31:33 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Annie &#38; Safe		</title>
		<link>/2010/03/01/first-day-of-school/#comment-56</link>

		<dc:creator><![CDATA[Annie &#38; Safe]]></dc:creator>
		<pubDate>Fri, 05 Mar 2010 20:31:33 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=483#comment-56</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/03/01/first-day-of-school/#comment-55&quot;&gt;BODAD&lt;/a&gt;.

We were separated into different classes which works out well because we can come home and exchange notes.  Two for the price of one!

We&#039;re effectively learning South American Spanish which, apart from one notable exception, has identical grammar to Spanish Spanish.  The main differences are some of the words used and the accent, very similar to the differences between British English and US English.

Roll on Spring!

Annie &amp; Safe

P.S. For you linguists out there, the main differences between Spanish Spanish and South American Spanish can be summarised as follows:

Grammar:  The informal 2nd person plural (i.e. &quot;you&quot; referring to more than one person) exists in Spanish Spanish but not in South American Spanish.  South Americans just revert to the formal 2nd person plural which is more like &quot;they&quot;!

Words: Just like the British will join a &quot;queue&quot; in the bank and the Americans a &quot;line&quot;, the Spanish will join a &quot;cola&quot; and the South Americans a &quot;fila&quot;.

Accent: The South Americans make fun of the Spanish lisp!  No &quot;th&quot; sound here!]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/03/01/first-day-of-school/#comment-55">BODAD</a>.</p>
<p>We were separated into different classes which works out well because we can come home and exchange notes.  Two for the price of one!</p>
<p>We&#8217;re effectively learning South American Spanish which, apart from one notable exception, has identical grammar to Spanish Spanish.  The main differences are some of the words used and the accent, very similar to the differences between British English and US English.</p>
<p>Roll on Spring!</p>
<p>Annie &#038; Safe</p>
<p>P.S. For you linguists out there, the main differences between Spanish Spanish and South American Spanish can be summarised as follows:</p>
<p>Grammar:  The informal 2nd person plural (i.e. &#8220;you&#8221; referring to more than one person) exists in Spanish Spanish but not in South American Spanish.  South Americans just revert to the formal 2nd person plural which is more like &#8220;they&#8221;!</p>
<p>Words: Just like the British will join a &#8220;queue&#8221; in the bank and the Americans a &#8220;line&#8221;, the Spanish will join a &#8220;cola&#8221; and the South Americans a &#8220;fila&#8221;.</p>
<p>Accent: The South Americans make fun of the Spanish lisp!  No &#8220;th&#8221; sound here!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: BODAD		</title>
		<link>/2010/03/01/first-day-of-school/#comment-55</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Fri, 05 Mar 2010 16:25:35 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=483#comment-55</guid>

					<description><![CDATA[You didn&#039;t say whether you both got into the same class..Is the Spanish you are doing Spanish Spanish or is it a version that has evolved in the country over the years?
PS. I cut the grass today to encourage Spring to hurry along. At least the snow seems to have stopped and buds are appearing. Deo Gratias !]]></description>
			<content:encoded><![CDATA[<p>You didn&#8217;t say whether you both got into the same class..Is the Spanish you are doing Spanish Spanish or is it a version that has evolved in the country over the years?<br />
PS. I cut the grass today to encourage Spring to hurry along. At least the snow seems to have stopped and buds are appearing. Deo Gratias !</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
