<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Sake Tasting	</title>
	<atom:link href="http://localhost/2010/04/07/sake-tasting/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/04/07/sake-tasting/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Mon, 12 Apr 2010 13:16:40 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: James D		</title>
		<link>/2010/04/07/sake-tasting/#comment-98</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Mon, 12 Apr 2010 13:16:40 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=801#comment-98</guid>

					<description><![CDATA[An impressive mushroom!
Try and find a Unagi restaurant when you are there - it was one of my favorite dishes.
Also try unpasteurised Sake as you can&#039;t get it in the UK. It&#039;s one that is served chilled. nama-zake.
Glad to see you made it out of the wire floor! :-)
Request for ceremonial tea powder please... I think it has 4 times the caffeine of espresso!]]></description>
			<content:encoded><![CDATA[<p>An impressive mushroom!<br />
Try and find a Unagi restaurant when you are there &#8211; it was one of my favorite dishes.<br />
Also try unpasteurised Sake as you can&#8217;t get it in the UK. It&#8217;s one that is served chilled. nama-zake.<br />
Glad to see you made it out of the wire floor! 🙂<br />
Request for ceremonial tea powder please&#8230; I think it has 4 times the caffeine of espresso!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: BODAD		</title>
		<link>/2010/04/07/sake-tasting/#comment-97</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Mon, 12 Apr 2010 07:51:45 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=801#comment-97</guid>

					<description><![CDATA[Fascinating...Thanks!!   Mum was delighted to hear from you, Annie.]]></description>
			<content:encoded><![CDATA[<p>Fascinating&#8230;Thanks!!   Mum was delighted to hear from you, Annie.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
