<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Omelette	</title>
	<atom:link href="http://localhost/2010/02/23/omelette/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/02/23/omelette/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Tue, 09 Mar 2010 22:33:15 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: James D		</title>
		<link>/2010/02/23/omelette/#comment-51</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Tue, 09 Mar 2010 22:33:15 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=434#comment-51</guid>

					<description><![CDATA[Really cool volcano. The Japanese would get VERY excited.]]></description>
			<content:encoded><![CDATA[<p>Really cool volcano. The Japanese would get VERY excited.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: BODAD		</title>
		<link>/2010/02/23/omelette/#comment-50</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Wed, 03 Mar 2010 16:46:50 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=434#comment-50</guid>

					<description><![CDATA[This looks really beautiful....&#039;just a touch jealous as I scrape the ice off the car&#039;s windscreen. Still, I did get the chance to give your car a burst up the M56. Still running well.]]></description>
			<content:encoded><![CDATA[<p>This looks really beautiful&#8230;.&#8217;just a touch jealous as I scrape the ice off the car&#8217;s windscreen. Still, I did get the chance to give your car a burst up the M56. Still running well.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
