<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Chile &#8211; Annie &amp; Safe Go West</title>
	<atom:link href="http://localhost/category/chile/feed/" rel="self" type="application/rss+xml" />
	<link></link>
	<description>The Grand Tour</description>
	<lastBuildDate>Tue, 23 Mar 2010 22:48:54 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>Goodbye Santiago!</title>
		<link>/2010/03/23/goodbye-santiago/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Tue, 23 Mar 2010 22:48:54 +0000</pubDate>
				<category><![CDATA[Chile]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=691</guid>

					<description><![CDATA[Day 64.  Today we say farewell to Santiago.  We took the opportunity to mooch around town taking in the sights and sounds that we&#8217;d missed before catching our overnight flight to New Zealand. Getting around town in Santiago is very easy thanks to the clean efficient and cheap metro system.  For the last few days [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 64.  Today we say farewell to Santiago.  We took the opportunity to mooch around town taking in the sights and sounds that we&#8217;d missed before catching our overnight flight to New Zealand.</p>
<p>Getting around town in Santiago is very easy thanks to the clean efficient and cheap metro system.  For the last few days we have been travelling using a bip card, the metro travelcard and Santiago&#8217;s answer to London&#8217;s equally oddly named Oystercard.  Unlike an Oystercard, we were allowed to share a single bip card.</p>
<div id="attachment_692" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/bip.jpg"><img aria-describedby="caption-attachment-692" decoding="async" class="size-full wp-image-692 " src="/wp-content/uploads/2010/03/bip.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/bip.jpg 657w, /wp-content/uploads/2010/03/bip-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-692" class="wp-caption-text">Annie shows us her bip!</p></div>
<p>We centred ourselves around one of the main streets which passes East-West through Santiago, the grandly but amusingly named Avenue of the Liberator Bernardo O&#8217;Higgins.</p>
<blockquote><p><strong>Factoid:</strong> Bernardo O&#8217;Higgins was a wealthy landowning freedom fighter who was a hero in the struggle for Chile&#8217;s independence from Spain.</p></blockquote>
<div id="attachment_825" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/bernardo.jpg"><img aria-describedby="caption-attachment-825" decoding="async" loading="lazy" class="size-full wp-image-825 " src="/wp-content/uploads/2010/03/bernardo.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/bernardo.jpg 492w, /wp-content/uploads/2010/03/bernardo-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-825" class="wp-caption-text">Annie at Bernardo O&#39;Higgins</p></div>
<p>We returned to the main square, Plaza de Armas, where Old Santiago meets New Santiago.</p>
<blockquote><p><strong>Factoid:</strong> The capital cities of most ex-Spanish colonial countries have a main square called Plaza de Armas (Armament Square).  When the Spanish had finished conquering a country, they would place their weapons in the main square as a reminder to the locals not to cause trouble.</p></blockquote>
<div id="attachment_826" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/plaza-de-armas.jpg"><img aria-describedby="caption-attachment-826" decoding="async" loading="lazy" class="size-full wp-image-826 " src="/wp-content/uploads/2010/03/plaza-de-armas.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/plaza-de-armas.jpg 492w, /wp-content/uploads/2010/03/plaza-de-armas-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-826" class="wp-caption-text">Old cathedral meets new office block in Plaza de Armas</p></div>
<p>We went to say goodbye to one of dogs of Santiago, but he was having his afternoon siesta on the steps of the cathedral.</p>
<div id="attachment_696" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/sleeping-dog-santiago.jpg"><img aria-describedby="caption-attachment-696" decoding="async" loading="lazy" class="size-full wp-image-696 " src="/wp-content/uploads/2010/03/sleeping-dog-santiago.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/sleeping-dog-santiago.jpg 657w, /wp-content/uploads/2010/03/sleeping-dog-santiago-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-696" class="wp-caption-text">Let sleeping dogs lie </p></div>
<p>We even said goodbye to an advert which we have seen on every street corner.  We&#8217;re not sure what a Zibel is exactly (it could be a clothing line) but we&#8217;re pretty sure they hired Richard Madely from the morning chat show <a href="http://www.officialrichardandjudy.com/" target="_blank" rel="noopener">Richard and Judy</a> to pose for the advert.</p>
<div id="attachment_880" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/zibel1.jpg"><img aria-describedby="caption-attachment-880" decoding="async" loading="lazy" class="size-full wp-image-880 " src="/wp-content/uploads/2010/03/zibel1.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/zibel1.jpg 492w, /wp-content/uploads/2010/03/zibel1-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-880" class="wp-caption-text">Richard &quot;Zibel&quot; Madeley</p></div>
<p>It was finally time to leave Chile, and indeed to leave behind us two months of travelling in Latin America.  We checked in at a temporary tent ready for our 11pm flight to Auckland, New Zealand.</p>
<div id="attachment_698" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/tent-checkin-santiago.jpg"><img aria-describedby="caption-attachment-698" decoding="async" loading="lazy" class="size-full wp-image-698 " src="/wp-content/uploads/2010/03/tent-checkin-santiago.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/tent-checkin-santiago.jpg 657w, /wp-content/uploads/2010/03/tent-checkin-santiago-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-698" class="wp-caption-text">A handsome check-in tent</p></div>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Wine Tour</title>
		<link>/2010/03/22/wine-tour/</link>
					<comments>/2010/03/22/wine-tour/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Mon, 22 Mar 2010 23:33:14 +0000</pubDate>
				<category><![CDATA[Chile]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=680</guid>

					<description><![CDATA[Day 63.  Chile&#8217;s most important exports are those related to mining and raw materials.  Historically, nitrates contributed to Chile&#8217;s wealth.  Copper continues to be an important commodity found in Chile.  And in the future, Chile hopes to make money from lithium which currently powers phones, laptops, cameras and practically anything that beeps and has buttons.  [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 63.  Chile&#8217;s most important exports are those related to mining and raw materials.  Historically, nitrates contributed to Chile&#8217;s wealth.  Copper continues to be an important commodity found in Chile.  And in the future, Chile hopes to make money from lithium which currently powers phones, laptops, cameras and practically anything that beeps and has buttons.  But probably the most famous of Chile&#8217;s exports is wine, so today we went on a wine tour.  It would have been rude not to &#8230;</p>
<p>It won&#8217;t come as a surprise that we decided to tour a few vineyards by bicycle, ably guided by Mack, an ex-pat from Tennessee.</p>
<div id="attachment_681" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/wine-country-santiago.jpg"><img aria-describedby="caption-attachment-681" decoding="async" loading="lazy" class="size-full wp-image-681 " src="/wp-content/uploads/2010/03/wine-country-santiago.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/wine-country-santiago.jpg 657w, /wp-content/uploads/2010/03/wine-country-santiago-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-681" class="wp-caption-text">Wine Country</p></div>
<p>The dominant grape grown around Santiago is Cabernet Sauvignon.  The area is sunny and warm for most of the year, however at night, it gets quite cool which allows the vines to rest.  As a result, it is claimed that unlike many other countries, they never have to use extra sugar in the wine making process as the grapes are naturally very sweet.  Other grapes also grown in smaller quantities include Merlot, Sauvignon Blanc, Chardonnay, and a little know red variety called Carmenere which sadly used to be very popular here but is grown less and less as the international market is unfamiliar with it.</p>
<p>We visited a grand winery belonging to the Perez family, an old family with old money who make wine as much for prestige as for income.</p>
<div id="attachment_682" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/perez.jpg"><img aria-describedby="caption-attachment-682" decoding="async" loading="lazy" class="size-full wp-image-682 " src="/wp-content/uploads/2010/03/perez.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/perez.jpg 657w, /wp-content/uploads/2010/03/perez-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-682" class="wp-caption-text">A beautiful modern bodega of sustainable wood owned by the Perez family</p></div>
<p>In contrast, we also visited a small organic winery called Huelquen belonging to a character called Maurio.  We arrived just as his grapes were being picked and he let us have a ride on his grape harvester, an interesting contraption which straddles the vines and shakes and sucks the grapes off them as it moves.</p>
<div id="attachment_683" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/grape-picker.jpg"><img aria-describedby="caption-attachment-683" decoding="async" loading="lazy" class="size-full wp-image-683 " src="/wp-content/uploads/2010/03/grape-picker.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/grape-picker.jpg 657w, /wp-content/uploads/2010/03/grape-picker-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-683" class="wp-caption-text">Annie, Safe and Mack on the grape harvester</p></div>
<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="425" height="344" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="src" value="https://www.youtube.com/v/7gpdvB2seRY&amp;hl=en&amp;fs=1" /><param name="allowfullscreen" value="true" /><embed type="application/x-shockwave-flash" width="425" height="344" src="https://www.youtube.com/v/7gpdvB2seRY&amp;hl=en&amp;fs=1" allowscriptaccess="always" allowfullscreen="true"></embed></object></p>
<p>Maurio is very proud of the few bottles of wine he makes.  We were all invited to sit in his garden for a treat of his stunning reserve cabernet sauvignon with some locally made cheese and crackers.</p>
<div id="attachment_823" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/maurio1.jpg"><img aria-describedby="caption-attachment-823" decoding="async" loading="lazy" class="size-full wp-image-823 " src="/wp-content/uploads/2010/03/maurio1.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/maurio1.jpg 492w, /wp-content/uploads/2010/03/maurio1-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-823" class="wp-caption-text">Maurio</p></div>
<p>Our tour ended with a long lazy lunch of Ajiaco (hearty soup) washed down with wine from the wineries we visited.  The restaruant was run by a German-Chilean family.  Chile has a large German immigrant population that&#8217;s over a century old, enticed here by the nitrate boom and the promise that the South of the country is reminiscent of the German countryside.</p>
<div id="attachment_685" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/ajiaco.jpg"><img aria-describedby="caption-attachment-685" decoding="async" loading="lazy" class="size-full wp-image-685 " src="/wp-content/uploads/2010/03/ajiaco.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/ajiaco.jpg 657w, /wp-content/uploads/2010/03/ajiaco-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-685" class="wp-caption-text">Ajiaco</p></div>
<p>The restaurant was also home to a St. Bernard which was the size of a small bungalow.</p>
<div id="attachment_686" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/st-bernard-santiago.jpg"><img aria-describedby="caption-attachment-686" decoding="async" loading="lazy" class="size-full wp-image-686 " src="/wp-content/uploads/2010/03/st-bernard-santiago.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/st-bernard-santiago.jpg 657w, /wp-content/uploads/2010/03/st-bernard-santiago-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-686" class="wp-caption-text">Small Bungalow</p></div>
<p>After an arduous day of cycling and drinking wine, we returned to Santiago city and crashed in an instant!</p>
]]></content:encoded>
					
					<wfw:commentRss>/2010/03/22/wine-tour/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>Peruvian Kitchen</title>
		<link>/2010/03/21/peruvian-kitchen/</link>
					<comments>/2010/03/21/peruvian-kitchen/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sun, 21 Mar 2010 20:28:11 +0000</pubDate>
				<category><![CDATA[Chile]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=672</guid>

					<description><![CDATA[Day 62.  We took the scenic route home through the mountains which was spectacular spectacular! We were hoping to find a hilly hideaway with a vista for lunch, but without a map, the internet or a guide book, we only managed to discover a couple of no horse towns and only got out of the [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 62.  We took the scenic route home through the mountains which was spectacular spectacular!</p>
<div id="attachment_673" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/nogales.jpg"><img aria-describedby="caption-attachment-673" decoding="async" loading="lazy" class="size-full wp-image-673 " src="/wp-content/uploads/2010/03/nogales.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/nogales.jpg 657w, /wp-content/uploads/2010/03/nogales-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-673" class="wp-caption-text">Chilean countryside</p></div>
<p>We were hoping to find a hilly hideaway with a vista for lunch, but without a map, the internet or a guide book, we only managed to discover a couple of no horse towns and only got out of the car to try a sweet cucumber.  From the outside, the fruit looks like it belongs in an episode of Star Trek, from the inside it looks like a good ol&#8217; cucumber, and it tastes like a good ol&#8217; cucumber &#8230; except it&#8217;s sweet!  Eventually we gave up and resorted to heading back to Santiago to forage for food.</p>
<div id="attachment_674" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/sweet-cucumber.jpg"><img aria-describedby="caption-attachment-674" decoding="async" loading="lazy" class="size-full wp-image-674 " src="/wp-content/uploads/2010/03/sweet-cucumber.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/sweet-cucumber.jpg 657w, /wp-content/uploads/2010/03/sweet-cucumber-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-674" class="wp-caption-text">Sweet cucumber</p></div>
<p>The road signage in Santiago is pretty negligible so by using &#8220;The Force&#8221; and our sense of smell we managed to find our way back to the car hire place in the Alameda district and only circumnavigated santiago road system the once.</p>
<p>Feeling pleased with ourselves that we had managed to get home we phoned &#8220;el hombre&#8221; to come and meet us to collect the car. Unfortunately he wasn&#8217;t able to join us for two hours, but just as we were resigning ourselves to spending the time roaming the district, Safe spotted a relatively uninviting Peruvian Cafe called Fenix.  At that stage we would have been happy with a cold drink and somewhere to hide in the shade but what we got was one of the best meals of the trip and an afternoon to remember.</p>
<div id="attachment_675" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/peruvian-inside.jpg"><img aria-describedby="caption-attachment-675" decoding="async" loading="lazy" class="size-full wp-image-675 " src="/wp-content/uploads/2010/03/peruvian-inside.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/peruvian-inside.jpg 657w, /wp-content/uploads/2010/03/peruvian-inside-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-675" class="wp-caption-text">Peruvian cafe from the inside.  Note the picture of Machu Picchu behind us.</p></div>
<p>The Peruvians are known as the the Culninary Experts of South America and the Cerviche they prepared for us was to die for.</p>
<blockquote><p><strong>Factoid:</strong> Cerviche is a dish of raw fish or seafood marinaded in a cocktail of secret limey ingredients.</p></blockquote>
<p>We were so impressed and relieved that we had managed to find great food that we left a slightly larger than average tip and sent our complements to the chef.  It was then that we learned that the restaurant had only been open a week and the chef came out to thank us and wanted to be Safe&#8217;s new best friend.  He insisted we have a picture taken together and exchange email addresses &#8230; just in case he ever came to the UK.</p>
<div id="attachment_676" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/peruvian-owner.jpg"><img aria-describedby="caption-attachment-676" decoding="async" loading="lazy" class="size-full wp-image-676 " src="/wp-content/uploads/2010/03/peruvian-owner.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/peruvian-owner.jpg 657w, /wp-content/uploads/2010/03/peruvian-owner-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-676" class="wp-caption-text">Safe with the Peruvian chef and new found friend!</p></div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/03/21/peruvian-kitchen/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>Zapallar</title>
		<link>/2010/03/20/zapallar/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sat, 20 Mar 2010 20:44:02 +0000</pubDate>
				<category><![CDATA[Chile]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=664</guid>

					<description><![CDATA[Day 61. It&#8217;s the weekend! We thought we&#8217;d take the opportunity to escape the city in a car and explore the countryside and the Pacific coast. Chile is the first country we&#8217;ve visited where we&#8217;ve even considered that driving a car might be a remotely good idea. Chile has 4000 km of coastline!  We drove [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 61.  It&#8217;s the weekend!  We thought we&#8217;d take the opportunity to escape the city in a car and explore the countryside and the Pacific coast.  Chile is the first country we&#8217;ve visited where we&#8217;ve even considered that driving a car might be a remotely good idea.</p>
<p>Chile has 4000 km of coastline!  We drove to the pretty-from-a-distance coastal town of Valparaiso, the not so pretty sister town of Vina del Mar, and the very pretty and very monied fishing village of Zapallar further up the coast.</p>
<div id="attachment_668" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/vina-del-mar.jpg"><img aria-describedby="caption-attachment-668" decoding="async" loading="lazy" class="size-full wp-image-668 " src="/wp-content/uploads/2010/03/vina-del-mar.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/vina-del-mar.jpg 657w, /wp-content/uploads/2010/03/vina-del-mar-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-668" class="wp-caption-text">Vina del Mar from a good distance</p></div>
<div id="attachment_666" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/zapallar.jpg"><img aria-describedby="caption-attachment-666" decoding="async" loading="lazy" class="size-full wp-image-666 " src="/wp-content/uploads/2010/03/zapallar.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/zapallar.jpg 657w, /wp-content/uploads/2010/03/zapallar-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-666" class="wp-caption-text">Zapallar</p></div>
<p>As recommended by Ilana, (ex?)inhabitant of Chile and friend of Anthony and Sonia, we stopped in Zapallar for a fish dinner at the famous Chiringuito.   The selection of fish, shellfish and other sea creatures was quite astounding, however we had some trouble deciphering the menu.  We turned to our trusty phones to help with the translations.   The double whammy of seafood terms and the Chilean dialect clearly didn&#8217;t help.   Here are some sample translations that our phones came up with:</p>
<pre>Loco = Crazy
Reinata = Any of several varieties of sweet round apples
Macha = Mannish woman
Celestina = Female pimp</pre>
<p>We can&#8217;t exactly remember what the waiter told us the above really were, but we know that the Reinata is actually a dark grey flatfish and the others are types  of shellfish!</p>
<div id="attachment_667" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/chiringuito.jpg"><img aria-describedby="caption-attachment-667" decoding="async" loading="lazy" class="size-full wp-image-667 " src="/wp-content/uploads/2010/03/chiringuito.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/chiringuito.jpg 657w, /wp-content/uploads/2010/03/chiringuito-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-667" class="wp-caption-text">Fancy china at Chiringuito</p></div>
<p>By the time we&#8217;d finished dinner it was getting late and we hadn&#8217;t yet arranged anywhere to stay.  After a lot of searching we found a cheap and cheerful motel.  (The cost of accommodation is inversely proportional to the square of the distance from Zapallar).  We were asked if we would like to pay an extra 5,000 pesos (about £6.50) for the use of the jacuzzi but we politely declined.</p>
<p>P.S. Happy Birthday, Harriet!</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Cycling In Santiago</title>
		<link>/2010/03/19/cycling-in-santiago/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Fri, 19 Mar 2010 23:14:53 +0000</pubDate>
				<category><![CDATA[Chile]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=653</guid>

					<description><![CDATA[Day 60.  We had so much fun on our bike tour around Bogota that we decided to do the same in Santiago. In the morning, we took the city tour.  Highlights include &#8230; We had a lunch of meat soup in the main market.  We learned that to take the edge of your hunger, every [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 60.  We had so much fun on our bike tour around Bogota that we decided to do the same in Santiago.</p>
<div id="attachment_654" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/la-bicicleta-verde.jpg"><img aria-describedby="caption-attachment-654" decoding="async" loading="lazy" class="size-full wp-image-654 " src="/wp-content/uploads/2010/03/la-bicicleta-verde.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/la-bicicleta-verde.jpg 657w, /wp-content/uploads/2010/03/la-bicicleta-verde-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-654" class="wp-caption-text">The Green Bike tours of Santiago</p></div>
<p>In the morning, we took the city tour.  Highlights include &#8230;</p>
<div id="attachment_655" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/plaza-de-armas-cathedral-santiago.jpg"><img aria-describedby="caption-attachment-655" decoding="async" loading="lazy" class="size-full wp-image-655 " src="/wp-content/uploads/2010/03/plaza-de-armas-cathedral-santiago.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/plaza-de-armas-cathedral-santiago.jpg 492w, /wp-content/uploads/2010/03/plaza-de-armas-cathedral-santiago-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-655" class="wp-caption-text">Santiago Cathedral in Plaza de Armas</p></div>
<div id="attachment_656" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/eiffel-station-santiago.jpg"><img aria-describedby="caption-attachment-656" decoding="async" loading="lazy" class="size-full wp-image-656 " src="/wp-content/uploads/2010/03/eiffel-station-santiago.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/eiffel-station-santiago.jpg 657w, /wp-content/uploads/2010/03/eiffel-station-santiago-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-656" class="wp-caption-text">Old train station designed by Mr Eiffel Tower</p></div>
<p>We had a lunch of meat soup in the main market.  We learned that to take the edge of your hunger, every meal has to begin with some bread and a pot of &#8220;pebre&#8221;, a flavoursome red sauce.  Each venue has its own recipe.</p>
<div id="attachment_657" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/pebre.jpg"><img aria-describedby="caption-attachment-657" decoding="async" loading="lazy" class="size-full wp-image-657 " src="/wp-content/uploads/2010/03/pebre.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/pebre.jpg 657w, /wp-content/uploads/2010/03/pebre-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-657" class="wp-caption-text">Pebre</p></div>
<p>Desert was Mote &amp; Huesillos, peach syrup with some barley with a dried peach thrown in for good measure.  This desert is sold <em>everywhere</em> and you&#8217;re never more than 20 metres from a trolley selling it.</p>
<div id="attachment_658" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/mote.jpg"><img aria-describedby="caption-attachment-658" decoding="async" loading="lazy" class="size-full wp-image-658 " src="/wp-content/uploads/2010/03/mote.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/mote.jpg 657w, /wp-content/uploads/2010/03/mote-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-658" class="wp-caption-text">Peachy!</p></div>
<p>In the afternoon, we took the politics and dog tour.  The beautiful stray chocolate dog wasn&#8217;t originally planned for the tour, but decided to join us for most of it.</p>
<div id="attachment_659" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/chocolate-dog-santiago.jpg"><img aria-describedby="caption-attachment-659" decoding="async" loading="lazy" class="size-full wp-image-659 " src="/wp-content/uploads/2010/03/chocolate-dog-santiago.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/chocolate-dog-santiago.jpg 492w, /wp-content/uploads/2010/03/chocolate-dog-santiago-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-659" class="wp-caption-text">Chocolate dog</p></div>
<p>The numerous stray dogs of Santiago are affectionately known as &#8220;defenders of the city&#8221;.  Many look like pure breeds, though the mongrel looking dogs are also called Ciltro, the term for an ostracised  individual of mixed indigenous and Spanish background.  The dogs are generally well fed and looked after by the Santiago population and are far and away the most psychologically stable dogs we&#8217;ve come across displaying bizarre human behaviour such as checking for traffic before crossing and impeccable manners.  They never bark or beg for food, but wait at a polite distance until they are offered.  They then gently take the morsel, nod their gratitude, then retire back to a polite distance.  If you don&#8217;t believe us, watch this clip of the hero dog of Santiago saving another dog&#8217;s life.  Both dogs lived to tell us the tale!</p>
<p><object width="480" height="385"><param name="movie" value="https://www.youtube.com/v/fXXaRECHHT4&#038;hl=en_US&#038;fs=1&#038;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="https://www.youtube.com/v/fXXaRECHHT4&#038;hl=en_US&#038;fs=1&#038;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object></p>
<p>Santiago is renowned for its jazz bars so in the evening we returned to the bohemian district of Bellavista to look for Bar Perseguidor which had been recommended to us.  We asked for directions from a young lad working in a corner store and he replied that his Spanish wasn&#8217;t very good.  He wondered whether we spoke either English or Arabic.  Safe shocked him by asking for directions iin Arabic.  Safe was then instantly befriended by the Palestinian shopkeeper, though he was a little concerned that he was directing us to a bar serving alcohol!</p>
<div id="attachment_660" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/persguidor.jpg"><img aria-describedby="caption-attachment-660" decoding="async" loading="lazy" class="size-full wp-image-660 " src="/wp-content/uploads/2010/03/persguidor.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/persguidor.jpg 657w, /wp-content/uploads/2010/03/persguidor-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-660" class="wp-caption-text">We took this shot so we&#39;d remember the name of the club!</p></div>
<p>Tonight was Bossanova night.  we were expecting to listen to Latin American elevator music but were pleasanty surprised by an excellent Brasilian band singing &#8220;Girl From Ipanema&#8221; style music.  Our drink of choice was Pisco.</p>
<blockquote><p><strong>Factoid:</strong> Pisco is a traditional Chilean spirit made from grapes which tastes a little like Italian Grappa mixed with a little nail polish remover.  It is never drunk neat and the flavour is usually masked with lemon juice and sugar to make a Pisco Sour, or more recently, mixed with Coca Cola to make a &#8230; urm &#8230; Piscola!</p></blockquote>
<p>While we&#8217;re on the subject of drinks, there is also a drink called the Terremoto (Spanish for earthquake) which is a litre of poor white wine and pineapple.  To order a second round, you ask for a Replica (Spanish for aftershock).</p>
<blockquote><p><strong>Opinionoid:</strong> As expected, we were surprised by Santiago.  It is a very cultural and economically advanced city (Santiago was due to &#8220;officially&#8221; join the group of developed nations in 2012 before the earthquake).  The weather at this time of year is stunningly bright, sunny and warm without humidity during the day and pleasantly cool at night.  The people we&#8217;ve interacted with are noticeably happy and friendly.  The recent earthquake has clearly embedded a scar in people&#8217;s psyche and it is constantly mentioned in the street and on the radio, however it seems to have brought the population together at the same time.</p></blockquote>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Santiago de Chile</title>
		<link>/2010/03/18/santiago-de-chile/</link>
					<comments>/2010/03/18/santiago-de-chile/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Thu, 18 Mar 2010 22:28:32 +0000</pubDate>
				<category><![CDATA[Chile]]></category>
		<category><![CDATA[Colombia]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=642</guid>

					<description><![CDATA[Day 59.  We had an early flight to Santiago, Chile&#8217;s capital this morning.  There was a small panic before we caught our taxi as the person with the key to the safe with our passports in it hadn&#8217;t turned up.  A quick phone call to her and she arrived 30 minutes later.  We were happy [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 59.  We had an early flight to Santiago, Chile&#8217;s capital this morning.  There was a small panic before we caught our taxi as the person with the key to the safe with our passports in it hadn&#8217;t turned up.  A quick phone call to her and she arrived 30 minutes later.  We were happy that the taxi driver to the airport was much friendlier than our last taxi driver to Santa Marta airport.</p>
<p>We didn&#8217;t have to pay a departure tax (it was waived for UK nationals for some reason) but we did have to pay a &#8220;tourist tax&#8221; to the check-in lady.  She asked us for 40,000 pesos which had to be paid in cash.  We only had 32,600 pesos left on us.  We&#8217;d hoped she might waive the shortfall for us (we managed to do this in Costa Rica) but no such luck.  We were duly directed to the money exchange booth where Safe once again had to give his profession, his favourite colour, football team and fingerprints to change £10 into pesos.</p>
<div id="attachment_643" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/fingerprint-1.jpg"><img aria-describedby="caption-attachment-643" decoding="async" loading="lazy" class="size-full wp-image-643 " src="/wp-content/uploads/2010/03/fingerprint-1.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/fingerprint-1.jpg 657w, /wp-content/uploads/2010/03/fingerprint-1-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-643" class="wp-caption-text">1. Place right thumb on messy inkpad</p></div>
<div id="attachment_644" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/fingerprint-2.jpg"><img aria-describedby="caption-attachment-644" decoding="async" loading="lazy" class="size-full wp-image-644 " src="/wp-content/uploads/2010/03/fingerprint-2.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/fingerprint-2.jpg 657w, /wp-content/uploads/2010/03/fingerprint-2-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-644" class="wp-caption-text">2. Place thumb on scrap of paper agreeing to the exchange of pounds for pesos </p></div>
<div id="attachment_645" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/fingerprint-3.jpg"><img aria-describedby="caption-attachment-645" decoding="async" loading="lazy" class="size-full wp-image-645 " src="/wp-content/uploads/2010/03/fingerprint-3.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/fingerprint-3.jpg 657w, /wp-content/uploads/2010/03/fingerprint-3-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-645" class="wp-caption-text">3. Remove thumb from paper, smile, comment on how well the fingerprint turned out, then act as if this is all normal! </p></div>
<p>We handed over the 40,000 pesos and insisted on a receipt which oddly was for 38,200 pesos.  The shortfall of 1,800 pesos is more than enough for several cups of coffee!  We became belligerant about receiving our change because (a) she didn&#8217;t let us off to begin with and (b) this smacked of Superman III where they were creaming off pennies from everyone&#8217;s paycheck!  They hunted around for our change everywhere and eventually had to dip into their own pockets to find it (which is where the tax probably goes anyway).</p>
<div id="attachment_646" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/leaving-bogota.jpg"><img aria-describedby="caption-attachment-646" decoding="async" loading="lazy" class="size-full wp-image-646 " src="/wp-content/uploads/2010/03/leaving-bogota.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/leaving-bogota.jpg 657w, /wp-content/uploads/2010/03/leaving-bogota-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-646" class="wp-caption-text">Goodbye, Colombia!</p></div>
<div id="attachment_647" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/arriving-santiago.jpg"><img aria-describedby="caption-attachment-647" decoding="async" loading="lazy" class="size-full wp-image-647 " src="/wp-content/uploads/2010/03/arriving-santiago.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/arriving-santiago.jpg 492w, /wp-content/uploads/2010/03/arriving-santiago-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-647" class="wp-caption-text">Hello, Chile!</p></div>
<p>The plane journey was a breeze and we arrived to the virtually passenger-free airport of Santiago.  Flights are still experiencing a slightly altered service and we saw makeshift tents outside the airport acting as departure lounges.</p>
<blockquote><p><strong>Factoid:</strong> You may be aware that Santiago experienced an earthquake on 27th Feb 2010 which caused a roof in the airport to collapse and some damage to other buildings in and around the city.  The epicentre was South of Santiago.</p></blockquote>
<div id="attachment_648" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/santiago-airport-collapse.jpg"><img aria-describedby="caption-attachment-648" decoding="async" loading="lazy" class="size-full wp-image-648 " src="/wp-content/uploads/2010/03/santiago-airport-collapse.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/santiago-airport-collapse.jpg 657w, /wp-content/uploads/2010/03/santiago-airport-collapse-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-648" class="wp-caption-text">Collapsed structure at Santiago Airport</p></div>
<p>We were slightly more disorganised than usual and hadn&#8217;t been able to arrange somewhere to stay yet.  A kindly tourist information lady sorted us out in an ApartHotel which were somewhat sceptical about.  The apartment turned out to be in a great location and is the most luxurious place we&#8217;ve stayed in since we left Palais de Armstrong in Sunningdale exactly two months ago to the day.  It even included its our own luxury kitchenette.  Our plans for a late orientation walk around the neighbourhood were foiled when we found a local supermarket selling juicy fillet steaks for the price of Tesco Value chicken.  Along with the steaks, we bought a bottle of Chilean Cabernet Sauvignon and had a night in with steak sandwiches and a movie.</p>
<div id="attachment_649" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/steak-dinner.jpg"><img aria-describedby="caption-attachment-649" decoding="async" loading="lazy" class="size-full wp-image-649 " title="Mmmm ... juicy steak!" src="/wp-content/uploads/2010/03/steak-dinner.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/steak-dinner.jpg 492w, /wp-content/uploads/2010/03/steak-dinner-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-649" class="wp-caption-text">Annie cooks steak</p></div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/03/18/santiago-de-chile/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
