<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Soup, Sand and Sea	</title>
	<atom:link href="http://localhost/2010/02/20/soup-sand-and-sea/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/02/20/soup-sand-and-sea/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Wed, 03 Mar 2010 19:18:14 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Didi Hammad		</title>
		<link>/2010/02/20/soup-sand-and-sea/#comment-45</link>

		<dc:creator><![CDATA[Didi Hammad]]></dc:creator>
		<pubDate>Wed, 03 Mar 2010 19:18:14 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=390#comment-45</guid>

					<description><![CDATA[Very interesting seeing the famous &quot;Safe&#039;s Anaesthetic Effect&quot; on animals    ( and occasionally on some humans )  extending across the ocean to this  &quot; Perro Raro &quot; in Nicaragua..!   

It appears like Annie is hooked on a particular head gear. I could swear she has the exact hat left in her room in Spain..? 
You both look very well. I do not think it is due to the strange culinary mix seen as part of the beautiful photography..! most probably it is the  &quot;Bronze Extra&quot;  due to &quot;EL Sol Del Sur&quot; !!  Make the most of it, it is still freezing cold here.

Zaki]]></description>
			<content:encoded><![CDATA[<p>Very interesting seeing the famous &#8220;Safe&#8217;s Anaesthetic Effect&#8221; on animals    ( and occasionally on some humans )  extending across the ocean to this  &#8221; Perro Raro &#8221; in Nicaragua..!   </p>
<p>It appears like Annie is hooked on a particular head gear. I could swear she has the exact hat left in her room in Spain..?<br />
You both look very well. I do not think it is due to the strange culinary mix seen as part of the beautiful photography..! most probably it is the  &#8220;Bronze Extra&#8221;  due to &#8220;EL Sol Del Sur&#8221; !!  Make the most of it, it is still freezing cold here.</p>
<p>Zaki</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: safe		</title>
		<link>/2010/02/20/soup-sand-and-sea/#comment-44</link>

		<dc:creator><![CDATA[safe]]></dc:creator>
		<pubDate>Sat, 27 Feb 2010 16:13:25 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=390#comment-44</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/02/20/soup-sand-and-sea/#comment-43&quot;&gt;James&lt;/a&gt;.

Actually it&#039;s *much* nicer than souse!  Iguana tastes like chicken but more gamey.  Rather nice!  We opted not to put up pictures of the scary beasties out of respect for them and for our faint-hearted followers, but rest assured, an email of the gory details is coming your way.]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/02/20/soup-sand-and-sea/#comment-43">James</a>.</p>
<p>Actually it&#8217;s *much* nicer than souse!  Iguana tastes like chicken but more gamey.  Rather nice!  We opted not to put up pictures of the scary beasties out of respect for them and for our faint-hearted followers, but rest assured, an email of the gory details is coming your way.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: James		</title>
		<link>/2010/02/20/soup-sand-and-sea/#comment-43</link>

		<dc:creator><![CDATA[James]]></dc:creator>
		<pubDate>Sat, 27 Feb 2010 09:45:46 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=390#comment-43</guid>

					<description><![CDATA[The soup looks a little like souse. What was it like? No picctures of the beasies?]]></description>
			<content:encoded><![CDATA[<p>The soup looks a little like souse. What was it like? No picctures of the beasies?</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
