<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Forces Of Nature	</title>
	<atom:link href="http://localhost/2010/04/18/forces-of-nature/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/04/18/forces-of-nature/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Fri, 23 Apr 2010 00:51:16 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Tony O'Donnell		</title>
		<link>/2010/04/18/forces-of-nature/#comment-110</link>

		<dc:creator><![CDATA[Tony O'Donnell]]></dc:creator>
		<pubDate>Fri, 23 Apr 2010 00:51:16 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=962#comment-110</guid>

					<description><![CDATA[Good luck with your travels back home... We&#039;ll now have to live vicariously through some other couple traveling the world!]]></description>
			<content:encoded><![CDATA[<p>Good luck with your travels back home&#8230; We&#8217;ll now have to live vicariously through some other couple traveling the world!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: James D		</title>
		<link>/2010/04/18/forces-of-nature/#comment-109</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Mon, 19 Apr 2010 19:40:58 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=962#comment-109</guid>

					<description><![CDATA[The Odyssey continues!
The Royal Navy are on standby to bring Brits home from Dunkirk....again.]]></description>
			<content:encoded><![CDATA[<p>The Odyssey continues!<br />
The Royal Navy are on standby to bring Brits home from Dunkirk&#8230;.again.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: BODAD		</title>
		<link>/2010/04/18/forces-of-nature/#comment-108</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Mon, 19 Apr 2010 16:26:47 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=962#comment-108</guid>

					<description><![CDATA[&#039;Sorry we missed your &#039;phone call, Annie. We were at the doctors. More acupuncture tomorrow (Weds). Enjoy Egypt!]]></description>
			<content:encoded><![CDATA[<p>&#8216;Sorry we missed your &#8216;phone call, Annie. We were at the doctors. More acupuncture tomorrow (Weds). Enjoy Egypt!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Aseema		</title>
		<link>/2010/04/18/forces-of-nature/#comment-107</link>

		<dc:creator><![CDATA[Aseema]]></dc:creator>
		<pubDate>Sun, 18 Apr 2010 19:22:39 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=962#comment-107</guid>

					<description><![CDATA[OMG! i can&#039;t believe that your adevnture is still going on.... you guys really don&#039;t do things by halves. 
hope all goes well
xx]]></description>
			<content:encoded><![CDATA[<p>OMG! i can&#8217;t believe that your adevnture is still going on&#8230;. you guys really don&#8217;t do things by halves.<br />
hope all goes well<br />
xx</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: BODAD		</title>
		<link>/2010/04/18/forces-of-nature/#comment-106</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Sun, 18 Apr 2010 14:51:45 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=962#comment-106</guid>

					<description><![CDATA[At least you will be able to visit your family in Egypt,Safe. I wonder if there any old plans for Arks lying around that part of the world? I think you&#039;d not be required to have all the animals two by two.
Aunty Audrey still not well.  Good Luck !!!]]></description>
			<content:encoded><![CDATA[<p>At least you will be able to visit your family in Egypt,Safe. I wonder if there any old plans for Arks lying around that part of the world? I think you&#8217;d not be required to have all the animals two by two.<br />
Aunty Audrey still not well.  Good Luck !!!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
