<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Twilight Zone &#8211; Annie &amp; Safe Go West</title>
	<atom:link href="http://localhost/category/twilight-zone/feed/" rel="self" type="application/rss+xml" />
	<link></link>
	<description>The Grand Tour</description>
	<lastBuildDate>Wed, 24 Mar 2010 23:32:56 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>The Time That Land Forgot</title>
		<link>/2010/03/24/the-time-that-land-forgot/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Wed, 24 Mar 2010 23:32:56 +0000</pubDate>
				<category><![CDATA[Twilight Zone]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=702</guid>

					<description><![CDATA[Day 65.  Travelling across the International Date Line can make you dizzy if you think about it too hard.  Our plane left Santiago on the evening of Tuesday March 23rd and is due to land in Auckland on the morning of Thursday March 25th, so what exactly happened to today, Wednesday 24th March?  The short [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 65.  Travelling across the International Date Line can make you dizzy if you think about it too hard.  Our plane left Santiago on the evening of Tuesday March 23rd and is due to land in Auckland on the morning of Thursday March 25th, so what exactly happened to today, Wednesday 24th March?  The short answer is that we were on the plane for the entire six(ish) hours of it.  No sunrise, no sunset, just six hours of darkness.  We didn&#8217;t even wash or go to the toilet that day!</p>
<p>Actually, the story is a bit more complicated.  Our flight took off at about 11:40pm, so at the stroke of midnight 20 minutes later, we had a fleeting experience of Wednesday 24th March.  Alas, this was short-lived.  Approximately one hour later we crossed Westward into a different timezone, thus gaining two hours (Chile&#8217;s clock is in summertime), and sending us right back into Tuesday 23rd March again.  Now because the Earth spins Eastward faster than our plane travels Westward, a few hours later we once again entered Wednesday 24th March, then a few hours later still, we crossed the International Date Line catapulting us straight into Thursday 25th March.</p>
<blockquote><p><strong>Factoid:</strong> England adopted our modern calendar, known as the Gregorian calendar, in 1752.  Wednesday 2nd September 1752 was immediately followed by Thursday 14th September 1752.  This traumatic change resulted in widespread riots and the populace demanding: &#8220;Give us the eleven days back!&#8221; &#8230; We&#8217;re still considering whether to demand the 18 hours back from the airline company,  or at least some compensation &#8230; perhaps they&#8217;ll give us extra airmiles &#8230;</p></blockquote>
<p>It may come as no surprise that armed with the longitude and latitude of Santiago and Auckland, and taking into account the radius of the Earth, Safe spent much time attempting to calculate the approximate times given above.  In fact, it is very probable that he spent the entire Wednesday 24th March just doing sums!</p>
<div id="attachment_703" style="width: 430px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/twilight-zone.jpg"><img aria-describedby="caption-attachment-703" decoding="async" class="size-full wp-image-703" src="/wp-content/uploads/2010/03/twilight-zone.jpg" alt="" width="420" height="581" srcset="/wp-content/uploads/2010/03/twilight-zone.jpg 420w, /wp-content/uploads/2010/03/twilight-zone-217x300.jpg 217w" sizes="(max-width: 420px) 100vw, 420px" /></a><p id="caption-attachment-703" class="wp-caption-text">Perhaps we were here for the other 18 hours!</p></div>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
