<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: May The Force Be With You, Mr Tickle	</title>
	<atom:link href="http://localhost/2010/02/09/may-the-force-be-with-you-mr-tickle/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/02/09/may-the-force-be-with-you-mr-tickle/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Sun, 14 Feb 2010 15:55:43 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Aseema		</title>
		<link>/2010/02/09/may-the-force-be-with-you-mr-tickle/#comment-37</link>

		<dc:creator><![CDATA[Aseema]]></dc:creator>
		<pubDate>Sun, 14 Feb 2010 15:55:43 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=281#comment-37</guid>

					<description><![CDATA[I&#039;m loving it! it&#039;s like watching a soap or reading a great book! can&#039;t wait for the next installment

ps got your postcard/birthday card - thank you xx]]></description>
			<content:encoded><![CDATA[<p>I&#8217;m loving it! it&#8217;s like watching a soap or reading a great book! can&#8217;t wait for the next installment</p>
<p>ps got your postcard/birthday card &#8211; thank you xx</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Frankie		</title>
		<link>/2010/02/09/may-the-force-be-with-you-mr-tickle/#comment-36</link>

		<dc:creator><![CDATA[Frankie]]></dc:creator>
		<pubDate>Sat, 13 Feb 2010 17:14:39 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=281#comment-36</guid>

					<description><![CDATA[Relax]]></description>
			<content:encoded><![CDATA[<p>Relax</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
