<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Biking In Bogota	</title>
	<atom:link href="http://localhost/2010/03/17/biking-in-bogota/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/03/17/biking-in-bogota/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Mon, 22 Mar 2010 11:41:49 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Aseema		</title>
		<link>/2010/03/17/biking-in-bogota/#comment-83</link>

		<dc:creator><![CDATA[Aseema]]></dc:creator>
		<pubDate>Mon, 22 Mar 2010 11:41:49 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=613#comment-83</guid>

					<description><![CDATA[thanks for this entry - the &#039;fat&#039; photos really made me smile
xx]]></description>
			<content:encoded><![CDATA[<p>thanks for this entry &#8211; the &#8216;fat&#8217; photos really made me smile<br />
xx</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
