<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Adios Cartagena	</title>
	<atom:link href="http://localhost/2010/03/13/adios-cartagena/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/03/13/adios-cartagena/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Mon, 15 Mar 2010 23:52:24 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Annie &#38; Safe		</title>
		<link>/2010/03/13/adios-cartagena/#comment-77</link>

		<dc:creator><![CDATA[Annie &#38; Safe]]></dc:creator>
		<pubDate>Mon, 15 Mar 2010 23:52:24 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=582#comment-77</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/03/13/adios-cartagena/#comment-76&quot;&gt;Aseema&lt;/a&gt;.

So far so good. All going sooooo quickly.]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/03/13/adios-cartagena/#comment-76">Aseema</a>.</p>
<p>So far so good. All going sooooo quickly.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Aseema		</title>
		<link>/2010/03/13/adios-cartagena/#comment-76</link>

		<dc:creator><![CDATA[Aseema]]></dc:creator>
		<pubDate>Sun, 14 Mar 2010 19:15:54 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=582#comment-76</guid>

					<description><![CDATA[what a fabulous 54 day you have had in south america! what an amazing adventure so far
xx]]></description>
			<content:encoded><![CDATA[<p>what a fabulous 54 day you have had in south america! what an amazing adventure so far<br />
xx</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
