<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Belize &#8211; Annie &amp; Safe Go West</title>
	<atom:link href="http://localhost/category/belize/feed/" rel="self" type="application/rss+xml" />
	<link></link>
	<description>The Grand Tour</description>
	<lastBuildDate>Tue, 09 Feb 2010 22:07:13 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>May The Force Be With You, Mr Tickle</title>
		<link>/2010/02/09/may-the-force-be-with-you-mr-tickle/</link>
					<comments>/2010/02/09/may-the-force-be-with-you-mr-tickle/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Tue, 09 Feb 2010 22:07:13 +0000</pubDate>
				<category><![CDATA[Belize]]></category>
		<category><![CDATA[Guatemala]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=281</guid>

					<description><![CDATA[Day 22. Another day, another country, with a pre 6am start. We reached the border with Guatemala and walked the 50 metres of No Man&#8217;s Land to meet Hugo, our new driver. No Man&#8217;s Land is inhabited by hoards of money changers eager to give you a outrageous exchange rate for your spare Belizean Dollars. [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 22.  Another day, another country, with a pre 6am start.  We reached the border with Guatemala and walked the 50 metres of No Man&#8217;s Land to meet Hugo, our new driver.  No Man&#8217;s Land is inhabited by hoards of money changers eager to give you a outrageous exchange rate for your spare Belizean Dollars.</p>
<blockquote><p>Factoid: The Guatemalan currency is called the Quetzal, which is named after the national bird, a tiny creature with unfeasibly long green tail feathers.  Quetzals were shamelessly slaughtered in their thousands to make Moctezuma&#8217;s famous head-dress as worn by Safe in the Anthropological Museum in Mexico City.  The Guatemalan Quetzal is affectionately and childishly known as the Guatemalan Pretzel &#8230; by us alone!</p></blockquote>
<p>Our bags were loaded onto the roof of our van after which some dodgy character smiled at us as he took pictures of the bags with his mobile phone.  Evil stares from us just encouraged him to take more pictures and smile even more.  We presume he was trying to find the highest price for our belongings at the standard tourist ambush spot down the road.  Thankfully, we&#8217;ve not been ambushed yet.  Perhaps he has yet to be offered enough pretzels.</p>
<p>The pile of old rocks at Tikal was our next port of call.  Our guide for the day was Miguel Antonio Marin Constanza (you&#8217;re nobody if you have less than four names in Central America).  After about an hour, we managed to stop giggling and tickling each other every time he said the word &#8220;Tikal&#8221;, and it turned out he was an ornithologist / monkey caller / all-round animal enthusiast.  We saw where the Ewoks used to live.  <a href="http://www.imdb.com/title/tt0086190/" target="_blank" rel="noopener">Return of the Jedi</a> was filmed here (the scenes in the jungle rather than on the Death Star &#8230; recognise it?).</p>
<div id="attachment_283" style="width: 382px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/ewoks-home1.jpg"><img aria-describedby="caption-attachment-283" decoding="async" class="size-full wp-image-283" title="Where's Yoda?" src="/wp-content/uploads/2010/02/ewoks-home1.jpg" alt="" width="372" height="279" srcset="/wp-content/uploads/2010/02/ewoks-home1.jpg 372w, /wp-content/uploads/2010/02/ewoks-home1-300x225.jpg 300w" sizes="(max-width: 372px) 100vw, 372px" /></a><p id="caption-attachment-283" class="wp-caption-text">Ewoks live here</p></div>
<p>Then Migual got over-excited and made us stalk every little rustle in the bushes.  The animal shots look stolen, but we did take them &#8230; we used a particularly long zoom for the crocodile &#8230;</p>
<div id="attachment_284" style="width: 394px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/tikal-animals.jpg"><img aria-describedby="caption-attachment-284" decoding="async" loading="lazy" class="size-full wp-image-284" src="/wp-content/uploads/2010/02/tikal-animals.jpg" alt="" width="384" height="256" srcset="/wp-content/uploads/2010/02/tikal-animals.jpg 384w, /wp-content/uploads/2010/02/tikal-animals-300x200.jpg 300w" sizes="(max-width: 384px) 100vw, 384px" /></a><p id="caption-attachment-284" class="wp-caption-text">Some jungle creatures of Guatemala</p></div>
<div id="attachment_285" style="width: 470px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/tikal-animals-2.jpg"><img aria-describedby="caption-attachment-285" decoding="async" loading="lazy" class="size-full wp-image-285" src="/wp-content/uploads/2010/02/tikal-animals-2.jpg" alt="" width="460" height="315" srcset="/wp-content/uploads/2010/02/tikal-animals-2.jpg 460w, /wp-content/uploads/2010/02/tikal-animals-2-300x205.jpg 300w" sizes="(max-width: 460px) 100vw, 460px" /></a><p id="caption-attachment-285" class="wp-caption-text">Some more jungle creatures of Guatemala</p></div>
<p>We learnt several interesting factoids from our guide:</p>
<blockquote><p>Factoid: According to the Mayan calendar, on 21st December 2012 (Lizzy&#8217;s Birthday) we will be entering &#8220;<a href="http://www.2012planetalignment.net/tag/sixth-cycle-of-the-sun/" target="_blank" rel="noopener">The 6th Cycle of the Sun</a>&#8221; a galactic event that occurs every 5,125 years.  There have have been predictions of huge changes in global climate and even the end of the world.  These predictions inspired the film &#8220;2012&#8221; which we&#8217;re told is complete rubbish and not to be watched.</p></blockquote>
<blockquote><p>Factoid: It is believed that indigenous Meso-Americans came from the Far East via a land bridge over the Bering Strait around the time of the last ice age around 13,000 BC.  They share a genetically common heritage and are phenotypically similar to Far Easter populations.  They also share the &#8220;<a href="http://en.wikipedia.org/wiki/Mongolian_spot" target="_blank" rel="noopener">Mongolian Spot</a>&#8220;.</p></blockquote>
<p>As if we hadn&#8217;t travelled enough today, we took an hour&#8217;s journey to the star-island Flores where we ate freshly caught lake fish in the monsoon rain.</p>
<div id="attachment_286" style="width: 310px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/flores.jpg"><img aria-describedby="caption-attachment-286" decoding="async" loading="lazy" class="size-full wp-image-286" title="Flores" src="/wp-content/uploads/2010/02/flores.jpg" alt="" width="300" height="400" srcset="/wp-content/uploads/2010/02/flores.jpg 300w, /wp-content/uploads/2010/02/flores-225x300.jpg 225w" sizes="(max-width: 300px) 100vw, 300px" /></a><p id="caption-attachment-286" class="wp-caption-text">Flores</p></div>
<p>By the way, here&#8217;s another animal we saw at Tikal, this time a moth climbing up a tree.  We really liked the picture so here it is:</p>
<div id="attachment_345" style="width: 295px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/moth-tikal.jpg"><img aria-describedby="caption-attachment-345" decoding="async" loading="lazy" class="size-full wp-image-345" src="/wp-content/uploads/2010/02/moth-tikal.jpg" alt="" width="285" height="427" srcset="/wp-content/uploads/2010/02/moth-tikal.jpg 285w, /wp-content/uploads/2010/02/moth-tikal-200x300.jpg 200w" sizes="(max-width: 285px) 100vw, 285px" /></a><p id="caption-attachment-345" class="wp-caption-text">Moth</p></div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/02/09/may-the-force-be-with-you-mr-tickle/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>ATM &#8211; A Hole In The Wall</title>
		<link>/2010/02/08/atm-a-hole-in-the-wall/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Mon, 08 Feb 2010 21:41:32 +0000</pubDate>
				<category><![CDATA[Belize]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=263</guid>

					<description><![CDATA[Day 21.  We spent the day caving in the sacred Mayan caves at Actun Tunichil Muknal (affectionately known as ATM) which is ranked No. 1 by The National Geographic in their Top 10 Sacred Caves!  (We wondered at this point what other &#8220;Top 10&#8217;s&#8221; The National Geographic had compiled). We had to wade and swim [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 21.  We spent the day caving in the sacred Mayan caves at <a href="http://en.wikipedia.org/wiki/Actun_Tunichil_Muknal" target="_blank" rel="noopener">Actun Tunichil Muknal</a> (affectionately known as ATM) which is ranked No. 1 by The National Geographic in their Top 10 Sacred Caves!  (We wondered at this point what other &#8220;Top 10&#8217;s&#8221; The National Geographic had compiled).</p>
<p>We had to wade and swim for a kilometre underground in the pitch black, neck deep in cold water with fishes nibbling at our legs to get to the Sacred Cave.</p>
<div id="attachment_266" style="width: 394px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/mouthofatm.jpg"><img aria-describedby="caption-attachment-266" decoding="async" loading="lazy" class="size-full wp-image-266" src="/wp-content/uploads/2010/02/mouthofatm.jpg" alt="" width="384" height="256" srcset="/wp-content/uploads/2010/02/mouthofatm.jpg 384w, /wp-content/uploads/2010/02/mouthofatm-300x200.jpg 300w" sizes="(max-width: 384px) 100vw, 384px" /></a><p id="caption-attachment-266" class="wp-caption-text">Jodie at ATM with Annie and Safe dodging the nibbling fish</p></div>
<p>We were instructed to wear socks during our visit to one of the sacred chambers so as not to damage any minerals.</p>
<div id="attachment_265" style="width: 394px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/socks.jpg"><img aria-describedby="caption-attachment-265" decoding="async" loading="lazy" class="size-full wp-image-265 " title="Fashion statement" src="/wp-content/uploads/2010/02/socks.jpg" alt="" width="384" height="256" srcset="/wp-content/uploads/2010/02/socks.jpg 384w, /wp-content/uploads/2010/02/socks-300x200.jpg 300w" sizes="(max-width: 384px) 100vw, 384px" /></a><p id="caption-attachment-265" class="wp-caption-text">Aunty Audrey&#39;s Christmas Socks</p></div>
<p>The cave contains many weird and wonderful looking limestone rock formations and if you squint hard enough, you can make out many images.  Our favourite was the so called &#8220;Nativity Scene&#8221; complete with animals &#8230; apparently.</p>
<div id="attachment_264" style="width: 394px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/nativity.jpg"><img aria-describedby="caption-attachment-264" decoding="async" loading="lazy" class="size-full wp-image-264" title="Away in a manger" src="/wp-content/uploads/2010/02/nativity.jpg" alt="" width="384" height="256" srcset="/wp-content/uploads/2010/02/nativity.jpg 384w, /wp-content/uploads/2010/02/nativity-300x200.jpg 300w" sizes="(max-width: 384px) 100vw, 384px" /></a><p id="caption-attachment-264" class="wp-caption-text">Nativity</p></div>
<p>The photographs are thanks to our compadre, Jodie, better known as The Woman Who Has Everything (In Her Bag).  So far, we&#8217;re indebted to her for:</p>
<ul>
<li>Two zip-lock bags</li>
<li>Silica gel</li>
<li>Bug spray</li>
<li>Collapsing shopping bag</li>
<li>Travel sickness pills</li>
<li>Sticky backed tape</li>
<li>Films</li>
<li>Half an avocado sandwich breakfast in San Cristobal when ours fell through</li>
</ul>
<p>Our camera water experiment is well underway.  We have added a bag of rice to silica gel to speed up the drying process.  Perhaps we&#8217;ll switch it on tomorrow &#8230;</p>
<div id="attachment_269" style="width: 379px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/camerainrice2.jpg"><img aria-describedby="caption-attachment-269" decoding="async" loading="lazy" class="size-full wp-image-269" title="Nouvelle cuisine" src="/wp-content/uploads/2010/02/camerainrice2.jpg" alt="" width="369" height="276" srcset="/wp-content/uploads/2010/02/camerainrice2.jpg 369w, /wp-content/uploads/2010/02/camerainrice2-300x224.jpg 300w" sizes="(max-width: 369px) 100vw, 369px" /></a><p id="caption-attachment-269" class="wp-caption-text">An old Belizean recipe - Camera in rice</p></div>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Thomas The Tank Engine &#8230; Meet James The Bus!</title>
		<link>/2010/02/07/thomas-the-tank-engine-meet-james-the-bus/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sun, 07 Feb 2010 18:09:40 +0000</pubDate>
				<category><![CDATA[Belize]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=260</guid>

					<description><![CDATA[Day 20.  Today was spent getting from our island paradise to San Ignacio by way of Rugby Scrum (or perhaps an American Football scrimmage as the Super Bowl was played today).  At 1.44pm, we were in a polite queue waiting for our bus with several other people.  At 1.45pm, the bus arrived and elbows came [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 20.  Today was spent getting from our island paradise to San Ignacio by way of Rugby Scrum (or perhaps an American Football scrimmage as the Super Bowl was played today).  At 1.44pm, we were in a polite queue waiting for our bus with several other people.  At 1.45pm, the bus arrived and elbows came flying out of nowhere.</p>
<blockquote><p><strong>Factoid:</strong> It is a little known fact that although we thought &#8220;Chicken Buses&#8221; were so called because the passengers are packed in like chickens, the real reason is because if you chicken out of the scrum with your fellow passengers, you&#8217;re left trampled on the floor outside and the bus leaves you behind.</p></blockquote>
<p>We counted at least 90 people on the bus, two of whom were little old ladies, both of whom sat on Safe&#8217;s knee.  (We fought so hard for our seats but Safe was a soft touch for the old dears).</p>
<p>Our bus was called James, a very respectable name for an unrespectable bus in this former British Colony &#8230;</p>
<div id="attachment_261" style="width: 394px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/jamesthebus.jpg"><img aria-describedby="caption-attachment-261" decoding="async" loading="lazy" class="size-full wp-image-261" title="Home, James!" src="/wp-content/uploads/2010/02/jamesthebus.jpg" alt="" width="384" height="256" srcset="/wp-content/uploads/2010/02/jamesthebus.jpg 384w, /wp-content/uploads/2010/02/jamesthebus-300x200.jpg 300w" sizes="(max-width: 384px) 100vw, 384px" /></a><p id="caption-attachment-261" class="wp-caption-text">My cousin is called Thomas</p></div>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Sharks, Rays and Barracudas &#8230; Oh My!</title>
		<link>/2010/02/06/sharks-rays-and-barracudas-oh-my/</link>
					<comments>/2010/02/06/sharks-rays-and-barracudas-oh-my/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sat, 06 Feb 2010 18:41:03 +0000</pubDate>
				<category><![CDATA[Belize]]></category>
		<category><![CDATA[bacchae]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=250</guid>

					<description><![CDATA[Day 19.  After a group Pilates session on the football pitch beside our lodgings, we feasted on a breakfast of lobster omelette and banana pancakes in preparation for a full day boat trip.  We headed down Front Street to catch our sail boat. Factoid: Caye Caulker (pronounced &#8220;Key Corker&#8221;) is a small tropical island which [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 19.  After a group Pilates session on the football pitch beside our lodgings, we feasted on a breakfast of lobster omelette and banana pancakes in preparation for a full day boat trip.  We headed down Front Street to catch our sail boat.</p>
<blockquote><p><strong>Factoid:</strong> Caye Caulker (pronounced &#8220;Key Corker&#8221;) is a small tropical island which you can walk round in less than an hour.  It has three main streets (or more accurately, dirt tracks) known imaginatively as <em>Front Street, Middle Street and Back Street</em>.  No cars are allowed on the island and transport is limited to feet, bike or trusty golf cart.  Some years ago, a hurricane cased the sea to flood the middle of the island and split it in two.  The site of the split is imaginatively known as &#8220;The Split&#8221; and is now the site for a great bar of the same name, half of which is in the sea.</p></blockquote>
<p>We spent a pleasant day snorkling amongst the friendly inhabitants of the <a href="http://www.holchanbelize.org/" target="_blank" rel="noopener">Hol Chan Marine Reserve</a>.  We petted the nurse sharks and eagle rays then sailed into the sunset with a keg of One Barrel Rum punch.  The Captain of our boat was a man called Miguel from Nicaragua with interesting tooth jewellery (which seems common in Central America) which we think help him catch fish with his mouth.</p>
<div id="attachment_333" style="width: 284px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/bacchae-miguel-caye-caulker.jpg"><img aria-describedby="caption-attachment-333" decoding="async" loading="lazy" class="size-full wp-image-333" title="Nice T-Shirt!" src="/wp-content/uploads/2010/02/bacchae-miguel-caye-caulker.jpg" alt="" width="274" height="365" srcset="/wp-content/uploads/2010/02/bacchae-miguel-caye-caulker.jpg 274w, /wp-content/uploads/2010/02/bacchae-miguel-caye-caulker-225x300.jpg 225w" sizes="(max-width: 274px) 100vw, 274px" /></a><p id="caption-attachment-333" class="wp-caption-text">Miguel</p></div>
<div id="attachment_255" style="width: 394px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/teeth.jpg"><img aria-describedby="caption-attachment-255" decoding="async" loading="lazy" class="size-full wp-image-255 " title="Bling" src="/wp-content/uploads/2010/02/teeth.jpg" alt="" width="384" height="256" srcset="/wp-content/uploads/2010/02/teeth.jpg 384w, /wp-content/uploads/2010/02/teeth-300x200.jpg 300w" sizes="(max-width: 384px) 100vw, 384px" /></a><p id="caption-attachment-255" class="wp-caption-text">Tooth Jewellery</p></div>
<p>We&#8217;d had so much fun on the boat that we decided to throw our camera into the sea to see what would happen.  We shall let you know the results of our experiment in the next few days &#8230;</p>
<p>That evening, after being thoroughly loaded with Rum Punch, we had a stint at &#8220;The Split&#8221; followed by more lobster at a restaurant called the Happy Lobster.  (We suspect that we were much happier than the poor lobster we were eating).  The night was still young so we made a beeline for the only night club on the island.  Safe increased his fan base by singing karaoke to the locals &#8230; Toni Braxton&#8217;s Unbreak My Heart.</p>
<div id="attachment_256" style="width: 394px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/belikin.jpg"><img aria-describedby="caption-attachment-256" decoding="async" loading="lazy" class="size-full wp-image-256" title="Belikin" src="/wp-content/uploads/2010/02/belikin.jpg" alt="" width="384" height="256" srcset="/wp-content/uploads/2010/02/belikin.jpg 384w, /wp-content/uploads/2010/02/belikin-300x200.jpg 300w" sizes="(max-width: 384px) 100vw, 384px" /></a><p id="caption-attachment-256" class="wp-caption-text">Safe sampling the local beer, &quot;Belikin&quot;, at The Split with Val and Jodie</p></div>
<p>Safe singing Unbreak My Heart in Caye Caulker:</p>
<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="425" height="344" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="src" value="https://www.youtube.com/v/pU2LzuVrqLQ&amp;hl=en_GB&amp;fs=1&amp;" /><param name="allowfullscreen" value="true" /><embed type="application/x-shockwave-flash" width="425" height="344" src="https://www.youtube.com/v/pU2LzuVrqLQ&amp;hl=en_GB&amp;fs=1&amp;" allowscriptaccess="always" allowfullscreen="true"></embed></object></p>
]]></content:encoded>
					
					<wfw:commentRss>/2010/02/06/sharks-rays-and-barracudas-oh-my/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>Banana Smuggling</title>
		<link>/2010/02/05/banana-smuggling/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Fri, 05 Feb 2010 18:09:11 +0000</pubDate>
				<category><![CDATA[Belize]]></category>
		<category><![CDATA[Mexico]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=248</guid>

					<description><![CDATA[Day 18.  We made a break for the border leaving our hotel before sunrise with our stash of provisions.  After an uneventful journey to the border town of Chetumal we changed buses to the Belizian chicken bus which was to take us across the border.  After being fleeced by the Mexican customs for a random [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 18.  We made a break for the border leaving our hotel before sunrise with our stash of provisions.  After an uneventful journey to the border town of Chetumal we changed buses to the Belizian chicken bus which was to take us across the border.  After being fleeced by the Mexican customs for a random amount of American Dollars, a so called &#8220;exit tax&#8221;, we drove another 15 metres to Belize. We saw the signs informing us of illegal substances not allowed to be brought into the country including fresh produce&#8230;we wern&#8217;t sure if that included meat and cheeses but to be sure we had a feeding frenzy and consumed our entire days provisions in 5 minutes flat.</p>
<p>Even though Belize is an English speaking country, we found it surprisingly hard not to speak Spanish to the charming customs officers.  We passed through customs uneventfully and were only asked if we were carrying fruit then ushered through.  We boarded the bus then continued on our journey to Belize City.  A few of things of note happened along the way:</p>
<ol>
<li>Our compadre, Willy, casually produced a banana from his bag which he had failed to declare at customs.  We&#8217;re not sure if this was intentional, but the smirk on his face gave him away.  We&#8217;re officially travelling in the company of criminals!</li>
<li>The bus driver accidentally left one of the passengers (a German business man) at the border.  Fifteen minutes into the journey, the German finally caught up with us in a taxi which he&#8217;d had to hire and proceeded to hurl abuse at the bus driver.  Needless to say, the German did not have a sense of humour!</li>
<li>The bus driver, to save a few pesos, decided to switch off the air conditioning for the rest of the four hour journey  to Belize City.  Locals and tourists alike melted into their seats, most opting to sleep.</li>
</ol>
<p>The final leg of today&#8217;s journey was a speed boat trip from Belize City to the island of Caye Calker, spiritually home to backpackers, and where lobster is cheaper than chicken and eaten at any time of day.</p>
<div id="attachment_258" style="width: 394px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/cayecaulker.jpg"><img aria-describedby="caption-attachment-258" decoding="async" loading="lazy" class="size-full wp-image-258" title="Key Corker" src="/wp-content/uploads/2010/02/cayecaulker.jpg" alt="" width="384" height="256" srcset="/wp-content/uploads/2010/02/cayecaulker.jpg 384w, /wp-content/uploads/2010/02/cayecaulker-300x200.jpg 300w" sizes="(max-width: 384px) 100vw, 384px" /></a><p id="caption-attachment-258" class="wp-caption-text">Caye Caulker</p></div>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
