<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Sumidero	</title>
	<atom:link href="http://localhost/2010/01/28/sumidero/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/01/28/sumidero/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Tue, 02 Feb 2010 13:03:06 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: safe		</title>
		<link>/2010/01/28/sumidero/#comment-25</link>

		<dc:creator><![CDATA[safe]]></dc:creator>
		<pubDate>Tue, 02 Feb 2010 13:03:06 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=181#comment-25</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/01/28/sumidero/#comment-24&quot;&gt;Rachel&lt;/a&gt;.

@Rachel, you found us out! We&#039;re actually sitting at home in Manchester under the duvet watching the entire box set of 24 and were too embarrassed to tell anyone!]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/01/28/sumidero/#comment-24">Rachel</a>.</p>
<p>@Rachel, you found us out! We&#8217;re actually sitting at home in Manchester under the duvet watching the entire box set of 24 and were too embarrassed to tell anyone!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Rachel		</title>
		<link>/2010/01/28/sumidero/#comment-24</link>

		<dc:creator><![CDATA[Rachel]]></dc:creator>
		<pubDate>Fri, 29 Jan 2010 15:00:54 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=181#comment-24</guid>

					<description><![CDATA[My god, you have been everywhere!  Actually this first photo looks scarily like you are superimposed onto great picture of canyon (are you really at the flat?)

Are you documenting recipes on your travels?  Hope so.

Rach]]></description>
			<content:encoded><![CDATA[<p>My god, you have been everywhere!  Actually this first photo looks scarily like you are superimposed onto great picture of canyon (are you really at the flat?)</p>
<p>Are you documenting recipes on your travels?  Hope so.</p>
<p>Rach</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
