<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Leon	</title>
	<atom:link href="http://localhost/2010/02/19/leon/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/02/19/leon/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Mon, 22 Feb 2010 16:59:41 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: RPatti		</title>
		<link>/2010/02/19/leon/#comment-42</link>

		<dc:creator><![CDATA[RPatti]]></dc:creator>
		<pubDate>Mon, 22 Feb 2010 16:59:41 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=377#comment-42</guid>

					<description><![CDATA[Hi Rannie &#038; Rsafe

New front door is being installed on Friday. Will text you the magic number to prevent a huge amount of noise on your entry!!!

Rpatti]]></description>
			<content:encoded><![CDATA[<p>Hi Rannie &amp; Rsafe</p>
<p>New front door is being installed on Friday. Will text you the magic number to prevent a huge amount of noise on your entry!!!</p>
<p>Rpatti</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: BODAD		</title>
		<link>/2010/02/19/leon/#comment-41</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Sun, 21 Feb 2010 21:36:29 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=377#comment-41</guid>

					<description><![CDATA[,,,,,,and it&#039;s still snowing back home!  Lucky people!]]></description>
			<content:encoded><![CDATA[<p>,,,,,,and it&#8217;s still snowing back home!  Lucky people!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
