<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Seaside	</title>
	<atom:link href="http://localhost/2010/03/06/seaside/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/03/06/seaside/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Wed, 10 Mar 2010 03:50:21 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Annie &#38; Safe		</title>
		<link>/2010/03/06/seaside/#comment-65</link>

		<dc:creator><![CDATA[Annie &#38; Safe]]></dc:creator>
		<pubDate>Wed, 10 Mar 2010 03:50:21 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=515#comment-65</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/03/06/seaside/#comment-64&quot;&gt;James D&lt;/a&gt;.

Hmm... Come to think of it, we saw quite a few Chakotay lookalikes in Central America, and you may have seen in an earlier post that Sulu from the Starship Enterprise drove one of our buses in Mexico!]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/03/06/seaside/#comment-64">James D</a>.</p>
<p>Hmm&#8230; Come to think of it, we saw quite a few Chakotay lookalikes in Central America, and you may have seen in an earlier post that Sulu from the Starship Enterprise drove one of our buses in Mexico!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: James D		</title>
		<link>/2010/03/06/seaside/#comment-64</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Tue, 09 Mar 2010 22:22:12 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=515#comment-64</guid>

					<description><![CDATA[Fantastic collection of fruit. I think I may have seen some of them before on Voyager with some leola root :-)]]></description>
			<content:encoded><![CDATA[<p>Fantastic collection of fruit. I think I may have seen some of them before on Voyager with some leola root 🙂</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
