<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Observations	</title>
	<atom:link href="http://localhost/2010/01/21/observations/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/01/21/observations/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Tue, 02 Feb 2010 13:05:07 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: safe		</title>
		<link>/2010/01/21/observations/#comment-15</link>

		<dc:creator><![CDATA[safe]]></dc:creator>
		<pubDate>Tue, 02 Feb 2010 13:05:07 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=89#comment-15</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/01/21/observations/#comment-14&quot;&gt;Aseema&lt;/a&gt;.

@Aseema, there are other cool animated characters we hope to bring you soon.  Each state seems to have its own cuddly crossing person!]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/01/21/observations/#comment-14">Aseema</a>.</p>
<p>@Aseema, there are other cool animated characters we hope to bring you soon.  Each state seems to have its own cuddly crossing person!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Aseema		</title>
		<link>/2010/01/21/observations/#comment-14</link>

		<dc:creator><![CDATA[Aseema]]></dc:creator>
		<pubDate>Sat, 30 Jan 2010 08:24:40 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=89#comment-14</guid>

					<description><![CDATA[Green jelly baby crossing the road - too cute!! Love it!]]></description>
			<content:encoded><![CDATA[<p>Green jelly baby crossing the road &#8211; too cute!! Love it!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
