<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Hot Springs	</title>
	<atom:link href="http://localhost/2010/04/13/hot-springs/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/04/13/hot-springs/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Mon, 19 Apr 2010 19:34:55 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: James D		</title>
		<link>/2010/04/13/hot-springs/#comment-105</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Mon, 19 Apr 2010 19:34:55 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=911#comment-105</guid>

					<description><![CDATA[Delighted you found the Namezake!
I hope it lived up to expectations!]]></description>
			<content:encoded><![CDATA[<p>Delighted you found the Namezake!<br />
I hope it lived up to expectations!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
