<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: And The Gardens Of Japan	</title>
	<atom:link href="http://localhost/2010/04/08/and-the-gardens-of-japan/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/04/08/and-the-gardens-of-japan/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Tue, 13 Apr 2010 13:30:26 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Dawn		</title>
		<link>/2010/04/08/and-the-gardens-of-japan/#comment-99</link>

		<dc:creator><![CDATA[Dawn]]></dc:creator>
		<pubDate>Tue, 13 Apr 2010 13:30:26 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=829#comment-99</guid>

					<description><![CDATA[Wow Annie this blog is amazing, looks like you guys have had a great trip, so jealous!!! Very entertaining, enjoy the rest of your time, will definitely be an avid watcher. Enjoy your naked little lady bathing today Dawn x]]></description>
			<content:encoded><![CDATA[<p>Wow Annie this blog is amazing, looks like you guys have had a great trip, so jealous!!! Very entertaining, enjoy the rest of your time, will definitely be an avid watcher. Enjoy your naked little lady bathing today Dawn x</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
