<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: We&#8217;re Back!	</title>
	<atom:link href="http://localhost/2010/04/22/were-back/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/04/22/were-back/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Tue, 27 Apr 2010 20:36:00 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: BODAD		</title>
		<link>/2010/04/22/were-back/#comment-113</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Tue, 27 Apr 2010 20:36:00 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=1001#comment-113</guid>

					<description><![CDATA[I got a good price for your car, Safe.  I know you&#039;ll enjoy cycling.
Agreat adventure and a fascinating diary of events, Many thanks!]]></description>
			<content:encoded><![CDATA[<p>I got a good price for your car, Safe.  I know you&#8217;ll enjoy cycling.<br />
Agreat adventure and a fascinating diary of events, Many thanks!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Dan		</title>
		<link>/2010/04/22/were-back/#comment-112</link>

		<dc:creator><![CDATA[Dan]]></dc:creator>
		<pubDate>Mon, 26 Apr 2010 19:44:35 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=1001#comment-112</guid>

					<description><![CDATA[It&#039;s good to have you both back. It all sounds amazing.]]></description>
			<content:encoded><![CDATA[<p>It&#8217;s good to have you both back. It all sounds amazing.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
