<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Coffee, Chocolate and Jade	</title>
	<atom:link href="http://localhost/2010/02/12/coffee-chocolate-and-jade/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/02/12/coffee-chocolate-and-jade/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Wed, 17 Feb 2010 15:59:01 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: safe		</title>
		<link>/2010/02/12/coffee-chocolate-and-jade/#comment-39</link>

		<dc:creator><![CDATA[safe]]></dc:creator>
		<pubDate>Wed, 17 Feb 2010 15:59:01 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=303#comment-39</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/02/12/coffee-chocolate-and-jade/#comment-38&quot;&gt;aseema&lt;/a&gt;.

Willy was good fun.  Safe is now in training to take over as team mascot ... :)]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/02/12/coffee-chocolate-and-jade/#comment-38">aseema</a>.</p>
<p>Willy was good fun.  Safe is now in training to take over as team mascot &#8230; 🙂</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: aseema		</title>
		<link>/2010/02/12/coffee-chocolate-and-jade/#comment-38</link>

		<dc:creator><![CDATA[aseema]]></dc:creator>
		<pubDate>Wed, 17 Feb 2010 13:32:02 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=303#comment-38</guid>

					<description><![CDATA[willy looks like a very happy man!]]></description>
			<content:encoded><![CDATA[<p>willy looks like a very happy man!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
