<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Wine Tour	</title>
	<atom:link href="http://localhost/2010/03/22/wine-tour/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/03/22/wine-tour/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Mon, 05 Apr 2010 11:25:45 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Annie &#38; Safe		</title>
		<link>/2010/03/22/wine-tour/#comment-88</link>

		<dc:creator><![CDATA[Annie &#38; Safe]]></dc:creator>
		<pubDate>Mon, 05 Apr 2010 11:25:45 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=680#comment-88</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/03/22/wine-tour/#comment-87&quot;&gt;James D&lt;/a&gt;.

The vines themselves were completely unharmed by the earthquake, however many fermentation tanks collapsed and broke.  Chile is going to experience a huge surplus of grapes without enough capacity to turn it all to wine.  There will be plenty of cheap (but small) table grapes this year.  And perhaps 2010 is a good year to buy good but rare Chilean wine!  Stick to the Cabernet Sauvignon.

Annie &#038; Safe]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/03/22/wine-tour/#comment-87">James D</a>.</p>
<p>The vines themselves were completely unharmed by the earthquake, however many fermentation tanks collapsed and broke.  Chile is going to experience a huge surplus of grapes without enough capacity to turn it all to wine.  There will be plenty of cheap (but small) table grapes this year.  And perhaps 2010 is a good year to buy good but rare Chilean wine!  Stick to the Cabernet Sauvignon.</p>
<p>Annie &amp; Safe</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: James D		</title>
		<link>/2010/03/22/wine-tour/#comment-87</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Mon, 29 Mar 2010 12:47:54 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=680#comment-87</guid>

					<description><![CDATA[The Ajiaco looks very much like a Spanish Cocido. Did you see much earthquake damage? There were reports of the wine region being badly hit with lots of lost bottles and barrels.]]></description>
			<content:encoded><![CDATA[<p>The Ajiaco looks very much like a Spanish Cocido. Did you see much earthquake damage? There were reports of the wine region being badly hit with lots of lost bottles and barrels.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
