<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>bacchae &#8211; Annie &amp; Safe Go West</title>
	<atom:link href="http://localhost/tag/bacchae/feed/" rel="self" type="application/rss+xml" />
	<link></link>
	<description>The Grand Tour</description>
	<lastBuildDate>Sat, 06 Feb 2010 18:41:03 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>Sharks, Rays and Barracudas &#8230; Oh My!</title>
		<link>/2010/02/06/sharks-rays-and-barracudas-oh-my/</link>
					<comments>/2010/02/06/sharks-rays-and-barracudas-oh-my/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sat, 06 Feb 2010 18:41:03 +0000</pubDate>
				<category><![CDATA[Belize]]></category>
		<category><![CDATA[bacchae]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=250</guid>

					<description><![CDATA[Day 19.  After a group Pilates session on the football pitch beside our lodgings, we feasted on a breakfast of lobster omelette and banana pancakes in preparation for a full day boat trip.  We headed down Front Street to catch our sail boat. Factoid: Caye Caulker (pronounced &#8220;Key Corker&#8221;) is a small tropical island which [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 19.  After a group Pilates session on the football pitch beside our lodgings, we feasted on a breakfast of lobster omelette and banana pancakes in preparation for a full day boat trip.  We headed down Front Street to catch our sail boat.</p>
<blockquote><p><strong>Factoid:</strong> Caye Caulker (pronounced &#8220;Key Corker&#8221;) is a small tropical island which you can walk round in less than an hour.  It has three main streets (or more accurately, dirt tracks) known imaginatively as <em>Front Street, Middle Street and Back Street</em>.  No cars are allowed on the island and transport is limited to feet, bike or trusty golf cart.  Some years ago, a hurricane cased the sea to flood the middle of the island and split it in two.  The site of the split is imaginatively known as &#8220;The Split&#8221; and is now the site for a great bar of the same name, half of which is in the sea.</p></blockquote>
<p>We spent a pleasant day snorkling amongst the friendly inhabitants of the <a href="http://www.holchanbelize.org/" target="_blank" rel="noopener">Hol Chan Marine Reserve</a>.  We petted the nurse sharks and eagle rays then sailed into the sunset with a keg of One Barrel Rum punch.  The Captain of our boat was a man called Miguel from Nicaragua with interesting tooth jewellery (which seems common in Central America) which we think help him catch fish with his mouth.</p>
<div id="attachment_333" style="width: 284px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/bacchae-miguel-caye-caulker.jpg"><img aria-describedby="caption-attachment-333" decoding="async" class="size-full wp-image-333" title="Nice T-Shirt!" src="/wp-content/uploads/2010/02/bacchae-miguel-caye-caulker.jpg" alt="" width="274" height="365" srcset="/wp-content/uploads/2010/02/bacchae-miguel-caye-caulker.jpg 274w, /wp-content/uploads/2010/02/bacchae-miguel-caye-caulker-225x300.jpg 225w" sizes="(max-width: 274px) 100vw, 274px" /></a><p id="caption-attachment-333" class="wp-caption-text">Miguel</p></div>
<div id="attachment_255" style="width: 394px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/teeth.jpg"><img aria-describedby="caption-attachment-255" decoding="async" loading="lazy" class="size-full wp-image-255 " title="Bling" src="/wp-content/uploads/2010/02/teeth.jpg" alt="" width="384" height="256" srcset="/wp-content/uploads/2010/02/teeth.jpg 384w, /wp-content/uploads/2010/02/teeth-300x200.jpg 300w" sizes="(max-width: 384px) 100vw, 384px" /></a><p id="caption-attachment-255" class="wp-caption-text">Tooth Jewellery</p></div>
<p>We&#8217;d had so much fun on the boat that we decided to throw our camera into the sea to see what would happen.  We shall let you know the results of our experiment in the next few days &#8230;</p>
<p>That evening, after being thoroughly loaded with Rum Punch, we had a stint at &#8220;The Split&#8221; followed by more lobster at a restaurant called the Happy Lobster.  (We suspect that we were much happier than the poor lobster we were eating).  The night was still young so we made a beeline for the only night club on the island.  Safe increased his fan base by singing karaoke to the locals &#8230; Toni Braxton&#8217;s Unbreak My Heart.</p>
<div id="attachment_256" style="width: 394px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/belikin.jpg"><img aria-describedby="caption-attachment-256" decoding="async" loading="lazy" class="size-full wp-image-256" title="Belikin" src="/wp-content/uploads/2010/02/belikin.jpg" alt="" width="384" height="256" srcset="/wp-content/uploads/2010/02/belikin.jpg 384w, /wp-content/uploads/2010/02/belikin-300x200.jpg 300w" sizes="(max-width: 384px) 100vw, 384px" /></a><p id="caption-attachment-256" class="wp-caption-text">Safe sampling the local beer, &quot;Belikin&quot;, at The Split with Val and Jodie</p></div>
<p>Safe singing Unbreak My Heart in Caye Caulker:</p>
<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="425" height="344" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="src" value="https://www.youtube.com/v/pU2LzuVrqLQ&amp;hl=en_GB&amp;fs=1&amp;" /><param name="allowfullscreen" value="true" /><embed type="application/x-shockwave-flash" width="425" height="344" src="https://www.youtube.com/v/pU2LzuVrqLQ&amp;hl=en_GB&amp;fs=1&amp;" allowscriptaccess="always" allowfullscreen="true"></embed></object></p>
]]></content:encoded>
					
					<wfw:commentRss>/2010/02/06/sharks-rays-and-barracudas-oh-my/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
	</channel>
</rss>
