<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Volcano! (Take 2)	</title>
	<atom:link href="http://localhost/2010/02/24/volcano-take-2/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/02/24/volcano-take-2/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Wed, 03 Mar 2010 16:42:12 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: BODAD		</title>
		<link>/2010/02/24/volcano-take-2/#comment-53</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Wed, 03 Mar 2010 16:42:12 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=445#comment-53</guid>

					<description><![CDATA[P.S.  Poor Cow!]]></description>
			<content:encoded><![CDATA[<p>P.S.  Poor Cow!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: BODAD		</title>
		<link>/2010/02/24/volcano-take-2/#comment-52</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Wed, 03 Mar 2010 16:38:34 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=445#comment-52</guid>

					<description><![CDATA[I guess your skin should be as smooth as a baby&#039;s bottom after your mud pack.  How did you remove the volcanic silt as you emerged? This is much more exciting than those dull wedding photographs we never saw! Trek on !!]]></description>
			<content:encoded><![CDATA[<p>I guess your skin should be as smooth as a baby&#8217;s bottom after your mud pack.  How did you remove the volcanic silt as you emerged? This is much more exciting than those dull wedding photographs we never saw! Trek on !!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
