<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Kick-Off	</title>
	<atom:link href="http://localhost/2010/01/19/kick-off/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/01/19/kick-off/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Wed, 27 Jan 2010 17:17:01 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: James D		</title>
		<link>/2010/01/19/kick-off/#comment-9</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Wed, 27 Jan 2010 17:17:01 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=59#comment-9</guid>

					<description><![CDATA[Love the headgear!]]></description>
			<content:encoded><![CDATA[<p>Love the headgear!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
