<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Exactly Which Bit Of A Cow Can&#8217;t You Eat?	</title>
	<atom:link href="http://localhost/2010/03/03/exactly-which-bit-of-a-cow-cant-you-eat/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/03/03/exactly-which-bit-of-a-cow-cant-you-eat/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Wed, 10 Mar 2010 04:23:24 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Annie &#38; Safe		</title>
		<link>/2010/03/03/exactly-which-bit-of-a-cow-cant-you-eat/#comment-62</link>

		<dc:creator><![CDATA[Annie &#38; Safe]]></dc:creator>
		<pubDate>Wed, 10 Mar 2010 04:23:24 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=496#comment-62</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/03/03/exactly-which-bit-of-a-cow-cant-you-eat/#comment-58&quot;&gt;Didi Hammad&lt;/a&gt;.

Actually, we can claim copyright on all of the photos except for the fisherman photo which was courtesy of Jodie.  We were too busy jumping into the lake after which Jodie swiftly followed us ... :)]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/03/03/exactly-which-bit-of-a-cow-cant-you-eat/#comment-58">Didi Hammad</a>.</p>
<p>Actually, we can claim copyright on all of the photos except for the fisherman photo which was courtesy of Jodie.  We were too busy jumping into the lake after which Jodie swiftly followed us &#8230; 🙂</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Annie &#38; Safe		</title>
		<link>/2010/03/03/exactly-which-bit-of-a-cow-cant-you-eat/#comment-61</link>

		<dc:creator><![CDATA[Annie &#38; Safe]]></dc:creator>
		<pubDate>Wed, 10 Mar 2010 04:21:08 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=496#comment-61</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/03/03/exactly-which-bit-of-a-cow-cant-you-eat/#comment-57&quot;&gt;BODAD&lt;/a&gt;.

Aunty Audrey&#039;s scones are great in any language!  We&#039;re looking forward to  several with a large helping of jam as soon as we&#039;re back ...]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/03/03/exactly-which-bit-of-a-cow-cant-you-eat/#comment-57">BODAD</a>.</p>
<p>Aunty Audrey&#8217;s scones are great in any language!  We&#8217;re looking forward to  several with a large helping of jam as soon as we&#8217;re back &#8230;</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Annie &#38; Safe		</title>
		<link>/2010/03/03/exactly-which-bit-of-a-cow-cant-you-eat/#comment-60</link>

		<dc:creator><![CDATA[Annie &#38; Safe]]></dc:creator>
		<pubDate>Wed, 10 Mar 2010 04:02:58 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=496#comment-60</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/03/03/exactly-which-bit-of-a-cow-cant-you-eat/#comment-59&quot;&gt;James D&lt;/a&gt;.

To be honest, we were teetering on the edge of nipping inside then decided against it ... ;)]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/03/03/exactly-which-bit-of-a-cow-cant-you-eat/#comment-59">James D</a>.</p>
<p>To be honest, we were teetering on the edge of nipping inside then decided against it &#8230; 😉</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: James D		</title>
		<link>/2010/03/03/exactly-which-bit-of-a-cow-cant-you-eat/#comment-59</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Tue, 09 Mar 2010 22:30:12 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=496#comment-59</guid>

					<description><![CDATA[I&#039;m not surprised you passed on this beef restaurant as the menu had the potential to really suck.]]></description>
			<content:encoded><![CDATA[<p>I&#8217;m not surprised you passed on this beef restaurant as the menu had the potential to really suck.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Didi Hammad		</title>
		<link>/2010/03/03/exactly-which-bit-of-a-cow-cant-you-eat/#comment-58</link>

		<dc:creator><![CDATA[Didi Hammad]]></dc:creator>
		<pubDate>Sat, 06 Mar 2010 11:42:56 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=496#comment-58</guid>

					<description><![CDATA[To  the &quot;Foggs&quot;,   I mean Mr &#038; Mrs Phileas Fogg,

 Very pleased to read the blog re Spanish tuitition. Now you have been &quot;tortured&quot; by senor Martello&#039;s grammar, I hope you will not laugh at my &quot;Espaniol de Calla&quot;,  as I never bothered with Verb conjugations !! I fear you may become so fluent with the &quot;Lingo nueva&quot; where you might deprive us from the beautiful literation of your blogs (The Modern Ph. Fogg&#039;s Diary) to which we became accustomed..!!  The photography is supreme, better than those in Michael Palin&#039;s book !!  &quot;The Fisherman in his Boat&quot; spreading his net and the &quot;Sunset View&quot; are fit for a museum. They answered my wonder to why both of you were stuck so close to the &quot;Tate Modern&quot;..!?  Our Mermaid sister&#039;s photo is a big surprise. Ours, poor girl, does not shine any light while lying down !! I did not realise the China Economic invasion reached as far !!?
Keep Blogging

Zaki]]></description>
			<content:encoded><![CDATA[<p>To  the &#8220;Foggs&#8221;,   I mean Mr &amp; Mrs Phileas Fogg,</p>
<p> Very pleased to read the blog re Spanish tuitition. Now you have been &#8220;tortured&#8221; by senor Martello&#8217;s grammar, I hope you will not laugh at my &#8220;Espaniol de Calla&#8221;,  as I never bothered with Verb conjugations !! I fear you may become so fluent with the &#8220;Lingo nueva&#8221; where you might deprive us from the beautiful literation of your blogs (The Modern Ph. Fogg&#8217;s Diary) to which we became accustomed..!!  The photography is supreme, better than those in Michael Palin&#8217;s book !!  &#8220;The Fisherman in his Boat&#8221; spreading his net and the &#8220;Sunset View&#8221; are fit for a museum. They answered my wonder to why both of you were stuck so close to the &#8220;Tate Modern&#8221;..!?  Our Mermaid sister&#8217;s photo is a big surprise. Ours, poor girl, does not shine any light while lying down !! I did not realise the China Economic invasion reached as far !!?<br />
Keep Blogging</p>
<p>Zaki</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: BODAD		</title>
		<link>/2010/03/03/exactly-which-bit-of-a-cow-cant-you-eat/#comment-57</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Sat, 06 Mar 2010 08:47:57 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=496#comment-57</guid>

					<description><![CDATA[All that fancy food may look good written in Spanish but you can&#039;t bear one of Aunty Audrey&#039;s scones!]]></description>
			<content:encoded><![CDATA[<p>All that fancy food may look good written in Spanish but you can&#8217;t bear one of Aunty Audrey&#8217;s scones!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
