<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Santiago de Chile	</title>
	<atom:link href="http://localhost/2010/03/18/santiago-de-chile/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/03/18/santiago-de-chile/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Tue, 23 Mar 2010 09:11:00 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Didi Hammad		</title>
		<link>/2010/03/18/santiago-de-chile/#comment-84</link>

		<dc:creator><![CDATA[Didi Hammad]]></dc:creator>
		<pubDate>Tue, 23 Mar 2010 09:11:00 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=642#comment-84</guid>

					<description><![CDATA[I would have done the same with Tourist Tax change. Good for you.]]></description>
			<content:encoded><![CDATA[<p>I would have done the same with Tourist Tax change. Good for you.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
