<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>New Zealand &#8211; Annie &amp; Safe Go West</title>
	<atom:link href="http://localhost/category/new-zealand/feed/" rel="self" type="application/rss+xml" />
	<link></link>
	<description>The Grand Tour</description>
	<lastBuildDate>Sun, 04 Apr 2010 19:29:52 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>Easter Sunday</title>
		<link>/2010/04/04/easter-sunday/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sun, 04 Apr 2010 19:29:52 +0000</pubDate>
				<category><![CDATA[New Zealand]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=764</guid>

					<description><![CDATA[Day 76.  The clocks went back last night so we had an extra hour of Easter Sunday.  Unfortunately, rather than spending it in bed, we stood outside the Rivers Cafe waiting for it to open.  However, very fortunately, we were happy to find a launderette directly opposite which was open so we took the opportunity [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 76.  The clocks went back last night so we had an extra hour of Easter Sunday.  Unfortunately, rather than spending it in bed, we stood outside the Rivers Cafe waiting for it to open.  However, very fortunately, we were happy to find a launderette directly opposite which was open so we took the opportunity to wash our very stinky camping gear instead.  The cafe finally opened and we ate a seriously large and tasty breakfast of eggs with lots of bacon, and pancakes with even more bacon.  (Murchison is famous for its bacon).</p>
<div id="attachment_765" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/launderette-murchison.jpg"><img aria-describedby="caption-attachment-765" decoding="async" class="size-full wp-image-765 " src="/wp-content/uploads/2010/04/launderette-murchison.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/04/launderette-murchison.jpg 657w, /wp-content/uploads/2010/04/launderette-murchison-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-765" class="wp-caption-text">This launderette saved our bacon!</p></div>
<p>After breakfast, we rolled out of the cafe and picked up our nice clean bag of washing.  We then stocked up on mini Easter Eggs from the corner shop for the long journey to Christchurch.</p>
<p>We were held up in the Waipara wine region some 50km outside Christchurch.  Safe remembers trying a lovely 2006 Sauvignon Blanc from Waipara West (or was it Waipara Springs?) at a NewField IT wine tasting at Vinopolos in London back in October, so he was quite excited about finding the winery.  We made stops at the low key Waipara Springs for a quiet lunch, the gates of Waipara West (just to see it for Safe&#8217;s sake), and the upmarket Pegasus.</p>
<div id="attachment_766" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/waipara-springs.jpg"><img aria-describedby="caption-attachment-766" decoding="async" loading="lazy" class="size-full wp-image-766 " src="/wp-content/uploads/2010/04/waipara-springs.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/waipara-springs.jpg 492w, /wp-content/uploads/2010/04/waipara-springs-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-766" class="wp-caption-text">Lunch at Waipara Springs</p></div>
<div id="attachment_767" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/waipara-west.jpg"><img aria-describedby="caption-attachment-767" decoding="async" loading="lazy" class="size-full wp-image-767 " src="/wp-content/uploads/2010/04/waipara-west.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/04/waipara-west.jpg 657w, /wp-content/uploads/2010/04/waipara-west-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-767" class="wp-caption-text">A drive past the entrance of Waipara West</p></div>
<p>At last we arrived in Christchurch and made ourselves comfy at the Sumida Airport Hotel and watched a women&#8217;s netball tournament on TV in anticipation of our early flight the next morning.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Abel Tasman &#8211; Day 2</title>
		<link>/2010/04/03/abel-tasman-day-2/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sat, 03 Apr 2010 19:26:54 +0000</pubDate>
				<category><![CDATA[New Zealand]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=760</guid>

					<description><![CDATA[Day 75.  We unzipped the door to our tent to watch the sunrise then took our obligatory morning dip (evening though it was a little freezing). We warmed up with French Toast courtesy of Mikey and a cup of refreshing Kawa Kawa tea whose leaves were pulled from a nearby bush. After breaking camp, we [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 75.  We unzipped the door to our tent to watch the sunrise then took our obligatory morning dip (evening though it was a little freezing).</p>
<div id="attachment_761" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/sunrise-mosquito-bay.jpg"><img aria-describedby="caption-attachment-761" decoding="async" loading="lazy" class="size-full wp-image-761 " src="/wp-content/uploads/2010/04/sunrise-mosquito-bay.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/04/sunrise-mosquito-bay.jpg 657w, /wp-content/uploads/2010/04/sunrise-mosquito-bay-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-761" class="wp-caption-text">Sunrise at Mosquito Bay</p></div>
<p>We warmed up with French Toast courtesy of Mikey and a cup of refreshing Kawa Kawa tea whose leaves were pulled from a nearby bush.</p>
<div id="attachment_762" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/kawa-kawa.jpg"><img aria-describedby="caption-attachment-762" decoding="async" loading="lazy" class="size-full wp-image-762 " src="/wp-content/uploads/2010/04/kawa-kawa.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/04/kawa-kawa.jpg 657w, /wp-content/uploads/2010/04/kawa-kawa-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-762" class="wp-caption-text">Kawa Kawa</p></div>
<p>After breaking camp, we explored the coastline a little more then stopped for lunch in Frenchman&#8217;s Bay.  Mikey pointed out two almost identical looking bushes of the varieties Kanuka and Manuka.  Manuka, also known as the New Zealand Tea Tree, has tougher leaves and has a soothing and healing effect.  Kanuka has soft leaves and has a laxative effect.  We chose to make tea out of the Manuka.</p>
<p>In the afternoon the wind picked up and were able to raft our boats together and use a tarpaulin tied to our oars as a spinnaker sail.  With the wind behind us we shot through the water.  The ride was somewhat precarious as we had to hold the raft together and keep the sail in place (and we got quite damp) but we did get to have a break from rowing.  In next to no time we were back at the water taxi pickup spot.</p>
<p>In the evening we picked up some emergency noodles and drove inland to Murchison, the birthplace of Annie&#8217;s cousin-in-law, Raewyn, and slept like logs in a comfy bed.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Abel Tasman &#8211; Day 1</title>
		<link>/2010/04/02/abel-tasman-day-1/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Fri, 02 Apr 2010 19:11:25 +0000</pubDate>
				<category><![CDATA[New Zealand]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=752</guid>

					<description><![CDATA[Day 74.  Today we head out onto the water with the appropriately named &#8220;Abel Tasman Kayaks&#8221;.  After packing our gear and preparing our kayaks, we caught a water taxi to North End of the Abel Tasman. Factoid: The Abel Tasman is a world renowned marine reserve, all round beauty spot, and a great place to [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 74.  Today we head out onto the water with the appropriately named &#8220;Abel Tasman Kayaks&#8221;.  After packing our gear and preparing our kayaks, we caught a water taxi to North End of the Abel Tasman.</p>
<blockquote><p><strong>Factoid:</strong> The Abel Tasman is a world renowned marine reserve, all round beauty spot, and a great place to explore by sea kayak.  Abel Tasman was a Dutchman who discovered and named New Zealand.  Captain Cook also discovered New Zealand, after it had already been discovered and named by Abel Tasman.  Finally, the Mauris also discovered New Zealand many hundreds of years before the Europeans.  (They named it Aotearoa).</p></blockquote>
<p>We set off a little unsteadily in our group of six led by our expert guide and World Traveller, Mikey.  Mikey is a New Zealander whose family owns a vineyard in the Waipara region.  He spent some time in the Shetlands in Scotland and we had a bit of a giggle when he told us this because we didn&#8217;t think it was that bad.  (Try saying &#8220;Shetlands&#8221; in a New Zealand accent!)</p>
<div id="attachment_753" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/abel-1.jpg"><img aria-describedby="caption-attachment-753" decoding="async" loading="lazy" class="size-full wp-image-753 " src="/wp-content/uploads/2010/04/abel-1.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/04/abel-1.jpg 657w, /wp-content/uploads/2010/04/abel-1-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-753" class="wp-caption-text">The start of our journey down the Abel Tasman</p></div>
<p>We quickly got the hang of handling our kayaks and got into a good rhythm with our oars.  Soon we were out on the open waves exploring the coastline.  Mikey had organised the trip according to the tides and we were able to venture into several lagoons which are only accessible when the tide is high.  There was a real treat waiting for us in Shag Bay (so called because of its single Cormorant inhabitant).  Mikey tried to play it cool when he realised what was waiting for us but we could see the excitement on his face.  Every Spring the lagoon briefly becomes a nursery for seal pups when they&#8217;re old enough to leave their mums but not yet old enough to brave the perils of the ocean.  There were countless seal pups playing and showing off in the shallow water and they were as curious about us as we were about them.  Their favourite trick was to appear beside our kayaks to have a good stare at us then flare their nostrils before doing a few handstands and waggling their flippery toes at us in the air.</p>
<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="480" height="385" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="src" value="https://www.youtube.com/v/zrZpEGKjQ2g&amp;hl=en_GB&amp;fs=1&amp;" /><param name="allowfullscreen" value="true" /><embed type="application/x-shockwave-flash" width="480" height="385" src="https://www.youtube.com/v/zrZpEGKjQ2g&amp;hl=en_GB&amp;fs=1&amp;" allowscriptaccess="always" allowfullscreen="true"></embed></object></p>
<blockquote><p><strong>Factoid:</strong> Did you know that baby seals have the funniest ears of any animal second only to Yoda?</p></blockquote>
<div id="attachment_754" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/seal-ears.jpg"><img aria-describedby="caption-attachment-754" decoding="async" loading="lazy" class="size-full wp-image-754 " title="seal-ears" src="/wp-content/uploads/2010/04/seal-ears.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/04/seal-ears.jpg 657w, /wp-content/uploads/2010/04/seal-ears-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-754" class="wp-caption-text">Yoda lookalike</p></div>
<p>After further exploring the coastline, we reached Mosquito Bay, our camp site for the night which is only accessible by sea.  We were glad there we no mosquitos but unfortunately we were eaten alive by sandflies instead!  After struggling to assemble our tent with bent poles, we all set about preparing a hearty and much deserved evening feast of gourmet stir-fry chicken with rice followd by jam rolly-polly.</p>
<div id="attachment_755" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/mosquito-bay-tent.jpg"><img aria-describedby="caption-attachment-755" decoding="async" loading="lazy" class="size-full wp-image-755 " src="/wp-content/uploads/2010/04/mosquito-bay-tent.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/04/mosquito-bay-tent.jpg 657w, /wp-content/uploads/2010/04/mosquito-bay-tent-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-755" class="wp-caption-text">Annie inspects the inside of our tent at Mosquito Bay</p></div>
<div id="attachment_756" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/mosquito-bay.jpg"><img aria-describedby="caption-attachment-756" decoding="async" loading="lazy" class="size-full wp-image-756 " src="/wp-content/uploads/2010/04/mosquito-bay.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/04/mosquito-bay.jpg 657w, /wp-content/uploads/2010/04/mosquito-bay-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-756" class="wp-caption-text">Safe, Annie and Mikey guard the tucker</p></div>
<p>After dinner we wandered along the beach and watch the moon rise from the horizon.  The tide had receded enough for us to explore a rather large and dark cave.  We entered it to find that it was inhabited by a large community of glow worms scattered around the walls.  Looking at the roof of the cave was like looking up at the stars.  Mikey had heard that singing to them could make them glow more brightly.  He gently sang &#8220;Silent Night&#8221; aided by Safe humming descant.  Further into the cave we found penguin burrows and a cave spider.  Our kayaking companion Steve was getting claustrophic following a bad cave experience in Thailand which left him with his chest squashed to the roof of the cave and water rushing round him so he decided not to follow us.  When we found the cave spider (the largest spider in New Zealand), our kayaking companion Tracey decided to call it a night too!</p>
<div id="attachment_757" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/abel-tasman-cave.jpg.jpg"><img aria-describedby="caption-attachment-757" decoding="async" loading="lazy" class="size-full wp-image-757 " src="/wp-content/uploads/2010/04/abel-tasman-cave.jpg.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/04/abel-tasman-cave.jpg.jpg 657w, /wp-content/uploads/2010/04/abel-tasman-cave.jpg-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-757" class="wp-caption-text">The inside of the cave at night</p></div>
<p>We returned to our tents and slept soundly until the morning.</p>
<p><em>Happy Birthday, Rachel!</em></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Marahau</title>
		<link>/2010/04/01/marahau/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Thu, 01 Apr 2010 19:09:29 +0000</pubDate>
				<category><![CDATA[New Zealand]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=749</guid>

					<description><![CDATA[Day 73.  A long travel day!  We reach Marahau on the North coast, launch point for tomorrow&#8217;s two day kayaking expedition in the Abel Tasman National Park.  We found our lodge for the night tucked away up in the hills, and after cooking ourselves a slap up chilli to give us strength for tomorrow, we [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 73.  A long travel day!  We reach Marahau on the North coast, launch point for tomorrow&#8217;s two day kayaking expedition in the Abel Tasman National Park.  We found our lodge for the night tucked away up in the hills, and after cooking ourselves a slap up chilli to give us strength for tomorrow, we went straight to bed for a good night&#8217;s rest ready for tomorrow&#8217;s excursion.</p>
<div id="attachment_750" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/blog-marahau.jpg"><img aria-describedby="caption-attachment-750" decoding="async" loading="lazy" class="size-full wp-image-750 " src="/wp-content/uploads/2010/04/blog-marahau.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/04/blog-marahau.jpg 657w, /wp-content/uploads/2010/04/blog-marahau-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-750" class="wp-caption-text">Safe grabs a generous 60 seconds of free internet to write this blo...</p></div>
<p><em>Happy Birthday, Levent!</em></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Whale Spotting</title>
		<link>/2010/03/31/whale-spotting/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Wed, 31 Mar 2010 19:06:49 +0000</pubDate>
				<category><![CDATA[New Zealand]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=746</guid>

					<description><![CDATA[Day 72.  Travel day.  We took a flight to Christchurch, hired a car and headed North along the coast as the sun set and the blue moon rose over the Pacific ocean.  We stopped in Kaikora (Mauri for Crayfish food) to sample the local seafood.  Kaikora is New Zealand&#8217;s main whale watching spot and every [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 72.  Travel day.  We took a flight to Christchurch, hired a car and headed North along the coast as the sun set and the blue moon rose over the Pacific ocean.  We stopped in Kaikora (Mauri for Crayfish food) to sample the local seafood.  Kaikora is New Zealand&#8217;s main whale watching spot and every few minutes Safe would see a splash of water over a rock and shout, &#8220;Whale!&#8221;  Alas, all we saw was water splashing over rocks.</p>
<div id="attachment_747" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/whale-kaikora.jpg"><img aria-describedby="caption-attachment-747" decoding="async" loading="lazy" class="size-full wp-image-747 " src="/wp-content/uploads/2010/04/whale-kaikora.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/04/whale-kaikora.jpg 657w, /wp-content/uploads/2010/04/whale-kaikora-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-747" class="wp-caption-text">... and why shouldn&#39;t he?!?</p></div>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Milford Sound (aka Piopiotahi)</title>
		<link>/2010/03/30/milford-sound-aka-piopiotahi/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Tue, 30 Mar 2010 19:51:46 +0000</pubDate>
				<category><![CDATA[New Zealand]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=740</guid>

					<description><![CDATA[Day 71.  Today was a long day!  We tried to book a scenic flight to Milford Sound (by far the shortest way to get there) on a light aircraft but the weather forecast didn&#8217;t permit it.  Although it was bright and sunny in Queenstown, Milford Sound experiences over 200 rainy days a year, and today [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 71.  Today was a long day!  We tried to book a scenic flight to Milford Sound (by far the shortest way to get there) on a light aircraft but the weather forecast didn&#8217;t permit it.  Although it was bright and sunny in Queenstown, Milford Sound experiences over 200 rainy days a year, and today was one of them and wondered whether Milford Sound was twinned with Manchester.  Instead, we joined a tour bus at 6:30am whose driver turned out to be a highlight of the day!  Allan is an ex-sheep shearer turned coach driver, an all-round wit and purveyor of anecdotes.  He entertained us while pointing out local sights and history on our five-and-a-half hour journey to Milford Sound.</p>
<div id="attachment_741" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/queenstown-environs.jpg"><img aria-describedby="caption-attachment-741" decoding="async" loading="lazy" class="size-full wp-image-741 " src="/wp-content/uploads/2010/04/queenstown-environs.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/04/queenstown-environs.jpg 657w, /wp-content/uploads/2010/04/queenstown-environs-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-741" class="wp-caption-text">On the way to Milford Sound</p></div>
<p>Milford Sound is only 30km from Queenstown as the crow flies, however there are a few tall mountains in the way!  The road to Milford Sound is about 300km and takes a long circuitous route around (and sometimes through) the mountains.  It was built by hand by the mass unemployed during the great depression of the 1930&#8217;s.  A treacherous part of the route is called The Devil&#8217;s Staircase where the road winds down a very steep mountain.  This was constructed by lowering men down on ropes who then planted dynamite, lit the fuse, then tugged at the rope in the hope that their colleagues would pull them  back up and clear of the explosion in time.  Workers and their families camped by the side of the road and the children were schooled by correspondence.  Some of them lived like this for up to 15 years.</p>
<p>Allan pointed out evidence of recent storm damage including several Tree Avalanches.  There is little soil on the mountains here, yet large trees grow here in abundance due to the ample rain by forming root systems horizontally which intertwine with each other to give stability.  The weight of the trees, a strong wind and a heavy deluge of rain can cause hundreds of years of trees to bing each other crashing down the side of the mountain onto unsuspecting tourists leaving bare rock underneath.</p>
<p>We also passed through farming country and saw plenty of cows, deer, and of course, sheep.</p>
<blockquote><p><strong>Factoid:</strong> Did you know that a newly qualified sheep shearer can shear a sheep in six minutes.  An experienced shearer can shear a sheep in less than a minute.  Allan&#8217;s cousin&#8217;s son recently broke the world record for getting through 556 sheep in an eight hour period.  That&#8217;s a lot of sheep for one man!</p></blockquote>
<p>After a quick stop in Te Anau to buy a venison pie from the best pie shop in New Zealand, we headed off to Milford Sound.</p>
<div id="attachment_742" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/venison-pie.jpg"><img aria-describedby="caption-attachment-742" decoding="async" loading="lazy" class="size-full wp-image-742 " src="/wp-content/uploads/2010/04/venison-pie.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/venison-pie.jpg 492w, /wp-content/uploads/2010/04/venison-pie-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-742" class="wp-caption-text">Best pie in New Zealand</p></div>
<div id="attachment_743" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/wong-way.jpg"><img aria-describedby="caption-attachment-743" decoding="async" loading="lazy" class="size-full wp-image-743 " src="/wp-content/uploads/2010/04/wong-way.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/04/wong-way.jpg 657w, /wp-content/uploads/2010/04/wong-way-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-743" class="wp-caption-text">We didn&#39;t go this way</p></div>
<p>We reached Milford Sound at midday.  Milford Sound was named by a Welsh seal hunter who was caught in a storm in the Tasman Sea and found a hidden inlet for safety which reminded him of his hometown of Milford Haven.  Milford is not actually a sound, but is in fact a Fjord as it was formed by a huge glacier flowing down into the sea.</p>
<div id="attachment_744" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/milford-sound.jpg"><img aria-describedby="caption-attachment-744" decoding="async" loading="lazy" class="size-full wp-image-744 " src="/wp-content/uploads/2010/04/milford-sound.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/milford-sound.jpg 492w, /wp-content/uploads/2010/04/milford-sound-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-744" class="wp-caption-text">Milford Sound</p></div>
<p>We took a boat out into the Sound and apparently saw it at its best as the torrential rain had filled the waterfalls which were tumbling in full force.  The strong winds were blowing in such a way that some of the waterfalls don&#8217;t quite make it to the ground but were blown back up again in a circular fashion only to fall once again.</p>
<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="425" height="344" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="src" value="https://www.youtube.com/v/qqHgVLe2-mA&amp;hl=en&amp;fs=1" /><param name="allowfullscreen" value="true" /><embed type="application/x-shockwave-flash" width="425" height="344" src="https://www.youtube.com/v/qqHgVLe2-mA&amp;hl=en&amp;fs=1" allowscriptaccess="always" allowfullscreen="true"></embed></object></p>
<p>On the bus journey back to Queenstown we were treated to a film starring Anthony Hopkins called The Fastest Indian about an unsung local hero from Invercargill on the South coast who spent years playing with his motorbike in his garage then fulfilling his dream of taking it to the salt flats of Utah and breaking a world speed record.  His motorbike (called an Indian) should have a top speed of 54mph, but by fiddling with it, he managed to pimp his ride up to 201mph!</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Queenstown</title>
		<link>/2010/03/29/queenstown/</link>
					<comments>/2010/03/29/queenstown/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Mon, 29 Mar 2010 21:34:56 +0000</pubDate>
				<category><![CDATA[New Zealand]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=736</guid>

					<description><![CDATA[Day 70.  We used our frequent flyer points to fly to Queenstown on the South Island.  (We knew we&#8217;d been collecting these points for a reason).  Queenstown developed as a gold prospecting town many moons ago, but now, most shops sell various thrill seeking packages trying to outdo each other in the amount of adrenaline [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 70.  We used our frequent flyer points to fly to Queenstown on the South Island.  (We knew we&#8217;d been collecting these points for a reason).  Queenstown developed as a gold prospecting town many moons ago, but now, most shops sell various thrill seeking packages trying to outdo each other in the amount of adrenaline they can squeeze out of you.  A triple combo in Queenstown is not a cheeseburger meal, it&#8217;s a combination of throwing yourself at high speed down a river, out of a plane, and off a bridge attached to an elastic band, after which you see your cheeseburger for the second time.  We decided to skip these options and booked ourselves on a more sedentary trip down the Milford Sound the next day.</p>
<div id="attachment_737" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/queenstown.jpg"><img aria-describedby="caption-attachment-737" decoding="async" loading="lazy" class="size-full wp-image-737 " src="/wp-content/uploads/2010/04/queenstown.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/04/queenstown.jpg 657w, /wp-content/uploads/2010/04/queenstown-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-737" class="wp-caption-text">Beside the lake at Queenstown</p></div>
<p><em>Note: We&#8217;ve been finding it almost impossible to find free internet connections in New Zealand.  After travelling in Latin America and finding free wifi in hotels and cafes everywhere, we reach &#8220;Western Civilisation&#8221; where communications technology is cheap and find that we usually have to pay!  (And the prices are very Western too)!  This explains why posts are coming in &#8220;thin and slow&#8221; at the moment &#8230; <img src="https://s.w.org/images/core/emoji/14.0.0/72x72/1f641.png" alt="🙁" class="wp-smiley" style="height: 1em; max-height: 1em;" /></em></p>
]]></content:encoded>
					
					<wfw:commentRss>/2010/03/29/queenstown/feed/</wfw:commentRss>
			<slash:comments>4</slash:comments>
		
		
			</item>
		<item>
		<title>Waikehe Island &#8211; Day 2</title>
		<link>/2010/03/28/waikehe-island-day-2/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sun, 28 Mar 2010 21:45:57 +0000</pubDate>
				<category><![CDATA[New Zealand]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=730</guid>

					<description><![CDATA[Day 69.  Today we did more of the same.  It would have been a shame not to!  We took a quick dip in the sea at Little Oneroa and completed our tour of the island. We returned to the bach to have a chat with Andrew, the guy renovating the bach who is in fact [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 69.  Today we did more of the same.  It would have been a shame not to!  We took a quick dip in the sea at Little Oneroa and completed our tour of the island.</p>
<p>We returned to the bach to have a chat with Andrew, the guy renovating the bach who is in fact the world&#8217;s nicest builder and local historian (he grew up on the island).  We spent some time chatting about various fantasy business propositions we could get involved in on the island for when we take up residence here.  These include (i) opening a launderette, (ii) bringing over European cheeses to be eaten with the local wine, and (iii) opening a convenience store which knows how to stock enough bread and beer for the hungry and thirsty locals (which seems to be a problem for the main supermarket).  After covering these tempting business opportunities, we discussed the logistics of how Andrew would bury his poor dead horse which is a lot more difficult than burying your goldfish.  This turned out to be a community effort where many Waiheke residents were called upon in this time of crisis.</p>
<div id="attachment_731" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/yucca.jpg"><img aria-describedby="caption-attachment-731" decoding="async" loading="lazy" class="size-full wp-image-731 " src="/wp-content/uploads/2010/04/yucca.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/yucca.jpg 492w, /wp-content/uploads/2010/04/yucca-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-731" class="wp-caption-text">Humungous yucca flower behind Andrew The Builder&#39;s van at the back of the bach.  We were intrigued at how such a flower could grow seeing as there had been no rain for several months!</p></div>
<p>All too soon it was time to leave and we took the ferry back to the little smoke of Auckland mainland.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Waikehe Island &#8211; Day 1</title>
		<link>/2010/03/27/waikehe-island-day-1/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sat, 27 Mar 2010 21:36:44 +0000</pubDate>
				<category><![CDATA[New Zealand]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=726</guid>

					<description><![CDATA[Day 68.  After a five year absence, we returned to Waiheke and were pleased to see that little had changed.  Waiheke is the second largest island off Auckland.  Historically it was inhabited by hippy dropout artists until the 1980&#8217;s when it started to become a more conventional holiday home location for Auckland residents.  It still [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 68.  After a five year absence, we returned to Waiheke and were pleased to see that little had changed.  Waiheke is the second largest island off Auckland.  Historically it was inhabited by hippy dropout artists until the 1980&#8217;s when it started to become a more conventional holiday home location for Auckland residents.  It still has bohemian charm with plenty of tucked away beaches of golden sand and clear blue water, and cafes, restaurants, wineries and other attractions to explore.  We were last here for Sarah and Andy&#8217;s wedding (and Jo and Malcolm&#8217;s wedding on a separate occasion just before that).</p>
<div id="attachment_727" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/waiheke.jpg"><img aria-describedby="caption-attachment-727" decoding="async" loading="lazy" class="size-full wp-image-727 " src="/wp-content/uploads/2010/04/waiheke.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/04/waiheke.jpg 657w, /wp-content/uploads/2010/04/waiheke-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-727" class="wp-caption-text">View from the East side of Waiheke Island</p></div>
<p>We revisited Sarah and Andy&#8217;s bach (North Island term for holiday cottage) to see that renovations were underway.  We explored the island a little, and wandered from beach to beach for a swim and a cup of coffee.  We ended the day watching the sunset from one of the highest points on the island while eating a picnic.</p>
<blockquote><p><strong>Factoid:</strong> New Zealand is split into two main islands, North and South.  North Islanders call their holiday home a <em>bach</em> while South Islanders call it a <em>crib</em>.</p></blockquote>
<div id="attachment_728" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/waiheke-sunset.jpg"><img aria-describedby="caption-attachment-728" decoding="async" loading="lazy" class="size-full wp-image-728 " src="/wp-content/uploads/2010/04/waiheke-sunset.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/waiheke-sunset.jpg 492w, /wp-content/uploads/2010/04/waiheke-sunset-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-728" class="wp-caption-text">Another gratuitous sunset photo looking out West from Matiatia on Waiheke Island</p></div>
<p>Safe fell in love with Waiheke five years ago and it was on Safe&#8217;s wishlist of places we had to visit on this trip.  We weren&#8217;t disappointed.  We spent much of the day working out how we might have a holiday home in Waiheke however the 28 hour journey from the UK and the 13 hour time difference make it a little difficult as a weekend getaway!</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Piha</title>
		<link>/2010/03/26/piha/</link>
					<comments>/2010/03/26/piha/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Fri, 26 Mar 2010 19:15:30 +0000</pubDate>
				<category><![CDATA[New Zealand]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=712</guid>

					<description><![CDATA[Day 67.  We ventured out of Auckland for the day and headed for the stunning West Coast beaches less than an hour away. En route, we stopped at Titirangi for a coffee. Opinionoid: The coffee is New Zealand is great.  Faithful readers will know we spent time in Columbia where we found the coffee to [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 67.  We ventured out of Auckland for the day and headed for the stunning West Coast beaches less than an hour away.</p>
<p>En route, we stopped at Titirangi for a coffee.</p>
<blockquote><p><strong>Opinionoid:</strong> The coffee is New Zealand is great.  Faithful readers will know we spent time in Columbia where we found the coffee to be strong, dark and smooth. The coffee served in New Zealand is a quite different silky, milky and delicious drink.  Although New Zealand doesn&#8217;t grown coffee beans, it prides itself on its roasting and preparation.  One could argue that New Zealand is to coffee what Belgium is to chocolate.</p></blockquote>
<p>Just past Titirangi town is Waitakere Visitors&#8217; Centre with a vista down to the sea.  In the visitors&#8217; centre was a book about spotting wildlife at the seashore and we decided it would be fun to look for creatures on the beach.  Amongst the many pictures of creatures in this book was a picture of a bright blue <a href="http://en.wikipedia.org/wiki/Portuguese_Man_o%27_War" target="_blank" rel="noopener">Portuguese Man o&#8217; War</a>, a strange looking stingy jelly-like animal which we agreed was best avoided while swimming.</p>
<div id="attachment_713" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/titiranga.jpg"><img aria-describedby="caption-attachment-713" decoding="async" loading="lazy" class="size-full wp-image-713 " src="/wp-content/uploads/2010/03/titiranga.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/titiranga.jpg 657w, /wp-content/uploads/2010/03/titiranga-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-713" class="wp-caption-text">Picture perfect view</p></div>
<p>After a winding and rolling drive to the West Coast, we reached our prize at the beach at <a href="http://en.wikipedia.org/wiki/Piha" target="_blank" rel="noopener">Piha</a>.  We took a walk along the desolate beach beneath the moody sky with the waves crashing deafeningly beside us.  It was hard not to take a beautiful photograph of the rugged natural beauty of the coast.  We&#8217;ve had to limit ourselves here to just a handful!</p>
<div id="attachment_817" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/alone-on-the-beach-piha.jpg"><img aria-describedby="caption-attachment-817" decoding="async" loading="lazy" class="size-full wp-image-817 " src="/wp-content/uploads/2010/03/alone-on-the-beach-piha.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/alone-on-the-beach-piha.jpg 492w, /wp-content/uploads/2010/03/alone-on-the-beach-piha-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-817" class="wp-caption-text">Alone on the beach</p></div>
<div id="attachment_715" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/piha-sand.jpg"><img aria-describedby="caption-attachment-715" decoding="async" loading="lazy" class="size-full wp-image-715 " src="/wp-content/uploads/2010/03/piha-sand.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/piha-sand.jpg 657w, /wp-content/uploads/2010/03/piha-sand-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-715" class="wp-caption-text">The sand at Piha</p></div>
<div id="attachment_716" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/piha-beach.jpg"><img aria-describedby="caption-attachment-716" decoding="async" loading="lazy" class="size-full wp-image-716 " src="/wp-content/uploads/2010/03/piha-beach.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/piha-beach.jpg 657w, /wp-content/uploads/2010/03/piha-beach-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-716" class="wp-caption-text">Reflections</p></div>
<div id="attachment_717" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/piha-green-mussel.jpg"><img aria-describedby="caption-attachment-717" decoding="async" loading="lazy" class="size-full wp-image-717 " src="/wp-content/uploads/2010/03/piha-green-mussel.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/piha-green-mussel.jpg 657w, /wp-content/uploads/2010/03/piha-green-mussel-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-717" class="wp-caption-text">Green mussel</p></div>
<div id="attachment_718" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/piha-shells.jpg"><img aria-describedby="caption-attachment-718" decoding="async" loading="lazy" class="size-full wp-image-718 " src="/wp-content/uploads/2010/03/piha-shells.jpg" alt="" width="394" height="295" /></a><p id="caption-attachment-718" class="wp-caption-text">Pretty shells</p></div>
<p>Then lo and behold, what did we find on the beach &#8230;</p>
<div id="attachment_819" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/man-o-war1.jpg"><img aria-describedby="caption-attachment-819" decoding="async" loading="lazy" class="size-full wp-image-819 " src="/wp-content/uploads/2010/03/man-o-war1.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/man-o-war1.jpg 492w, /wp-content/uploads/2010/03/man-o-war1-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-819" class="wp-caption-text">Man o&#39; war</p></div>
<p>It must be a sign!</p>
]]></content:encoded>
					
					<wfw:commentRss>/2010/03/26/piha/feed/</wfw:commentRss>
			<slash:comments>3</slash:comments>
		
		
			</item>
	</channel>
</rss>
