<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Japan &#8211; Annie &amp; Safe Go West</title>
	<atom:link href="http://localhost/category/japan/feed/" rel="self" type="application/rss+xml" />
	<link></link>
	<description>The Grand Tour</description>
	<lastBuildDate>Tue, 20 Apr 2010 21:11:17 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>Headache</title>
		<link>/2010/04/20/headache/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Tue, 20 Apr 2010 21:11:17 +0000</pubDate>
				<category><![CDATA[Japan]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=985</guid>

					<description><![CDATA[Day 92. Hotel checkout time was 10am but we were still in bed. The order of events was as follows: We were called by reception at 10:20am and asked if we planned to checkout so we delayed our checkout to 11am. We were called by reception at 11:20am and asked if we planned to checkout [&#8230;]]]></description>
										<content:encoded><![CDATA[<div id="_mcePaste">Day 92.  Hotel checkout time was 10am but we were still in bed.  The order of events was as follows:</div>
<div>
<div>
<ol>
<li>We were called by reception at 10:20am and asked if we planned to checkout so we delayed our checkout to 11am.</li>
<li>We were called by reception at 11:20am and asked if we planned to checkout so we delayed our checkout to 12am.</li>
<li>We were called by reception at 12:20am and asked if we planned to checkout so we delayed our checkout to 1pm.</li>
<li>We were called by reception at 13:20am and asked if we planned to checkout so we delayed our checkout to 2pm.</li>
<li>We were called by reception at 14:20am and asked if we planned to checkout.  At 3pm our heads stopped spinning and we finally managed to check out.</li>
</ol>
</div>
</div>
<div>We took a train to the notorious <a href="http://en.wikipedia.org/wiki/Kansai_International_Airport" target="_blank" rel="noopener">Kansai International Airport</a>, a stunning feat of engineering built at great expense on an artificial island and sinking gradually into the sea, and caught our overnight flight to Cairo.  We were <strong><em>so</em></strong> relieved to have a late flight today!  Safe ate his final meal of fish, rice and pickles on the plane.</div>
<p>Happy Birthday, Annabelle!</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Popstar!</title>
		<link>/2010/04/19/popstar/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Mon, 19 Apr 2010 21:53:59 +0000</pubDate>
				<category><![CDATA[Japan]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=974</guid>

					<description><![CDATA[Day 91.  We decided to carry on being tourists in Osaka and make the most of the day.  We travelled out Tempozan Harbour Village to visit Osaka Aquarium and take a ride on what was formerly the largest ferris wheel in the world. The aquarium was very impressive and filled some cute and some not [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 91.  We decided to carry on being tourists in Osaka and make the most of the day.  We travelled out Tempozan Harbour Village to visit Osaka Aquarium and take a ride on what was formerly the largest ferris wheel in the world.</p>
<p>The aquarium was very impressive and filled some cute and some not so cute animals.  It is one of the few aquariums large enough to house two gigantic whale sharks.</p>
<blockquote><p><strong>Factoid:</strong> Osaka Aquarium contains 5,400 tonnes of water behind 30cm thick acrylic glass.  The total quantity of acrylic glass in the aquarium is more than 1.5 times the total world yearly production.</p></blockquote>
<div id="attachment_975" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/whale-shark.jpg"><img aria-describedby="caption-attachment-975" decoding="async" class="size-full wp-image-975 " src="/wp-content/uploads/2010/04/whale-shark.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/whale-shark.jpg 657w, /wp-content/uploads/2010/04/whale-shark-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-975" class="wp-caption-text">Whale shark - a big fish!</p></div>
<div id="attachment_976" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/pretty-jelly-fish.jpg"><img aria-describedby="caption-attachment-976" decoding="async" loading="lazy" class="size-full wp-image-976 " src="/wp-content/uploads/2010/04/pretty-jelly-fish.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/pretty-jelly-fish.jpg 657w, /wp-content/uploads/2010/04/pretty-jelly-fish-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-976" class="wp-caption-text">Pretty white jellyfish</p></div>
<div id="attachment_977" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/orange-jelly-fish.jpg"><img aria-describedby="caption-attachment-977" decoding="async" loading="lazy" class="size-full wp-image-977 " src="/wp-content/uploads/2010/04/orange-jelly-fish.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/orange-jelly-fish.jpg 492w, /wp-content/uploads/2010/04/orange-jelly-fish-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-977" class="wp-caption-text">Pretty orange jellyfish</p></div>
<p>The ferris wheel gave us a bird&#8217;s eye view of the impressive sprawling metropolis, skyscrapers, bridges, and port of Osaka.</p>
<div id="attachment_978" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/ferris-wheel-osaka.jpg"><img aria-describedby="caption-attachment-978" decoding="async" loading="lazy" class="size-full wp-image-978 " src="/wp-content/uploads/2010/04/ferris-wheel-osaka.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/ferris-wheel-osaka.jpg 492w, /wp-content/uploads/2010/04/ferris-wheel-osaka-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-978" class="wp-caption-text">Good view from the top</p></div>
<p>In the afternoon we continued to try to find a way home overland and booked an onward flight from Cairo to Tunis where we are to catch an overnight ferry to Genoa in Italy.  We plan to travel overland through Europe which is looking a little difficult at the moment, though we&#8217;re sure we&#8217;ll work something out when we reach Italy.</p>
<p>In the evening we set out for the bright lights of downtown Osaka and to scenes reminiscent of <a href="http://en.wikipedia.org/wiki/Blade_Runner" target="_blank" rel="noopener">Blade Runner</a>.  In a back street we spotted an eating establishment with customers seated round a bar, each with their own copper cauldron of boiling water.  This looked too interesting to pass up so we investigated further.  We were provided with a tray of vegetables, some sliced meat and a pot of boiling water.  We were slightly at a loss as to the correct procedure (even though we had an English leaflet explaining what to do) and unfortunately all the other customers were half-way through eating so we had nobody to copy.  Annie had just melted a rice cake by leaving it in her hot water rendering it gooey and messy.  Fortunately, a Korean brother and sister arrived at the restaurant, sat next to us, and guided us through the proper procedure for eating Shabu-Shabu.</p>
<div id="attachment_997" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/shabu-shabu-osaka.jpg"><img aria-describedby="caption-attachment-997" decoding="async" loading="lazy" class="size-full wp-image-997 " src="/wp-content/uploads/2010/04/shabu-shabu-osaka.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/shabu-shabu-osaka.jpg 657w, /wp-content/uploads/2010/04/shabu-shabu-osaka-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-997" class="wp-caption-text">Shabu-shabu</p></div>
<div id="attachment_979" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/how-to-eat-shabu-shabu.jpg"><img aria-describedby="caption-attachment-979" decoding="async" loading="lazy" class="size-full wp-image-979 " src="/wp-content/uploads/2010/04/how-to-eat-shabu-shabu.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/how-to-eat-shabu-shabu.jpg 492w, /wp-content/uploads/2010/04/how-to-eat-shabu-shabu-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-979" class="wp-caption-text">Shabu-shabu means &quot;shakey, shakey&quot; on account of how you swish the meat in the hot water to cook it</p></div>
<p>It transpired that the brother lives in Hong Kong and is here both on business and to visit his sister.  His sister lives in Osaka and is a well known popstar!  They were having dinner in this low-key restaurant to take a break from adoring fans.  Having had a lovely dinner with them, they insisted we join them as guests at their regular bar.</p>
<p>It is customary in bars in the Far East to purchase your own bottle of spirit.  Your name is tag is attached to it and it is held for you at the bar.  The celebrity sister insisted on buying a bottle of 12 year old Chivas Regal and her name was tagged to it.  The name tag proved unneccesary as we&#8217;d polished off the whole bottle by the end of the evening.  We&#8217;re not usually led astray this easily, but the phrase &#8220;When in Rome&#8221; sprang to mind.  Besides, the brother enjoyed showing us how to carefully drop a shot glass of whisky into a tumbler of beer without spilling it, a practice known as &#8220;Bombing&#8221;.</p>
<div id="attachment_980" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/osaka-bar.jpg"><img aria-describedby="caption-attachment-980" decoding="async" loading="lazy" class="size-full wp-image-980 " src="/wp-content/uploads/2010/04/osaka-bar.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/osaka-bar.jpg 657w, /wp-content/uploads/2010/04/osaka-bar-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-980" class="wp-caption-text">The night is still young and the line of empty beer bottles is still short</p></div>
<p>We had unsuccessfully been trying to experience an evening of karaoke since we arrived in Japan.  We were really excited when the high-tech karaoke console appeared out of nowhere.</p>
<div id="attachment_981" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/karaoke-console.jpg"><img aria-describedby="caption-attachment-981" decoding="async" loading="lazy" class="size-full wp-image-981 " src="/wp-content/uploads/2010/04/karaoke-console.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/karaoke-console.jpg 657w, /wp-content/uploads/2010/04/karaoke-console-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-981" class="wp-caption-text">21st century karaoke</p></div>
<p>The brother and sister were fantastic singers.  The brother crooned Korean love songs and the sister sang one of her own songs!  No less than 28 of her songs were available on the karaoke machine.  It was odd to watch her singing beside us whilst also watching her on the music video.  Safe and Annie tried (and failed) to outsing them with, of course, Toni Braxton&#8217;s Unbreak My Heart.  We staggered home like students at 4am.</p>
<div id="attachment_982" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/karaoke-stars.jpg"><img aria-describedby="caption-attachment-982" decoding="async" loading="lazy" class="size-full wp-image-982 " src="/wp-content/uploads/2010/04/karaoke-stars.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/karaoke-stars.jpg 657w, /wp-content/uploads/2010/04/karaoke-stars-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-982" class="wp-caption-text">Pop stars!</p></div>
<p>This was our final farewell to Japan and a fantastic sendoff.  Tonight we were thankful that the volcano had delayed us.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Forces Of Nature</title>
		<link>/2010/04/18/forces-of-nature/</link>
					<comments>/2010/04/18/forces-of-nature/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sun, 18 Apr 2010 08:52:30 +0000</pubDate>
				<category><![CDATA[Japan]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=962</guid>

					<description><![CDATA[Day 90.  We both woke us with the same realisation.  Even though we were booked on a flight for Monday 26th April out of Tokyo, whether or not we were to fly was completely down to forces of nature.  The internet is a mine of information and what is clear is that (a) the airlines [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 90.  We both woke us with the same realisation.  Even though we were booked on a flight for Monday 26th April out of Tokyo, whether or not we were to fly was completely down to forces of nature.  The internet is a mine of information and what is clear is that (a) the airlines are very optimistic and (b) the geologists are very pessimitic about flights getting back to normal soon.  Seeing as it&#8217;s a volcano stopping us flying, were inclined to go with the geologists&#8217; assessment!  BBC News Online is on the whole is both impartial and philosophical about the whole affair.  One entertaining article encourages us to see this episode as a glimpse into our futures and learn from the experience.  That&#8217;s easy too say if you&#8217;re tucked up at home!</p>
<p>Rather than wait for a week to see whether the airlines or the geologists were right, we decided we&#8217;d try to get home incrementally.  We&#8217;ve booked a flight to Cairo leaving Tuesday evening!  Our reasons are:</p>
<div id="_mcePaste">
<ol>
<li>It&#8217;s slightly closer to home.</li>
<li>It&#8217;s a lot warmer than Tokyo which is experiencing freak changeable weather from snow to torrential rain to heatwave.</li>
<li>The flight was comparatively cheap and by far the cheapest on the internet heading towards Europe!  (Other flights cost silly thousands of pounds).</li>
<li>They do the best stuffed pigeon.</li>
</ol>
</div>
<p>We booked our flights on the internet in the lobby of our hotel.  We were sat near another British couple who were also trapped in Tokyo.  They had no onward flight booked and no idea to get home.  They had tried to catch their Emirates flight as far as Dubai even though their onward flight cancelled but were told that Dubai was not permitting this.  We suggested they try our flight to Cairo.  Within minutes, when they tried to book it, our flight was full.  The next available flight to Cairo was on the following Saturday costing silly thousands of pounds!</p>
<p>Let&#8217;s hope the ash doesn&#8217;t reach Egypt!  Apart from the fact that we&#8217;d still be stuck in Japan, it would be quite Biblical:</p>
<blockquote><p><em>&#8220;Then the LORD said to Moses, &#8220;Stretch out your hand toward the sky so that darkness will spread over Egypt—darkness that can be felt.&#8221; So Moses stretched out his hand toward the sky, and total darkness covered all Egypt for three days. No one could see anyone else or leave his place for three days.&#8221;</em></p>
<p style="text-align: right;">— Exodus 10:21–23</p>
</blockquote>
<p>Our flight leaves from Osaka so we boarded a Shinkansen (alas still no Mount Fuji) headed there.  For the first time on this trip, we&#8217;d managed to plan our cash exactly to the last few pennies, only to find we had no money to buy lunch for the train!  (Credit card is not as widely accepted here and you often see people pulling out wods of cash from their back pockets.)</p>
<div id="attachment_963" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/last-coins-japan.jpg"><img aria-describedby="caption-attachment-963" decoding="async" loading="lazy" class="size-full wp-image-963 " src="/wp-content/uploads/2010/04/last-coins-japan.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/last-coins-japan.jpg 657w, /wp-content/uploads/2010/04/last-coins-japan-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-963" class="wp-caption-text">Money money money!</p></div>
<p>A noticeable proportion of the general public wears a surgical face mask.  We&#8217;re not entirely sure whether this is to protect them from germs, to protect others from germs, or perhaps both.  We thought we&#8217;d take the opportunity to see what it meant to wear a surgical mask in public.  Nobody batted an eye at us.</p>
<div id="attachment_964" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/masks.jpg"><img aria-describedby="caption-attachment-964" decoding="async" loading="lazy" class="size-full wp-image-964 " src="/wp-content/uploads/2010/04/masks.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/masks.jpg 657w, /wp-content/uploads/2010/04/masks-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-964" class="wp-caption-text">Now we&#39;re stuck here we&#39;re trying to fit in.  Perhaps it&#39;ll protect us from volcanic ash!</p></div>
<p>We checked into our hotel in the Nanba district of Osaka whereupon Annie was given &#8220;gifts&#8221; including:</p>
<ul>
<li>Firming hot pepper body sauce &#8220;so you can mix with the celebrities&#8221;.</li>
<li>Anti-wrinkle milk.</li>
<li>A moisturising face mask.</li>
</ul>
<div id="attachment_970" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/face-mask-osaka.jpg"><img aria-describedby="caption-attachment-970" decoding="async" loading="lazy" class="size-full wp-image-970 " src="/wp-content/uploads/2010/04/face-mask-osaka.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/face-mask-osaka.jpg 657w, /wp-content/uploads/2010/04/face-mask-osaka-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-970" class="wp-caption-text">Beautiful!</p></div>
<p>After Annie had been beautified, we went out to explore the area.  We like Osaka!  We weren&#8217;t expecting much more than an industrial port city with concrete carbuncles, but were were pleasantly surprised by the virabrancy and character of this town.  And Osaka is known in Japan for its food, so we felt right at home.</p>
<p>We tried the local delicacy of takoyaki, octopus pancakey balls:</p>
<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="425" height="344" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="src" value="https://www.youtube.com/v/g82AU4VSY_c&amp;hl=en&amp;fs=1" /><param name="allowfullscreen" value="true" /><embed type="application/x-shockwave-flash" width="425" height="344" src="https://www.youtube.com/v/g82AU4VSY_c&amp;hl=en&amp;fs=1" allowscriptaccess="always" allowfullscreen="true"></embed></object></p>
<p>Then by accident, we found <a href="http://www.rikuro.co.jp/index2.html" target="_blank" rel="noopener">Rikuro&#8217;s</a>, arguably the most celebrated cheesecake shop in Japan and had to queue to buy our cheescake.  Customers are limited to buying a maximum of two cheescackes and the reason is very clear.  After we had devoured our cheesecake, we were tempted to go back and buy a lifetime&#8217;s supply.</p>
<div id="attachment_971" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/rikuro-cheesecacke.jpg"><img aria-describedby="caption-attachment-971" decoding="async" loading="lazy" class="size-full wp-image-971 " src="/wp-content/uploads/2010/04/rikuro-cheesecacke.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/rikuro-cheesecacke.jpg 657w, /wp-content/uploads/2010/04/rikuro-cheesecacke-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-971" class="wp-caption-text">Light, fluffy, moist and not too sweet.  Two is not enough!</p></div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/04/18/forces-of-nature/feed/</wfw:commentRss>
			<slash:comments>5</slash:comments>
		
		
			</item>
		<item>
		<title>Eyjafjallajoekull</title>
		<link>/2010/04/17/eyjafjallajoekull/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sat, 17 Apr 2010 00:47:00 +0000</pubDate>
				<category><![CDATA[Japan]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=957</guid>

					<description><![CDATA[Day 89.  Trapped in Tokyo!  Eyjafjallajoekull Volcano in Iceland has spewed out ash all over the UK so our flight has been cancelled.  We&#8217;re provisionally booked to fly back on 26th April, though apparently we should be able to get back sooner if the wind changes. On the amusing side, BBC News Online is now displaying [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 89.  Trapped in Tokyo!  Eyjafjallajoekull Volcano in Iceland has spewed out ash all over the UK so our flight has been cancelled.  We&#8217;re provisionally booked to fly back on 26th April, though apparently we should be able to get back sooner if the wind changes.</p>
<p>On the amusing side, BBC News Online is now displaying Twitter comments with some of its news stories.  Here&#8217;s one we enjoyed:</p>
<blockquote><p><strong>11:43 </strong><em>twmercer tweets: Honestly. If you can&#8217;t look after your volcano you shouldn&#8217;t be allowed to keep one.</em></p></blockquote>
<div id="attachment_960" style="width: 395px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/ash-cloud.jpg"><img aria-describedby="caption-attachment-960" decoding="async" loading="lazy" class="size-full wp-image-960 " src="/wp-content/uploads/2010/04/ash-cloud.jpg" alt="" width="385" height="280" srcset="/wp-content/uploads/2010/04/ash-cloud.jpg 550w, /wp-content/uploads/2010/04/ash-cloud-300x218.jpg 300w" sizes="(max-width: 385px) 100vw, 385px" /></a><p id="caption-attachment-960" class="wp-caption-text">Ash cloud</p></div>
<p>We also just learned that the floor at our flat in London is swimming under two inches of water because the washing machine has leaked!</p>
<p>Not wanting to tempt fate, we&#8217;re waiting for the third bit of news &#8230; !</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Final Day &#8230; Maybe &#8230;</title>
		<link>/2010/04/16/final-day-maybe/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Fri, 16 Apr 2010 21:06:46 +0000</pubDate>
				<category><![CDATA[Japan]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=954</guid>

					<description><![CDATA[Day 88.  Our last full day!  Flying back to London tomorrow!  Well it had to happen sometime &#8230; We rode the Shinkansen back from Hiroshima to Tokyo.  The elusive Mount Fuji should be visible from the train on this route.  We weren&#8217;t sure exactly when to look out of the window, but the sight of [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 88.  Our last full day!  Flying back to London tomorrow!  Well it had to happen sometime &#8230;</p>
<p>We rode the Shinkansen back from Hiroshima to Tokyo.  The elusive Mount Fuji should be visible from the train on this route.  We weren&#8217;t sure exactly when to look out of the window, but the sight of several people craning their heads excitedly on one side  of the train as we pulled into Odawarra about an hour out of Tokyo was a give-away.  Alas, the weather had turned cold and misty, and Fuji remained cloaked from view.</p>
<p>Now that we&#8217;re &#8220;locals&#8221; in Tokyo, we checked into our favourite hotel in Asakusa then returned to our favourite baby eel restaurant next door.</p>
<p>We were a bit slow on the uptake.  Although we realised that a volcano had erupted in Iceland, we didn&#8217;t quite realise the effect it was having on air traffic.  UK airspace is closed today, though apparently our flight is still scheduled to leave tomorrow  We shall see &#8230;</p>
<div id="attachment_955" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/baby-eels-2.jpg"><img aria-describedby="caption-attachment-955" decoding="async" loading="lazy" class="size-full wp-image-955 " src="/wp-content/uploads/2010/04/baby-eels-2.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/baby-eels-2.jpg 492w, /wp-content/uploads/2010/04/baby-eels-2-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-955" class="wp-caption-text">After tucking into a bowl of baby eels, Safe ponders whether we&#39;ll be flying home tomorrow</p></div>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Hiroshima</title>
		<link>/2010/04/15/hiroshima/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Thu, 15 Apr 2010 21:25:42 +0000</pubDate>
				<category><![CDATA[Japan]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=928</guid>

					<description><![CDATA[Day 87.  We spent the day in Hiroshima.  Although Hiroshima is a vibrant city in its own right, tourists only visit Hiroshima for one reason, and that&#8217;s why we&#8217;re here.  At the centre of town is Memorial Park and museum, an area dedicated to the memory of those that died in the atomic bomb in [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 87.  We spent the day in Hiroshima.  Although Hiroshima is a vibrant city in its own right, tourists only visit Hiroshima for one reason, and that&#8217;s why we&#8217;re here.  At the centre of town is Memorial Park and museum, an area dedicated to the memory of those that died in the atomic bomb in 1945, the history of events both leading up to and after the bomb, and to the continued effort of this &#8220;City of Peace&#8221; to promote the eradication of all nuclear weapons.</p>
<p>At the entrance to the park is &#8220;The A Bomb Dome&#8221;, the former Centre for Industrial Promotion and one of the few structures left standing after the bomb. Its copper roof melted and all parts of the building that were combustable disintigrated leaving only a shell. The ruin has been left untouched since that day as a reminder of the city&#8217;s destruction.</p>
<div id="attachment_929" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/a-bomb-dome.jpg"><img aria-describedby="caption-attachment-929" decoding="async" loading="lazy" class="size-full wp-image-929 " src="/wp-content/uploads/2010/04/a-bomb-dome.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/a-bomb-dome.jpg 657w, /wp-content/uploads/2010/04/a-bomb-dome-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-929" class="wp-caption-text">A-Bomb Dome</p></div>
<blockquote><p><strong>Factoid:</strong> The atomic bomb was dropped at 08.15 am on 6th August 1945 and it exploded at a height of 600metres over Hiroshima. Heat from the bomb raised surface temperatures to between 3000 and 4000 degrees Celsius and generated a blast that blew at 440 metres per second (approx 984 miles per hour). Simultaneously an enormous amount of radiation was released causing complete devastation for a 2 kilometre radius.</p></blockquote>
<p>Unsurprisingly Japan is vehemently against Nuclear Armament and each time a nuclear weapon is tested the Mayor of Hiroshima sends a letter of protest to the leader of the country opposing any further development.</p>
<div id="attachment_930" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/blair-protest.jpg"><img aria-describedby="caption-attachment-930" decoding="async" loading="lazy" class="size-full wp-image-930 " src="/wp-content/uploads/2010/04/blair-protest.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/blair-protest.jpg 492w, /wp-content/uploads/2010/04/blair-protest-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-930" class="wp-caption-text">A letter of protest to Prime Minister Tony Blair in 2002</p></div>
<p>In another area of the park is the Children&#8217;s Peace Memorial dedicated to Sadako Sasaki, a girl who was 2 years old and survived the blast.  Ten years later she developed leukaemia as a result of exposure to radiation.  She started to fold origami paper cranes in the belief that if she folded 1000 she would survive.  Unfortunately she died before she reached her goal but her classmates continued her efforts and soon the the crane became a symbol of peace and hope for Hiroshima.  Now cranes are folded by children from all over the world and sent to the childrens memorial in remembrance of those who died and suffered.</p>
<div id="attachment_931" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/cranes.jpg"><img aria-describedby="caption-attachment-931" decoding="async" loading="lazy" class="size-full wp-image-931 " src="/wp-content/uploads/2010/04/cranes.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/cranes.jpg 657w, /wp-content/uploads/2010/04/cranes-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-931" class="wp-caption-text">Paper cranes at Children&#39;s Peace Memorial</p></div>
<blockquote><p><strong>Factoid:</strong> In August 1945, Tsutomu Yamaguchi was sent to Hiroshima on a business trip. With the job done, his co-workers left, but Yamaguchi realized that he had forgotten his personal seal for signing official documents, so he headed back into town to pick it up. That&#8217;s when the atomic bomb was dropped on Hiroshima. Badly burned, deaf, and partially blind, he spent a night in the ruins of the city, and then found a railway station on the western edge of the city that was back in operation. He managed to catch a train home to Nagasaki, where — as Yamaguchi explained to his disbelieving boss what had happened in Hiroshima — the second atomic bomb was dropped.</p>
<p>In 2009, the Japanese government certified the still-living Tsutomu Yamaguchi as the first known person to have been at ground zero of both atomic blasts.</p></blockquote>
<p>After being captivated in the museum and park for nearly four hours we felt thoroughly exhausted.  A Japanese man walking his pet sheep went some way to raising our spirits but we were still in need of sustenance.</p>
<div id="attachment_932" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/labradoodle.jpg"><img aria-describedby="caption-attachment-932" decoding="async" loading="lazy" class="size-full wp-image-932 " src="/wp-content/uploads/2010/04/labradoodle.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/labradoodle.jpg 657w, /wp-content/uploads/2010/04/labradoodle-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-932" class="wp-caption-text">Sheep dog</p></div>
<p>We visited a four storey building (Okonimimura) filled with stalls that all make the same food, a pancakey &#8211; omlettey &#8211; beansprout thingy with some squid prawn and ginger thrown in for good measure (okonomiyaki).</p>
<div id="attachment_933" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/okonomiyaki.jpg"><img aria-describedby="caption-attachment-933" decoding="async" loading="lazy" class="size-full wp-image-933 " src="/wp-content/uploads/2010/04/okonomiyaki.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/okonomiyaki.jpg 657w, /wp-content/uploads/2010/04/okonomiyaki-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-933" class="wp-caption-text">Okonomiyaki</p></div>
<div id="attachment_934" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/okonomiyaki-2.jpg"><img aria-describedby="caption-attachment-934" decoding="async" loading="lazy" class="size-full wp-image-934 " src="/wp-content/uploads/2010/04/okonomiyaki-2.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/okonomiyaki-2.jpg 492w, /wp-content/uploads/2010/04/okonomiyaki-2-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-934" class="wp-caption-text">Annie was too hungry to stop eating and pose for the picture</p></div>
<p>We felt restored enough to do some browsing in Hiroshima shopping precinct.  Annie tried her hardest to be captivated by the latest edition of a linux magazine in Japanese but was fighting a losing battle.</p>
<div id="attachment_935" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/annie-linux.jpg"><img aria-describedby="caption-attachment-935" decoding="async" loading="lazy" class="size-full wp-image-935 " src="/wp-content/uploads/2010/04/annie-linux.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/annie-linux.jpg 492w, /wp-content/uploads/2010/04/annie-linux-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-935" class="wp-caption-text">Annie Linux</p></div>
<p>She settled for a hot chocolate and the popular &#8220;anpan&#8221; instead.</p>
<div id="attachment_936" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/anpan.jpg"><img aria-describedby="caption-attachment-936" decoding="async" loading="lazy" class="size-full wp-image-936 " src="/wp-content/uploads/2010/04/anpan.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/anpan.jpg 492w, /wp-content/uploads/2010/04/anpan-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-936" class="wp-caption-text">Anne Pan</p></div>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Miyajima</title>
		<link>/2010/04/14/miyajima/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Wed, 14 Apr 2010 08:19:51 +0000</pubDate>
				<category><![CDATA[Japan]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=920</guid>

					<description><![CDATA[Day 86.  We left the luxury of Dogo Onsen to make our way to Miyajima, a small island a few kilometres off Hiroshima.  From the port of Matsuyama, we took the (very) fast boat to Hiroshima. A streetcar, a train and another boat later, we arrived at Miyajima in the early evening and set out [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 86.  We left the luxury of Dogo Onsen to make our way to Miyajima, a small island a few kilometres off Hiroshima.  From the port of Matsuyama, we took the (very) fast boat to Hiroshima.</p>
<div id="attachment_921" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/boat-to-miyajima.jpg"><img aria-describedby="caption-attachment-921" decoding="async" loading="lazy" class="size-full wp-image-921 " src="/wp-content/uploads/2010/04/boat-to-miyajima.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/boat-to-miyajima.jpg 657w, /wp-content/uploads/2010/04/boat-to-miyajima-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-921" class="wp-caption-text">Fast boat from Shikoku to Honshu island</p></div>
<p>A streetcar, a train and another boat later, we arrived at Miyajima in the early evening and set out to explore it.  Miyajima is considered one of the most beautiful spots in Japan and is the site of one of the classic so-called &#8220;Three Views of Japan&#8221;.  Rising from the sea is the iconic floating Torii, a large Shinto gate built in the 12th century.</p>
<div id="attachment_922" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/miyajima-bridge.jpg"><img aria-describedby="caption-attachment-922" decoding="async" loading="lazy" class="size-full wp-image-922 " src="/wp-content/uploads/2010/04/miyajima-bridge.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/miyajima-bridge.jpg 657w, /wp-content/uploads/2010/04/miyajima-bridge-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-922" class="wp-caption-text">Bridge crossing a pretty stream at Miyajima</p></div>
<div id="attachment_923" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/miyajima-gate.jpg"><img aria-describedby="caption-attachment-923" decoding="async" loading="lazy" class="size-full wp-image-923 " src="/wp-content/uploads/2010/04/miyajima-gate.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/miyajima-gate.jpg 492w, /wp-content/uploads/2010/04/miyajima-gate-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-923" class="wp-caption-text">Ancient Torii rises from the sea off Miyajima</p></div>
<p>Peculiar to Miyajima are the tame deer that freely wander the roads and follow the tourists.  One Bambi look-alike made some interesing sounds much like a squeeky toy.  We have yet to confirm whether this is normal for baby deer.</p>
<div id="attachment_924" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/conger-eel-bun.jpg"><img aria-describedby="caption-attachment-924" decoding="async" loading="lazy" class="size-full wp-image-924 " src="/wp-content/uploads/2010/04/conger-eel-bun.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/conger-eel-bun.jpg 657w, /wp-content/uploads/2010/04/conger-eel-bun-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-924" class="wp-caption-text">We snack on conger eel buns, a local speciality</p></div>
<div id="attachment_925" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/bambi.jpg"><img aria-describedby="caption-attachment-925" decoding="async" loading="lazy" class="size-full wp-image-925 " src="/wp-content/uploads/2010/04/bambi.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/bambi.jpg 492w, /wp-content/uploads/2010/04/bambi-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-925" class="wp-caption-text">Bambi bites our buns </p></div>
<p>We also spotted a couple of strange looking racoons racing past us and down an alley but they were a little too quick for us to get a good picture of them.</p>
<div id="attachment_926" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/racoon.jpg"><img aria-describedby="caption-attachment-926" decoding="async" loading="lazy" class="size-full wp-image-926 " src="/wp-content/uploads/2010/04/racoon.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/racoon.jpg 657w, /wp-content/uploads/2010/04/racoon-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-926" class="wp-caption-text">Racoon&#39;s bottom</p></div>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Hot Springs</title>
		<link>/2010/04/13/hot-springs/</link>
					<comments>/2010/04/13/hot-springs/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Tue, 13 Apr 2010 21:08:56 +0000</pubDate>
				<category><![CDATA[Japan]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=911</guid>

					<description><![CDATA[Day 85.  Japan sits in an earthquake zone and is littered with volcanoes.  Needless to say, this is not an ideal location for a country.  The up-side is that Japan boasts more than 3000 natural hot springs (known as Onsen) bubbling with water rich in minerals.  From Kyoto Station (where we took a video of [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 85.  Japan sits in an earthquake zone and is littered with volcanoes.  Needless to say, this is not an ideal location for a country.  The up-side is that Japan boasts more than 3000 natural hot springs (known as Onsen) bubbling with water rich in minerals.  From Kyoto Station (where we took a video of an impressive &#8220;Word Fountain&#8221;) we travelled by Shinkansen, local train and wooden streetcar all the way to Dogo Onsen on the island of Shikoku to bathe in its famous spring water to soothe our limbs and to have skin like a baby&#8217;s bottom.</p>
<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="480" height="385" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="src" value="https://www.youtube.com/v/4TUYQomEDlc&amp;hl=en_GB&amp;fs=1&amp;" /><param name="allowfullscreen" value="true" /><embed type="application/x-shockwave-flash" width="480" height="385" src="https://www.youtube.com/v/4TUYQomEDlc&amp;hl=en_GB&amp;fs=1&amp;" allowscriptaccess="always" allowfullscreen="true"></embed></object></p>
<div id="attachment_912" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/streetcar-dogo.jpg"><img aria-describedby="caption-attachment-912" decoding="async" loading="lazy" class="size-full wp-image-912 " src="/wp-content/uploads/2010/04/streetcar-dogo.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/streetcar-dogo.jpg 657w, /wp-content/uploads/2010/04/streetcar-dogo-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-912" class="wp-caption-text">Old wooden streetcars at Dogo Onsen</p></div>
<p>We learned of the fancy Funaya Ryokan in Dogo Onsen from our ex-neighbours in London.  A beautiful Japanese style room was waiting for us there.  After a customary green tea served to us on arrival to refresh us from our journey, we headed to the baths in the adjoining building built directly on top of the spring.  We&#8217;re now seasoned Japanese bath takers so we felt reasonably confident in what we were doing, even in this high-class establishment, though we forgot that it is considered good form *not* to take a shower after bathing in the spring water so as to prolong its positive effects.</p>
<p>Once again, we were provided our own comfortable yukata robes to wear in the grounds of the Ryokan, but we were also provided socks suitable for wearing with sandals.</p>
<div id="attachment_913" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/special-socks.jpg"><img aria-describedby="caption-attachment-913" decoding="async" loading="lazy" class="size-full wp-image-913 " src="/wp-content/uploads/2010/04/special-socks.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/special-socks.jpg 657w, /wp-content/uploads/2010/04/special-socks-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-913" class="wp-caption-text">These socks are both fashionable and practical</p></div>
<p>After bathtime came mealtime, an umpteen course extravaganza of Japanese delicacies served personally to our room course by course.</p>
<div id="attachment_914" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/tempura-leaf.jpg"><img aria-describedby="caption-attachment-914" decoding="async" loading="lazy" class="size-full wp-image-914 " src="/wp-content/uploads/2010/04/tempura-leaf.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/tempura-leaf.jpg 657w, /wp-content/uploads/2010/04/tempura-leaf-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-914" class="wp-caption-text">Tempura leaf</p></div>
<div id="attachment_915" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/octopus-sushi.jpg"><img aria-describedby="caption-attachment-915" decoding="async" loading="lazy" class="size-full wp-image-915 " src="/wp-content/uploads/2010/04/octopus-sushi.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/octopus-sushi.jpg 657w, /wp-content/uploads/2010/04/octopus-sushi-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-915" class="wp-caption-text">Octopus and cuttlefish sushi</p></div>
<div id="attachment_916" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/strawberry-bancha.jpg"><img aria-describedby="caption-attachment-916" decoding="async" loading="lazy" class="size-full wp-image-916 " src="/wp-content/uploads/2010/04/strawberry-bancha.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/strawberry-bancha.jpg 657w, /wp-content/uploads/2010/04/strawberry-bancha-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-916" class="wp-caption-text">The perfect strawberry accompanied by the pinkish &quot;bancha&quot; tea</p></div>
<p>We had already ordered hot sake to drink with our meal, but through the wonders of modern technology, we were engaged in an email conversation with James back in London just before sitting down to eat.  He recommended that we order the Namezake, a cold unpasteurised sake, to drink with our meal.  We happily obliged!</p>
<div id="attachment_917" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/email-order-namazake.jpg"><img aria-describedby="caption-attachment-917" decoding="async" loading="lazy" class="size-full wp-image-917 " src="/wp-content/uploads/2010/04/email-order-namazake.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/email-order-namazake.jpg 657w, /wp-content/uploads/2010/04/email-order-namazake-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-917" class="wp-caption-text">Safe takes food orders from James by email</p></div>
<div id="attachment_918" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/namezake.jpg"><img aria-describedby="caption-attachment-918" decoding="async" loading="lazy" class="size-full wp-image-918 " src="/wp-content/uploads/2010/04/namezake.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/namezake.jpg 492w, /wp-content/uploads/2010/04/namezake-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-918" class="wp-caption-text">Proof that we drank the Namezake on James&#39;s behalf as requested!</p></div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/04/13/hot-springs/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>It Rained All Day</title>
		<link>/2010/04/12/it-rained-all-day/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Mon, 12 Apr 2010 21:54:14 +0000</pubDate>
				<category><![CDATA[Japan]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=896</guid>

					<description><![CDATA[Day 84.  We ventured out with our matching hotel brollies and explored the narrow streets filled with women in traditional dress (and plastic toe protectors over their white socks to keep out the rain).  We browsed the shopping district filled with local specialities such as crispy cinnamon biscuits and ceramics.  We also saw many shops [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 84.  We ventured out with our matching hotel brollies and explored the narrow streets filled with women in traditional dress (and plastic toe protectors over their white socks to keep out the rain).  We browsed the shopping district filled with local specialities such as crispy cinnamon biscuits and ceramics.  We also saw many shops selling all types and colours of Japanese traditional shoe (aka super-smart flip-flop).</p>
<div id="attachment_898" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/shoes-2.jpg"><img aria-describedby="caption-attachment-898" decoding="async" loading="lazy" class="size-full wp-image-898 " src="/wp-content/uploads/2010/04/shoes-2.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/shoes-2.jpg 657w, /wp-content/uploads/2010/04/shoes-2-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-898" class="wp-caption-text">Pretty shoes</p></div>
<div id="attachment_899" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/shoes-3.jpg"><img aria-describedby="caption-attachment-899" decoding="async" loading="lazy" class="size-full wp-image-899 " src="/wp-content/uploads/2010/04/shoes-3.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/shoes-3.jpg 657w, /wp-content/uploads/2010/04/shoes-3-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-899" class="wp-caption-text">These shoes aren&#39;t just made for walking!</p></div>
<p>And the stunning cake-shaped shoes:</p>
<div id="attachment_897" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/shoes-1.jpg"><img aria-describedby="caption-attachment-897" decoding="async" loading="lazy" class="size-full wp-image-897 " src="/wp-content/uploads/2010/04/shoes-1.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/shoes-1.jpg 657w, /wp-content/uploads/2010/04/shoes-1-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-897" class="wp-caption-text">Cake walk - shoes good enough to eat</p></div>
<p>You&#8217;re not meant to enter a toilet in your socks or bare feet (a very wise policy) and dedicated toilet slippers are recommended.  These fetching slippers were provided for us in our bathroom:</p>
<div id="attachment_900" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/toilet-slippers.jpg"><img aria-describedby="caption-attachment-900" decoding="async" loading="lazy" class="size-full wp-image-900 " src="/wp-content/uploads/2010/04/toilet-slippers.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/04/toilet-slippers.jpg 657w, /wp-content/uploads/2010/04/toilet-slippers-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-900" class="wp-caption-text">Toilet slippers</p></div>
<p>And these were found at the entrance to the toilet at one of the temples we visited:</p>
<div id="attachment_901" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/temple-toilet-slippers.jpg"><img aria-describedby="caption-attachment-901" decoding="async" loading="lazy" class="size-full wp-image-901 " src="/wp-content/uploads/2010/04/temple-toilet-slippers.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/temple-toilet-slippers.jpg 492w, /wp-content/uploads/2010/04/temple-toilet-slippers-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-901" class="wp-caption-text">Temple toilet slippers</p></div>
<p>Every other shop sells shiny or furry dangly things to hook onto your mobile phone.  (You&#8217;re not dressed properly unless your phone is properly attired).  Here are a selection of trinkets hanging from the phones of kind subjects:</p>
<div id="attachment_902" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/mobile-1.jpg"><img aria-describedby="caption-attachment-902" decoding="async" loading="lazy" class="size-full wp-image-902 " src="/wp-content/uploads/2010/04/mobile-1.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/mobile-1.jpg 492w, /wp-content/uploads/2010/04/mobile-1-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-902" class="wp-caption-text">Fishy phone trinket</p></div>
<div id="attachment_903" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/mobile-2.jpg"><img aria-describedby="caption-attachment-903" decoding="async" loading="lazy" class="size-full wp-image-903 " src="/wp-content/uploads/2010/04/mobile-2.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/mobile-2.jpg 492w, /wp-content/uploads/2010/04/mobile-2-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-903" class="wp-caption-text">Shiny phone trinket</p></div>
<div id="attachment_904" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/mobile-3.jpg"><img aria-describedby="caption-attachment-904" decoding="async" loading="lazy" class="size-full wp-image-904 " src="/wp-content/uploads/2010/04/mobile-3.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/mobile-3.jpg 657w, /wp-content/uploads/2010/04/mobile-3-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-904" class="wp-caption-text">Fancy phone jewellery</p></div>
<div id="attachment_905" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/mobile-4.jpg"><img aria-describedby="caption-attachment-905" decoding="async" loading="lazy" class="size-full wp-image-905 " src="/wp-content/uploads/2010/04/mobile-4.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/mobile-4.jpg 492w, /wp-content/uploads/2010/04/mobile-4-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-905" class="wp-caption-text">Cute phone trinket</p></div>
<p>For good measure, here are some other Japanese peculiarities we&#8217;ve snapped on our travels.  We&#8217;ve already mentioned the drinks vending machines serving an impressive array hot and cold beverages:</p>
<div id="attachment_906" style="width: 404px" class="wp-caption alignnone"><img aria-describedby="caption-attachment-906" decoding="async" loading="lazy" class="size-full wp-image-906 " src="/wp-content/uploads/2010/04/drinks-machines.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/drinks-machines.jpg 657w, /wp-content/uploads/2010/04/drinks-machines-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /><p id="caption-attachment-906" class="wp-caption-text">Safe chooses a drink in under 10 minutes </p></div>
<p>Many items are given the &#8220;cutesie&#8221; touch.  The &#8220;Hello Kitty&#8221; bus and cartoon fire hydrant are no exception:</p>
<div id="attachment_907" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/hello-kitty-bus.jpg"><img aria-describedby="caption-attachment-907" decoding="async" loading="lazy" class="size-full wp-image-907 " src="/wp-content/uploads/2010/04/hello-kitty-bus.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/hello-kitty-bus.jpg 492w, /wp-content/uploads/2010/04/hello-kitty-bus-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-907" class="wp-caption-text">This bus is meant to be pink</p></div>
<div id="attachment_908" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/firemen-tokyo.jpg"><img aria-describedby="caption-attachment-908" decoding="async" loading="lazy" class="size-full wp-image-908 " src="/wp-content/uploads/2010/04/firemen-tokyo.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/04/firemen-tokyo.jpg 657w, /wp-content/uploads/2010/04/firemen-tokyo-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-908" class="wp-caption-text">Tokyo firemen ready for action</p></div>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>The Bamboo Forest</title>
		<link>/2010/04/11/the-bamboo-forest/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sun, 11 Apr 2010 00:28:20 +0000</pubDate>
				<category><![CDATA[Japan]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=871</guid>

					<description><![CDATA[Day 83.  Annie really liked the Bamboo Forest and felt more Zen here than in the manicured Zen gardens.  The Bamboo Forest is an area 5 miles out of Kyoto filled with impressively tall bamboos whose leaves make a gentle and pleasing rustling noise in the wind.  On entering the forest, the temperature dips noticeably. [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 83.  Annie really liked the Bamboo Forest and felt more Zen here than in the manicured Zen gardens.  The Bamboo Forest is an area 5 miles out of Kyoto filled with impressively tall bamboos whose leaves make a gentle and pleasing rustling noise in the wind.  On entering the forest, the temperature dips noticeably.</p>
<div id="attachment_872" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/bamboo-forest.jpg"><img aria-describedby="caption-attachment-872" decoding="async" loading="lazy" class="size-full wp-image-872 " src="/wp-content/uploads/2010/04/bamboo-forest.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/bamboo-forest.jpg 492w, /wp-content/uploads/2010/04/bamboo-forest-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-872" class="wp-caption-text">Bamboo Forest</p></div>
<p>The Bamboo Forest is in the district of Arashiyama, site of the temple of Tenryu-ji.</p>
<div id="attachment_873" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/tenryu-ji.jpg"><img aria-describedby="caption-attachment-873" decoding="async" loading="lazy" class="size-full wp-image-873 " src="/wp-content/uploads/2010/04/tenryu-ji.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/04/tenryu-ji.jpg 657w, /wp-content/uploads/2010/04/tenryu-ji-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-873" class="wp-caption-text">Safe contemplates his navel at Tenryu-ji</p></div>
<div id="attachment_874" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/tenryu-ji-stream.jpg"><img aria-describedby="caption-attachment-874" decoding="async" loading="lazy" class="size-full wp-image-874 " src="/wp-content/uploads/2010/04/tenryu-ji-stream.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/tenryu-ji-stream.jpg 492w, /wp-content/uploads/2010/04/tenryu-ji-stream-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-874" class="wp-caption-text">Stream at Tenryu-ji</p></div>
<div id="attachment_892" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/carp.jpg"><img aria-describedby="caption-attachment-892" decoding="async" loading="lazy" class="size-full wp-image-892 " src="/wp-content/uploads/2010/04/carp.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/carp.jpg 492w, /wp-content/uploads/2010/04/carp-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-892" class="wp-caption-text">Carp are everywhere!</p></div>
<p>We travelled back to Kyoto to catch the late showing of a traditional Geisha dance.</p>
<div id="attachment_893" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/learn-japanese.jpg"><img aria-describedby="caption-attachment-893" decoding="async" loading="lazy" class="size-full wp-image-893 " src="/wp-content/uploads/2010/04/learn-japanese.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/learn-japanese.jpg 492w, /wp-content/uploads/2010/04/learn-japanese-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-893" class="wp-caption-text">Safe catches up on his Japanese on the train to Kyoto.  Easy peasy! </p></div>
<div id="attachment_894" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/kyoto-station.jpg"><img aria-describedby="caption-attachment-894" decoding="async" loading="lazy" class="size-full wp-image-894 " src="/wp-content/uploads/2010/04/kyoto-station.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/kyoto-station.jpg 492w, /wp-content/uploads/2010/04/kyoto-station-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-894" class="wp-caption-text">The spectacular and modern Kyoto Station</p></div>
<p>We weren&#8217;t allowed to take any photos, but here is the poster for it and the picture of a girl posing in traditional Geisha costume who we saw earlier today.  (Her parents were very proud when we stopped to take her picture).</p>
<div id="attachment_875" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/geisha-dancing.jpg"><img aria-describedby="caption-attachment-875" decoding="async" loading="lazy" class="size-full wp-image-875 " src="/wp-content/uploads/2010/04/geisha-dancing.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/geisha-dancing.jpg 492w, /wp-content/uploads/2010/04/geisha-dancing-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-875" class="wp-caption-text">Geisha dance poster</p></div>
<div id="attachment_876" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/geisha-girl.jpg"><img aria-describedby="caption-attachment-876" decoding="async" loading="lazy" class="size-full wp-image-876 " src="/wp-content/uploads/2010/04/geisha-girl.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/geisha-girl.jpg 492w, /wp-content/uploads/2010/04/geisha-girl-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-876" class="wp-caption-text">Geisha girl</p></div>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
