<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Mexico &#8211; Annie &amp; Safe Go West</title>
	<atom:link href="http://localhost/category/mexico/feed/" rel="self" type="application/rss+xml" />
	<link></link>
	<description>The Grand Tour</description>
	<lastBuildDate>Fri, 05 Feb 2010 18:09:11 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>Banana Smuggling</title>
		<link>/2010/02/05/banana-smuggling/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Fri, 05 Feb 2010 18:09:11 +0000</pubDate>
				<category><![CDATA[Belize]]></category>
		<category><![CDATA[Mexico]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=248</guid>

					<description><![CDATA[Day 18.  We made a break for the border leaving our hotel before sunrise with our stash of provisions.  After an uneventful journey to the border town of Chetumal we changed buses to the Belizian chicken bus which was to take us across the border.  After being fleeced by the Mexican customs for a random [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 18.  We made a break for the border leaving our hotel before sunrise with our stash of provisions.  After an uneventful journey to the border town of Chetumal we changed buses to the Belizian chicken bus which was to take us across the border.  After being fleeced by the Mexican customs for a random amount of American Dollars, a so called &#8220;exit tax&#8221;, we drove another 15 metres to Belize. We saw the signs informing us of illegal substances not allowed to be brought into the country including fresh produce&#8230;we wern&#8217;t sure if that included meat and cheeses but to be sure we had a feeding frenzy and consumed our entire days provisions in 5 minutes flat.</p>
<p>Even though Belize is an English speaking country, we found it surprisingly hard not to speak Spanish to the charming customs officers.  We passed through customs uneventfully and were only asked if we were carrying fruit then ushered through.  We boarded the bus then continued on our journey to Belize City.  A few of things of note happened along the way:</p>
<ol>
<li>Our compadre, Willy, casually produced a banana from his bag which he had failed to declare at customs.  We&#8217;re not sure if this was intentional, but the smirk on his face gave him away.  We&#8217;re officially travelling in the company of criminals!</li>
<li>The bus driver accidentally left one of the passengers (a German business man) at the border.  Fifteen minutes into the journey, the German finally caught up with us in a taxi which he&#8217;d had to hire and proceeded to hurl abuse at the bus driver.  Needless to say, the German did not have a sense of humour!</li>
<li>The bus driver, to save a few pesos, decided to switch off the air conditioning for the rest of the four hour journey  to Belize City.  Locals and tourists alike melted into their seats, most opting to sleep.</li>
</ol>
<p>The final leg of today&#8217;s journey was a speed boat trip from Belize City to the island of Caye Calker, spiritually home to backpackers, and where lobster is cheaper than chicken and eaten at any time of day.</p>
<div id="attachment_258" style="width: 394px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/cayecaulker.jpg"><img aria-describedby="caption-attachment-258" decoding="async" class="size-full wp-image-258" title="Key Corker" src="/wp-content/uploads/2010/02/cayecaulker.jpg" alt="" width="384" height="256" srcset="/wp-content/uploads/2010/02/cayecaulker.jpg 384w, /wp-content/uploads/2010/02/cayecaulker-300x200.jpg 300w" sizes="(max-width: 384px) 100vw, 384px" /></a><p id="caption-attachment-258" class="wp-caption-text">Caye Caulker</p></div>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Lazy Day</title>
		<link>/2010/02/04/lazy-day/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Thu, 04 Feb 2010 18:45:28 +0000</pubDate>
				<category><![CDATA[Mexico]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=242</guid>

					<description><![CDATA[Day 17. Planned to go and see more &#8220;piles of old stones&#8221; but then bailed out and spent the day on the beach at Playa Del Carmen &#8230;. and saw a &#8220;pile of new stones&#8221; instead&#8230;.. We stocked up on provisions as we had been warned that we might not get to eat the next [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 17.  Planned to go and see more &#8220;piles of old stones&#8221; but then bailed out and spent the day on the beach at Playa Del Carmen &#8230;.</p>
<p>and saw a &#8220;pile of new stones&#8221; instead&#8230;..</p>
<div id="attachment_243" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/walmart.jpg"><img aria-describedby="caption-attachment-243" decoding="async" loading="lazy" class="size-full wp-image-243" title="wal-mart Mexico" src="/wp-content/uploads/2010/02/walmart.jpg" alt="" width="365" height="274" srcset="/wp-content/uploads/2010/02/walmart.jpg 365w, /wp-content/uploads/2010/02/walmart-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-243" class="wp-caption-text">super mercado</p></div>
<p>We stocked up on provisions as we had been warned that we might not get to eat the next day whilst we were crossing the border into Belize.</p>
<div id="attachment_246" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/sunsetplayadelcarmen.jpg"><img aria-describedby="caption-attachment-246" decoding="async" loading="lazy" class="size-full wp-image-246" title="sunset Playa Del Carmen" src="/wp-content/uploads/2010/02/sunsetplayadelcarmen.jpg" alt="" width="365" height="274" srcset="/wp-content/uploads/2010/02/sunsetplayadelcarmen.jpg 365w, /wp-content/uploads/2010/02/sunsetplayadelcarmen-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-246" class="wp-caption-text">Last Sunset in Mexico (for us!)</p></div>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Reverse By Turning The Lever Under Your Seat</title>
		<link>/2010/02/03/reverse-by-turning-the-lever-under-your-seat/</link>
					<comments>/2010/02/03/reverse-by-turning-the-lever-under-your-seat/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Wed, 03 Feb 2010 19:27:44 +0000</pubDate>
				<category><![CDATA[Mexico]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=231</guid>

					<description><![CDATA[Day 16.  Didn&#8217;t we have a lovely time the day we went to the seaside (aka Isla Mujeres)!  A short ferry ride to the island of Isla Mujeres, we secured our transport &#8230; one golf cart and four bicycles, all of which had the same top speed, except for one bike which actually worked, and [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 16.  Didn&#8217;t we have a lovely time the day we went to the seaside (aka Isla Mujeres)!  A short ferry ride to the island of Isla Mujeres, we secured our transport &#8230; one golf cart and four bicycles, all of which had the same top speed, except for one bike which actually worked, and whose rider (Val) was able to lap us four times over.</p>
<p>After a circuit of the island and an hour or two swimming at beaches we didn&#8217;t have to pay $20 to get onto, we sat down to a meal of fresh fish and chips (actually, fish and tacos) on the seafront.</p>
<div id="attachment_232" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/crepes.jpg"><img aria-describedby="caption-attachment-232" decoding="async" loading="lazy" class="size-full wp-image-232" title="Holy crepes!" src="/wp-content/uploads/2010/02/crepes.jpg" alt="Holy crepes!" width="365" height="274" srcset="/wp-content/uploads/2010/02/crepes.jpg 365w, /wp-content/uploads/2010/02/crepes-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-232" class="wp-caption-text">Crepes for dessert before a fish dinner</p></div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/02/03/reverse-by-turning-the-lever-under-your-seat/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>Chicken Pizza</title>
		<link>/2010/02/02/chicken-pizza/</link>
					<comments>/2010/02/02/chicken-pizza/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Tue, 02 Feb 2010 18:42:40 +0000</pubDate>
				<category><![CDATA[Mexico]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=218</guid>

					<description><![CDATA[Day 15.  The jewel in the crown of Mexico&#8217;s Piles of Rocks is the pyramid at Chichen-Itza, two hours out of Merida, and we were guided by the very able Manuel Jesus Gonzalez Mendez.  First off, he showed us a gum arabic tree.  Apparently, when the Spanish arrived in Mexico, they were shown this tree [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 15.  The jewel in the crown of Mexico&#8217;s Piles of Rocks is the pyramid at Chichen-Itza, two hours out of Merida, and we were guided by the very able Manuel Jesus Gonzalez Mendez.  First off, he showed us a gum arabic tree.  Apparently, when the Spanish arrived in Mexico, they were shown this tree by the Mayans who stripped off the bark and said, &#8220;Chick-Le,&#8221; which means &#8220;chew with the mouth&#8221;.  We&#8217;re guessing that&#8217;s where the chewing gum &#8220;Chicklets&#8221; got its name.</p>
<div id="attachment_219" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/chichen-itza.jpg"><img aria-describedby="caption-attachment-219" decoding="async" loading="lazy" class="size-full wp-image-219" title="Chicken Pizza" src="/wp-content/uploads/2010/02/chichen-itza.jpg" alt="Chicken Pizza" width="365" height="274" srcset="/wp-content/uploads/2010/02/chichen-itza.jpg 365w, /wp-content/uploads/2010/02/chichen-itza-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-219" class="wp-caption-text">Chichen-Itza</p></div>
<div id="_mcePaste">We were shown the largest &#8220;ball game&#8221; court in Meso-America where the Mayans played their sacred sport using a rubber ball.  Lining the court were pictures of priests sporting what looked like bluetooth headsets.  Could these &#8220;priests&#8221; really be aliens from another world wearing communications devices?</div>
<div id="attachment_220" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/bluetooth.jpg"><img aria-describedby="caption-attachment-220" decoding="async" loading="lazy" class="size-full wp-image-220" title="1-4 for a copy ..." src="/wp-content/uploads/2010/02/bluetooth.jpg" alt="1-4 for a copy ..." width="365" height="274" srcset="/wp-content/uploads/2010/02/bluetooth.jpg 365w, /wp-content/uploads/2010/02/bluetooth-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-220" class="wp-caption-text">Priest at the ball game</p></div>
<div>Further round was a carving of a king appearing from the mouth of a serpent, one of the most sacred Mayan gods.  Could this actually be a carving of the king peering out of a window in his spaceship?</div>
<div>
<div id="attachment_223" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/porthole.jpg"><img aria-describedby="caption-attachment-223" decoding="async" loading="lazy" class="size-full wp-image-223" title="Peek-a-boo" src="/wp-content/uploads/2010/02/porthole.jpg" alt="Peek-a-boo" width="365" height="274" srcset="/wp-content/uploads/2010/02/porthole.jpg 365w, /wp-content/uploads/2010/02/porthole-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-223" class="wp-caption-text">King in mouth of serpent</p></div>
</div>
<div>Half-way round the tour, we were shown a sacred well of the Mayans, 23 metres down and 60 metres deep.  After yesterday&#8217;s Cenote experience, we thought it might be nice to have a refreshing dip to cool off, but then we were told that a few months ago, three Canadian tourists jumped into the well and couldn&#8217;t get out again. The fire brigade had to be called to rescue them.</div>
<div>Oh, and in case you&#8217;re interested, Elton John is performing here in April with tickets starting at a cool £45 &#8230; not a small amount in Mexico &#8230;</div>
<div>
<div id="attachment_221" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/elton.jpg"><img aria-describedby="caption-attachment-221" decoding="async" loading="lazy" class="size-full wp-image-221" title="Don't let the sun go down on me!" src="/wp-content/uploads/2010/02/elton.jpg" alt="Don't let the sun go down on me!" width="365" height="274" srcset="/wp-content/uploads/2010/02/elton.jpg 365w, /wp-content/uploads/2010/02/elton-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-221" class="wp-caption-text">Elton John</p></div>
<div>After the tour of Chicken Pizza, we caught the bus to Cancun.  The bus was late so Annie took the opportunity to teach our compadres, Jodie, Val and Justine, some Kung-Fu Yoga Moves.</div>
<div>
<div id="attachment_222" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/yoga-in-chichen-itza.jpg"><img aria-describedby="caption-attachment-222" decoding="async" loading="lazy" class="size-full wp-image-222" title="Breathe in ... breath out ..." src="/wp-content/uploads/2010/02/yoga-in-chichen-itza.jpg" alt="Breathe in ... breath out ..." width="365" height="274" srcset="/wp-content/uploads/2010/02/yoga-in-chichen-itza.jpg 365w, /wp-content/uploads/2010/02/yoga-in-chichen-itza-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-222" class="wp-caption-text">Yoga in the park</p></div>
<p>Captain Sulu kindly gave up piloting the U.S.S. Enterprise for a day to cart us in his bus to Cancun.  Perhaps he too was looking for a bit of nightlife.</p>
<div id="attachment_228" style="width: 284px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/sulu.jpg"><img aria-describedby="caption-attachment-228" decoding="async" loading="lazy" class="size-full wp-image-228" title="It's life, Jim, but not as we know it!" src="/wp-content/uploads/2010/02/sulu.jpg" alt="It's life, Jim, but not as we know it!" width="274" height="365" srcset="/wp-content/uploads/2010/02/sulu.jpg 274w, /wp-content/uploads/2010/02/sulu-225x300.jpg 225w" sizes="(max-width: 274px) 100vw, 274px" /></a><p id="caption-attachment-228" class="wp-caption-text">Sulu</p></div>
<div>Cancun is the Blackpool of Mexico but not quite as nice.  We took the opportunity to sample the nightlife and witness the mating behaviour of American college kids on tour.  Our chosen waterside nightspot was Señor Frog complete with indoor water-slide.  Getting there was as interesting as the nightclub itself.  We had a run in with a lying cheating dirty scoundrel Taxi Driver who wanted twice as much as we&#8217;d agreed after dropping us off.  Safe called his bluff and said he&#8217;d call the police &#8230; unfortunately the taxi drive kindly obliged and called the police himself.  After a bit of gentle shouting and T-shirt pulling and no help whatsoever from the policia, we settled unamicably.  The encouter with the taxi driver was fun (mainly because no one ended up in jail) and confirmed our suspicions about Cancun.</div>
<div>Señor Frog was a spectacle, a mix betweeen a disco and a game-show.  The highlight was the Frozen T-shirt Contest.  While standing half naked on the stage, the contestants had to down their beers then unfreeze a T-shirt sufficiently to be able to put it on as quickly as possible.  The crowd jeered and the waiters poured shots into punters&#8217; mouths from a communal bottle.  Nice!</div>
<div>
<div id="attachment_229" style="width: 420px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/senor-frog.jpg"><img aria-describedby="caption-attachment-229" decoding="async" loading="lazy" class="size-full wp-image-229" title="Frog" src="/wp-content/uploads/2010/02/senor-frog.jpg" alt="Frog" width="410" height="307" srcset="/wp-content/uploads/2010/02/senor-frog.jpg 410w, /wp-content/uploads/2010/02/senor-frog-300x225.jpg 300w" sizes="(max-width: 410px) 100vw, 410px" /></a><p id="caption-attachment-229" class="wp-caption-text">Frog</p></div>
</div>
</div>
</div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/02/02/chicken-pizza/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>AWOL</title>
		<link>/2010/02/01/awol/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Mon, 01 Feb 2010 18:36:51 +0000</pubDate>
				<category><![CDATA[Mexico]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=210</guid>

					<description><![CDATA[Day 14.  Can&#8217;t believe it&#8217;s February already!  We had a well earned lie in then sampled the local cuisine of Papadzul (hard boiled eggs in a tortilla with pumpkin seed sauce), not to be confused with Pozole (spicy chicken soup, a weekend-only speciality of Palenque).  With Annie well recovered and a free afternoon with no [&#8230;]]]></description>
										<content:encoded><![CDATA[<div id="_mcePaste">Day 14.  Can&#8217;t believe it&#8217;s February already!  We had a well earned lie in then sampled the local cuisine of Papadzul (hard boiled eggs in a tortilla with pumpkin seed sauce), not to be confused with Pozole (spicy chicken soup, a weekend-only speciality of Palenque).  With Annie well recovered and a free afternoon with no desire to visit cathedrals and municipal buildings, we went AWOL ventured out on public transport on our own steam, without a guide, with our tour compadres Emma, Justine and Willie to the nearby &#8220;Cenote&#8221; of San Ignacio.  This was not as easy as it sounds.  We first had to find where the connectivo (shared minivan bus service) to San Ignacio could be found and ended up asking four or five different people for directions then walking for 45 minutes randomly around the city.</div>
<p></p>
<blockquote>
<div><strong>Factoid:</strong> The guide books quite accurately tell us that Mexicans tend not to like saying &#8220;no&#8221;, and if they don&#8217;t know the directions to somewhere, will often confidently give you their best guess to be helpful.</div>
</blockquote>
<div></div>
<p></p>
<div>Once we found the connectivo, we were surprised that the 40 minute journey only cost 15 pesos (about 75p) and we spent the whole of that time fretting where the bus was taking us as the organised tour cost at least 200 pesos.  Fortunately we were dropped right at the gates of San Ignacio by our friendly driver.  Not only was the Cenote a lovely experience, but we were doubly pleased with ourselves for being able to make our own way there &#8230; and back!  We realised that having someone organise our hotel bookings and transport was well worth it!</div>
<p></p>
<blockquote>
<div><strong>Factoid:</strong> A Cenote is a &#8220;sink-hole&#8221;, a naturally occurring underground limestone cave filled-with mineral spring water pools and beautiful rock formations, stalactites and stalagmites.</div>
</blockquote>
<div></div>
<p></p>
<div>
<div id="attachment_211" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/san-ignacio.jpg"><img aria-describedby="caption-attachment-211" decoding="async" loading="lazy" class="size-full wp-image-211" title="Well, well, well!" src="/wp-content/uploads/2010/02/san-ignacio.jpg" alt="Well, well, well!" width="365" height="274" srcset="/wp-content/uploads/2010/02/san-ignacio.jpg 365w, /wp-content/uploads/2010/02/san-ignacio-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-211" class="wp-caption-text">Sink-hole</p></div>
<div id="attachment_212" style="width: 284px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/swimming-in-san-ignacio.jpg"><img aria-describedby="caption-attachment-212" decoding="async" loading="lazy" class="size-full wp-image-212" title="Hallooo!" src="/wp-content/uploads/2010/02/swimming-in-san-ignacio.jpg" alt="Hallooo!" width="274" height="365" srcset="/wp-content/uploads/2010/02/swimming-in-san-ignacio.jpg 274w, /wp-content/uploads/2010/02/swimming-in-san-ignacio-225x300.jpg 225w" sizes="(max-width: 274px) 100vw, 274px" /></a><p id="caption-attachment-212" class="wp-caption-text">Annie and Safe in sink-hole</p></div>
<div>After dipping in the Cenote of San Ignacio, clients are required to pet the baby goats.  We didn&#8217;t question why.</div>
<div>
<div id="attachment_213" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/goat.jpg"><img aria-describedby="caption-attachment-213" decoding="async" loading="lazy" class="size-full wp-image-213" title="ahhhh ..." src="/wp-content/uploads/2010/02/goat.jpg" alt="ahhhh ..." width="365" height="274" srcset="/wp-content/uploads/2010/02/goat.jpg 365w, /wp-content/uploads/2010/02/goat-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-213" class="wp-caption-text">Goat</p></div>
</div>
</div>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Hit Me With Your Rhythm Stick!</title>
		<link>/2010/01/31/hit-me-with-your-rhythm-stick/</link>
					<comments>/2010/01/31/hit-me-with-your-rhythm-stick/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sun, 31 Jan 2010 18:30:37 +0000</pubDate>
				<category><![CDATA[Mexico]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=204</guid>

					<description><![CDATA[Day 13.  An eight hour bus journey to Merida would have sounded like an ordeal at the start of our tour but is now a walk in the park for us.  Having said that, Annie took the precaution of injesting every bowel-plugging drug known to the Meso-Americans so as not to need a trip to [&#8230;]]]></description>
										<content:encoded><![CDATA[<div id="_mcePaste">Day 13.  An eight hour bus journey to Merida would have sounded like an ordeal at the start of our tour but is now a walk in the park for us.  Having said that, Annie took the precaution of injesting every bowel-plugging drug known to the Meso-Americans so as not to need a trip to the fragrant &#8220;bus-loo&#8221;.</div>
<blockquote>
<div id="_mcePaste"><strong>Factoid:</strong> Merida is a university town with a large scientific community and a more notable American presence.  It is also the capital of Yucatan province as sung in &#8220;Hit me with your Rhythm Stick&#8221; by Ian Dury and the Blockheads:</div>
<div><em>In the deserts of Sudan,</em></div>
<div id="_mcePaste"><em>And the gardens of Japan,</em></div>
<div id="_mcePaste"><em>From Milan to Yucatan,</em></div>
<div id="_mcePaste"><em>Every woman, every man!</em></div>
</blockquote>
<div id="attachment_205" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/yucatan.jpg"><img aria-describedby="caption-attachment-205" decoding="async" loading="lazy" class="size-full wp-image-205" title="Every woman, every man!" src="/wp-content/uploads/2010/02/yucatan.jpg" alt="Every woman, every man!" width="365" height="274" srcset="/wp-content/uploads/2010/02/yucatan.jpg 365w, /wp-content/uploads/2010/02/yucatan-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-205" class="wp-caption-text">Hit Me .... Hit Me ...</p></div>
<p>We checked into the Hotel Colonial right opposite the confusingly similar sounding Hotel Colon (which would have been more appropriate for Annie today).</p>
<div id="attachment_206" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/colon.jpg"><img aria-describedby="caption-attachment-206" decoding="async" loading="lazy" class="size-full wp-image-206" title="A good name for a hotel in St. Pancreas" src="/wp-content/uploads/2010/02/colon.jpg" alt="A good name for a hotel in St. Pancreas" width="365" height="274" srcset="/wp-content/uploads/2010/02/colon.jpg 365w, /wp-content/uploads/2010/02/colon-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-206" class="wp-caption-text">Colon</p></div>
<p>It was a Sunday evening, enough excuse in Mexico for organising a street party.  Annie was whisked away by an elderly but agile gentleman for her first Mexican Latino dance lesson.  Thankfully the cocktail of bowel-plugging drugs were still in effect.  Her teacher was quite strict and told her off whenever she put a foot wrong.</p>
]]></content:encoded>
					
					<wfw:commentRss>/2010/01/31/hit-me-with-your-rhythm-stick/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>Crossing the River Styx</title>
		<link>/2010/01/30/crossing-the-river-styx/</link>
					<comments>/2010/01/30/crossing-the-river-styx/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sat, 30 Jan 2010 19:06:56 +0000</pubDate>
				<category><![CDATA[Mexico]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=193</guid>

					<description><![CDATA[Day 12.  Poor Annie!  It’s her turn to be struck down with the Revenge of Montezuma, but she soldiered on and we had quite a busy day. First stop, Palenque ruins, an extensive and attractive Pile of Rocks surrounded by jungle.  We were guided by the excellent Francisco. Factoid: The head honcho in the heyday [&#8230;]]]></description>
										<content:encoded><![CDATA[<div id="_mcePaste">Day 12.  Poor Annie!  It’s her turn to be struck down with the Revenge of Montezuma, but she soldiered on and we had quite a busy day.</div>
<div id="_mcePaste">First stop, Palenque ruins, an extensive and attractive Pile of Rocks surrounded by jungle.  We were guided by the excellent Francisco.</div>
<div></div>
<blockquote>
<div id="_mcePaste"><strong>Factoid:</strong> The head honcho in the heyday of Palenque was the Mayan King, Pikal.  We saw the relief on the lid of his sarcophagus which some experts have claimed represents Pikal riding a spaceship.  (If you look carefully, there are rocket flames at the back of the ship to the right &#8230; and his feet are working the pedals .. apparently).  This has led to all sorts of speculation that aliens from oututer space helped the Mayans build temples, Egyptians build pyramids, crop circles, Big Foot, and George Bush in the White House.</div>
</blockquote>
<div id="attachment_194" style="width: 436px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/lid.jpg"><img aria-describedby="caption-attachment-194" decoding="async" loading="lazy" class="size-full wp-image-194 " title="How do you drive this thing?" src="/wp-content/uploads/2010/02/lid.jpg" alt="How do you drive this thing?" width="426" height="288" srcset="/wp-content/uploads/2010/02/lid.jpg 533w, /wp-content/uploads/2010/02/lid-300x203.jpg 300w" sizes="(max-width: 426px) 100vw, 426px" /></a><p id="caption-attachment-194" class="wp-caption-text">Spaceship</p></div>
<p>Next stop, the Waterfalls of Misol-Ha, a name which surely belongs in an episode of Doctor Who.</p>
<div id="attachment_201" style="width: 284px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/01/misol-ha.jpg"><img aria-describedby="caption-attachment-201" decoding="async" loading="lazy" class="size-full wp-image-201" title="Need a plumber?" src="/wp-content/uploads/2010/01/misol-ha.jpg" alt="Need a plumber?" width="274" height="365" srcset="/wp-content/uploads/2010/01/misol-ha.jpg 274w, /wp-content/uploads/2010/01/misol-ha-225x300.jpg 225w" sizes="(max-width: 274px) 100vw, 274px" /></a><p id="caption-attachment-201" class="wp-caption-text">Misol-Ha</p></div>
<p>Next stop, Aqua Azul, also a name which belongs in an episode of Doctor Who, perhaps as an evil Time Lord &#8230; or perhaps it&#8217;s the name of a dodgy aftershave.  Anyway, as the name suggests, Aqua Azul is an oasis in the jungle with pool after pool of clear azure blue water connected by waterfalls.  The driver seemed to pay two entrance fees, one at the site itself, and one for safe passage to a bunch of Zapatistas about a mile before we reached the site.  Both Safe and Willie decided they would be Teenage Tarzans and swing from ropes into the water, nothing amazing until you realise that Willie is pushing 70 years old.  Annie decided to be Jane and lay looking helpless clutching her tummy by the side of the water whilst minding everyone&#8217;s bags and keeping an eye out for Zapatistas.  A small boy trained in the art of looking cute approached Annie for money.  When he got no response from the lifeless Annie, he placed pesos on her eyelids &#8220;to pay the ferryman&#8221;.  Annie was not amused &#8230; cute-factor zero as far as she was concerned.</p>
<div id="attachment_202" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/01/tarzan.jpg"><img aria-describedby="caption-attachment-202" decoding="async" loading="lazy" class="size-full wp-image-202" title="Geronimo!" src="/wp-content/uploads/2010/01/tarzan.jpg" alt="Geronimo!" width="365" height="274" srcset="/wp-content/uploads/2010/01/tarzan.jpg 365w, /wp-content/uploads/2010/01/tarzan-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-202" class="wp-caption-text">Tarzan</p></div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/01/30/crossing-the-river-styx/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>Holy Cow!</title>
		<link>/2010/01/29/holy-cow/</link>
					<comments>/2010/01/29/holy-cow/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Fri, 29 Jan 2010 18:50:18 +0000</pubDate>
				<category><![CDATA[Mexico]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=186</guid>

					<description><![CDATA[Day 11.  Most of today was spent on the bus travelling from San Cristobal to Palenque.  Unfortunately there was a traffic jam on the way out of San Cristobal which delayed us by a couple of hours, so all told, we spent seven hours in transit. The day wasn&#8217;t entirely uneventful.  Firstly, one of our [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 11.  Most of today was spent on the bus travelling from San Cristobal to Palenque.  Unfortunately there was a traffic jam on the way out of San Cristobal which delayed us by a couple of hours, so all told, we spent seven hours in transit.</p>
<p>The day wasn&#8217;t entirely uneventful.  Firstly, one of our compadres, Emma, lost her purse 15 minutes before we were due to get on the bus.  <strong><em>Panic!</em></strong> We all felt really bad for her.  She stayed behind to catch a later bus and set off for the hotel to see if they had found it.  <strong><em>Hurray!</em></strong> It was waiting for her at the hotel &#8230;</p>
<p>En route, apart from a few suicidal dogs and chickens (which don&#8217;t respond to beeping), and the odd unplanned stop so the drivers could buy fruit or corn, the most interesting event was the oversized bull that decided to share the highway with us.  The rosary beads that hang from the windscreen of every bus are there for  a reason!</p>
<div id="attachment_187" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/01/bull.jpg"><img aria-describedby="caption-attachment-187" decoding="async" loading="lazy" class="size-full wp-image-187" title="Moo" src="/wp-content/uploads/2010/01/bull.jpg" alt="Moo" width="365" height="274" srcset="/wp-content/uploads/2010/01/bull.jpg 365w, /wp-content/uploads/2010/01/bull-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-187" class="wp-caption-text">Holy Cow!</p></div>
<p>Palenque is a lot warmer and a lot more &#8220;Mexican&#8221; than San Cristobal.  Tomorrow, off to another pile of bricks in the middle of the jungle.</p>
]]></content:encoded>
					
					<wfw:commentRss>/2010/01/29/holy-cow/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>Sumidero</title>
		<link>/2010/01/28/sumidero/</link>
					<comments>/2010/01/28/sumidero/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Thu, 28 Jan 2010 18:29:51 +0000</pubDate>
				<category><![CDATA[Mexico]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=181</guid>

					<description><![CDATA[Day 10.  Dropped 1000m to take a boat ride up the Rio Grijalva in the Sumidero Canyon.  We checked out the wildlife and the scenery and saw: One canyon One river Two crocodiles (possibly stuffed) Some turkey vultures Even more cranes A few cheeky monkeys swinging from the trees Pelicans hanging by the hydroelectric dam [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 10.  Dropped 1000m to take a boat ride up the Rio Grijalva in the <a href="http://en.wikipedia.org/wiki/Sumidero_Canyon" target="_blank" rel="noopener">Sumidero Canyon</a>.  We checked out the wildlife and the scenery and saw:</p>
<ul>
<li>One canyon</li>
<li>One river</li>
<li>Two crocodiles (possibly stuffed)</li>
<li>Some turkey vultures</li>
<li>Even more cranes</li>
<li>A few cheeky monkeys swinging from the trees</li>
<li>Pelicans hanging by the hydroelectric dam</li>
</ul>
<p>The tour was in Spanish so we can&#8217;t really say any more about it, but the link above is quite informative.</p>
<div id="attachment_182" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/01/croc.jpg"><img aria-describedby="caption-attachment-182" decoding="async" loading="lazy" class="size-full wp-image-182" title="I'm stuffed!" src="/wp-content/uploads/2010/01/croc.jpg" alt="I'm stuffed!" width="365" height="274" srcset="/wp-content/uploads/2010/01/croc.jpg 365w, /wp-content/uploads/2010/01/croc-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-182" class="wp-caption-text">Croc</p></div>
<div id="attachment_183" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/01/canyon.jpg"><img aria-describedby="caption-attachment-183" decoding="async" loading="lazy" class="size-full wp-image-183" title="Have we been photoshopped into this picture?" src="/wp-content/uploads/2010/01/canyon.jpg" alt="Have we been photoshopped into this picture?" width="365" height="274" srcset="/wp-content/uploads/2010/01/canyon.jpg 365w, /wp-content/uploads/2010/01/canyon-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-183" class="wp-caption-text">Sumidero Canyon</p></div>
<p>Happy Birthday, RTony!</p>
]]></content:encoded>
					
					<wfw:commentRss>/2010/01/28/sumidero/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>Recognised by the Vatican</title>
		<link>/2010/01/27/recognised-by-the-vatican/</link>
					<comments>/2010/01/27/recognised-by-the-vatican/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Wed, 27 Jan 2010 19:29:51 +0000</pubDate>
				<category><![CDATA[Mexico]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=161</guid>

					<description><![CDATA[Day 9.  There are many indigenous hill tribes in the area surrounding San Cristobal including the Chamulla who we visited today.  We were guided by the excellent Cezar, whose grandfather was from Chamulla. Factoid: The Chamulla consider themselves Catholic, however they recently expelled their Spanish Catholic priest and re-adopted their traditional Mayan rituals which they [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 9.  There are many indigenous hill tribes in the area surrounding San Cristobal including the Chamulla who we visited today.  We were guided by the excellent Cezar, whose grandfather was from Chamulla.</p>
<blockquote><p><strong>Factoid</strong>: The Chamulla consider themselves Catholic, however they recently expelled their Spanish Catholic priest and re-adopted their traditional Mayan rituals which they perform within the 16th century church in the town square.  No photography was allowed within the church because they believe that photography can remove the Spirit of the Saints and of those within the church.  The church had no pews and the floor was covered with pine needles.  Statues of the Saints wearing mirrors round their necks in traditional Mayan style lined the walls.  No formal Mass is held, rather, small groups of people perform rituals to their chosen Saint depending on their need.  Ritual practices include the lighting of coloured candles and the offering of  coloured fizzy drinks to the Saints.  Chickens are sacrificed and eggs are placed on body for healing the sick.</p></blockquote>
<p>We were invited to a traditional tribal home where we were shown the ancient ritual of tortilla cooking and got to sample the end product.  We learnt how to &#8220;non-stick&#8221; the tortilla pan with a liberal dusting of ground limestone instead of Teflon!</p>
<p><iframe loading="lazy" width="500" height="375" src="https://www.youtube.com/embed/mcPLIhFsDwc?feature=oembed" frameborder="0" allowfullscreen></iframe></p>
<p><iframe loading="lazy" width="500" height="375" src="https://www.youtube.com/embed/Iz3mN29mryE?feature=oembed" frameborder="0" allowfullscreen></iframe></p>
<p>We found the restaurant that Patti recommended only to discover that James&#8217;s recommended Northern Spanish red wine, Ribera Del Duerro was waiting for us on the table.  We took it as a sign to spend the rest of the afternoon celebrating.</p>
<div id="attachment_168" style="width: 284px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/01/galleria1.jpg"><img aria-describedby="caption-attachment-168" decoding="async" loading="lazy" class="size-full wp-image-168" title="Good choice" src="/wp-content/uploads/2010/01/galleria1.jpg" alt="Good choice" width="274" height="365" srcset="/wp-content/uploads/2010/01/galleria1.jpg 274w, /wp-content/uploads/2010/01/galleria1-225x300.jpg 225w" sizes="(max-width: 274px) 100vw, 274px" /></a><p id="caption-attachment-168" class="wp-caption-text">RPattiz recommendation</p></div>
<div id="attachment_170" style="width: 284px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/01/ribera1.jpg"><img aria-describedby="caption-attachment-170" decoding="async" loading="lazy" class="size-full wp-image-170" title="How did I get here?" src="/wp-content/uploads/2010/01/ribera1.jpg" alt="How did I get here?" width="274" height="365" srcset="/wp-content/uploads/2010/01/ribera1.jpg 274w, /wp-content/uploads/2010/01/ribera1-225x300.jpg 225w" sizes="(max-width: 274px) 100vw, 274px" /></a><p id="caption-attachment-170" class="wp-caption-text">James&#39;s recommendation</p></div>
<div id="attachment_171" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/01/bottoms_up.jpg"><img aria-describedby="caption-attachment-171" decoding="async" loading="lazy" class="size-full wp-image-171" title="Bottoms up!" src="/wp-content/uploads/2010/01/bottoms_up.jpg" alt="Bottoms up!" width="365" height="274" srcset="/wp-content/uploads/2010/01/bottoms_up.jpg 365w, /wp-content/uploads/2010/01/bottoms_up-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-171" class="wp-caption-text">Celebration</p></div>
]]></content:encoded>
					
					<wfw:commentRss>/2010/01/27/recognised-by-the-vatican/feed/</wfw:commentRss>
			<slash:comments>3</slash:comments>
		
		
			</item>
	</channel>
</rss>
