<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Lazy Sunday	</title>
	<atom:link href="http://localhost/2010/02/28/lazy-sunday/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/02/28/lazy-sunday/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Sun, 14 Mar 2010 18:55:33 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Aseema		</title>
		<link>/2010/02/28/lazy-sunday/#comment-54</link>

		<dc:creator><![CDATA[Aseema]]></dc:creator>
		<pubDate>Sun, 14 Mar 2010 18:55:33 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=479#comment-54</guid>

					<description><![CDATA[tony says - thanks for the birthday message. keep on trekking!!]]></description>
			<content:encoded><![CDATA[<p>tony says &#8211; thanks for the birthday message. keep on trekking!!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
