<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Recognised by the Vatican	</title>
	<atom:link href="http://localhost/2010/01/27/recognised-by-the-vatican/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/01/27/recognised-by-the-vatican/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Tue, 02 Feb 2010 13:06:37 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: safe		</title>
		<link>/2010/01/27/recognised-by-the-vatican/#comment-23</link>

		<dc:creator><![CDATA[safe]]></dc:creator>
		<pubDate>Tue, 02 Feb 2010 13:06:37 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=161#comment-23</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/01/27/recognised-by-the-vatican/#comment-22&quot;&gt;James D&lt;/a&gt;.

And it actually tastes quite good, not too chalky, and is a good source of calcium!]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/01/27/recognised-by-the-vatican/#comment-22">James D</a>.</p>
<p>And it actually tastes quite good, not too chalky, and is a good source of calcium!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: James D		</title>
		<link>/2010/01/27/recognised-by-the-vatican/#comment-22</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Mon, 01 Feb 2010 15:55:38 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=161#comment-22</guid>

					<description><![CDATA[Awsome that you found Ribera our there! Love the non-stick idea much heathier than oil.]]></description>
			<content:encoded><![CDATA[<p>Awsome that you found Ribera our there! Love the non-stick idea much heathier than oil.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Didi Hammad		</title>
		<link>/2010/01/27/recognised-by-the-vatican/#comment-21</link>

		<dc:creator><![CDATA[Didi Hammad]]></dc:creator>
		<pubDate>Mon, 01 Feb 2010 13:04:34 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=161#comment-21</guid>

					<description><![CDATA[Back last night. Delays because of the snow in Manchester ( Airport Closed for few hrs).  The way the Tortilla  is cooked reminds me of how they cook Konafa in Egypt, I wounder if there is some relationship between them !!!.
Have fun
Didi]]></description>
			<content:encoded><![CDATA[<p>Back last night. Delays because of the snow in Manchester ( Airport Closed for few hrs).  The way the Tortilla  is cooked reminds me of how they cook Konafa in Egypt, I wounder if there is some relationship between them !!!.<br />
Have fun<br />
Didi</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
