<?xml version="1.0" encoding="UTF-8"?><feed
	xmlns="http://www.w3.org/2005/Atom"
	xmlns:thr="http://purl.org/syndication/thread/1.0"
	xml:lang="en-GB"
	>
	<title type="text">Annie &amp; Safe Go West</title>
	<subtitle type="text">The Grand Tour</subtitle>

	<updated>2023-07-30T21:04:51Z</updated>

	<link rel="alternate" type="text/html" href="" />
	<id>/feed/atom/</id>
	<link rel="self" type="application/atom+xml" href="http://localhost/feed/atom/" />

	<generator uri="https://wordpress.org/" version="6.2.2">WordPress</generator>
	<entry>
		<author>
			<name>annieandsafe</name>
					</author>

		<title type="html"><![CDATA[Epilogue]]></title>
		<link rel="alternate" type="text/html" href="/2010/04/23/epilogue/" />

		<id>http://travel.sandacre.com/?p=1012</id>
		<updated>2023-07-30T21:04:51Z</updated>
		<published>2010-04-23T21:34:47Z</published>
		<category scheme="" term="UK" />
		<summary type="html"><![CDATA[These are the tales of Annie and Safe and their travels to lands far, far away … What was meant to be 90 days of travel became 94 days of adventure. If you&#8217;d like to read each day in chronological order, then start at the First Post and work your way forward from there. The [&#8230;]]]></summary>

					<content type="html" xml:base="/2010/04/23/epilogue/"><![CDATA[
<p>These are the tales of Annie and Safe and their travels to lands far, far away …</p>



<p>What was meant to be 90 days of travel became 94 days of adventure. If you&#8217;d like to read each day in chronological order, then start at the <a href="/2010/01/01/first-post/" data-type="URL" data-id="/2010/01/01/first-post/">First Post</a> and work your way forward from there. The link to the next day (starting with <em>It&#8217;s Cold Outside</em>) can be found at the top right of each post. Enjoy!</p>
]]></content>
		
			</entry>
		<entry>
		<author>
			<name>annieandsafe</name>
					</author>

		<title type="html"><![CDATA[We&#8217;re Back!]]></title>
		<link rel="alternate" type="text/html" href="/2010/04/22/were-back/" />

		<id>http://travel.sandacre.com/?p=1001</id>
		<updated>2010-04-22T21:41:41Z</updated>
		<published>2010-04-22T21:41:41Z</published>
		<category scheme="" term="UK" />
		<summary type="html"><![CDATA[Day 94. After all of our travels, our final leg of the journey back to the UK couldn&#8217;t have been easier. Having been dropped off by the driver at Cairo Airport, we were whisked through all the queues by our personal assisstant. Bizarrely &#8230; very bizarrely &#8230; we met Scottito in the airport whilst rushing [&#8230;]]]></summary>

					<content type="html" xml:base="/2010/04/22/were-back/"><![CDATA[<p>Day 94.  After all of our travels, our final leg of the journey back to the UK couldn&#8217;t have been easier.  Having been dropped off by the driver at Cairo Airport, we were whisked through all the queues by our personal assisstant.  Bizarrely &#8230; very bizarrely &#8230; we met Scottito in the airport whilst rushing through the queues.  Scottito was with us on the tour through Central America.  He&#8217;d gone one way round the world and we&#8217;d gone the other to meet up by chance here!  He was making his way back from Central America to his home in Australia via the Middle East.  His next stop was a tour of Libya!</p>
<p>Our journey home was full of passengers being repatriated in various degrees of dishevellement.  There was a hint of tension in the air.  In the back of everyone&#8217;s mind was the possibility that the plane might fall out of the sky at the hands of Eyjafjallajoekull.  On touchdown, everyone clapped the captain for a smooth landing.  With the tension released, the passenger behind us fainted as he was fetching his bags from the overhead locker!</p>
<p><div id="attachment_1002" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/makkah-manchester.jpg"><img aria-describedby="caption-attachment-1002" decoding="async" class="size-full wp-image-1002 " src="/wp-content/uploads/2010/04/makkah-manchester.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/makkah-manchester.jpg 657w, /wp-content/uploads/2010/04/makkah-manchester-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-1002" class="wp-caption-text">Everything you need to know once you&#39;ve landed at Heathrow</p></div></p>
<p>We were expecting fanfare and news crews on arrival at Heathrow but it was just another ordinary day.  With UK airspace having been open for over 18 hours, it was clearly old news.</p>
<div id="_mcePaste">Patti met us at the airport and drove us to the Sunningdale Retreat complete with perfect weather, cherry blossoms, foot spa, facial treatments and home cooked food.</div>
<p><div id="attachment_1007" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/sunny-sunningdale.jpg"><img aria-describedby="caption-attachment-1007" decoding="async" loading="lazy" class="size-full wp-image-1007 " src="/wp-content/uploads/2010/04/sunny-sunningdale.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/sunny-sunningdale.jpg 657w, /wp-content/uploads/2010/04/sunny-sunningdale-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-1007" class="wp-caption-text">Cherry blossoms in sunny Sunningdale</p></div></p>
<p>It was nice to get back to the normality of school days, washing machines, Max&#8217;s experimental wasp trap in the garden and Bob&#8217;s tasting session with goji berries and pumpkin seeds.</p>
<p><div id="attachment_1008" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/dirty-washing-sunningdale.jpg"><img aria-describedby="caption-attachment-1008" decoding="async" loading="lazy" class="size-full wp-image-1008 " src="/wp-content/uploads/2010/04/dirty-washing-sunningdale.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/dirty-washing-sunningdale.jpg 492w, /wp-content/uploads/2010/04/dirty-washing-sunningdale-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-1008" class="wp-caption-text">Maybe our three travel outfits belong in the bin rather than the washing machine</p></div></p>
<p><div id="attachment_1009" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/insect-trap.jpg"><img aria-describedby="caption-attachment-1009" decoding="async" loading="lazy" class="size-full wp-image-1009 " src="/wp-content/uploads/2010/04/insect-trap.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/insect-trap.jpg 492w, /wp-content/uploads/2010/04/insect-trap-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-1009" class="wp-caption-text">Watch out, wasps ... Max is about!</p></div></p>
<p><div id="attachment_1010" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/max-and-bob.jpg"><img aria-describedby="caption-attachment-1010" decoding="async" loading="lazy" class="size-full wp-image-1010 " src="/wp-content/uploads/2010/04/max-and-bob.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/max-and-bob.jpg 657w, /wp-content/uploads/2010/04/max-and-bob-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-1010" class="wp-caption-text">Max and Bob</p></div></p>
<p>By the end of the day, we felt like we&#8217;d never been away &#8230;</p>
]]></content>
		
					<link rel="replies" type="text/html" href="/2010/04/22/were-back/#comments" thr:count="2" />
			<link rel="replies" type="application/atom+xml" href="/2010/04/22/were-back/feed/atom/" thr:count="2" />
			<thr:total>2</thr:total>
			</entry>
		<entry>
		<author>
			<name>annieandsafe</name>
					</author>

		<title type="html"><![CDATA[The Man Called U.N.C.L.E.]]></title>
		<link rel="alternate" type="text/html" href="/2010/04/21/the-man-called-u-n-c-l-e/" />

		<id>http://travel.sandacre.com/?p=987</id>
		<updated>2010-04-21T21:14:22Z</updated>
		<published>2010-04-21T21:14:22Z</published>
		<category scheme="" term="Egypt" />
		<summary type="html"><![CDATA[Day 93.  Safe&#8217;s Uncle Ahmed knew we arriving in Cairo early this morning and had arranged a personal escort for us from the moment we left the plane.  Safe&#8217;s Aunty Samia was waiting for us with her driver outisde and we were whisked back to her flat. We were treated to a great breakfast of [&#8230;]]]></summary>

					<content type="html" xml:base="/2010/04/21/the-man-called-u-n-c-l-e/"><![CDATA[<p>Day 93.  Safe&#8217;s Uncle Ahmed knew we arriving in Cairo early this morning and had arranged a personal escort for us from the moment we left the plane.  Safe&#8217;s Aunty Samia was waiting for us with her driver outisde and we were whisked back to her flat.</p>
<p>We were treated to a great breakfast of pitta bread with foul, giant falafels, halawa, eggs and pastrami and cheese!</p>
<p>Annie had lessons in making Turkish coffee from Aunty Samia and Safe&#8217;s cousin, Iman.  After drinking coffee, Annie had her future read from the coffee grounds.  Apparently she was about to go on a long journey.</p>
<p><div id="attachment_988" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/coffee-grounds.jpg"><img aria-describedby="caption-attachment-988" decoding="async" loading="lazy" class="size-full wp-image-988 " src="/wp-content/uploads/2010/04/coffee-grounds.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/coffee-grounds.jpg 657w, /wp-content/uploads/2010/04/coffee-grounds-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-988" class="wp-caption-text">Aunty Samia predicts Annie&#39;s future</p></div></p>
<p>European airspace opened this morning and Safe&#8217;s uncle set about getting us back to London.  As far as we knew, flights were fully booked and &#8230; urm &#8230; uncompetitively priced, but things work differently in Egypt.  Safe&#8217;s uncle with his three mobile phones &#8220;made some calls&#8221;.  By early afternoon, we were booked on tomorrow morning&#8217;s flight back to London!</p>
<p>We spent some time cancelling our former overland plan with the aroma of aubergine mahshee (stuffed aubergines) coming from the kitchen:</p>
<p><div id="attachment_992" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/mahshee.jpg"><img aria-describedby="caption-attachment-992" decoding="async" loading="lazy" class="size-full wp-image-992 " src="/wp-content/uploads/2010/04/mahshee.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/mahshee.jpg 657w, /wp-content/uploads/2010/04/mahshee-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-992" class="wp-caption-text">Mahshee</p></div></p>
<p>We sat down to lunch with Uncle Ahmad, Aunty Samia, their son and daughter, Mohammad and Yasmin, and Yasmin&#8217;s two-year-old son, Saleem.  The kofta, aubergine mahshee, molokhia and stuffed pigeon eaten with our fingers were a fantastic shock to the system after nibbling at fish, rice and pickles with chopsticks for the last two weeks.</p>
<p><div id="attachment_993" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/lunch-cairo.jpg"><img aria-describedby="caption-attachment-993" decoding="async" loading="lazy" class="size-full wp-image-993 " src="/wp-content/uploads/2010/04/lunch-cairo.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/lunch-cairo.jpg 657w, /wp-content/uploads/2010/04/lunch-cairo-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-993" class="wp-caption-text">Lunch</p></div></p>
<p>After lunch, Annie played with Saleem for a while.  Saleem was very upset when Annie had to leave.  A few trips to the airport to sort out tickets and refunds, an evening walk, and a drink of sugar cane juice rounded off the day.</p>
<p>Happy Birthday, Jonathan!</p>
]]></content>
		
			</entry>
		<entry>
		<author>
			<name>annieandsafe</name>
					</author>

		<title type="html"><![CDATA[Headache]]></title>
		<link rel="alternate" type="text/html" href="/2010/04/20/headache/" />

		<id>http://travel.sandacre.com/?p=985</id>
		<updated>2010-04-20T21:11:17Z</updated>
		<published>2010-04-20T21:11:17Z</published>
		<category scheme="" term="Japan" />
		<summary type="html"><![CDATA[Day 92. Hotel checkout time was 10am but we were still in bed. The order of events was as follows: We were called by reception at 10:20am and asked if we planned to checkout so we delayed our checkout to 11am. We were called by reception at 11:20am and asked if we planned to checkout [&#8230;]]]></summary>

					<content type="html" xml:base="/2010/04/20/headache/"><![CDATA[<div id="_mcePaste">Day 92.  Hotel checkout time was 10am but we were still in bed.  The order of events was as follows:</div>
<div>
<div>
<ol>
<li>We were called by reception at 10:20am and asked if we planned to checkout so we delayed our checkout to 11am.</li>
<li>We were called by reception at 11:20am and asked if we planned to checkout so we delayed our checkout to 12am.</li>
<li>We were called by reception at 12:20am and asked if we planned to checkout so we delayed our checkout to 1pm.</li>
<li>We were called by reception at 13:20am and asked if we planned to checkout so we delayed our checkout to 2pm.</li>
<li>We were called by reception at 14:20am and asked if we planned to checkout.  At 3pm our heads stopped spinning and we finally managed to check out.</li>
</ol>
</div>
</div>
<div>We took a train to the notorious <a href="http://en.wikipedia.org/wiki/Kansai_International_Airport" target="_blank" rel="noopener">Kansai International Airport</a>, a stunning feat of engineering built at great expense on an artificial island and sinking gradually into the sea, and caught our overnight flight to Cairo.  We were <strong><em>so</em></strong> relieved to have a late flight today!  Safe ate his final meal of fish, rice and pickles on the plane.</div>
<p>Happy Birthday, Annabelle!</p>
]]></content>
		
			</entry>
		<entry>
		<author>
			<name>annieandsafe</name>
					</author>

		<title type="html"><![CDATA[Popstar!]]></title>
		<link rel="alternate" type="text/html" href="/2010/04/19/popstar/" />

		<id>http://travel.sandacre.com/?p=974</id>
		<updated>2010-04-19T21:53:59Z</updated>
		<published>2010-04-19T21:53:59Z</published>
		<category scheme="" term="Japan" />
		<summary type="html"><![CDATA[Day 91.  We decided to carry on being tourists in Osaka and make the most of the day.  We travelled out Tempozan Harbour Village to visit Osaka Aquarium and take a ride on what was formerly the largest ferris wheel in the world. The aquarium was very impressive and filled some cute and some not [&#8230;]]]></summary>

					<content type="html" xml:base="/2010/04/19/popstar/"><![CDATA[<p>Day 91.  We decided to carry on being tourists in Osaka and make the most of the day.  We travelled out Tempozan Harbour Village to visit Osaka Aquarium and take a ride on what was formerly the largest ferris wheel in the world.</p>
<p>The aquarium was very impressive and filled some cute and some not so cute animals.  It is one of the few aquariums large enough to house two gigantic whale sharks.</p>
<blockquote><p><strong>Factoid:</strong> Osaka Aquarium contains 5,400 tonnes of water behind 30cm thick acrylic glass.  The total quantity of acrylic glass in the aquarium is more than 1.5 times the total world yearly production.</p></blockquote>
<p><div id="attachment_975" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/whale-shark.jpg"><img aria-describedby="caption-attachment-975" decoding="async" loading="lazy" class="size-full wp-image-975 " src="/wp-content/uploads/2010/04/whale-shark.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/whale-shark.jpg 657w, /wp-content/uploads/2010/04/whale-shark-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-975" class="wp-caption-text">Whale shark - a big fish!</p></div></p>
<p><div id="attachment_976" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/pretty-jelly-fish.jpg"><img aria-describedby="caption-attachment-976" decoding="async" loading="lazy" class="size-full wp-image-976 " src="/wp-content/uploads/2010/04/pretty-jelly-fish.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/pretty-jelly-fish.jpg 657w, /wp-content/uploads/2010/04/pretty-jelly-fish-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-976" class="wp-caption-text">Pretty white jellyfish</p></div></p>
<p><div id="attachment_977" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/orange-jelly-fish.jpg"><img aria-describedby="caption-attachment-977" decoding="async" loading="lazy" class="size-full wp-image-977 " src="/wp-content/uploads/2010/04/orange-jelly-fish.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/orange-jelly-fish.jpg 492w, /wp-content/uploads/2010/04/orange-jelly-fish-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-977" class="wp-caption-text">Pretty orange jellyfish</p></div></p>
<p>The ferris wheel gave us a bird&#8217;s eye view of the impressive sprawling metropolis, skyscrapers, bridges, and port of Osaka.</p>
<p><div id="attachment_978" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/ferris-wheel-osaka.jpg"><img aria-describedby="caption-attachment-978" decoding="async" loading="lazy" class="size-full wp-image-978 " src="/wp-content/uploads/2010/04/ferris-wheel-osaka.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/ferris-wheel-osaka.jpg 492w, /wp-content/uploads/2010/04/ferris-wheel-osaka-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-978" class="wp-caption-text">Good view from the top</p></div></p>
<p>In the afternoon we continued to try to find a way home overland and booked an onward flight from Cairo to Tunis where we are to catch an overnight ferry to Genoa in Italy.  We plan to travel overland through Europe which is looking a little difficult at the moment, though we&#8217;re sure we&#8217;ll work something out when we reach Italy.</p>
<p>In the evening we set out for the bright lights of downtown Osaka and to scenes reminiscent of <a href="http://en.wikipedia.org/wiki/Blade_Runner" target="_blank" rel="noopener">Blade Runner</a>.  In a back street we spotted an eating establishment with customers seated round a bar, each with their own copper cauldron of boiling water.  This looked too interesting to pass up so we investigated further.  We were provided with a tray of vegetables, some sliced meat and a pot of boiling water.  We were slightly at a loss as to the correct procedure (even though we had an English leaflet explaining what to do) and unfortunately all the other customers were half-way through eating so we had nobody to copy.  Annie had just melted a rice cake by leaving it in her hot water rendering it gooey and messy.  Fortunately, a Korean brother and sister arrived at the restaurant, sat next to us, and guided us through the proper procedure for eating Shabu-Shabu.</p>
<p><div id="attachment_997" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/shabu-shabu-osaka.jpg"><img aria-describedby="caption-attachment-997" decoding="async" loading="lazy" class="size-full wp-image-997 " src="/wp-content/uploads/2010/04/shabu-shabu-osaka.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/shabu-shabu-osaka.jpg 657w, /wp-content/uploads/2010/04/shabu-shabu-osaka-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-997" class="wp-caption-text">Shabu-shabu</p></div></p>
<p><div id="attachment_979" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/how-to-eat-shabu-shabu.jpg"><img aria-describedby="caption-attachment-979" decoding="async" loading="lazy" class="size-full wp-image-979 " src="/wp-content/uploads/2010/04/how-to-eat-shabu-shabu.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/how-to-eat-shabu-shabu.jpg 492w, /wp-content/uploads/2010/04/how-to-eat-shabu-shabu-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-979" class="wp-caption-text">Shabu-shabu means &quot;shakey, shakey&quot; on account of how you swish the meat in the hot water to cook it</p></div></p>
<p>It transpired that the brother lives in Hong Kong and is here both on business and to visit his sister.  His sister lives in Osaka and is a well known popstar!  They were having dinner in this low-key restaurant to take a break from adoring fans.  Having had a lovely dinner with them, they insisted we join them as guests at their regular bar.</p>
<p>It is customary in bars in the Far East to purchase your own bottle of spirit.  Your name is tag is attached to it and it is held for you at the bar.  The celebrity sister insisted on buying a bottle of 12 year old Chivas Regal and her name was tagged to it.  The name tag proved unneccesary as we&#8217;d polished off the whole bottle by the end of the evening.  We&#8217;re not usually led astray this easily, but the phrase &#8220;When in Rome&#8221; sprang to mind.  Besides, the brother enjoyed showing us how to carefully drop a shot glass of whisky into a tumbler of beer without spilling it, a practice known as &#8220;Bombing&#8221;.</p>
<p><div id="attachment_980" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/osaka-bar.jpg"><img aria-describedby="caption-attachment-980" decoding="async" loading="lazy" class="size-full wp-image-980 " src="/wp-content/uploads/2010/04/osaka-bar.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/osaka-bar.jpg 657w, /wp-content/uploads/2010/04/osaka-bar-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-980" class="wp-caption-text">The night is still young and the line of empty beer bottles is still short</p></div></p>
<p>We had unsuccessfully been trying to experience an evening of karaoke since we arrived in Japan.  We were really excited when the high-tech karaoke console appeared out of nowhere.</p>
<p><div id="attachment_981" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/karaoke-console.jpg"><img aria-describedby="caption-attachment-981" decoding="async" loading="lazy" class="size-full wp-image-981 " src="/wp-content/uploads/2010/04/karaoke-console.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/karaoke-console.jpg 657w, /wp-content/uploads/2010/04/karaoke-console-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-981" class="wp-caption-text">21st century karaoke</p></div></p>
<p>The brother and sister were fantastic singers.  The brother crooned Korean love songs and the sister sang one of her own songs!  No less than 28 of her songs were available on the karaoke machine.  It was odd to watch her singing beside us whilst also watching her on the music video.  Safe and Annie tried (and failed) to outsing them with, of course, Toni Braxton&#8217;s Unbreak My Heart.  We staggered home like students at 4am.</p>
<p><div id="attachment_982" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/karaoke-stars.jpg"><img aria-describedby="caption-attachment-982" decoding="async" loading="lazy" class="size-full wp-image-982 " src="/wp-content/uploads/2010/04/karaoke-stars.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/karaoke-stars.jpg 657w, /wp-content/uploads/2010/04/karaoke-stars-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-982" class="wp-caption-text">Pop stars!</p></div></p>
<p>This was our final farewell to Japan and a fantastic sendoff.  Tonight we were thankful that the volcano had delayed us.</p>
]]></content>
		
			</entry>
		<entry>
		<author>
			<name>annieandsafe</name>
					</author>

		<title type="html"><![CDATA[Forces Of Nature]]></title>
		<link rel="alternate" type="text/html" href="/2010/04/18/forces-of-nature/" />

		<id>http://travel.sandacre.com/?p=962</id>
		<updated>2010-04-18T08:52:30Z</updated>
		<published>2010-04-18T08:52:30Z</published>
		<category scheme="" term="Japan" />
		<summary type="html"><![CDATA[Day 90.  We both woke us with the same realisation.  Even though we were booked on a flight for Monday 26th April out of Tokyo, whether or not we were to fly was completely down to forces of nature.  The internet is a mine of information and what is clear is that (a) the airlines [&#8230;]]]></summary>

					<content type="html" xml:base="/2010/04/18/forces-of-nature/"><![CDATA[<p>Day 90.  We both woke us with the same realisation.  Even though we were booked on a flight for Monday 26th April out of Tokyo, whether or not we were to fly was completely down to forces of nature.  The internet is a mine of information and what is clear is that (a) the airlines are very optimistic and (b) the geologists are very pessimitic about flights getting back to normal soon.  Seeing as it&#8217;s a volcano stopping us flying, were inclined to go with the geologists&#8217; assessment!  BBC News Online is on the whole is both impartial and philosophical about the whole affair.  One entertaining article encourages us to see this episode as a glimpse into our futures and learn from the experience.  That&#8217;s easy too say if you&#8217;re tucked up at home!</p>
<p>Rather than wait for a week to see whether the airlines or the geologists were right, we decided we&#8217;d try to get home incrementally.  We&#8217;ve booked a flight to Cairo leaving Tuesday evening!  Our reasons are:</p>
<div id="_mcePaste">
<ol>
<li>It&#8217;s slightly closer to home.</li>
<li>It&#8217;s a lot warmer than Tokyo which is experiencing freak changeable weather from snow to torrential rain to heatwave.</li>
<li>The flight was comparatively cheap and by far the cheapest on the internet heading towards Europe!  (Other flights cost silly thousands of pounds).</li>
<li>They do the best stuffed pigeon.</li>
</ol>
</div>
<p>We booked our flights on the internet in the lobby of our hotel.  We were sat near another British couple who were also trapped in Tokyo.  They had no onward flight booked and no idea to get home.  They had tried to catch their Emirates flight as far as Dubai even though their onward flight cancelled but were told that Dubai was not permitting this.  We suggested they try our flight to Cairo.  Within minutes, when they tried to book it, our flight was full.  The next available flight to Cairo was on the following Saturday costing silly thousands of pounds!</p>
<p>Let&#8217;s hope the ash doesn&#8217;t reach Egypt!  Apart from the fact that we&#8217;d still be stuck in Japan, it would be quite Biblical:</p>
<blockquote><p><em>&#8220;Then the LORD said to Moses, &#8220;Stretch out your hand toward the sky so that darkness will spread over Egypt—darkness that can be felt.&#8221; So Moses stretched out his hand toward the sky, and total darkness covered all Egypt for three days. No one could see anyone else or leave his place for three days.&#8221;</em></p>
<p style="text-align: right;">— Exodus 10:21–23</p>
</blockquote>
<p>Our flight leaves from Osaka so we boarded a Shinkansen (alas still no Mount Fuji) headed there.  For the first time on this trip, we&#8217;d managed to plan our cash exactly to the last few pennies, only to find we had no money to buy lunch for the train!  (Credit card is not as widely accepted here and you often see people pulling out wods of cash from their back pockets.)</p>
<p><div id="attachment_963" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/last-coins-japan.jpg"><img aria-describedby="caption-attachment-963" decoding="async" loading="lazy" class="size-full wp-image-963 " src="/wp-content/uploads/2010/04/last-coins-japan.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/last-coins-japan.jpg 657w, /wp-content/uploads/2010/04/last-coins-japan-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-963" class="wp-caption-text">Money money money!</p></div></p>
<p>A noticeable proportion of the general public wears a surgical face mask.  We&#8217;re not entirely sure whether this is to protect them from germs, to protect others from germs, or perhaps both.  We thought we&#8217;d take the opportunity to see what it meant to wear a surgical mask in public.  Nobody batted an eye at us.</p>
<p><div id="attachment_964" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/masks.jpg"><img aria-describedby="caption-attachment-964" decoding="async" loading="lazy" class="size-full wp-image-964 " src="/wp-content/uploads/2010/04/masks.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/masks.jpg 657w, /wp-content/uploads/2010/04/masks-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-964" class="wp-caption-text">Now we&#39;re stuck here we&#39;re trying to fit in.  Perhaps it&#39;ll protect us from volcanic ash!</p></div></p>
<p>We checked into our hotel in the Nanba district of Osaka whereupon Annie was given &#8220;gifts&#8221; including:</p>
<ul>
<li>Firming hot pepper body sauce &#8220;so you can mix with the celebrities&#8221;.</li>
<li>Anti-wrinkle milk.</li>
<li>A moisturising face mask.</li>
</ul>
<p><div id="attachment_970" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/face-mask-osaka.jpg"><img aria-describedby="caption-attachment-970" decoding="async" loading="lazy" class="size-full wp-image-970 " src="/wp-content/uploads/2010/04/face-mask-osaka.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/face-mask-osaka.jpg 657w, /wp-content/uploads/2010/04/face-mask-osaka-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-970" class="wp-caption-text">Beautiful!</p></div></p>
<p>After Annie had been beautified, we went out to explore the area.  We like Osaka!  We weren&#8217;t expecting much more than an industrial port city with concrete carbuncles, but were were pleasantly surprised by the virabrancy and character of this town.  And Osaka is known in Japan for its food, so we felt right at home.</p>
<p>We tried the local delicacy of takoyaki, octopus pancakey balls:</p>
<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="425" height="344" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="src" value="https://www.youtube.com/v/g82AU4VSY_c&amp;hl=en&amp;fs=1" /><param name="allowfullscreen" value="true" /><embed type="application/x-shockwave-flash" width="425" height="344" src="https://www.youtube.com/v/g82AU4VSY_c&amp;hl=en&amp;fs=1" allowscriptaccess="always" allowfullscreen="true"></embed></object></p>
<p>Then by accident, we found <a href="http://www.rikuro.co.jp/index2.html" target="_blank" rel="noopener">Rikuro&#8217;s</a>, arguably the most celebrated cheesecake shop in Japan and had to queue to buy our cheescake.  Customers are limited to buying a maximum of two cheescackes and the reason is very clear.  After we had devoured our cheesecake, we were tempted to go back and buy a lifetime&#8217;s supply.</p>
<p><div id="attachment_971" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/rikuro-cheesecacke.jpg"><img aria-describedby="caption-attachment-971" decoding="async" loading="lazy" class="size-full wp-image-971 " src="/wp-content/uploads/2010/04/rikuro-cheesecacke.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/rikuro-cheesecacke.jpg 657w, /wp-content/uploads/2010/04/rikuro-cheesecacke-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-971" class="wp-caption-text">Light, fluffy, moist and not too sweet.  Two is not enough!</p></div></p>
]]></content>
		
					<link rel="replies" type="text/html" href="/2010/04/18/forces-of-nature/#comments" thr:count="5" />
			<link rel="replies" type="application/atom+xml" href="/2010/04/18/forces-of-nature/feed/atom/" thr:count="5" />
			<thr:total>5</thr:total>
			</entry>
		<entry>
		<author>
			<name>annieandsafe</name>
					</author>

		<title type="html"><![CDATA[Eyjafjallajoekull]]></title>
		<link rel="alternate" type="text/html" href="/2010/04/17/eyjafjallajoekull/" />

		<id>http://travel.sandacre.com/?p=957</id>
		<updated>2010-04-17T00:47:00Z</updated>
		<published>2010-04-17T00:47:00Z</published>
		<category scheme="" term="Japan" />
		<summary type="html"><![CDATA[Day 89.  Trapped in Tokyo!  Eyjafjallajoekull Volcano in Iceland has spewed out ash all over the UK so our flight has been cancelled.  We&#8217;re provisionally booked to fly back on 26th April, though apparently we should be able to get back sooner if the wind changes. On the amusing side, BBC News Online is now displaying [&#8230;]]]></summary>

					<content type="html" xml:base="/2010/04/17/eyjafjallajoekull/"><![CDATA[<p>Day 89.  Trapped in Tokyo!  Eyjafjallajoekull Volcano in Iceland has spewed out ash all over the UK so our flight has been cancelled.  We&#8217;re provisionally booked to fly back on 26th April, though apparently we should be able to get back sooner if the wind changes.</p>
<p>On the amusing side, BBC News Online is now displaying Twitter comments with some of its news stories.  Here&#8217;s one we enjoyed:</p>
<blockquote><p><strong>11:43 </strong><em>twmercer tweets: Honestly. If you can&#8217;t look after your volcano you shouldn&#8217;t be allowed to keep one.</em></p></blockquote>
<p><div id="attachment_960" style="width: 395px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/ash-cloud.jpg"><img aria-describedby="caption-attachment-960" decoding="async" loading="lazy" class="size-full wp-image-960 " src="/wp-content/uploads/2010/04/ash-cloud.jpg" alt="" width="385" height="280" srcset="/wp-content/uploads/2010/04/ash-cloud.jpg 550w, /wp-content/uploads/2010/04/ash-cloud-300x218.jpg 300w" sizes="(max-width: 385px) 100vw, 385px" /></a><p id="caption-attachment-960" class="wp-caption-text">Ash cloud</p></div></p>
<p>We also just learned that the floor at our flat in London is swimming under two inches of water because the washing machine has leaked!</p>
<p>Not wanting to tempt fate, we&#8217;re waiting for the third bit of news &#8230; !</p>
]]></content>
		
			</entry>
		<entry>
		<author>
			<name>annieandsafe</name>
					</author>

		<title type="html"><![CDATA[Final Day &#8230; Maybe &#8230;]]></title>
		<link rel="alternate" type="text/html" href="/2010/04/16/final-day-maybe/" />

		<id>http://travel.sandacre.com/?p=954</id>
		<updated>2010-04-16T21:06:46Z</updated>
		<published>2010-04-16T21:06:46Z</published>
		<category scheme="" term="Japan" />
		<summary type="html"><![CDATA[Day 88.  Our last full day!  Flying back to London tomorrow!  Well it had to happen sometime &#8230; We rode the Shinkansen back from Hiroshima to Tokyo.  The elusive Mount Fuji should be visible from the train on this route.  We weren&#8217;t sure exactly when to look out of the window, but the sight of [&#8230;]]]></summary>

					<content type="html" xml:base="/2010/04/16/final-day-maybe/"><![CDATA[<p>Day 88.  Our last full day!  Flying back to London tomorrow!  Well it had to happen sometime &#8230;</p>
<p>We rode the Shinkansen back from Hiroshima to Tokyo.  The elusive Mount Fuji should be visible from the train on this route.  We weren&#8217;t sure exactly when to look out of the window, but the sight of several people craning their heads excitedly on one side  of the train as we pulled into Odawarra about an hour out of Tokyo was a give-away.  Alas, the weather had turned cold and misty, and Fuji remained cloaked from view.</p>
<p>Now that we&#8217;re &#8220;locals&#8221; in Tokyo, we checked into our favourite hotel in Asakusa then returned to our favourite baby eel restaurant next door.</p>
<p>We were a bit slow on the uptake.  Although we realised that a volcano had erupted in Iceland, we didn&#8217;t quite realise the effect it was having on air traffic.  UK airspace is closed today, though apparently our flight is still scheduled to leave tomorrow  We shall see &#8230;</p>
<p><div id="attachment_955" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/baby-eels-2.jpg"><img aria-describedby="caption-attachment-955" decoding="async" loading="lazy" class="size-full wp-image-955 " src="/wp-content/uploads/2010/04/baby-eels-2.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/baby-eels-2.jpg 492w, /wp-content/uploads/2010/04/baby-eels-2-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-955" class="wp-caption-text">After tucking into a bowl of baby eels, Safe ponders whether we&#39;ll be flying home tomorrow</p></div></p>
]]></content>
		
			</entry>
		<entry>
		<author>
			<name>annieandsafe</name>
					</author>

		<title type="html"><![CDATA[Hiroshima]]></title>
		<link rel="alternate" type="text/html" href="/2010/04/15/hiroshima/" />

		<id>http://travel.sandacre.com/?p=928</id>
		<updated>2010-04-15T21:25:42Z</updated>
		<published>2010-04-15T21:25:42Z</published>
		<category scheme="" term="Japan" />
		<summary type="html"><![CDATA[Day 87.  We spent the day in Hiroshima.  Although Hiroshima is a vibrant city in its own right, tourists only visit Hiroshima for one reason, and that&#8217;s why we&#8217;re here.  At the centre of town is Memorial Park and museum, an area dedicated to the memory of those that died in the atomic bomb in [&#8230;]]]></summary>

					<content type="html" xml:base="/2010/04/15/hiroshima/"><![CDATA[<p>Day 87.  We spent the day in Hiroshima.  Although Hiroshima is a vibrant city in its own right, tourists only visit Hiroshima for one reason, and that&#8217;s why we&#8217;re here.  At the centre of town is Memorial Park and museum, an area dedicated to the memory of those that died in the atomic bomb in 1945, the history of events both leading up to and after the bomb, and to the continued effort of this &#8220;City of Peace&#8221; to promote the eradication of all nuclear weapons.</p>
<p>At the entrance to the park is &#8220;The A Bomb Dome&#8221;, the former Centre for Industrial Promotion and one of the few structures left standing after the bomb. Its copper roof melted and all parts of the building that were combustable disintigrated leaving only a shell. The ruin has been left untouched since that day as a reminder of the city&#8217;s destruction.</p>
<p><div id="attachment_929" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/a-bomb-dome.jpg"><img aria-describedby="caption-attachment-929" decoding="async" loading="lazy" class="size-full wp-image-929 " src="/wp-content/uploads/2010/04/a-bomb-dome.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/a-bomb-dome.jpg 657w, /wp-content/uploads/2010/04/a-bomb-dome-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-929" class="wp-caption-text">A-Bomb Dome</p></div></p>
<blockquote><p><strong>Factoid:</strong> The atomic bomb was dropped at 08.15 am on 6th August 1945 and it exploded at a height of 600metres over Hiroshima. Heat from the bomb raised surface temperatures to between 3000 and 4000 degrees Celsius and generated a blast that blew at 440 metres per second (approx 984 miles per hour). Simultaneously an enormous amount of radiation was released causing complete devastation for a 2 kilometre radius.</p></blockquote>
<p>Unsurprisingly Japan is vehemently against Nuclear Armament and each time a nuclear weapon is tested the Mayor of Hiroshima sends a letter of protest to the leader of the country opposing any further development.</p>
<p><div id="attachment_930" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/blair-protest.jpg"><img aria-describedby="caption-attachment-930" decoding="async" loading="lazy" class="size-full wp-image-930 " src="/wp-content/uploads/2010/04/blair-protest.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/blair-protest.jpg 492w, /wp-content/uploads/2010/04/blair-protest-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-930" class="wp-caption-text">A letter of protest to Prime Minister Tony Blair in 2002</p></div></p>
<p>In another area of the park is the Children&#8217;s Peace Memorial dedicated to Sadako Sasaki, a girl who was 2 years old and survived the blast.  Ten years later she developed leukaemia as a result of exposure to radiation.  She started to fold origami paper cranes in the belief that if she folded 1000 she would survive.  Unfortunately she died before she reached her goal but her classmates continued her efforts and soon the the crane became a symbol of peace and hope for Hiroshima.  Now cranes are folded by children from all over the world and sent to the childrens memorial in remembrance of those who died and suffered.</p>
<p><div id="attachment_931" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/cranes.jpg"><img aria-describedby="caption-attachment-931" decoding="async" loading="lazy" class="size-full wp-image-931 " src="/wp-content/uploads/2010/04/cranes.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/cranes.jpg 657w, /wp-content/uploads/2010/04/cranes-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-931" class="wp-caption-text">Paper cranes at Children&#39;s Peace Memorial</p></div></p>
<blockquote><p><strong>Factoid:</strong> In August 1945, Tsutomu Yamaguchi was sent to Hiroshima on a business trip. With the job done, his co-workers left, but Yamaguchi realized that he had forgotten his personal seal for signing official documents, so he headed back into town to pick it up. That&#8217;s when the atomic bomb was dropped on Hiroshima. Badly burned, deaf, and partially blind, he spent a night in the ruins of the city, and then found a railway station on the western edge of the city that was back in operation. He managed to catch a train home to Nagasaki, where — as Yamaguchi explained to his disbelieving boss what had happened in Hiroshima — the second atomic bomb was dropped.</p>
<p>In 2009, the Japanese government certified the still-living Tsutomu Yamaguchi as the first known person to have been at ground zero of both atomic blasts.</p></blockquote>
<p>After being captivated in the museum and park for nearly four hours we felt thoroughly exhausted.  A Japanese man walking his pet sheep went some way to raising our spirits but we were still in need of sustenance.</p>
<p><div id="attachment_932" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/labradoodle.jpg"><img aria-describedby="caption-attachment-932" decoding="async" loading="lazy" class="size-full wp-image-932 " src="/wp-content/uploads/2010/04/labradoodle.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/labradoodle.jpg 657w, /wp-content/uploads/2010/04/labradoodle-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-932" class="wp-caption-text">Sheep dog</p></div></p>
<p>We visited a four storey building (Okonimimura) filled with stalls that all make the same food, a pancakey &#8211; omlettey &#8211; beansprout thingy with some squid prawn and ginger thrown in for good measure (okonomiyaki).</p>
<p><div id="attachment_933" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/okonomiyaki.jpg"><img aria-describedby="caption-attachment-933" decoding="async" loading="lazy" class="size-full wp-image-933 " src="/wp-content/uploads/2010/04/okonomiyaki.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/okonomiyaki.jpg 657w, /wp-content/uploads/2010/04/okonomiyaki-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-933" class="wp-caption-text">Okonomiyaki</p></div></p>
<p><div id="attachment_934" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/okonomiyaki-2.jpg"><img aria-describedby="caption-attachment-934" decoding="async" loading="lazy" class="size-full wp-image-934 " src="/wp-content/uploads/2010/04/okonomiyaki-2.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/okonomiyaki-2.jpg 492w, /wp-content/uploads/2010/04/okonomiyaki-2-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-934" class="wp-caption-text">Annie was too hungry to stop eating and pose for the picture</p></div></p>
<p>We felt restored enough to do some browsing in Hiroshima shopping precinct.  Annie tried her hardest to be captivated by the latest edition of a linux magazine in Japanese but was fighting a losing battle.</p>
<p><div id="attachment_935" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/annie-linux.jpg"><img aria-describedby="caption-attachment-935" decoding="async" loading="lazy" class="size-full wp-image-935 " src="/wp-content/uploads/2010/04/annie-linux.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/annie-linux.jpg 492w, /wp-content/uploads/2010/04/annie-linux-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-935" class="wp-caption-text">Annie Linux</p></div></p>
<p>She settled for a hot chocolate and the popular &#8220;anpan&#8221; instead.</p>
<p><div id="attachment_936" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/anpan.jpg"><img aria-describedby="caption-attachment-936" decoding="async" loading="lazy" class="size-full wp-image-936 " src="/wp-content/uploads/2010/04/anpan.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/anpan.jpg 492w, /wp-content/uploads/2010/04/anpan-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-936" class="wp-caption-text">Anne Pan</p></div></p>
]]></content>
		
			</entry>
		<entry>
		<author>
			<name>annieandsafe</name>
					</author>

		<title type="html"><![CDATA[Miyajima]]></title>
		<link rel="alternate" type="text/html" href="/2010/04/14/miyajima/" />

		<id>http://travel.sandacre.com/?p=920</id>
		<updated>2010-04-14T08:19:51Z</updated>
		<published>2010-04-14T08:19:51Z</published>
		<category scheme="" term="Japan" />
		<summary type="html"><![CDATA[Day 86.  We left the luxury of Dogo Onsen to make our way to Miyajima, a small island a few kilometres off Hiroshima.  From the port of Matsuyama, we took the (very) fast boat to Hiroshima. A streetcar, a train and another boat later, we arrived at Miyajima in the early evening and set out [&#8230;]]]></summary>

					<content type="html" xml:base="/2010/04/14/miyajima/"><![CDATA[<p>Day 86.  We left the luxury of Dogo Onsen to make our way to Miyajima, a small island a few kilometres off Hiroshima.  From the port of Matsuyama, we took the (very) fast boat to Hiroshima.</p>
<p><div id="attachment_921" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/boat-to-miyajima.jpg"><img aria-describedby="caption-attachment-921" decoding="async" loading="lazy" class="size-full wp-image-921 " src="/wp-content/uploads/2010/04/boat-to-miyajima.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/boat-to-miyajima.jpg 657w, /wp-content/uploads/2010/04/boat-to-miyajima-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-921" class="wp-caption-text">Fast boat from Shikoku to Honshu island</p></div></p>
<p>A streetcar, a train and another boat later, we arrived at Miyajima in the early evening and set out to explore it.  Miyajima is considered one of the most beautiful spots in Japan and is the site of one of the classic so-called &#8220;Three Views of Japan&#8221;.  Rising from the sea is the iconic floating Torii, a large Shinto gate built in the 12th century.</p>
<p><div id="attachment_922" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/miyajima-bridge.jpg"><img aria-describedby="caption-attachment-922" decoding="async" loading="lazy" class="size-full wp-image-922 " src="/wp-content/uploads/2010/04/miyajima-bridge.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/miyajima-bridge.jpg 657w, /wp-content/uploads/2010/04/miyajima-bridge-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-922" class="wp-caption-text">Bridge crossing a pretty stream at Miyajima</p></div></p>
<p><div id="attachment_923" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/miyajima-gate.jpg"><img aria-describedby="caption-attachment-923" decoding="async" loading="lazy" class="size-full wp-image-923 " src="/wp-content/uploads/2010/04/miyajima-gate.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/miyajima-gate.jpg 492w, /wp-content/uploads/2010/04/miyajima-gate-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-923" class="wp-caption-text">Ancient Torii rises from the sea off Miyajima</p></div></p>
<p>Peculiar to Miyajima are the tame deer that freely wander the roads and follow the tourists.  One Bambi look-alike made some interesing sounds much like a squeeky toy.  We have yet to confirm whether this is normal for baby deer.</p>
<p><div id="attachment_924" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/conger-eel-bun.jpg"><img aria-describedby="caption-attachment-924" decoding="async" loading="lazy" class="size-full wp-image-924 " src="/wp-content/uploads/2010/04/conger-eel-bun.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/conger-eel-bun.jpg 657w, /wp-content/uploads/2010/04/conger-eel-bun-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-924" class="wp-caption-text">We snack on conger eel buns, a local speciality</p></div></p>
<p><div id="attachment_925" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/bambi.jpg"><img aria-describedby="caption-attachment-925" decoding="async" loading="lazy" class="size-full wp-image-925 " src="/wp-content/uploads/2010/04/bambi.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/bambi.jpg 492w, /wp-content/uploads/2010/04/bambi-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-925" class="wp-caption-text">Bambi bites our buns </p></div></p>
<p>We also spotted a couple of strange looking racoons racing past us and down an alley but they were a little too quick for us to get a good picture of them.</p>
<p><div id="attachment_926" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/racoon.jpg"><img aria-describedby="caption-attachment-926" decoding="async" loading="lazy" class="size-full wp-image-926 " src="/wp-content/uploads/2010/04/racoon.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/racoon.jpg 657w, /wp-content/uploads/2010/04/racoon-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-926" class="wp-caption-text">Racoon&#39;s bottom</p></div></p>
]]></content>
		
			</entry>
	</feed>
