<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Holy Cow!	</title>
	<atom:link href="http://localhost/2010/01/29/holy-cow/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/01/29/holy-cow/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Tue, 02 Feb 2010 02:02:17 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: safe		</title>
		<link>/2010/01/29/holy-cow/#comment-27</link>

		<dc:creator><![CDATA[safe]]></dc:creator>
		<pubDate>Tue, 02 Feb 2010 02:02:17 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=186#comment-27</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/01/29/holy-cow/#comment-26&quot;&gt;Tony O&#039;Donnell&lt;/a&gt;.

Hi Tony … hope you had a Happy Birthday! We did send you a card from somewhere in the mountains in Mexico, but the chances of it arriving are probably slim. We were thinking of you on the day! Hope you continue to enjoy our adventures. Maybe you can do another crazy long weekend break and join us in one of our destinations. Annie &#038; Safe.]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/01/29/holy-cow/#comment-26">Tony O&#8217;Donnell</a>.</p>
<p>Hi Tony … hope you had a Happy Birthday! We did send you a card from somewhere in the mountains in Mexico, but the chances of it arriving are probably slim. We were thinking of you on the day! Hope you continue to enjoy our adventures. Maybe you can do another crazy long weekend break and join us in one of our destinations. Annie &amp; Safe.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Tony O'Donnell		</title>
		<link>/2010/01/29/holy-cow/#comment-26</link>

		<dc:creator><![CDATA[Tony O'Donnell]]></dc:creator>
		<pubDate>Mon, 01 Feb 2010 02:13:05 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=186#comment-26</guid>

					<description><![CDATA[Charlton MA O&#039;Dees are living vicariously through your adventures!
0 degrees F here last night so send some warm weather wishes this way.]]></description>
			<content:encoded><![CDATA[<p>Charlton MA O&#8217;Dees are living vicariously through your adventures!<br />
0 degrees F here last night so send some warm weather wishes this way.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
