<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Creatures Of Habit	</title>
	<atom:link href="http://localhost/2010/03/11/creatures-of-habit/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/03/11/creatures-of-habit/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Mon, 15 Mar 2010 23:54:51 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Annie &#38; Safe		</title>
		<link>/2010/03/11/creatures-of-habit/#comment-75</link>

		<dc:creator><![CDATA[Annie &#38; Safe]]></dc:creator>
		<pubDate>Mon, 15 Mar 2010 23:54:51 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=567#comment-75</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/03/11/creatures-of-habit/#comment-74&quot;&gt;James D&lt;/a&gt;.

If you ignore the mouth gluing properties of, it&#039;s actually quite tasty, but definitely
one for Neelix&#039;s cookbook!]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/03/11/creatures-of-habit/#comment-74">James D</a>.</p>
<p>If you ignore the mouth gluing properties of, it&#8217;s actually quite tasty, but definitely<br />
one for Neelix&#8217;s cookbook!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: James D		</title>
		<link>/2010/03/11/creatures-of-habit/#comment-74</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Mon, 15 Mar 2010 23:35:50 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=567#comment-74</guid>

					<description><![CDATA[I can&#039;t imagine why the Caimito hasn&#039;t taken off? One best left to Nelix I think!]]></description>
			<content:encoded><![CDATA[<p>I can&#8217;t imagine why the Caimito hasn&#8217;t taken off? One best left to Nelix I think!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
