<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: It&#8217;s Cold Outside	</title>
	<atom:link href="http://localhost/2010/01/03/its-cold-outside/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/01/03/its-cold-outside/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Fri, 12 Feb 2010 21:19:07 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Brian and Michael		</title>
		<link>/2010/01/03/its-cold-outside/#comment-8</link>

		<dc:creator><![CDATA[Brian and Michael]]></dc:creator>
		<pubDate>Fri, 12 Feb 2010 21:19:07 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=8#comment-8</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/01/03/its-cold-outside/#comment-7&quot;&gt;Kev&lt;/a&gt;.

Looks like they&#039;ve nipped inside with the matchstalk brass monkeys.]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/01/03/its-cold-outside/#comment-7">Kev</a>.</p>
<p>Looks like they&#8217;ve nipped inside with the matchstalk brass monkeys.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Kev		</title>
		<link>/2010/01/03/its-cold-outside/#comment-7</link>

		<dc:creator><![CDATA[Kev]]></dc:creator>
		<pubDate>Fri, 12 Feb 2010 19:47:06 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=8#comment-7</guid>

					<description><![CDATA[Where are the matchstalk men and matchstalk cats and dogs?]]></description>
			<content:encoded><![CDATA[<p>Where are the matchstalk men and matchstalk cats and dogs?</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Rachel &#38; Levent		</title>
		<link>/2010/01/03/its-cold-outside/#comment-6</link>

		<dc:creator><![CDATA[Rachel &#38; Levent]]></dc:creator>
		<pubDate>Tue, 05 Jan 2010 20:51:36 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=8#comment-6</guid>

					<description><![CDATA[How very smug of you both to rub our noses in it, when we have to stay here in the cold drizzle that is manchester x]]></description>
			<content:encoded><![CDATA[<p>How very smug of you both to rub our noses in it, when we have to stay here in the cold drizzle that is manchester x</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
