<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Shalom	</title>
	<atom:link href="http://localhost/2010/03/04/shalom/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/03/04/shalom/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Tue, 09 Mar 2010 22:25:22 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: James D		</title>
		<link>/2010/03/04/shalom/#comment-63</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Tue, 09 Mar 2010 22:25:22 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=505#comment-63</guid>

					<description><![CDATA[Facinating printing press. Looks like a very basic (lethal) litho press. I think the only multi thing about it is the number of fingers it has consumed in its life.]]></description>
			<content:encoded><![CDATA[<p>Facinating printing press. Looks like a very basic (lethal) litho press. I think the only multi thing about it is the number of fingers it has consumed in its life.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
