<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Australia &#8211; Annie &amp; Safe Go West</title>
	<atom:link href="http://localhost/category/australia/feed/" rel="self" type="application/rss+xml" />
	<link></link>
	<description>The Grand Tour</description>
	<lastBuildDate>Mon, 05 Apr 2010 19:36:01 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>Sydney</title>
		<link>/2010/04/05/sydney/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Mon, 05 Apr 2010 19:36:01 +0000</pubDate>
				<category><![CDATA[Australia]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=769</guid>

					<description><![CDATA[Day 77.  We arrived in Sydney bright and early this morning with 10 hours to spend in town until our onward flight to Tokyo and a pocket full of Australian Dollars left over from our last trip here (which have gained in value considerably since then). Australia is as vigilant as New Zealand about controlling [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 77.  We arrived in Sydney bright and early this morning with 10 hours to spend in town until our onward flight to Tokyo and a pocket full of Australian Dollars left over from our last trip here (which have gained in value considerably since then).</p>
<p>Australia is as vigilant as New Zealand about controlling the import of food, animal products and plant products into the country and there are harsh penalties for violating the rules.  You&#8217;re asked both on paper and verbally if you&#8217;re carrying anything dodgy and cute beagles excitedly sniff your bags in the hope of finding food.  We fessed up to two packets of emergency noodles which we hadn&#8217;t quite got round to eating and they said that was ok.  Our bags passed through the x-ray machine and we were asked if we were carrying fruit.  We answered no.  Then they asked if we were sure we didn&#8217;t have anything else.  We answered yes.  Our suspect bag was searched only to find our half eaten packet of mini Easter eggs which we&#8217;d inadvertantly tried to smuggle through!  Fortunately they didn&#8217;t take away our Easter eggs (oh, and we didn&#8217;t get into trouble).  Apparently there had been several inadvertant attempts to smuggle Easter eggs over the last couple of days already!</p>
<p>The day was spent wandering the obligatory tourist route starting at Circular Quay by the Sydney Harbour Bridge and strolling past the Opera House to the Botanic Gardens.  Because it was Easter Monday, everyone and his dog was out in town (and all the cafes charged an Easter Monday fee!)</p>
<p>We both got our hair cut at a budget salon in the basement of a shopping mall.  Unfortunately Annie came away with a fringe which she was a bit of a shock.  Clearly fashion in Sydney is a little different to the UK.</p>
<p>Before returning to the airport we sat at the cafe outside the Opera House for a Shiraz and a bite to eat in the knowledge that we were embarking on the last leg of our trip.</p>
<div id="attachment_771" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/sydney.jpg"><img aria-describedby="caption-attachment-771" decoding="async" class="size-full wp-image-771 " src="/wp-content/uploads/2010/04/sydney.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/04/sydney.jpg 657w, /wp-content/uploads/2010/04/sydney-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-771" class="wp-caption-text">Sydney</p></div>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
