<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Granada	</title>
	<atom:link href="http://localhost/2010/02/21/granada/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/02/21/granada/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Sat, 27 Feb 2010 16:15:03 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: safe		</title>
		<link>/2010/02/21/granada/#comment-49</link>

		<dc:creator><![CDATA[safe]]></dc:creator>
		<pubDate>Sat, 27 Feb 2010 16:15:03 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=413#comment-49</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/02/21/granada/#comment-47&quot;&gt;BODAD&lt;/a&gt;.

Wonderful!  We would love to have joined you just to cool down for a bit.  Glad you had a good day!]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/02/21/granada/#comment-47">BODAD</a>.</p>
<p>Wonderful!  We would love to have joined you just to cool down for a bit.  Glad you had a good day!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: safe		</title>
		<link>/2010/02/21/granada/#comment-48</link>

		<dc:creator><![CDATA[safe]]></dc:creator>
		<pubDate>Sat, 27 Feb 2010 16:08:47 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=413#comment-48</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/02/21/granada/#comment-46&quot;&gt;James&lt;/a&gt;.

Hey, James,

Thankfully we&#039;re not going to be in Chile for another month.  Everything&#039;s fine here (even though Granada is surrounded by a ring of volcanoes).

Hope you&#039;re well.  Regards to the missus!

Annie &amp; Safe

P.S. We bought you a bag of red powder from Leon (see previous blog post) but had to throw it away when our clothes and shoes started smelling of it.  We&#039;ll try and find you something less smelly ... :)]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/02/21/granada/#comment-46">James</a>.</p>
<p>Hey, James,</p>
<p>Thankfully we&#8217;re not going to be in Chile for another month.  Everything&#8217;s fine here (even though Granada is surrounded by a ring of volcanoes).</p>
<p>Hope you&#8217;re well.  Regards to the missus!</p>
<p>Annie &#038; Safe</p>
<p>P.S. We bought you a bag of red powder from Leon (see previous blog post) but had to throw it away when our clothes and shoes started smelling of it.  We&#8217;ll try and find you something less smelly &#8230; 🙂</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: BODAD		</title>
		<link>/2010/02/21/granada/#comment-47</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Sat, 27 Feb 2010 11:09:55 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=413#comment-47</guid>

					<description><![CDATA[Eat your heart out!  I just spent two days in snow-capped Snowdonia ! Don&#039;t you wish you were here?
&#039;Off thro&#039; Derbyshire to take Alan to see Betty this afternoon.  She was so pleased tha you had remembered her 91st birthday.
Have fun!]]></description>
			<content:encoded><![CDATA[<p>Eat your heart out!  I just spent two days in snow-capped Snowdonia ! Don&#8217;t you wish you were here?<br />
&#8216;Off thro&#8217; Derbyshire to take Alan to see Betty this afternoon.  She was so pleased tha you had remembered her 91st birthday.<br />
Have fun!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: James		</title>
		<link>/2010/02/21/granada/#comment-46</link>

		<dc:creator><![CDATA[James]]></dc:creator>
		<pubDate>Sat, 27 Feb 2010 10:02:00 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=413#comment-46</guid>

					<description><![CDATA[Big 8.8 earthquake 4 hours ago in Chile. I take it you are far to far away to feel it but early indications are that it has caused a lot of damage]]></description>
			<content:encoded><![CDATA[<p>Big 8.8 earthquake 4 hours ago in Chile. I take it you are far to far away to feel it but early indications are that it has caused a lot of damage</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
