<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Costa Rica &#8211; Annie &amp; Safe Go West</title>
	<atom:link href="http://localhost/category/costa-rica/feed/" rel="self" type="application/rss+xml" />
	<link></link>
	<description>The Grand Tour</description>
	<lastBuildDate>Sat, 27 Feb 2010 20:45:42 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>Heeeeey, Cartagena!</title>
		<link>/2010/02/27/heeeeey-cartagena/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sat, 27 Feb 2010 20:45:42 +0000</pubDate>
				<category><![CDATA[Colombia]]></category>
		<category><![CDATA[Costa Rica]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=470</guid>

					<description><![CDATA[Day 40.  Although the song goes &#8220;Heeey, Macarena&#8221; for some reason we&#8217;ve been singing &#8220;Heeey, Cartagena&#8221; all day! We said our final goodbyes to our compadres on the tour as they left to further explore Costa Rica while we enjoyed a few more hours in San Jose until our afternoon flight to Cartagena.  After a [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 40.  Although the song goes &#8220;Heeey, Macarena&#8221; for some reason we&#8217;ve been singing &#8220;Heeey, Cartagena&#8221; all day!</p>
<p>We said our final goodbyes to our compadres on the tour as they left to further explore Costa Rica while we enjoyed a few more hours in San Jose until our afternoon flight to Cartagena.  After a lunch of black bean soup and chicken with rice, we gorged on half a kilo of the fabulous &#8220;coco con leche&#8221;, Latin Americas answer to the white stuff inside a bar of Bounty (except sweeter, heavier, cheaper and very addictive).  The well and truly bloated Annie and Safe made their way to the airport.</p>
<div id="attachment_471" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/goodbye-tour.jpg"><img aria-describedby="caption-attachment-471" decoding="async" class="size-full wp-image-471 " src="/wp-content/uploads/2010/03/goodbye-tour.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/goodbye-tour.jpg 657w, /wp-content/uploads/2010/03/goodbye-tour-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-471" class="wp-caption-text">Byeee!</p></div>
<p>Adios Central America!  Hola South America!  Our Fokker F-100 made a stop in Bogota then continued on to the bustling and hot Cartagena to arrive around midnight.  Within minutes of the taxi finding our hostel, our heads hit our pillows and we fell asleep to distant sounds of Salsa in the street.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>San Jose</title>
		<link>/2010/02/26/san-jose/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Fri, 26 Feb 2010 23:40:45 +0000</pubDate>
				<category><![CDATA[Costa Rica]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=460</guid>

					<description><![CDATA[Day 39.  Today is officially the final day of our tour of Central America!  We checked out of our hotel and checked into a cheap and cheerful backpackers&#8217; paradise, Hostel Pangea, then set off for a walk around town. San Jose struck us as being quite American in many ways.  The roads and road-signs look [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 39.  Today is officially the final day of our tour of Central America!  We checked out of our hotel and checked into a cheap and cheerful backpackers&#8217; paradise, Hostel Pangea, then set off for a walk around town.</p>
<p>San Jose struck us as being quite American in many ways.  The roads and road-signs look American, there are many American chains here,  English is commonly spoken, and the US Dollar is freely accepted.  We stopped for a filling breakfast of Gallo Pinto, eggs and Costa Rican coffee at the newly opened Maple Cafe at Parque Morazan then listened to the San Jose Geriatric Society (it&#8217;s a real societyi!) play guitars in the bandstand.</p>
<div id="attachment_461" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/bandstand-san-jose.jpg"><img aria-describedby="caption-attachment-461" decoding="async" loading="lazy" class="size-full wp-image-461 " src="/wp-content/uploads/2010/03/bandstand-san-jose.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/bandstand-san-jose.jpg 657w, /wp-content/uploads/2010/03/bandstand-san-jose-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-461" class="wp-caption-text">Bandstand, Parque Morazan</p></div>
<div id="_mcePaste">We also noticed some differences between the US and Costa Rica, notably the choice of shop name and the bust size of their mannequins.</div>
<div id="attachment_462" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/carrion.jpg"><img aria-describedby="caption-attachment-462" decoding="async" loading="lazy" class="size-full wp-image-462 " src="/wp-content/uploads/2010/03/carrion.jpg" alt="" width="394" height="295" srcset="/wp-content/uploads/2010/03/carrion.jpg 657w, /wp-content/uploads/2010/03/carrion-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-462" class="wp-caption-text">Dead good shop!</p></div>
<div id="attachment_463" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/03/shop-dummy-san-jose.jpg"><img aria-describedby="caption-attachment-463" decoding="async" loading="lazy" class="size-full wp-image-463 " src="/wp-content/uploads/2010/03/shop-dummy-san-jose.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/03/shop-dummy-san-jose.jpg 492w, /wp-content/uploads/2010/03/shop-dummy-san-jose-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-463" class="wp-caption-text">Shops displaying such mannequins are required to take out special insurance in case of car crashes and eye injuries</p></div>
<p>Tomorrow we were due to travel Peru to join another tour heading for Macchu Pichu, however the pass leading to Macchu Pichu has been closed for several weeks due to mudslides and won&#8217;t reopen until April.  We&#8217;ve therefore decided to change our itinereary and head for the city of Cartagena on the coast of Columbia to enroll in Spanish School for a while and to take a break from unpacking and packing our bags.  We&#8217;ve heard that Columbia is a lovely place to visit and Suzy lived in Cartagena for some time and recommended it with fond memories.</p>
<p>Safe also wants to confirm once and for all whether or not he looks vaguely Colombian.  Many years ago a guard refused him entry to the historic Mohammed Ali Mosque in Cairo on the cheap Egyptian rate and was asked to pay the foreigners rate.  (This was particularly amusing as Safe was clearly with his father and uncle whom the guard let through).  When the guard was challenged as to where Safe could be from, he paused for a moment then expertly said, &#8220;Colombia!&#8221;</p>
<blockquote><p><strong>Factoid:</strong> Safe also remembers that Michael Douglas and Kathleen Turner started their adventures in Cartegena in the 1980&#8217;s film, Romancing the Stone, and that&#8217;s good enough reason for him to go there.</p></blockquote>
<blockquote><p><strong>Factoid:</strong> Annie also remembers that Cartagena is the setting for Love in the Time of Cholera by Gabriel García Márquez, a far more cultured reason to go to Cartagena!</p></blockquote>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Costa Rica</title>
		<link>/2010/02/25/costa-rica/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Thu, 25 Feb 2010 20:35:21 +0000</pubDate>
				<category><![CDATA[Costa Rica]]></category>
		<category><![CDATA[Nicaragua]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=451</guid>

					<description><![CDATA[Day 38.  Another long day&#8217;s travelling.  We were up before dawn to catch the first ferry from Ometepe back to the mainland.  A beautiful ferry ride in the open air on a calm lake as the sun rose turned into an exercise in wafting and escaping swarms of fruitflies which stuck to our clothes and [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 38.  Another long day&#8217;s travelling.  We were up before dawn to catch the first ferry from Ometepe back to the mainland.  A beautiful ferry ride in the open air on a calm lake as the sun rose turned into an exercise in wafting and escaping swarms of fruitflies which stuck to our clothes and bags like dust.  We assumed they were brought on board by the large truck carrying bananas (many trucks carry bananas in this part of the world) but the flies continued to follow us after we were ashore.</p>
<p>We caught a smart bus to the border with Costa Rica.  The Nicaraguan border control was relatively straightforward (the bus staff handled it all for us) whereas the Costa Rican border control was a hot and sticky three-and-a-half hour wait outdoors.  The queue moved at a snail&#8217;s pace and it was too late when we realised that people had been getting off buses and pushing in front of us.  No matter, some of us took the opportunity to braid each other&#8217;s hair while others decided to take a nap as we queued.</p>
<div id="attachment_453" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/braiding-at-the-border.jpg"><img aria-describedby="caption-attachment-453" decoding="async" loading="lazy" class="size-full wp-image-453 " src="/wp-content/uploads/2010/02/braiding-at-the-border.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/02/braiding-at-the-border.jpg 492w, /wp-content/uploads/2010/02/braiding-at-the-border-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-453" class="wp-caption-text">Jodie provides &quot;border braiding&quot; services to Val</p></div>
<div id="attachment_454" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/02/asleep-at-the-border.jpg"><img aria-describedby="caption-attachment-454" decoding="async" loading="lazy" class="size-full wp-image-454 " src="/wp-content/uploads/2010/02/asleep-at-the-border.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/02/asleep-at-the-border.jpg 492w, /wp-content/uploads/2010/02/asleep-at-the-border-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-454" class="wp-caption-text">Justine naps vertically so as not to ruin her new braids</p></div>
<p>After an interesting random search of our bags (where we had to neatly line up our bags on a long bench for someone to smile at them but decide not open any) we re-boarded our bus and headed for the capital, San Jose.</p>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
