<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Egypt &#8211; Annie &amp; Safe Go West</title>
	<atom:link href="http://localhost/category/egypt/feed/" rel="self" type="application/rss+xml" />
	<link></link>
	<description>The Grand Tour</description>
	<lastBuildDate>Wed, 21 Apr 2010 21:14:22 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>The Man Called U.N.C.L.E.</title>
		<link>/2010/04/21/the-man-called-u-n-c-l-e/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Wed, 21 Apr 2010 21:14:22 +0000</pubDate>
				<category><![CDATA[Egypt]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=987</guid>

					<description><![CDATA[Day 93.  Safe&#8217;s Uncle Ahmed knew we arriving in Cairo early this morning and had arranged a personal escort for us from the moment we left the plane.  Safe&#8217;s Aunty Samia was waiting for us with her driver outisde and we were whisked back to her flat. We were treated to a great breakfast of [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 93.  Safe&#8217;s Uncle Ahmed knew we arriving in Cairo early this morning and had arranged a personal escort for us from the moment we left the plane.  Safe&#8217;s Aunty Samia was waiting for us with her driver outisde and we were whisked back to her flat.</p>
<p>We were treated to a great breakfast of pitta bread with foul, giant falafels, halawa, eggs and pastrami and cheese!</p>
<p>Annie had lessons in making Turkish coffee from Aunty Samia and Safe&#8217;s cousin, Iman.  After drinking coffee, Annie had her future read from the coffee grounds.  Apparently she was about to go on a long journey.</p>
<div id="attachment_988" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/coffee-grounds.jpg"><img aria-describedby="caption-attachment-988" decoding="async" class="size-full wp-image-988 " src="/wp-content/uploads/2010/04/coffee-grounds.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/coffee-grounds.jpg 657w, /wp-content/uploads/2010/04/coffee-grounds-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-988" class="wp-caption-text">Aunty Samia predicts Annie&#39;s future</p></div>
<p>European airspace opened this morning and Safe&#8217;s uncle set about getting us back to London.  As far as we knew, flights were fully booked and &#8230; urm &#8230; uncompetitively priced, but things work differently in Egypt.  Safe&#8217;s uncle with his three mobile phones &#8220;made some calls&#8221;.  By early afternoon, we were booked on tomorrow morning&#8217;s flight back to London!</p>
<p>We spent some time cancelling our former overland plan with the aroma of aubergine mahshee (stuffed aubergines) coming from the kitchen:</p>
<div id="attachment_992" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/mahshee.jpg"><img aria-describedby="caption-attachment-992" decoding="async" loading="lazy" class="size-full wp-image-992 " src="/wp-content/uploads/2010/04/mahshee.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/mahshee.jpg 657w, /wp-content/uploads/2010/04/mahshee-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-992" class="wp-caption-text">Mahshee</p></div>
<p>We sat down to lunch with Uncle Ahmad, Aunty Samia, their son and daughter, Mohammad and Yasmin, and Yasmin&#8217;s two-year-old son, Saleem.  The kofta, aubergine mahshee, molokhia and stuffed pigeon eaten with our fingers were a fantastic shock to the system after nibbling at fish, rice and pickles with chopsticks for the last two weeks.</p>
<div id="attachment_993" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/lunch-cairo.jpg"><img aria-describedby="caption-attachment-993" decoding="async" loading="lazy" class="size-full wp-image-993 " src="/wp-content/uploads/2010/04/lunch-cairo.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/lunch-cairo.jpg 657w, /wp-content/uploads/2010/04/lunch-cairo-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-993" class="wp-caption-text">Lunch</p></div>
<p>After lunch, Annie played with Saleem for a while.  Saleem was very upset when Annie had to leave.  A few trips to the airport to sort out tickets and refunds, an evening walk, and a drink of sugar cane juice rounded off the day.</p>
<p>Happy Birthday, Jonathan!</p>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
