<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Adios Gafas! (Bye, Bye, Glasses!)	</title>
	<atom:link href="http://localhost/2010/03/10/adios-gafas-bye-bye-glasses/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/03/10/adios-gafas-bye-bye-glasses/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Mon, 15 Mar 2010 23:53:15 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: Annie &#38; Safe		</title>
		<link>/2010/03/10/adios-gafas-bye-bye-glasses/#comment-73</link>

		<dc:creator><![CDATA[Annie &#38; Safe]]></dc:creator>
		<pubDate>Mon, 15 Mar 2010 23:53:15 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=558#comment-73</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/03/10/adios-gafas-bye-bye-glasses/#comment-71&quot;&gt;James D&lt;/a&gt;.

I know! Will you recognise me without them???]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/03/10/adios-gafas-bye-bye-glasses/#comment-71">James D</a>.</p>
<p>I know! Will you recognise me without them???</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Annie &#38; Safe		</title>
		<link>/2010/03/10/adios-gafas-bye-bye-glasses/#comment-72</link>

		<dc:creator><![CDATA[Annie &#38; Safe]]></dc:creator>
		<pubDate>Mon, 15 Mar 2010 23:51:26 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=558#comment-72</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/03/10/adios-gafas-bye-bye-glasses/#comment-70&quot;&gt;Aseema&lt;/a&gt;.

Thank you! Forget titanium. I love my plastic
glasses!]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/03/10/adios-gafas-bye-bye-glasses/#comment-70">Aseema</a>.</p>
<p>Thank you! Forget titanium. I love my plastic<br />
glasses!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: James D		</title>
		<link>/2010/03/10/adios-gafas-bye-bye-glasses/#comment-71</link>

		<dc:creator><![CDATA[James D]]></dc:creator>
		<pubDate>Mon, 15 Mar 2010 23:34:12 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=558#comment-71</guid>

					<description><![CDATA[Poor old glasses? 
:-(]]></description>
			<content:encoded><![CDATA[<p>Poor old glasses?<br />
🙁</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Aseema		</title>
		<link>/2010/03/10/adios-gafas-bye-bye-glasses/#comment-70</link>

		<dc:creator><![CDATA[Aseema]]></dc:creator>
		<pubDate>Sun, 14 Mar 2010 19:09:21 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=558#comment-70</guid>

					<description><![CDATA[looking good Safe]]></description>
			<content:encoded><![CDATA[<p>looking good Safe</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: BODAD		</title>
		<link>/2010/03/10/adios-gafas-bye-bye-glasses/#comment-69</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Fri, 12 Mar 2010 08:10:07 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=558#comment-69</guid>

					<description><![CDATA[Well,even if the card doesn&#039;t arrive, I can see it above. Thanks for all your effort! Happy New Specs, Safe!  Aunty Audrey XX
PS. The sights are very impressive.]]></description>
			<content:encoded><![CDATA[<p>Well,even if the card doesn&#8217;t arrive, I can see it above. Thanks for all your effort! Happy New Specs, Safe!  Aunty Audrey XX<br />
PS. The sights are very impressive.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
