<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Reverse By Turning The Lever Under Your Seat	</title>
	<atom:link href="http://localhost/2010/02/03/reverse-by-turning-the-lever-under-your-seat/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/02/03/reverse-by-turning-the-lever-under-your-seat/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Mon, 08 Feb 2010 00:29:06 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: safe		</title>
		<link>/2010/02/03/reverse-by-turning-the-lever-under-your-seat/#comment-33</link>

		<dc:creator><![CDATA[safe]]></dc:creator>
		<pubDate>Mon, 08 Feb 2010 00:29:06 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=231#comment-33</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/02/03/reverse-by-turning-the-lever-under-your-seat/#comment-32&quot;&gt;BODAD&lt;/a&gt;.

We&#039;ve not had a chance to weigh ourselves but we&#039;re looking to double our weight in the next three months.  In the meantime, we&#039;ve decided to use Safe&#039;s wedding suit as a mosquito net in the tropics!]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/02/03/reverse-by-turning-the-lever-under-your-seat/#comment-32">BODAD</a>.</p>
<p>We&#8217;ve not had a chance to weigh ourselves but we&#8217;re looking to double our weight in the next three months.  In the meantime, we&#8217;ve decided to use Safe&#8217;s wedding suit as a mosquito net in the tropics!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: BODAD		</title>
		<link>/2010/02/03/reverse-by-turning-the-lever-under-your-seat/#comment-32</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Fri, 05 Feb 2010 21:32:05 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=231#comment-32</guid>

					<description><![CDATA[Hurray...you finally got your fish and chips!
News foryou ... Liz and Richard in Egypt for a week.
Have you weighed yourselves recently? Your wedding suit will soon fit you again, Safe.  You&#039;ll be able to get the photographs...at last!!!
Cheers..A &#038; BOD XX]]></description>
			<content:encoded><![CDATA[<p>Hurray&#8230;you finally got your fish and chips!<br />
News foryou &#8230; Liz and Richard in Egypt for a week.<br />
Have you weighed yourselves recently? Your wedding suit will soon fit you again, Safe.  You&#8217;ll be able to get the photographs&#8230;at last!!!<br />
Cheers..A &amp; BOD XX</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
