<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>UK &#8211; Annie &amp; Safe Go West</title>
	<atom:link href="http://localhost/category/uk/feed/" rel="self" type="application/rss+xml" />
	<link></link>
	<description>The Grand Tour</description>
	<lastBuildDate>Sun, 30 Jul 2023 21:04:51 +0000</lastBuildDate>
	<language>en-GB</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>Epilogue</title>
		<link>/2010/04/23/epilogue/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Fri, 23 Apr 2010 21:34:47 +0000</pubDate>
				<category><![CDATA[UK]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=1012</guid>

					<description><![CDATA[These are the tales of Annie and Safe and their travels to lands far, far away … What was meant to be 90 days of travel became 94 days of adventure. If you&#8217;d like to read each day in chronological order, then start at the First Post and work your way forward from there. The [&#8230;]]]></description>
										<content:encoded><![CDATA[
<p>These are the tales of Annie and Safe and their travels to lands far, far away …</p>



<p>What was meant to be 90 days of travel became 94 days of adventure. If you&#8217;d like to read each day in chronological order, then start at the <a href="/2010/01/01/first-post/" data-type="URL" data-id="/2010/01/01/first-post/">First Post</a> and work your way forward from there. The link to the next day (starting with <em>It&#8217;s Cold Outside</em>) can be found at the top right of each post. Enjoy!</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>We&#8217;re Back!</title>
		<link>/2010/04/22/were-back/</link>
					<comments>/2010/04/22/were-back/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Thu, 22 Apr 2010 21:41:41 +0000</pubDate>
				<category><![CDATA[UK]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=1001</guid>

					<description><![CDATA[Day 94. After all of our travels, our final leg of the journey back to the UK couldn&#8217;t have been easier. Having been dropped off by the driver at Cairo Airport, we were whisked through all the queues by our personal assisstant. Bizarrely &#8230; very bizarrely &#8230; we met Scottito in the airport whilst rushing [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Day 94.  After all of our travels, our final leg of the journey back to the UK couldn&#8217;t have been easier.  Having been dropped off by the driver at Cairo Airport, we were whisked through all the queues by our personal assisstant.  Bizarrely &#8230; very bizarrely &#8230; we met Scottito in the airport whilst rushing through the queues.  Scottito was with us on the tour through Central America.  He&#8217;d gone one way round the world and we&#8217;d gone the other to meet up by chance here!  He was making his way back from Central America to his home in Australia via the Middle East.  His next stop was a tour of Libya!</p>
<p>Our journey home was full of passengers being repatriated in various degrees of dishevellement.  There was a hint of tension in the air.  In the back of everyone&#8217;s mind was the possibility that the plane might fall out of the sky at the hands of Eyjafjallajoekull.  On touchdown, everyone clapped the captain for a smooth landing.  With the tension released, the passenger behind us fainted as he was fetching his bags from the overhead locker!</p>
<p><div id="attachment_1002" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/makkah-manchester.jpg"><img aria-describedby="caption-attachment-1002" decoding="async" class="size-full wp-image-1002 " src="/wp-content/uploads/2010/04/makkah-manchester.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/makkah-manchester.jpg 657w, /wp-content/uploads/2010/04/makkah-manchester-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-1002" class="wp-caption-text">Everything you need to know once you&#39;ve landed at Heathrow</p></div></p>
<p>We were expecting fanfare and news crews on arrival at Heathrow but it was just another ordinary day.  With UK airspace having been open for over 18 hours, it was clearly old news.</p>
<div id="_mcePaste">Patti met us at the airport and drove us to the Sunningdale Retreat complete with perfect weather, cherry blossoms, foot spa, facial treatments and home cooked food.</div>
<p><div id="attachment_1007" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/sunny-sunningdale.jpg"><img aria-describedby="caption-attachment-1007" decoding="async" loading="lazy" class="size-full wp-image-1007 " src="/wp-content/uploads/2010/04/sunny-sunningdale.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/sunny-sunningdale.jpg 657w, /wp-content/uploads/2010/04/sunny-sunningdale-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-1007" class="wp-caption-text">Cherry blossoms in sunny Sunningdale</p></div></p>
<p>It was nice to get back to the normality of school days, washing machines, Max&#8217;s experimental wasp trap in the garden and Bob&#8217;s tasting session with goji berries and pumpkin seeds.</p>
<p><div id="attachment_1008" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/dirty-washing-sunningdale.jpg"><img aria-describedby="caption-attachment-1008" decoding="async" loading="lazy" class="size-full wp-image-1008 " src="/wp-content/uploads/2010/04/dirty-washing-sunningdale.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/dirty-washing-sunningdale.jpg 492w, /wp-content/uploads/2010/04/dirty-washing-sunningdale-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-1008" class="wp-caption-text">Maybe our three travel outfits belong in the bin rather than the washing machine</p></div></p>
<p><div id="attachment_1009" style="width: 305px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/insect-trap.jpg"><img aria-describedby="caption-attachment-1009" decoding="async" loading="lazy" class="size-full wp-image-1009 " src="/wp-content/uploads/2010/04/insect-trap.jpg" alt="" width="295" height="394" srcset="/wp-content/uploads/2010/04/insect-trap.jpg 492w, /wp-content/uploads/2010/04/insect-trap-225x300.jpg 225w" sizes="(max-width: 295px) 100vw, 295px" /></a><p id="caption-attachment-1009" class="wp-caption-text">Watch out, wasps ... Max is about!</p></div></p>
<p><div id="attachment_1010" style="width: 404px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/04/max-and-bob.jpg"><img aria-describedby="caption-attachment-1010" decoding="async" loading="lazy" class="size-full wp-image-1010 " src="/wp-content/uploads/2010/04/max-and-bob.jpg" alt="" width="394" height="296" srcset="/wp-content/uploads/2010/04/max-and-bob.jpg 657w, /wp-content/uploads/2010/04/max-and-bob-300x225.jpg 300w" sizes="(max-width: 394px) 100vw, 394px" /></a><p id="caption-attachment-1010" class="wp-caption-text">Max and Bob</p></div></p>
<p>By the end of the day, we felt like we&#8217;d never been away &#8230;</p>
]]></content:encoded>
					
					<wfw:commentRss>/2010/04/22/were-back/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>Next Stop, Mexico City</title>
		<link>/2010/01/18/next-stop-mexico-city/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Mon, 18 Jan 2010 02:52:09 +0000</pubDate>
				<category><![CDATA[Mexico]]></category>
		<category><![CDATA[UK]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=53</guid>

					<description><![CDATA[D-Day, Day Zero, the Big Day has arrived at last!  The pre-holiday waxing session at Salon de Patti (aka the bathroom) was a real treat before leaving.  Safe now has two eyebrows, an event not seen since the 1980&#8217;s, and Annie was glued to her seat for the entire plane journey.  Oh, and thanks for [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>D-Day, Day Zero, the Big Day has arrived at last!  The pre-holiday waxing session at Salon de Patti (aka the bathroom) was a real treat before leaving.  Safe now has two eyebrows, an event not seen since the 1980&#8217;s, and Annie was glued to her seat for the entire plane journey.  Oh, and thanks for dropping us off at Terminal 5, Patti &#8230; you really helped us out!</p>
<p><div id="attachment_55" style="width: 246px" class="wp-caption aligncenter"><a href="/wp-content/uploads/2010/01/duobrow.jpg"><img aria-describedby="caption-attachment-55" decoding="async" loading="lazy" class="size-full wp-image-55 " title="duobrow" src="/wp-content/uploads/2010/01/duobrow.jpg" alt="The Gulf of Mexico" width="236" height="96" srcset="/wp-content/uploads/2010/01/duobrow.jpg 393w, /wp-content/uploads/2010/01/duobrow-300x122.jpg 300w" sizes="(max-width: 236px) 100vw, 236px" /></a><p id="caption-attachment-55" class="wp-caption-text">Two is better than one</p></div></p>
<p>Eleven hours on a plane?  Pah!  No problem.  All we needed was one chicken tikka massala, one beef stroganoff, two glasses of red wine, two Kit Kats, two Twixes, one Mars Bar, four films, one chapter of Kane and Abel and a coronation chicken sandwich just before landing (presumably rehashed leftovers from lunch) and hey presto, we&#8217;re there!  Landing on top of a mountain at 7,000ft+ was somewhat bilious and we almost saw our coronation chicken for the second (or is that third?) time, but finally we arrived safely in Mexico City.</p>
<p>[SGM lat=&#8221;19.42705&#8243; lng=&#8221;-99.127571&#8243; zoom=&#8221;4&#8243; type=&#8221;HYBRID&#8221; content=&#8221;<strong>Mexico City</strong><br />
Day 1&#8243;]</p>
<p>So is there a difference between an authorised taxi and an unauthorised taxi?  Either way, we found our way to Hotel Casa Gonzalez for a reasonable fare and flaked out after having frantically learnt to conjugate some emergency Spanish verbs for a few moments in bed.  Our attempt to get a taxi to the right destination flagged up a small schoolboy error in that it seems we can neither understand nor speak any Spanish, at least, not the Spanish that the Mexicans speak!</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Bye-bye Manc</title>
		<link>/2010/01/17/bye-bye-manc/</link>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sun, 17 Jan 2010 23:49:53 +0000</pubDate>
				<category><![CDATA[UK]]></category>
		<category><![CDATA[refried beans]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=42</guid>

					<description><![CDATA[We left &#8220;63&#8221; and Aunty Audrey waved us off.  For those who aren&#8217;t in the know, Aunty Audrey is Annie&#8217;s Mum (and many other people&#8217;s Mum for that matter). Arrived down South to a champagne send-off courtesy of the Armstrongery complete with a compulsory Sunday dinner with a perfectly cooked uber-helping of roast beef.  It [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>We left &#8220;63&#8221; and Aunty Audrey waved us off.  For those who aren&#8217;t in the know, Aunty Audrey is Annie&#8217;s Mum (and many other people&#8217;s Mum for that matter).</p>
<p><div id="attachment_51" style="width: 375px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/01/audrey_wave-1.jpg"><img aria-describedby="caption-attachment-51" decoding="async" loading="lazy" class="size-full wp-image-51" title="Bye bye!" src="/wp-content/uploads/2010/01/audrey_wave-1.jpg" alt="Bye bye!" width="365" height="274" srcset="/wp-content/uploads/2010/01/audrey_wave-1.jpg 365w, /wp-content/uploads/2010/01/audrey_wave-1-300x225.jpg 300w" sizes="(max-width: 365px) 100vw, 365px" /></a><p id="caption-attachment-51" class="wp-caption-text">Aunty Audrey waves us off</p></div></p>
<p>Arrived down South to a champagne send-off courtesy of the Armstrongery complete with a compulsory Sunday dinner with a perfectly cooked uber-helping of roast beef.  It turns out that the copious quantity of meat we were happily subjected to was no coincidence.  Dave warned us that we would be eating nothing but refried beans for the next 35 days so we feasted on a &#8220;last supper&#8221; of red meat, roasted, not fried &#8230; and cooked only once.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>It&#8217;s Cold Outside</title>
		<link>/2010/01/03/its-cold-outside/</link>
					<comments>/2010/01/03/its-cold-outside/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Sun, 03 Jan 2010 11:16:58 +0000</pubDate>
				<category><![CDATA[UK]]></category>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=8</guid>

					<description><![CDATA[Here&#8217;s the view from outside our gaff in Manchester.  It might be pretty but it&#8217;s bloomin&#8217; cold &#8230; Sunny days, here we come.  Enough said &#8230;]]></description>
										<content:encoded><![CDATA[<p>Here&#8217;s the view from outside our gaff in Manchester.  It might be pretty but it&#8217;s bloomin&#8217; cold &#8230;</p>
<p><div id="attachment_7" style="width: 397px" class="wp-caption alignnone"><a href="/wp-content/uploads/2010/01/frozen-canal.jpg"><img aria-describedby="caption-attachment-7" decoding="async" loading="lazy" class="size-full wp-image-7" title="frozen-canal" src="/wp-content/uploads/2010/01/frozen-canal.jpg" alt="" width="387" height="259" /></a><p id="caption-attachment-7" class="wp-caption-text">Frozen Canal</p></div></p>
<p>Sunny days, here we come.  Enough said &#8230;</p>
]]></content:encoded>
					
					<wfw:commentRss>/2010/01/03/its-cold-outside/feed/</wfw:commentRss>
			<slash:comments>3</slash:comments>
		
		
			</item>
		<item>
		<title>First Post!</title>
		<link>/2010/01/01/first-post/</link>
					<comments>/2010/01/01/first-post/#comments</comments>
		
		<dc:creator><![CDATA[annieandsafe]]></dc:creator>
		<pubDate>Fri, 01 Jan 2010 23:59:45 +0000</pubDate>
				<category><![CDATA[UK]]></category>
		<guid isPermaLink="false">http://www.sandacre.com/grandtour/?p=1</guid>

					<description><![CDATA[So here we are.  It&#8217;s the year 2010 and this is the year that Annie and I go travelling.  The flights are all booked and we know which countries we&#8217;re visiting.  In brief, we&#8217;re off to Central America, South America, New Zealand, Australia (for a day) and Japan. Can&#8217;t wait!]]></description>
										<content:encoded><![CDATA[<p>So here we are.  It&#8217;s the year 2010 and this is the year that Annie and I go travelling.  The flights are all booked and we know which countries we&#8217;re visiting.  In brief, we&#8217;re off to Central America, South America, New Zealand, Australia (for a day) and Japan.</p>
<p>Can&#8217;t wait!</p>
]]></content:encoded>
					
					<wfw:commentRss>/2010/01/01/first-post/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
	</channel>
</rss>
