<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Crossing the River Styx	</title>
	<atom:link href="http://localhost/2010/01/30/crossing-the-river-styx/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/01/30/crossing-the-river-styx/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Thu, 04 Feb 2010 14:40:00 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: BODAD		</title>
		<link>/2010/01/30/crossing-the-river-styx/#comment-28</link>

		<dc:creator><![CDATA[BODAD]]></dc:creator>
		<pubDate>Thu, 04 Feb 2010 14:40:00 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=193#comment-28</guid>

					<description><![CDATA[Where Jane?]]></description>
			<content:encoded><![CDATA[<p>Where Jane?</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
