<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Chicken Pizza	</title>
	<atom:link href="http://localhost/2010/02/02/chicken-pizza/feed/" rel="self" type="application/rss+xml" />
	<link>/2010/02/02/chicken-pizza/</link>
	<description>The Grand Tour</description>
	<lastBuildDate>Wed, 03 Feb 2010 14:48:00 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.2.2</generator>
	<item>
		<title>
		By: safe		</title>
		<link>/2010/02/02/chicken-pizza/#comment-31</link>

		<dc:creator><![CDATA[safe]]></dc:creator>
		<pubDate>Wed, 03 Feb 2010 14:48:00 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=218#comment-31</guid>

					<description><![CDATA[In reply to &lt;a href=&quot;/2010/02/02/chicken-pizza/#comment-30&quot;&gt;Didi Hammad&lt;/a&gt;.

The pyramid is very impressive though smaller than those in Giza.  Like the pyramids at Giza, is was built &quot;mathematically&quot; ... the sides are aligned exactly with the points of the compass,   the sides slope at exactly 45 degrees, and the light shines on it in a special way at the spring equinox and at the summer solstice.

Have a great trip ...

Annie &#038; Safe]]></description>
			<content:encoded><![CDATA[<p>In reply to <a href="/2010/02/02/chicken-pizza/#comment-30">Didi Hammad</a>.</p>
<p>The pyramid is very impressive though smaller than those in Giza.  Like the pyramids at Giza, is was built &#8220;mathematically&#8221; &#8230; the sides are aligned exactly with the points of the compass,   the sides slope at exactly 45 degrees, and the light shines on it in a special way at the spring equinox and at the summer solstice.</p>
<p>Have a great trip &#8230;</p>
<p>Annie &amp; Safe</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Didi Hammad		</title>
		<link>/2010/02/02/chicken-pizza/#comment-30</link>

		<dc:creator><![CDATA[Didi Hammad]]></dc:creator>
		<pubDate>Wed, 03 Feb 2010 08:58:24 +0000</pubDate>
		<guid isPermaLink="false">http://travel.sandacre.com/?p=218#comment-30</guid>

					<description><![CDATA[good Morning Travellers !!

Very impressed with the beautiful photos.. they are a great representation of &quot;Mehico&quot; . It seems from the Yoga picture that our Annie is the one who had gained the most from the practice..!! 

I am more fascinated by the writers commentaries, I think it should be compiled one day into a book ?

The Pyramid is Magnificent, is it similar to those in Gizza ..? connection but certainly the goat has Egyptian blood !!? 
We are off to Spain for a very much needed break. We will miss following your South America tracks for a week.  Please keep away from Sink holes 

Zaki]]></description>
			<content:encoded><![CDATA[<p>good Morning Travellers !!</p>
<p>Very impressed with the beautiful photos.. they are a great representation of &#8220;Mehico&#8221; . It seems from the Yoga picture that our Annie is the one who had gained the most from the practice..!! </p>
<p>I am more fascinated by the writers commentaries, I think it should be compiled one day into a book ?</p>
<p>The Pyramid is Magnificent, is it similar to those in Gizza ..? connection but certainly the goat has Egyptian blood !!?<br />
We are off to Spain for a very much needed break. We will miss following your South America tracks for a week.  Please keep away from Sink holes </p>
<p>Zaki</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
